<tr>
    <td></td>
    <td>
        {{ hentTekst (concat (toLowerCase faktum.key) ".sporsmal") }}
        <table>
            {{#each barneFakta}}
                {{#hvisSant faktum.value}}
                    <tr>
                        <td class="sjekket"></td>
                        <td>{{ hentTekst (toLowerCase faktum.key) }}
                            {{> skjema/generisk/infotekst}}
                            {{> skjema/generisk/infotekstvalue}}
                            {{> skjema/generisk/barnefakta}}
                        </td>
                    </tr>
                {{/hvisSant}}
            {{/each}}
        </table>
    </td>
</tr>
