{{#visCheckbox value key }}
    {{> skjema/generisk/sporsmal}}
    {{> skjema/generisk/infotekst}}

    <ul class="svar-liste">
        <li>
            <span class="verdi verdi--checkbox">
                {{#if value}}
                    {{ hentTekst (concat key "." value) }}
                {{else}}
                    {{ hentTekst (concat key ".false") }}
                {{/if}}
            </span>
            {{> skjema/generisk/infotekstvalue}}
            {{> skjema/generisk/barnefakta}}
        </li>
    </ul>

    {{> skjema/generisk/vedlegg}}
{{/visCheckbox}}