{{>skjema/generisk/sporsmal}}
{{> skjema/generisk/infotekst}}

<ul class="svar-liste">
    {{#each barneFakta}}
        {{#hvisSant value}}
            <li>
                {{ hentTekst key }}
                {{> skjema/generisk/infotekst}}
                {{> skjema/generisk/infotekstvalue}}
                {{> skjema/generisk/vedlegg}}
                {{> skjema/generisk/barnefakta}}
            </li>
        {{/hvisSant}}
    {{/each}}
</ul>