{{> skjema/generisk/sporsmal}}
{{> skjema/generisk/infotekst}}

<ul class="svar-liste">
    <li>
        {{#if value}}
            {{ hentTekst (concat key "." value) }}
        {{else}}
            {{ hentTekst (concat key ".false") }}
        {{/if}}
        {{> skjema/generisk/infotekstvalue}}
        {{> skjema/generisk/barnefakta}}
    </li>
</ul>

{{> skjema/generisk/vedlegg}}