{{>skjema/generisk/sporsmal}}
{{> skjema/generisk/infotekst}}

<ul class="svar-liste">
    {{#hvisNoenAvkryssetBarneFakta barneFakta}}
        {{#each barneFakta}}
            {{#hvisSant value}}
                <li>
                    <span class="verdi verdi--check">{{ hentTekst key }}</span>
                    {{> skjema/generisk/infotekst}}
                    {{> skjema/generisk/infotekstvalue}}
                    {{> skjema/generisk/vedlegg}}
                    {{> skjema/generisk/barnefakta}}
                </li>
            {{/hvisSant}}
        {{/each}}
    {{else}}
        <li><i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i></li>
    {{/hvisNoenAvkryssetBarneFakta}}
</ul>