{{>skjema/generisk/sporsmal}}
{{> skjema/generisk/infotekst}}

<ul class="svar-liste">

    <li class="ikke-stylet">
        {{> skjema/generisk/barneproperties}}
        {{> skjema/generisk/barnefakta}}
    </li>

</ul>

{{> skjema/generisk/vedlegg}}