<tr>
    <td></td>
    <td>
        {{#hvisTekstFinnes (concat key ".sporsmal")}}
            {{>skjema/generisk/sporsmal}}
        {{/hvisTekstFinnes}}
        {{> skjema/generisk/infotekst}}
    </td>
</tr>
<tr>
    <td class="sjekket"></td>
    <td>
        {{> skjema/generisk/barneproperties}}
        {{> skjema/generisk/vedlegg}}
    </td>
</tr>
