<tr>
    <td></td>
    <td>
        {{#hvisTekstFinnes (concat (toLowerCase faktum.key) ".sporsmal")}}
            {{>skjema/generisk/sporsmal}}
        {{/hvisTekstFinnes}}
        {{> skjema/generisk/infotekst}}
    </td>
</tr>
<tr>
    <td class="sjekket"></td>
    <td>{{ hentTekst (concat (toLowerCase faktum.key) "." (toLowerCase faktum.value)) }}
        {{> skjema/generisk/infotekstvalue}}
        {{> skjema/generisk/vedlegg}}
        {{> skjema/generisk/barneFakta}}

    </td>
</tr>
