{{#hvisTekstFinnes (concat faktum.key "." (toLowerCase faktum.value) ".infotekst.tekst")}}
    <div>
        {{ hentTekst (concat faktum.key "." (toLowerCase faktum.value) ".infotekst.tekst") }}
        {{#hvisTekstFinnes (concat faktum.key "." (toLowerCase faktum.value) ".infotekst.tekst2")}}
            <div>
                {{ hentTekst (concat faktum.key "." (toLowerCase faktum.value) ".infotekst.tekst2") }}
            </div>
        {{/hvisTekstFinnes}}
        {{#hvisTekstFinnes (concat faktum.key "." (toLowerCase faktum.value) ".infotekst.tekst3")}}
            <div>
                {{ hentTekst (concat faktum.key "." (toLowerCase faktum.value) ".infotekst.tekst3") }}
            </div>
        {{/hvisTekstFinnes}}
    </div>
{{/hvisTekstFinnes}}
