{{>skjema/generisk/sporsmal}}
{{> skjema/generisk/infotekst}}

{{ hentTekst (concat key ".label") }}
<ul class="svar-liste">
    <li class="ikke-stylet inline">
        {{> skjema/generisk/barneproperties}}
    </li>
</ul>

{{> skjema/generisk/vedlegg}}