<tr>
    <td></td>
    <td>
        {{ hentTekst (concat faktum.key ".sporsmal") }}
        <table>
            {{#each barneFakta}}
                {{> skjema/generisk/faktum}}
            {{/each}}
        </table>
    </td>
</tr>
