<tr>
    <td></td>
    <td>
        {{ hentTekst (concat faktum.key ".sporsmal") }}
    </td>
</tr>
<tr>
    <td class="sjekket"></td>
    <td>
        {{ hentTekst (concat faktum.key ".label") }}: {{faktum.value}}
    </td>
</tr>
