<tr>
    <td></td>
    <td>
        {{> skjema/generisk/infotekst}}
        {{#hvisTekstFinnes (concat faktum.key ".sporsmal")}}
            {{ hentTekst (concat faktum.key ".sporsmal") }}
        {{/hvisTekstFinnes}}
    </td>
</tr>
<tr>
    <td class="sjekket"></td>
    <td>
        {{ hentTekst (concat faktum.key ".label") }}: {{faktum.value}}
    </td>
</tr>
