<tr>
    <td></td>
    <td>
        {{hentTekst "fritekst.label"}}
        <div>
            {{hentTekst "fritekst.informasjon"}}
        </div>
    </td>
</tr>
<tr>
    <td></td>
    <td>{{faktum.value}}</td>
</tr>
