{{#if vedlegg}}
    <fieldset>
        <legend>Vedlegg som må legges ved:</legend>
        <ul>
        {{#each vedlegg}}
            {{#if erSynlig}}
                <li>{{navn}}</li>
            {{/if}}
        {{/each}}
        </ul>
    </fieldset>
{{/if}}
