{{#hvisLik "true" "false"}} <!-- deaktivert -->
{{#if vedlegg}}
    <li>
    <fieldset>
        <legend>Vedlegg som må legges ved:</legend>
        <ul>
        {{#each vedlegg}}
            {{#if erSynlig}}
                <li>{{struktur.skjemaNummer}} {{navn}}</li>
            {{/if}}
        {{/each}}
        </ul>
    </fieldset>
    </li>
{{/if}}
{{/hvisLik}}