<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <appender name="exceptionlog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${APP_LOG_HOME}/sendsoknad_error.log</File>
        <encoder>
            <pattern>%date [%-5level] [%thread] %logger{5} - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>${APP_LOG_HOME}/sendsoknad_error.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="infolog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${APP_LOG_HOME}/sendsoknad.log</File>
        <encoder>
            <pattern>%date [%-5level] [%thread] %logger{5} - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>${APP_LOG_HOME}/sendsoknad.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="org.apache.wicket.util.tester.BaseWicketTester" level="info">
        <appender-ref ref="infolog"/>
    </logger>

    <logger name="org.apache.wicket" level="error">
        <appender-ref ref="exceptionlog"/>
    </logger>

    <logger name="org.springframework" level="warn">
        <appender-ref ref="exceptionlog"/>
    </logger>

    <logger name="no.nav.modig.lang.reflect" level="warn">
        <appender-ref ref="exceptionlog"/>
    </logger>

    <logger name="org.apache.cxf" level="error">
        <appender-ref ref="exceptionlog"/>
    </logger>
    <logger name="org.apache.cxf" level="error">
        <appender-ref ref="exceptionlog"/>
    </logger>

    <logger name="org.apache.pdfbox" level="error">
        <appender-ref ref="exceptionlog"/>
    </logger>

    <root level="${ROOT_LOG_LEVEL:-INFO}">
        <appender-ref ref="exceptionlog"/>
        <appender-ref ref="infolog"/>
    </root>

</configuration>