<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <property name="MAIN_APPLICATION" value="sendsoknad" />

    <property name="loggingPattern"    value="%d [%-5level] [%thread] %logger{5} %replace(- [%X{consumerId}, %X{callId}, %X{userId}] ){'- \[, , \] ',''}- %m%n"/>

    <appender name="exceptionlog-sync" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${APP_LOG_HOME}/${MAIN_APPLICATION}_error.log</File>
        <encoder class="RemoveWsSecurityPattern">
            <pattern>${loggingPattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>90</maxHistory>
            <FileNamePattern>${APP_LOG_HOME}/${MAIN_APPLICATION}-error-%d{yyyy-MM-dd}.gz</FileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="exceptionlog" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref name="exceptionlog-sync" />
    </appender>

    <appender name="infolog-sync" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${APP_LOG_HOME}/${MAIN_APPLICATION}.log</File>
        <encoder>
            <pattern>${loggingPattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>90</maxHistory>
            <FileNamePattern>${APP_LOG_HOME}/${MAIN_APPLICATION}-info-%d{yyyy-MM-dd}.gz</FileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="infolog" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref name="infolog-sync" />
    </appender>

    <appender name="batchlog-sync" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${APP_LOG_HOME}/${MAIN_APPLICATION}-batch.log</File>
        <encoder>
            <pattern>${loggingPattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>90</maxHistory>
            <FileNamePattern>${APP_LOG_HOME}/${MAIN_APPLICATION}-batch-log-%d{yyyy-MM-dd}.gz</FileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="batchlog" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref name="batchlog-sync" />
    </appender>

    <appender name="klientlogg-sync" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${APP_LOG_HOME}/${MAIN_APPLICATION}-klient.log</File>
        <encoder>
            <pattern>${loggingPattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>90</maxHistory>
            <FileNamePattern>${APP_LOG_HOME}/${MAIN_APPLICATION}-klient-log-%d{yyyy-MM-dd}.gz</FileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="klientlogg" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref name="klientlogg-sync" />
    </appender>

    <appender name="SYSLOG-SYNC" class="ch.qos.logback.classic.net.SyslogAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${syslog.filter.level:-INFO}</level>
        </filter>
        <syslogHost>localhost</syslogHost>
        <facility>LOCAL1</facility>
        <suffixPattern>${MAIN_APPLICATION} %mdc %logger{30} %m %n%rEx</suffixPattern>
        <throwableExcluded>true</throwableExcluded>
    </appender>

    <appender name="SYSLOG" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref name="SYSLOG-SYNC" />
    </appender>

    <logger name="org.springframework" level="warn">
        <appender-ref ref="infolog"/>
    </logger>

    <logger name="no.nav.modig.lang.reflect" level="warn">
        <appender-ref ref="infolog"/>
    </logger>

    <logger name="no.nav.sbl.dialogarena.config" level="info">
        <appender-ref ref="infolog"/>
    </logger>

    <logger name="org.apache.pdfbox" level="error">
        <appender-ref ref="exceptionlog"/>
    </logger>

    <logger name="no.nav.sbl.dialogarena.soknadinnsending.business.batch.LagringsScheduler" level="info">
        <appender-ref ref="batchlog"/>
    </logger>

    <logger name="klientlogger" level="debug">
        <appender-ref ref="klientlogg"/>
    </logger>

    <logger name="org.apache.http.impl.client" level="info">
        <appender-ref ref="infolog" />
    </logger>

    <logger name="org.apache.cxf" level="OFF">
        <appender-ref ref="infolog" />
    </logger>

    <root level="${ROOT_LOG_LEVEL:-INFO}">
        <appender-ref ref="exceptionlog"/>
        <appender-ref ref="infolog"/>
        <appender-ref ref="SYSLOG"/>
    </root>
</configuration>