<h2>Innledningsspørsmål</h2>
{{> skjema/tiltakspenger/informasjonsside/dagpenger }}
{{> skjema/tiltakspenger/informasjonsside/kvalifiseringsprogram }}
{{> skjema/tiltakspenger/informasjonsside/introprogram }}