<div data-nav-faktum="egennaering.driveregennaering"
     data-navconfig
     data-booleanradio
     data-nokkel="egennaering.driveregennaering">


    <div data-navinfoboks data-infotekster="['egennaering.driveregennaering.false.informasjon.1', 'egennaering.driveregennaering.false.informasjon.2']">
    </div>

    <div data-ng-repeat="egennaering_drivergennaering_orgnummer in orgnummer">
        <div class="orgnummer-repeat">
            <div data-navorganisasjonsnummerfelt
                 data-nav-faktum="egennaering_drivergennaering_orgnummer"
                 data-navconfig
                 data-navlabel="egennaering.driveregennaering.false.organisasjonsnummer"
                 data-navfeilmelding="{ required: 'egennaering.driveregennaering.false.organisasjonsnummer.feilmelding', pattern: 'organisasjonsnummer.format.feilmelding'}">
            </div>
        </div>
    </div>

    <a href="javascript:void(0)" aria-role="button" class="orgnummer-leggtil" data-ng-click="leggTilOrgnr()"
       data-leggtil-orgnr data-ng-bind-html=" 'organisasjonsnummer.leggtil' | cmstekst"></a>

    <div class="tekstfelt form-linje arbeidsmengde-container">
        <h4 class="spm-sporsmal" data-ng-bind-html=" 'egennaering.driveregennaering.arbeidsmengde' | cmstekst"></h4>
        <label>
            <span class="labeltekst" data-ng-bind-html=" 'egennaering.driveregennaering.arbeidsmengde.timer' | cmstekst"></span>
            <input type="text"
                   data-ng-model="faktum.value"
                   data-nav-faktum="egennaering.driveregennaering.arbeidsmengde"
                   data-navconfig
                   data-ng-required="true"
                   data-error-messages="{required:'egennaering.driveregennaering.arbeidsmengde.feilmelding',
                   pattern:'regex.tall.komma.punktum'}"
                   data-ng-pattern="/^(\d+(?:[\.\,]\d{0,2})?)$/"
                   data-tekstfelt-patternvalidering
                   data-blur-validate
                   data-aktiv-feilmelding/>
            <span class="melding"></span>
        </label>
    </div>
</div>