<div class="skjemaramme">
    <div data-ng-form="egennaeringForm" class="skjemainnhold" data-ng-controller="EgennaeringCtrl" data-novalidate>
        <div data-form-errors></div>

        <div data-ng-include="'../views/templates/egennaering/egenNaeringvirksomhet.html'"></div>
        <div data-ng-include="'../views/templates/egennaering/gardsbruk.html'"></div>
        <div data-ng-include="'../views/templates/egennaering/fangstOgFiske.html'"></div>

        <div data-spmblokkferdig></div>
    </div>
</div>