<div id="fangst-og-fiske"
     data-nav-faktum="egennaering.fangstogfiske"
     data-navconfig
     data-booleanradio
     data-nokkel="egennaering.fangstogfiske">

    <div data-navinfoboks data-infotekster="['egennaering.fangstogfiske.false.arbeid.informasjon']">
    </div>

    <div data-nav-faktum="egennaering.fangstogfiske.false.arbeid"
         data-ng-model="faktum.value"
         data-navconfig
         data-booleanradio
         data-nokkel="egennaering.fangstogfiske.false.arbeid">
    </div>

</div>