<div id="fangst-og-fiske"
     data-nav-faktum="egennaering.fangstogfiske"
     data-navconfig
     data-booleanradio
     data-nokkel="egennaering.fangstogfiske">

    <div data-navinfoboks>
        <p data-ng-bind-html=" 'egennaering.fangstogfiske.false.arbeid.informasjon' | cmstekst"></p>
    </div>

    <div data-nav-faktum="egennaering.fangstogfiske.false.arbeid"
         data-ng-model="faktum.value"
         data-navconfig
         data-booleanradio
         data-nokkel="egennaering.fangstogfiske.false.arbeid">

        <div class="fangstfiskeinntekt">
            <div data-navtekst
                 data-nav-faktum="egennaering.fangstogfiske.false.arbeid.false.inntekt"
                 data-navconfig
                 data-navlabel="egennaering.fangstogfiske.false.arbeid.false.inntekt"
                 data-navfeilmelding="{required: 'egennaering.fangstogfiske.false.arbeid.false.inntekt.feilmelding', pattern: 'regex.tall.komma.punktum'}"
                 data-regexvalidering="/^(\d+(?:[\.\,]\d{0,2})?)$/">
            </div>
        </div>
    </div>

</div>