<div id="gardsbruk"
     data-nav-faktum="egennaering.gardsbruk"
     data-navconfig
     data-booleanradio
     data-nokkel="egennaering.gardsbruk">


<div data-navinfoboks>
    <p>{{ 'egennaering.gardsbruk.false.informasjon.1' | cmstekst }}</p>

    <p>{{ 'egennaering.gardsbruk.false.informasjon.2' | cmstekst }}</p>

    <p>{{ 'egennaering.gardsbruk.false.informasjon.3' | cmstekst }}</p>
</div>

<div data-navorganisasjonsnummerfelt
     data-nav-faktum="egennaering.gardsbruk.false.organisasjonsnummer"
     data-navconfig
     data-navlabel="egennaering.gardsbruk.false.organisasjonsnummer"
     data-nav-vis-slett="false"
     data-navfeilmelding="{ required: 'egennaering.gardsbruk.false.organisasjonsnummer.feilmelding',
          pattern: 'organisasjonsnummer.format.feilmelding'}"></div>

<div class="form-linje checkbox" data-checkbox-validate>
    <h4 class="spm-sporsmal">
        <span>{{ 'egennaering.gardsbruk.false.type.sporsmal' | cmstekst }}</span>
    </h4>

    <input type="hidden" data-ng-model="harHuketAvTypeGardsbruk.value"
           data-ng-required="erSynlig('egennaering.gardsbruk')"
           data-error-messages="'egennaering.gardsbruk.false.type.feilmelding'">

    <div data-navcheckbox
         data-navconfig
         data-nav-faktum="egennaering.gardsbruk.false.type.dyr"
         data-navlabel="egennaering.gardsbruk.false.type.dyr"
         data-navendret="endreTypeGardsbruk()"></div>

    <div data-navcheckbox
         data-navconfig
         data-nav-faktum="egennaering.gardsbruk.false.type.jord"
         data-navlabel="egennaering.gardsbruk.false.type.jord"
         data-navendret="endreTypeGardsbruk()"></div>

    <div data-navcheckbox
         data-navconfig
         data-nav-faktum="egennaering.gardsbruk.false.type.skog"
         data-navlabel="egennaering.gardsbruk.false.type.skog"
         data-navendret="endreTypeGardsbruk()"></div>

    <div data-navcheckbox
         data-navconfig
         data-nav-faktum="egennaering.gardsbruk.false.type.annet"
         data-navlabel="egennaering.gardsbruk.false.type.annet"
         data-navendret="endreTypeGardsbruk()"></div>
    <div data-melding>
        <span class="melding">{{ 'egennaering.gardsbruk.false.type.feilmelding' | cmstekst }}</span>
    </div>

</div>

<div class="form-linje checkbox" data-checkbox-validate>
    <h4 class="spm-sporsmal">
        <span>{{ 'egennaering.gardsbruk.false.eier.sporsmal' | cmstekst }}</span>
    </h4>

    <input type="hidden" data-ng-model="harHuketAvEierGardsbruk.value"
           data-ng-required="erSynlig('egennaering.gardsbruk')"
           data-error-messages="'egennaering.gardsbruk.false.eier.feilmelding'">

    <div data-navcheckbox
         data-navconfig
         data-nav-faktum="egennaering.gardsbruk.false.eier.jeg"
         data-navlabel="egennaering.gardsbruk.false.eier.jeg"
         data-navendret="endreEierGardsbruk()"></div>

    <div data-navcheckbox
         data-navconfig
         data-nav-faktum="egennaering.gardsbruk.false.eier.ektefelle"
         data-navlabel="egennaering.gardsbruk.false.eier.ektefelle"
         data-navendret="endreEierGardsbruk()"></div>

    <div data-navcheckbox
         data-navconfig
         data-nav-faktum="egennaering.gardsbruk.false.eier.annet"
         data-navlabel="egennaering.gardsbruk.false.eier.annet"
         data-navendret="endreEierGardsbruk()"></div>

    <div data-melding>
        <span class="melding">{{ 'egennaering.gardsbruk.false.eier.feilmelding' | cmstekst }}</span>
    </div>
</div>

<div class="form-linje andelsfordeling-container" data-ng-class="{feil : prosentFeil()} "
     data-ng-if="svartPaHvemEierGardsbruket()">
    <h4 class="spm-sporsmal andelsfordeling-spm">
        <span>{{ 'egennaering.gardsbruk.false.eierandel.sporsmal' | cmstekst }}</span>
    </h4>

    <input class="tekstfelt" type="hidden" data-ng-model="totalsumAndel.value"
           data-ng-required="svartPaHvemEierGardsbruket()"
           data-error-messages="'egennaering.gardsbruk.false.eierandel.feilmelding'">

    <div class="andels-fordeling">
        <div class="tekstfelt form-linje" data-ng-if="gardseier('egennaering.gardsbruk.false.eier.jeg')">
            <label>
                <span>{{ 'egennaering.gardsbruk.false.eierandel.din' | cmstekst }}</span>
                <input data-ng-model="faktum.value"
                       type="text"
                       data-ng-required="gardseier('egennaering.gardsbruk.false.eier.jeg')"
                       data-error-messages="{required:'egennaering.gardsbruk.false.eierandel.din.feilmelding', pattern:'regex.tall'}"
                       data-ng-pattern="/^(\d+(?:[\.\,]\d{0,2})?)$/"
                       data-blur-validate
                       data-ng-blur="summererAndeleneTil100()"
                       maxlength="3"
                       data-tekstfelt-patternvalidering
                       data-nav-faktum="egennaering.gardsbruk.false.eierandel.din"
                       data-navconfig
                       data-aktiv-feilmelding/>
                <span class="melding"></span>
            </label>
        </div>
        <div class="tekstfelt form-linje" data-ng-if="gardseier('egennaering.gardsbruk.false.eier.ektefelle')">
            <label>
                <span>{{ 'egennaering.gardsbruk.false.eierandel.ektefelle' | cmstekst }}</span>
                <input data-ng-model="faktum.value"
                       type="text"
                       data-ng-required="gardseier('egennaering.gardsbruk.false.eier.ektefelle')"
                       data-error-messages="{required:'egennaering.gardsbruk.false.eierandel.ektefelle.feilmelding', pattern:'regex.tall'}"
                       data-ng-pattern="/^(\d+(?:[\.\,]\d{0,2})?)$/"
                       data-blur-validate
                       data-ng-blur="summererAndeleneTil100()"
                       maxlength="3"
                       data-tekstfelt-patternvalidering
                       data-nav-faktum="egennaering.gardsbruk.false.eierandel.ektefelle"
                       data-navconfig
                       data-aktiv-feilmelding/>
                <span class="melding"></span>
            </label>
        </div>
        <div class="tekstfelt form-linje" data-ng-if="gardseier('egennaering.gardsbruk.false.eier.annet')">
            <label>
                <span>{{ 'egennaering.gardsbruk.false.eierandel.annet' | cmstekst }}</span>
                <input data-ng-model="faktum.value"
                       type="text"
                       data-ng-required="gardseier('egennaering.gardsbruk.false.eier.annet')"
                       data-error-messages="{required:'egennaering.gardsbruk.false.eierandel.annet.feilmelding', pattern:'regex.tall'}"
                       data-ng-pattern="/^(\d+(?:[\.\,]\d{0,2})?)$/"
                       data-blur-validate
                       data-ng-blur="summererAndeleneTil100()"
                       maxlength="3"
                       data-tekstfelt-patternvalidering
                       data-nav-faktum="egennaering.gardsbruk.false.eierandel.annet"
                       data-navconfig
                       data-aktiv-feilmelding/>
                <span class="melding"></span>
            </label>
        </div>
    </div>
    <span class="prosentmelding">{{ 'egennaering.gardsbruk.false.eierandel.feilmelding' | cmstekst }}</span>
</div>


<div class="gardsbruk-timer">
    <h4 class="spm-sporsmal">
        <span>{{ 'egennaering.gardsbruk.false.arbeidsforbruk' | cmstekst }}</span>
    </h4>

    <div class="tekstfelt form-linje arbeidsmengde-container">
        <label>
            <span class="labeltekst">{{ 'egennaering.gardsbruk.false.timer' | cmstekst }}</span>
            <input data-ng-model="faktum.value"
                   type="text"
                   data-ng-required="erSynlig('egennaering.gardsbruk')"
                   data-error-messages="{required: 'egennaering.gardsbruk.false.timer.feilmelding', pattern: 'regex.tall.komma.punktum'}"
                   data-ng-pattern="/^(\d+(?:[\.\,]\d{0,2})?)$/"
                   data-blur-validate
                   data-tekstfelt-patternvalidering
                   data-nav-faktum="egennaering.gardsbruk.false.timer"
                   data-navconfig
                   data-aktiv-feilmelding/>
        </label>
        <label>
            <span class="labeltekst">{{ 'egennaering.gardsbruk.false.aar' | cmstekst }}</span>
            <select id="egennaeringgardsbrukaar"
                    data-ng-model="faktum.value"
                    data-nav-faktum="egennaering.gardsbruk.false.aar"
                    data-navconfig
                    data-error-messages="aarstall.feilmelding"
                    data-ng-init="faktum.value = faktum.value || forrigeAar; lagreFaktum();"
                    data-ng-options="aar for aar in aarstall"
                    data-ng-change="lagreFaktum()"/>
        </label>
        <span class="melding"></span>
    </div>
</div>

<div class="timeredegjoring">
    <div data-navtextarea
         data-navconfig
         data-nav-faktum="egennaering.gardsbruk.false.timeredegjoring"
         data-nokkel="egennaering.gardsbruk.false.timeredegjoring"
         data-maxlengde="500"
         data-obligatorisk="true"></div>
</div>

<div data-vedlegginfoboks>
    <ul>
        <li>
            <p>{{ 'egennaering.gardsbruk.false.vedlegg' | cmstekst }}</p>
            <a href="egennaering.gardsbruk.false.vedlegg.lenkeurl">{{
                'egennaering.gardsbruk.false.vedlegg.lenketekst' | cmstekst }}</a>
        </li>
    </ul>
</div>
</div>