<tr>
    {{#forFaktum "reise.midlertidig.reiselengde"}}
        <td class="sjekket"></td>
        <td>{{hentTekst "soknad.reise.midlertidig.reiselengde.oppsummering"}} {{value}} {{hentTekst "soknad.km"}}</td>
    {{/forFaktum}}
</tr>
