<tr>
    <td class="sjekket"></td>
    <td>
        {{#forFaktum "bostotte.aarsak"}}
            {{#hvisLik value "fasteboutgifter"}}
                <span>{{ hentTekst "soknad.bostotte.aarsak.fasteboutgifter" }}</span>
            {{/hvisLik}}
            {{#hvisLik value "samling"}}
                <span>{{ hentTekst "soknad.bostotte.aarsak.samling" }}</span>
            {{/hvisLik}}
        {{/forFaktum}}
    </td>
</tr>