{{#forFaktum "bostotte.aarsak"}}
    {{#hvisIkkeTom value}}
        <h2>{{hentTekst "soknad.bostottebolk.tittel"}}</h2>
        <table>
            {{> skjema/tilleggsstonader/bostotte/aarsak}}
            {{> skjema/tilleggsstonader/bostotte/periode}}
        </table>
    {{/hvisIkkeTom}}
{{/forFaktum}}
