<tr>
    <td class="sjekket"></td>
    <td>
        {{#forFaktum "bostotte.medisinskearsaker"}}
            {{#hvisSant value}}
                <span>{{ hentTekst "soknad.bostotte.medisinskearsaker.true" }}</span>
            {{else}}
                <span>{{ hentTekst "soknad.bostotte.medisinskearsaker.false" }}</span>
            {{/hvisSant}}
        {{/forFaktum}}
    </td>
</tr>