<tr>
    <td class="sjekket"></td>
    <td>
        {{#forFaktum "bostotte.periode"}}
            <span>{{ hentTekst "soknad.bostotte.periode.oppsummering.tekst" }} {{ formatterFodelsDato properties.fom}} {{ hentTekst "soknad.bostotte.periode.oppsummering.til" }} {{ formatterFodelsDato properties.tom}}</span>
        {{/forFaktum}}
    </td>
</tr>