{{#forFakta "bostotte.samling"}}
<tr>
    <td class="sjekket"></td>
    <td>
        <span>
            {{ hentTekst "soknad.bostotte.samling.oppsummering" }} <em>{{ kortDato properties.fom}}</em>
            {{ hentTekst "soknad.bostotte.samling.oppsummering.til" }} <em>{{ kortDato properties.tom}}</em>
        </span>
    </td>
</tr>
{{/forFakta}}