<tr>
    <td class="sjekket"></td>
    <td>
        {{#forFaktum "bostotte.utbetalingsdato"}}
            <span>{{ hentTekst "soknad.felles.utbetalingsdato.velgdato.oppsummering" }} {{value}} {{ hentTekst "soknad.felles.utbetalingsdato.velgdato.oppsummering.postfix" }}</span>
        {{/forFaktum}}
    </td>
</tr>