{{#forFaktum "bostotte.utbetalingsdato"}}
    {{#hvisIkkeTom value}}
    <tr>
        <td class="sjekket"></td>
        <td>
            <span>
                {{ hentTekst "soknad.felles.utbetalingsdato.velgdato.oppsummering" }}
                <em>{{value}}</em>{{ hentTekst "soknad.felles.utbetalingsdato.velgdato.oppsummering.postfix" }}
            </span>
        </td>
    </tr>
    {{/hvisIkkeTom}}
{{/forFaktum}}