{{#hvisHarDiskresjonskode}}
{{else}}
    <tr>
        <td class="sjekket"></td>
        <td>
            {{#forFaktum "reise.samling.reisemaal"}}
                <span>{{ hentTekst "soknad.reise.reisemaal.oppsummering" }} {{properties.adresse}}, {{properties.postnr}}</span>
            {{/forFaktum}}
        </td>
    </tr>
{{/hvisHarDiskresjonskode}}