<tr>
    {{#forFaktum "reise.samling.reiselengde"}}
        <td class="sjekket"></td>
        <td>{{hentTekst "soknad.reise.samling.reiselengde.oppsummering"}} {{value}} {{hentTekst "soknad.km"}}</td>
    {{/forFaktum}}
</tr>
