{{#forFakta "reise.samling.fleresamlinger.samling"}}
<tr>
    <td class="sjekket"></td>
    <td>
        <span>{{ hentTekst "soknad.reise.samling.fleresamlinger.samling.oppsummering" }} {{ kortDato properties.fom}} {{ hentTekst "soknad.reise.samling.fleresamlinger.samling.oppsummering.til" }} {{ kortDato properties.tom}}</span>
    </td>
</tr>
{{/forFakta}}