<div class="panel-standard-belyst skjema hvit-side" data-ng-controller="routingForGjenopptakCtrl">
    <div class="rad tittel" data-nav-tittel="skjema.tittel">
        <div class="begrensning">
            <h1 class="diger hoved-tittel" data-ng-bind-html="'utslagskriterier.dagpenger.overskrift' | cmstekst"></h1>
        </div>
    </div>

    <section class="spm-blokk open">
        <div class="skjemaramme uten-strek">
            <div data-ng-form="startsoknadForm" class="skjemainnhold vertikal" data-novalidate>
                <p>
                    <span>routing:</span>
                    <span>{{vars.test}}</span>
                </p>
                <div data-dato data-ng-model="vars.test" data-er-required="true" data-required-error-message="arbeidsforhold.arbeidsgiver.varighet.til.feilmelding"></div>

                <p>
                    <p>routing:</p>
                    <p>{{ vars.dato.fra }}</p>
                    <p>{{ vars.dato.til }}</p>
                </p>
                <div data-nav-dato-intervall
                     data-fra-dato="vars.dato.fra"
                     data-til-dato="vars.dato.til"
                     data-label="arbeidsforhold.arbeidsgiver.varighet"
                     data-er-begge-required="true"
                     data-lagre="lagreFaktum()">
                </div>
                <div class="spm form-linje boolean">
                    <h4 class="spm-sporsmal" data-ng-bind-html=" 'utslagskriterier.dagpenger.utbetaling.sporsmal' | cmstekst"></h4>

                    <div data-navradio-utenfaktum
                            data-value="nei"
                            data-navconfig
                            data-radiomodel="gjenopptak.harMotattDagpenger"
                            data-navlabel="utslagskriterier.dagpenger.utbetaling.nei"
                            data-navfeilmelding="utslagskriterier.dagpenger.utbetaling.feilmelding">
                    </div>

                    <div data-navradio-utenfaktum
                            data-navconfig
                            data-radiomodel="gjenopptak.harMotattDagpenger"
                            data-value="vetikke"
                            data-navlabel="utslagskriterier.dagpenger.utbetaling.vetikke"
                            data-navfeilmelding="utslagskriterier.dagpenger.utbetaling.feilmelding">
                    </div>
                    <div data-navradio-utenfaktum
                            data-navconfig
                            data-radiomodel="gjenopptak.harMotattDagpenger"
                            data-value="ja"
                            data-navlabel="utslagskriterier.dagpenger.utbetaling.ja"
                            data-navfeilmelding="utslagskriterier.dagpenger.utbetaling.feilmelding">
                    </div>

                    <span class="melding" data-ng-bind-html="'utslagskriterier.dagpenger.utbetaling.feilmelding' | cmstekst"></span>


                    <div class="ekstra-spm-boks nav-boolean" data-ng-if="gjenopptak.harMotattDagpenger === 'ja'">
                        <div data-booleanradio-utenfaktum
                                data-nokkel="utslagskriterier.dagpenger.utbetaling.hararbeidet"
                                data-radiomodel="gjenopptak.harArbeidet">
                        </div>
                    </div>
                </div>

                <div data-routing-for-gjenopptak-button></div>
            </div>
        </div>
    </section>
</div>