{{#forFaktum "vedtak"}}
    <h2>{{hentTekst 'oppsummering.aktivitet'}}</h2>
    {{properties.aktivitetNavn}}. Periode {{formatterLangDato properties.fom}}  - {{formatterLangDato properties.tom}}
{{/forFaktum}}
