{{#forFaktum "vedtak"}}
    <h2>{{hentTekst 'oppsummering.aktivitet'}}</h2>
    <table>
        <tr>
            <td class="sjekket"></td>
            <td> {{properties.aktivitetNavn}}. Periode {{formaterLangDato properties.fom}}
                - {{formaterLangDato properties.tom}}</td>
        </tr>
    </table>
{{/forFaktum}}