<div class="skjemaramme">
    <div class="sideoversikt">
        <h4 cmstekster="ytelser.tittel"/>
    </div>
    <form name="ytelserForm" class="skjemainnhold" data-ng-controller="ModusCtrl" novalidate>
        <div data-ng-controller="YtelserCtrl">
            <div class="spm-blokk">
                <p cmstekster="ytelser.informasjon"/>

                <p class='spm' cmstekster="ytelser.sporsmal"/>

                <navcheckbox data-ng-model='soknadData.fakta.stonadFisker.value' modus='data.redigeringsModus'
                             inputname='stonadFisker' label='ytelser.stonadFikser' endret="endreYtelse(ytelserForm)"/>

                <navcheckbox data-ng-model='soknadData.fakta.offentligTjenestepensjon.value'
                             modus='data.redigeringsModus' inputname='offentligTjenestepensjon'
                             label='ytelser.offentligTjenestepensjon' endret="endreYtelse(ytelserForm)">

                    <navtekst data-ng-model="soknadData.fakta.offentligTjenestepensjonUtbetaler.value"
                              modus="data.redigeringsModus" inputname="offentligTjenestepensjonUtbetaler"
                              label="ytelser.offentligTjenestepensjonUtbetaler"/>
                </navcheckbox>

                <navcheckbox data-ng-model='soknadData.fakta.privatTjenestepensjon.value'
                             modus='data.redigeringsModus'
                             inputname='privatTjenestepensjon' label='ytelser.privatTjenestepensjon'
                             endret="endreYtelse(ytelserForm)">

                    <navtekst data-ng-model="soknadData.fakta.privatTjenestepensjonUtbetaler.value"
                              modus="data.redigeringsModus" inputname="privatTjenestepensjonUtbetaler"
                              label="ytelser.privatTjenestepensjonUtbetaler"/>
                </navcheckbox>

                <navcheckbox data-ng-model='soknadData.fakta.vartpenger.value' modus='data.redigeringsModus'
                             inputname='vartpenger' label='ytelser.vartpenger' endret="endreYtelse(ytelserForm)">

                    <navtekst data-ng-model="soknadData.fakta.vartpengerUtbetaler.value"
                              modus="data.redigeringsModus"
                              inputname="vartpengerUtbetaler" label="ytelser.vartpengerUtbetaler"/>
                </navcheckbox>

                <navcheckbox data-ng-model='soknadData.fakta.ventelonn.value' modus='data.redigeringsModus'
                             inputname='ventelonn' label='ytelser.ventelonn' endret="endreYtelse(ytelserForm)">

                    <navtekst data-ng-model="soknadData.fakta.ventelonnUtbetaler.value"
                              modus="data.redigeringsModus"
                              inputname="ventelonnUtbetaler" label="ytelser.ventelonnUtbetaler"/>
                </navcheckbox>

                <navcheckbox data-ng-model='soknadData.fakta.dagpengerEOS.value' modus='data.redigeringsModus'
                             inputname='dagpengerEOS' label='ytelser.dagpengerEOS' endret="endreYtelse(ytelserForm)">

                    <navtekst data-ng-model="soknadData.fakta.dagpengerEOSUtbetaler.value"
                              modus="data.redigeringsModus"
                              inputname="dagpengerEOSUtbetaler" label="ytelser.dagpengerEOSUtbetaler"/>
                </navcheckbox>

                <navcheckbox data-ng-model='soknadData.fakta.annenYtelse.value' modus='data.redigeringsModus'
                             inputname='annenYtelse' label='ytelser.annenYtelse' endret="endreYtelse(ytelserForm)">

                    <navtekst data-ng-model="soknadData.fakta.annenYtelseType.value" modus="data.redigeringsModus"
                              inputname="annenYtelseType" label="ytelser.annenYtelseType"/>
                    <navtekst data-ng-model="soknadData.fakta.annenYtelseUtbetaler.value"
                              modus="data.redigeringsModus"
                              inputname="annenYtelseUtbetaler" label="ytelser.annenYtelseUtbetaler"/>
                </navcheckbox>


                <div>
                    <span data-ng-show='hvisIRedigeringsmodus()'>
                        <input id="ingenYtelseCheckbox" data-ng-model="soknadData.fakta.ingenYtelse.value"
                               type="checkbox" name="ingenYtelse" data-ng-change="endreIngenYtelse(ytelserForm)"
                               boolean-verdi/>
                        <label for='ingenYtelseCheckbox' class='svar-alt' cmstekster="ytelser.ingenYtelse"/>
                    </span>

                    <span data-ng-show='hvisIOppsummeringsmodusOgChecked()' cmstekster="ytelser.ingenYtelse"/>
                    <!--<span data-ng-show="ytelserForm.$error.harValgtYtelse"-->
                          <!--cmstekster="ytelser.harValgtYtelse.feilmelding"/>-->
                </div>

            </div>
            <div data-ng-show="hvisIkkeFormValiderer()">
                <feilmeldinger form="ytelserForm" nokkel="ytelser"/>
            </div>

            <button data-ng-show="hvisIRedigeringsmodus()" class="knapp-hoved"
                    data-ng-click="validerYtelser(ytelserForm)"
                    cmstekster="ytelser.ferdig"/>

            <sporsmalblokk/>
        </div>
    </form>
</div>
