{{#forFaktum "reise.samling.fleresamlinger"}}
    {{#hvisLik value "flere"}}
        <tr>
            <td class="sjekket"></td>
            <td><span>{{hentTekst "soknad.reise.samling.fleresamlinger.flere"}}</span></td>
        </tr>
        {{> skjema/tilleggsstonader/reisesamling/samlinger }}
    {{else}}
        <tr>
            <td class="sjekket"></td>
            <td>
                <span>{{hentTekst "soknad.reise.samling.fleresamlinger.en"}}</span>
            </td>
        </tr>
        {{#forFaktum "reise.samling.aktivitetsperiode"}}
            {{> skjema/tilleggsstonader/felles/aktivitetsperiode}}
        {{/forFaktum}}
    {{/hvisLik}}
{{/forFaktum}}