{{#forFaktumHvisSant "informasjonsside.stonad.reise"}}
    {{#forFaktumHvisSant "informasjonsside.stonad.reisesamling"}}
        <h2>{{hentTekst "soknad.reise.samling.tittel"}}</h2>
        <table>
            {{> skjema/tilleggsstonader/reisesamling/fleresamlinger}}
            {{> skjema/tilleggsstonader/reisesamling/avstand}}


            {{#variabel "faktumKey" "reise.samling.reisemaal"}}
                {{> skjema/tilleggsstonader/felles/reisemaladresse}}
            {{/variabel}}

            {{#variabel "faktumPrefiks" "reise.samling."}}
                {{> skjema/tilleggsstonader/reisesamling/offentligtransport}}
            {{/variabel}}
        </table>
    {{/forFaktumHvisSant}}
{{/forFaktumHvisSant}}
