<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %level [%file:%line] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
    </appender>

    <logger name="org.apache.wicket.util.tester.BaseWicketTester" level="info" />
    <logger name="org.apache.wicket" level="error" />
    <logger name="org.springframework" level="warn" />
    <logger name="no.nav.modig.lang.reflect" level="warn" />

    <logger name="org.apache.cxf" level="error" />
    <logger name="org.apache.pdfbox" level="error" />

    <root>
        <appender-ref ref="Console"/>
    </root>
</configuration>