<tr>
    <td class="sjekket"></td>
    <td>
        {{#forFaktum "reise.aktivitet.reisemaal"}}
                <span>{{ hentTekst "soknad.reise.aktivitet.reisemaal.oppsummering" }} {{properties.adresse}}, {{properties.postnr}}</span>
        {{/forFaktum}}
    </td>
</tr>