<tr>
    {{#forFaktum "reise.aktivitet.dagligreiseavstand"}}
        <td class="sjekket"></td>
        <td>{{hentTekst "soknad.reise.aktivitet.dagligreiseavstand.oppsummering"}}: {{value}} {{hentTekst "soknad.km"}}</td>
    {{/forFaktum}}
</tr>
