<tr>
    <td class="sjekket"></td>
    <td>
        {{#forFaktum "reise.aktivitet.medisinskeaarsaker"}}
            {{#hvisSant value}}
                <span>{{ hentTekst "soknad.reise.aktivitet.medisinskeaarsaker.true.oppsummering" }}</span>
            {{else}}
                <span>{{ hentTekst "soknad.reise.aktivitet.medisinskeaarsaker.false.oppsummering" }}</span>
            {{/hvisSant}}
        {{/forFaktum}}
    </td>
</tr>