{{#forFaktumHvisSant "informasjonsside.stonad.reise"}}
    {{#forFaktumHvisSant "informasjonsside.stonad.reiseaktivitet"}}
        <h2>{{hentTekst "soknad.reise.aktivitet.tittel"}}</h2>
        <table>
            {{#forFaktum "reise.aktivitet.periode"}}
                {{> skjema/tilleggsstonader/felles/aktivitetsperiode}}
            {{/forFaktum}}
            {{> skjema/tilleggsstonader/reiseaktivitet/avstand}}
            {{> skjema/tilleggsstonader/reiseaktivitet/medisinskeaarsaker}}
            {{> skjema/tilleggsstonader/reiseaktivitet/adresse}}
            {{#variabel "faktumPrefiks" "reise.aktivitet."}}
                {{> skjema/tilleggsstonader/felles/offentligtransport}}
            {{/variabel}}
        </table>
    {{/forFaktumHvisSant}}
{{/forFaktumHvisSant}}
