{{#forFaktum "informasjonsside.stonad.reiseaktivitet"}}
    {{#hvisSant value}}
        <h2>{{hentTekst "soknad.reise.aktivitet.tittel"}}</h2>
        <table>
            {{> skjema/tilleggsstonader/reiseaktivitet/avstand}}
        </table>
    {{/hvisSant}}
{{/forFaktum}}
