<tr>
    {{#forFaktum "reise.aktivitet.reisedager"}}
        <td class="sjekket"></td>
        <td>{{hentTekst "soknad.reise.aktivitet.reisedager.oppsummering"}} <em>{{value}}</em> {{hentTekst "soknad.dager"}}</td>
    {{/forFaktum}}
</tr>
