<p class="svar-oppsummering-informasjon" data-cmstekster="arbeidsforhold.sluttaarsak.avskjediget.informasjon"></p>
<p class="svar-oppsummering-sporsmal" data-cmstekster="arbeidsforhold.sluttaarsak.avskjediget.sporsmal"></p>
<p class="svar-oppsummering" data-ng-bind="gjeldendeSluttaarsak.properties.avskjedigetFraDato | date:'dd.MM.yyyy'"></p>
<p class="svar-oppsummering-sporsmal" data-cmstekster="arbeidsforhold.sluttaarsak.avskjedigetgrunn.sporsmal">:</p>
<p class="svar-oppsummering" data-ng-bind="gjeldendeSluttaarsak.properties.avskjedigetGrunn"></p>
<p svar-oppsummering-informasjon data-cmstekster="arbeidsforhold.sluttaarsak.avskjediget.vedlegg"></p>


