<div class="varighet">
    <span data-ng-bind="af.sluttaarsak.properties.datofra | date:'dd.MM.yyyy' | norskdato"></span>
    <span data-ng-if="af.sluttaarsak.properties.datotil"> TIL </span>
    <span data-ng-if="af.sluttaarsak.properties.datotil" data-ng-bind="af.sluttaarsak.properties.datotil | date:'dd.MM.yyyy' | norskdato"></span>
</div>

<ul>
    <li>
        <p data-ng-bind="af.sluttaarsak.properties.type"></p>
    </li>
    <li>
        <span data-cmstekster="arbeidsforhold.sluttaarsak.avskjedigetgrunn.sporsmal"></span>
        <p data-ng-bind="af.sluttaarsak.properties.avskjedigetGrunn"></p>
    </li>
</ul>




