<div>
    <p class="sluttaarsak-informasjon" cmstekster="arbeidsforhold.sluttaarsak.avskjediget.informasjon"/>

    <div class="varighet">
        <div data-nav-dato
             data-ng-model="af.avskjedigetFraDato"
             data-label="arbeidsforhold.sluttaarsak.avskjediget.sporsmal"
             data-er-required="true"
             data-required-error-message="arbeidsforhold.sluttaarsak.avskjediget.feilmelding">
        </div>
    </div>
    <div data-navtextarea
         data-inputname="arbeidsforhold.sluttaarsak.avskjedigetgrunn.sporsmal"
         data-modus='data.redigeringsModus'
         data-ng-model="af.avskjedigetGrunn"
         data-nokkel="arbeidsforhold.sluttaarsak.avskjedigetgrunn"
         data-maxlengde="500"
         data-feilmelding="arbeidsforhold.sluttaarsak.avskjedigetgrunn.feilmelding"
         data-obligatorisk="true"></div>
</div>
<p data-cmstekster="arbeidsforhold.sluttaarsak.avskjediget.vedlegg"></p>
</div>