<div>
    <p class="sluttaarsak-informasjon" cmstekster="arbeidsforhold.sluttaarsak.avskjediget.informasjon.1"></p>
    <p class="sluttaarsak-informasjon" cmstekster="arbeidsforhold.sluttaarsak.avskjediget.informasjon.2"></p>

    <div data-nav-faktum="sluttaarsak"
        data-ikke-auto-lagre="true">

        <div class="varighet">
            <div data-nav-dato-intervall
                 data-fra-dato="faktum.properties.datofra"
                 data-til-dato="faktum.properties.datotil"
                 data-label="arbeidsforhold.arbeidsgiver.varighet"
                 data-er-begge-required="true">
            </div>
        </div>

        <div data-navtextarea
             data-navconfig
             data-nav-faktum-property="avskjedigetGrunn"
             data-nokkel="arbeidsforhold.sluttaarsak.avskjedigetgrunn"
             data-maxlengde="500"
             data-feilmelding="arbeidsforhold.sluttaarsak.avskjedigetgrunn.feilmelding"
             data-obligatorisk="true"></div>

        <div data-booleanradio
             data-navconfig
             data-nav-faktum-property="baatEllerOffshore"
             data-nokkel="arbeidsforhold.sluttaarsak.baatelleroffshore"></div>

        <p class="sluttaarsak-tilleggsinformasjon">
            <span data-cmstekster="arbeidsforhold.sluttaarsak.vedlegg.1"></span>
            <ul>
                <li> 
                    <span data-cmstekster="arbeidsforhold.sluttaarsak.vedlegg.liste.1"></span>
                </li>
                <li> 
                    <span data-cmstekster="arbeidsforhold.sluttaarsak.vedlegg.liste.2"></span>
                    <a href="http://TODO.com" data-cmstekster="arbeidsforhold.sluttaarsak.vedlegg.liste.2.lenketekst">
                    </a>
                </li>
            </ul>
            <span data-cmstekster="arbeidsforhold.sluttaarsak.vedlegg.2"></span>
        </p>
    </div>
</div>
