<p class="sluttaarsak-informasjon" data-cmstekster="arbeidsforhold.sluttaarsak.konkurs.informasjon"></p>

<div class="form-linje">
    <label>
        <span data-cmstekster="arbeidsforhold.sluttaarsak.konkurs.bostyrersnavn"></span>
        <input type="text"
               data-ng-model="af.sluttaarsak.bostyrersnavn"
               data-name="bostyrersnavn"
               data-error-messages="{required: 'arbeidsforhold.sluttaarsak.konkurs.bostyrersnavn.feilmelding',
                        pattern: 'pattern.feilmelding', minlength: 'arbeidsforhold.sluttaarsak.konkurs.bostyrersnavn.forkort', maxlength: 'arbeidsforhold.sluttaarsak.konkurs.bostyrersnavn.forlangt'}"
               data-ng-maxlength="50"
               data-ng-minlength="5"
               data-ng-pattern="/^[-a-zA-Z0-9æøåÆØÅ _+§%()]*$/"
               data-ng-required="true"
               data-blur-validate>
        <span class="melding"></span>
    </label>
</div>

<div class="sporsmaal form-linje boolean">
    <h4 data-cmstekster="arbeidsforhold.sluttaarsak.konkurs.lonnsgaranti.sporsmal"></h4>

    <div>
        <input class="sendsoknad-radio"
               id="lonnsgarantiJa"
               type="radio"
               value="true"
               data-ng-model="af.sluttaarsak.lonnsgaranti"
               data-name="lonnsgaranti"
               data-error-messages="'arbeidsforhold.sluttaarsak.konkurs.lonnsgaranti.feilmelding'"
               data-ng-required="true"
               data-click-validate/>

        <label for="lonnsgarantiJa" class='svar-alt'
               data-cmstekster="arbeidsforhold.sluttaarsak.konkurs.lonnsgaranti.true"></label>
    </div>

    <div>
        <input class="sendsoknad-radio"
               id="lonnsgarantiNei"
               type="radio"
               value="false"
               data-ng-model="af.sluttaarsak.lonnsgaranti"
               data-name="lonnsgaranti"
               data-error-messages="'arbeidsforhold.sluttaarsak.konkurs.lonnsgaranti.feilmelding'"
               data-ng-required="true"
               data-click-validate/>

        <label for="lonnsgarantiNei" class='svar-alt'
               data-cmstekster="arbeidsforhold.sluttaarsak.konkurs.lonnsgaranti.false"></label>
    </div>
    <span class="melding"
          data-cmstekster="arbeidsforhold.sluttaarsak.kontraktutgaatt.tilbudomaafortsette.feilmelding"></span>

    <div data-ng-show="af.sluttaarsak.lonnsgaranti == 'false'">
        <p data-cmstekster="arbeidsforhold.sluttaarsak.konkurs.lonnsgaranti.false.informasjon"></p>
    </div>
</div>
