<div data-ng-controller="ModusCtrl">

    <p cmstekster="sluttaarsakkonkurs.informasjon"/>

    <br/>
    <p> {{af.sluttaarsak.sluttet}} </p>

    <br/>

    <p cmstekster="sluttaarsakkonkurs.lonnsgaranti.sporsmal"/>
    <div data-ng-show="sluttaarsakkonkurs.lonnsgaranti">
        <p cmstekster="sluttaarsakkonkurs.lonnsgaranti.true"/>
    </div>

    <div data-ng-show="sluttaarsakkonkurs.lonnsgaranti == 'false'">
        <p cmstekster="sluttaarsakkonkurs.lonnsgaranti.false"/>
    </div>


</div>
