<p class="sluttaarsak-informasjon" data-cmstekster="arbeidsforhold.sluttaarsak.kontraktutgaatt.informasjon"></p>

<div data-nav-dato data-ng-model="af.kontraktUtgaattSisteArbeidsdag"
     data-label="arbeidsforhold.sluttaarsak.kontraktutgaatt.sistearbeidsdag.sporsmal"
     data-er-required="true"
     data-required-error-message="arbeidsforhold.sluttaarsak.kontraktutgaatt.sistearbeidsdag.feilmelding">
</div>

<div class="sporsmaal form-linje boolean">
    <h4 data-cmstekster="arbeidsforhold.sluttaarsak.kontraktutgaatt.tilbudomaafortsette.sporsmal"></h4>

    <div>
        <input class="sendsoknad-radio"
               id="kontraktUtgaattTilbudomfortsetteJa"
               type="radio"
               value="true"
               data-ng-model="af.kontraktUtgaattTilbudomfortsette"
               data-name="kontraktUtgaattTilbudomfortsette"
               data-error-messages="'arbeidsforhold.sluttaarsak.kontraktutgaatt.tilbudomaafortsette.feilmelding'"
               data-ng-required="true"
               data-click-validate/>

        <label for="kontraktUtgaattTilbudomfortsetteJa"
               data-cmstekster="arbeidsforhold.sluttaarsak.kontraktutgaatt.tilbudomaafortsette.true"></label>
    </div>

    <div>
        <input class="sendsoknad-radio"
               id="kontraktUtgaattTilbudomfortsetteNei"
               type="radio"
               value="false"
               data-ng-model="af.kontraktUtgaattTilbudomfortsette"
               data-name="kontraktUtgaattTilbudomfortsette"
               data-error-messages="'arbeidsforhold.sluttaarsak.kontraktutgaatt.tilbudomaafortsette.feilmelding'"
               data-ng-required="true"
               data-click-validate/>

        <label for="kontraktUtgaattTilbudomfortsetteNei"
               data-cmstekster="arbeidsforhold.sluttaarsak.kontraktutgaatt.tilbudomaafortsette.false"></label>
    </div>
    <span class="melding"
          data-cmstekster="arbeidsforhold.sluttaarsak.kontraktutgaatt.tilbudomaafortsette.feilmelding"></span>

    <div data-ng-if="af.kontraktUtgaattTilbudomfortsette == 'true'">
        <p data-cmstekster="arbeidsforhold.sluttaarsak.kontraktutgaatt.tilbudomaafortsette.true.informasjon"></p>
    </div>
</div>

