<div>
    <div class="spm" data-nav-faktum="sluttaarsak"
         data-ikke-auto-lagre="true">

        <div class="varighet form-linje">
            <div data-nav-dato
                 data-ng-model="sluttaarsak.properties.datofra"
                 data-label="arbeidsforhold.arbeidsgiver.varighet.fra"
                 data-er-required="true"
                 data-required-error-message="arbeidsforhold.arbeidsgiver.varighet.fra.feilmelding">
            </div>
        </div>

        <div class="varighet form-linje">
            <div data-nav-dato
                 data-ng-model="sluttaarsak.properties.datotil"
                 data-label="arbeidsforhold.arbeidsgiver.varighet.til"
                 data-er-required="true"
                 data-er-fremtidigdato-tillatt="true"
                 data-required-error-message="arbeidsforhold.arbeidsgiver.varighet.til.feilmelding">
            </div>
        </div>

        <div data-booleanradio
             data-navconfig
             data-nav-faktum-property="tilbudomjobbannetsted"
             data-nokkel="arbeidsforhold.sluttaarsak.kontraktutgaatt.tilbudomaafortsette"></div>

        <div data-ng-show="sluttaarsak.properties.tilbudomjobbannetsted == 'true'">
            <div data-navinfoboks>
                <p data-cmstekster="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.tilbudomjobbannetsted.true.informasjon"></p>
            </div>
        </div>

        <div class="ekstra-spm-boks" data-vedlegginfoboks>
            <ul>
                <li>
                    <p data-cmstekster="arbeidsforhold.sluttaarsak.vedlegg.liste.1"></p>
                </li>
                <li>
                    <p data-cmstekster="arbeidsforhold.sluttaarsak.vedlegg.liste.2"></p>
                    <a href="{{sluttaarsakUrl}}" data-cmstekster="arbeidsforhold.sluttaarsak.vedlegg.liste.2.lenketekst">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>