<div data-ng-controller="ModusCtrl">
<p cmstekster="arbeidsforhold.sluttaarsak.kontraktutgaatt.informasjon"/>

<div>
    <p cmstekster="arbeidsforhold.sluttaarsak.kontraktutgaatt.sistearbeidsdag.sporsmal"/>
    <input type="text" name="varighetFra" ui-date ui-date-format ng-model="af.sluttet" required >
</div>

<br/>

<div>	
	<booleanradio data-ng-model="af.tilbudomaafortsette"
 				modus="data.redigeringsModus"
    			nokkel="arbeidsforhold.sluttaarsak.kontraktutgaatt.tilbudomaafortsette"/>
</div>

</div>
