<div data-ng-controller="ModusCtrl">
    <p cmstekster="arbeidsforhold.sluttaarsak.kontraktutgaatt.informasjon"/>

    <br/>

    <p class="svar-oppsummering-overskrift" cmstekster="arbeidsforhold.sluttaarsak.kontraktutgaatt.sistearbeidsdag.sporsmal"/>
    <p> {{af.sluttet}} </p>

    <br/>

    <p class="svar-oppsummering-overskrift" cmstekster="arbeidsforhold.sluttaarsak.kontraktutgaatt.tilbudomaafortsette.sporsmal"/>
    <div data-ng-show="af.tilbudomaafortsette">
        <p cmstekster="arbeidsforhold.sluttaarsak.kontraktutgaatt.tilbudomaafortsette.true"/>
    </div>

    <div data-ng-show="af.tilbudomaafortsette == 'false'">
        <p cmstekster="arbeidsforhold.sluttaarsak.kontraktutgaatt.tilbudomaafortsette.false"/>
    </div>

</div>
