<div data-ng-controller="ModusCtrl">

    <p cmstekster="arbeidsforhold.sluttaarsakkonkurs.informasjon"/>

    <br/>

    <p cmstekster="arbeidsforhold.sluttaarsak.kontraktutgaatt.sistearbeidsdag.sporsmal"/>
    <p> {{af.sluttaarsak.sluttet}} </p>

    <br/>

    <p cmstekster="arbeidsforhold.sluttaarsak.kontraktutgaatt.tilbudomaafortsette.sporsmal"/>
    <div data-ng-show="af.sluttaarsak.tilbudomaafortsette">
        <p cmstekster="arbeidsforhold.sluttaarsak.kontraktutgaatt.tilbudomaafortsette.true"/>
    </div>

    <div data-ng-show="af.sluttaarsak.tilbudomaafortsette == 'false'">
        <p cmstekster="arbeidsforhold.sluttaarsak.kontraktutgaatt.tilbudomaafortsette.false"/>
    </div>

</div>
