<div data-ng-controller="ModusCtrl">

    <div data-ng-show="af.permittertFraDato">
    <p class="svar-oppsummering-sporsmal" data-cmstekster="arbeidsforhold.sluttaarsak.permittert.fraDato"></p>
    <p class="svar-oppsummering">{{af.permittertFraDato | date:'dd.MM.yyyy'}}</p>
    </div>
    <div data-ng-show="af.permittertTilDato">
    <p class="svar-oppsummering-sporsmal" data-cmstekster="arbeidsforhold.sluttaarsak.permittert.tilDato"></p>
    <p class="svar-oppsummering">{{af.permittertTilDato | date:'dd.MM.yyyy'}}</p>
    </div>
    <p class="svar-oppsummering-sporsmal" data-cmstekster="arbeidsforhold.sluttaarsak.permittert.lonnsplikt.fraDato"></p>
    <p class="svar-oppsummering">{{af.permittertLonnspliktFraDato | date:'dd.MM.yyyy'}}</p>

    <p class="svar-oppsummering-sporsmal" data-cmstekster="arbeidsforhold.sluttaarsak.permittert.lonnsplikt.tilDato"></p>
    <p class="svar-oppsummering">{{af.permittertLonnspliktTilDato | date:'dd.MM.yyyy'}}</p>

    <p class="svar-oppsummering-sporsmal" data-cmstekster="arbeidsforhold.sluttaarsak.permittert.permitteringsgrad"></p>
    <p class="svar-oppsummering">{{af.permitteringProsent}} %</p>

    <div data-ng-if="af.permitteringProsent < 50">
        <p data-cmstekster="arbeidsforhold.sluttaarsak.permittert.forlite"></p>
    </div>

</div>
