<div data-ng-controller="ModusCtrl">

    <p class="svar-oppsummering-sporsmal" cmstekster="arbeidsforhold.sluttaarsak.permittert.fraDato"/>
    <p class="svar-oppsummering">{{af.permittertFraDato | date:'dd.MM.yyyy'}}</p>

    <p class="svar-oppsummering-sporsmal" cmstekster="arbeidsforhold.sluttaarsak.permittert.tilDato"/>
    <p class="svar-oppsummering">{{af.permittertTilDato | date:'dd.MM.yyyy'}}</p>

    <p class="svar-oppsummering-sporsmal" cmstekster="arbeidsforhold.sluttaarsak.permittert.permitteringsgrad"/>
    <p class="svar-oppsummering">{{af.permitteringProsent}} %</p>

    <div data-ng-if="af.permitteringProsent < 50">
        <p cmstekster="arbeidsforhold.sluttaarsak.permittert.forlite"/>
    </div>

</div>