<div data-ng-controller="ModusCtrl">

    <p class="sluttaarsak-informasjon" cmstekster="arbeidsforhold.sluttaarsak.permittert.informasjon"/>

    <div class="varighet">
        <div data-nav-dato-intervall
             data-fra-dato="af.permittertFraDato"
             data-til-dato="af.permittertTilDato"
             data-label="arbeidsforhold.permittert.varighet">


           <span data-ng-show="permittertDatoErrorFra" style="color:red"
                 cmstekster="arbeidsforhold.error.permittert.fraDato"/>

        <input type="text" name="permittertFra" ui-date ui-date-format ng-model="af.permittertFraDato" data-ng-change="validatePermittertDatoFraTil(af)">

         <span data-ng-show="permittertDatoErrorTil" style="color:red"
               cmstekster="arbeidsforhold.error.permittert.tilDato"/>
        <input type="text" name="permittertTil" ui-date ui-date-format ng-model="af.permittertTilDato" data-ng-change="validatePermittertDatoFraTil(af)">
        </div>
        </div>

    <div class="varighet">
        <div data-nav-dato-intervall
             data-fra-dato="af.permittertLonnspliktFraDato"
             data-til-dato="af.permittertLonnspliktTilDato"
             data-er-required="true"
             data-label="arbeidsforhold.permittert.lonnsplikt.varighet">


         <span data-ng-show="permittertLonnspliktErrorFra" style="color:red"
               cmstekster="arbeidsforhold.error.permittert.lonnsplikt.fraDato"/>

            <input type="text" name="permittertLonnspliktFraDato" ui-date ui-date-format data-ng-model="af.permittertLonnspliktFraDato"

                  required>
          <span data-ng-show="permittertLonnspliktErrorTil" style="color:red"
                cmstekster="arbeidsforhold.error.permittert.lonnsplikt.tilDato"/>

            <input type="text" name="permittertLonnspliktTilDato" ui-date ui-date-format data-ng-model="af.permittertLonnspliktTilDato"

                  required>

        </div>
    </div>

</div>

    <div class="sporsmaal form-linje">
        <label cmstekster="arbeidsforhold.sluttaarsak.permittert.permitteringsgrad"></label>

        <select id="permitteringProsent" type="text" data-ng-model="af.permitteringProsent"
                error-messages="'arbeidsforhold.sluttaarsak.permittert.grad.feilmelding'"
                ng-options="obj.id as obj.name for obj in permitteringsgrad" data-required data-blur-validate="">
            <option value="">--Velg permitteringsgrad--</option>
        </select>
        <span class="melding" />

    </div>


    <div data-ng-if="af.permitteringProsent < 50 ">
        <p cmstekster="arbeidsforhold.sluttaarsak.permittert.forlite"/>
    </div>
</div>