<div>

    <p cmstekster="arbeidsforhold.sluttaarsak.permittert.orgnr"/>
    <p class="svar-oppsummering">{{af.sluttaarsak.permittert.orgnr}}</p>

    <p cmstekster="arbeidsforhold.sluttaarsak.permittert.fraDato"/>
    <p class="svar-oppsummering">{{af.permittertFraDato | date:'dd.MM.yyyy'}}</p>

    <p cmstekster="arbeidsforhold.sluttaarsak.permittert.tilDato"/>
    <p class="svar-oppsummering">{{af.permittertTilDato | date:'dd.MM.yyyy'}}</p>

    <p cmstekster="arbeidsforhold.sluttaarsak.permittert.permitteringsgrad"/>
    <p class="svar-oppsummering">{{af.permitteringProsent}} %</p>


</div>