<p class="svar-oppsummering-informasjon" cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.informasjon"/>

<p class="svar-oppsummering-sporsmal" cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.fraDato.sporsmal"/>
<p class="svar-oppsummering">{{af.redusertArbeidstid.fra | date:'dd.MM.yyyy'}} </p>


<p class="svar-oppsummering-sporsmal" cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.sporsmal"/>
<div data-ng-show="af.redusertArbeidstid.nyttTilbud">
    <p class="svar-oppsummering" cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.true"/>
    <p class="svar-oppsummering-informasjon" cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.informasjon"/>

</div>

<div data-ng-show="af.redusertArbeidstid.nyttTilbud == 'false'">
    <p class="svar-oppsummering" cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.false"/>
</div>

