<div>
    <p class="sluttaarsak-informasjon" data-cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.informasjon"></p>

    <div class="spm" data-nav-faktum="sluttaarsak"
         data-ikke-auto-lagre="true">

        <div class="varighet form-linje">
            <div data-nav-dato
                 data-ng-model="sluttaarsak.properties.datofra"
                 data-label="arbeidsforhold.arbeidsgiver.varighet.fra"
                 data-er-required="true"
                 data-required-error-message="arbeidsforhold.arbeidsgiver.varighet.fra.feilmelding">
            </div>
        </div>

        <div class="varighet form-linje">
            <div data-nav-dato
                 data-ng-model="sluttaarsak.properties.redusertfra"
                 data-label="arbeidsforhold.sluttaarsak.redusertArbeidstid.fraDato.sporsmal"
                 data-er-required="true"
                 data-er-fremtidigdato-tillatt="true"
                 data-required-error-message="arbeidsforhold.sluttaarsak.redusertArbeidstid.fraDato.feilmelding">
            </div>
        </div>

        <div data-booleanradio
             data-navconfig
             data-nav-faktum-property="nyttTilbud"
             data-nokkel="arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud"></div>

        <div data-ng-show="sluttaarsak.properties.nyttTilbud == 'true'">
            <div data-navinfoboks>
                <p data-cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.true.informasjon"></p>
            </div>
        </div>

        <div class="ekstra-spm-boks" data-vedlegginfoboks>
            <ul>
                <li>
                    <p data-cmstekster="arbeidsforhold.sluttaarsak.vedlegg.liste.1"></p>
                </li>
                <li>
                    <p data-cmstekster="arbeidsforhold.sluttaarsak.vedlegg.liste.2"></p>
                    <a cmslenketekster="arbeidsforhold.sluttaarsak.vedlegg.liste.2.lenkeurl" data-cmstekster="arbeidsforhold.sluttaarsak.vedlegg.liste.2.lenketekst">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>