<p class="sluttaarsak-informasjon" data-cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.informasjon"/>

<div data-nav-dato data-ng-model="af.redusertArbeidstid.fra"
     data-label="arbeidsforhold.sluttaarsak.redusertArbeidstid.fraDato.sporsmal"
     data-er-required="true"
     data-endret="validateRedusertArbeidstidDato(af)"
     data-required-error-message="arbeidsforhold.sluttaarsak.redusertArbeidstid.fraDato.feilmelding">
</div>

<div class="sporsmaal form-linje boolean">
    <p data-cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.sporsmal"/>

    <div>
        <input class="sendsoknad-radio"
               id="nyttTilbudJa"
               type="radio"
               value="true"
               data-ng-model="af.redusertArbeidstid.nyttTilbud"
               data-name="nyttTilbud"
               data-error-messages="'arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.feilmelding'"
               data-ng-required="true"
               data-click-validate/>

        <label for="nyttTilbudJa" class='svar-alt'
               data-cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.true"/>
    </div>

    <div>
        <input class="sendsoknad-radio"
               id="nyttTilbudNei"
               type="radio"
               value="false"
               data-ng-model="af.redusertArbeidstid.nyttTilbud"
               data-name="nyttTilbud"
               data-error-messages="'arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.feilmelding'"
               data-ng-required="true"
               data-click-validate/>

        <label for="nyttTilbudNei" class='svar-alt'
               data-cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.false"/>
    </div>
    <span class="melding"
          data-cmstekster="arbeidsforhold.sluttaarsak.kontraktutgaatt.tilbudomaafortsette.feilmelding"></span>

    <div data-ng-show="af.redusertArbeidstid.nyttTilbud == 'true'">
        <p data-cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.informasjon"/>
    </div>
</div>