<div>
    <p cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.informasjon"/>

    <p class='spm' cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.fraDato.sporsmal"/>
    <p>{{af.sluttaarsak.redusertArbeidstid.fra}} </p>

    <div data-ng-show="af.redusertArbeidstid.nyttTilbud">
        <p cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.true"/>
    </div>

    <div data-ng-show="af.redusertArbeidstid.nyttTilbud == 'false'">
        <p cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.false"/>
    </div>

</div>
