<div>
	<p class="sluttaarsak-informasjon" cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.informasjon"/>

	<p class='spm' cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.fraDato.sporsmal"/>
	<input type="text" name="avskjedigetFraDato" ui-date ui-date-format data-ng-model="af.redusertArbeidstid.fra" data-ng-change="validateRedusertArbeidstidDato(af)"
		error-messages="'arbeidsforhold.sluttaarsak.redusertArbeidstid.fraDato.feilmelding'" required >

	<div class="sporsmaal">
	    <p cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.sporsmal"/>

	    <div>
	      <input class="sendsoknad-radio" id="nyttTilbudJa" data-ng-model="af.redusertArbeidstid.nyttTilbud" type="radio" value="true"
	                 name="nyttTilbud" error-messages="'arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.feilmelding'" required/>
	      <label for="nyttTilbudJa" class='svar-alt' cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.true"/>
	    </div>

	    <div>
	      <input class="sendsoknad-radio" id="nyttTilbudNei" data-ng-model="af.redusertArbeidstid.nyttTilbud" type="radio" value="false"
	                 name="nyttTilbud" error-messages="'arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.feilmelding'" required/>
	      <label for="nyttTilbudNei" class='svar-alt' cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.false"/>
	    </div>

	    <div data-ng-show="af.redusertArbeidstid.nyttTilbud == 'true'">
      		<p cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.informasjon"/>
      	</div>
	</div>

    <!--booleanradio data-ng-model="af.redusertArbeidstid.nyttTilbud"
                  modus="data.redigeringsModus"
                  nokkel="arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud"/-->
</div>
