<div>
    <!--h3>{{sluttaarsak.navn}}</h3>

    <p cmstekster="arbeidsforhold.sluttaarsak.sagtoppselv.informasjon"/>

    <div class="sporsmaal">
        <p class="svar-oppsummering-overskrift" cmstekster="arbeidsforhold.sluttaarsak.sagtoppselv.innskrenkninger.sporsmal"/>

        <div data-ng-show="af.sagtOppSelvInnskrenkninger">
            <p cmstekster="arbeidsforhold.sluttaarsak.sagtoppselv.innskrenkninger.true"/>
        </div>

        <div data-ng-show="af.sagtOppSelvInnskrenkninger == 'false'">
            <p cmstekster="arbeidsforhold.sluttaarsak.sagtoppselv.innskrenkninger.false"/>
        </div>
    </div>


    <div class="varighet">
        <p class="svar-oppsummering-overskrift" cmstekster="arbeidsforhold.sluttaarsak.sagtoppselv.varighetFra"/>
        <span>{{af.sagtOppSelvVarighetFra}}</span>
        <p  class="svar-oppsummering-overskrift" cmstekster="arbeidsforhold.sluttaarsak.sagtoppselv.varighetTil"/>
        <span>{{af.sagtOppSelvVarighetFra}} </span>
    </div>


    <div class="sporsmaal">
        <p class="svar-oppsummering-overskrift" cmstekster="arbeidsforhold.sluttaarsak.sagtoppselv.oppsigelseslonn.sporsmal"/>

        <div data-ng-show="af.oppsigelseslonn">
            <p cmstekster="arbeidsforhold.sluttaarsak.sagtoppselv.oppsigelseslonn.true"/>
        </div>

        <div data-ng-show="af.oppsigelseslonn == 'false'">
            <p cmstekster="arbeidsforhold.sluttaarsak.sagtoppselv.oppsigelseslonn.false"/>
        </div>
    </div>
    

    <div class="sporsmaal">
        <p class="svar-oppsummering-overskrift" cmstekster="arbeidsforhold.sluttaarsak.sagtoppselv.avtaleomokonomiskytelse.sporsmal"/>

        <div data-ng-show="af.sagtOppSelvAvtaleomOkonomiskytelse">
            <p cmstekster="arbeidsforhold.sluttaarsak.sagtoppselv.avtaleomokonomiskytelse.true"/>
        </div>

        <div data-ng-show="af.sagtOppSelvAvtaleomOkonomiskytelse == 'false'">
            <p cmstekster="arbeidsforhold.sluttaarsak.sagtoppselv.avtaleomokonomiskytelse.false"/>
        </div>
    </div-->
</div>
