<div>
    <div class="sluttaarsak-informasjon">
        <p cmstekster="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.informasjon"></p>

        <p cmstekster="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.informasjon.oppsigelsestid"></p>
    </div>

    <div class="varighet">
        <p data-cmstekster="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.sporsmal"></p>
        <div data-nav-dato-intervall
             data-fra-dato="af.sagtOppAvArbeidsgiverVarighetFra"
             data-til-dato="af.sagtOppAvArbeidsgiverVarighetTil"
             data-er-fradato-required="true"
             data-label="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.varighet">
        </div>
    </div>


    <div class="sporsmaal form-linje boolean">
        <p data-cmstekster="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.oppsigelseslonn.sporsmal"></p>

        <div>
            <input class="sendsoknad-radio"
                   id="oppsigelseslonnJa"
                   type="radio"
                   value="true"
                   data-ng-model="af.sagtOppAvArbeidsgiverOppsigelseslonn"
                   data-name="oppsigelseslonn"
                   data-error-messages="'arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.oppsigelseslonn.feilmelding'"
                   data-ng-required="true"
                   data-click-validate/>

            <label for="oppsigelseslonnJa" class='svar-alt' data-cmstekster="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.oppsigelseslonn.true"></label>
        </div>

        <div>
            <input class="sendsoknad-radio"
                   id="oppsigelseslonnNei"
                   type="radio"
                   value="false"
                   data-ng-model="af.sagtOppAvArbeidsgiverOppsigelseslonn"
                   data-name="oppsigelseslonn"
                   data-error-messages="'arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.oppsigelseslonn.feilmelding'"
                   data-ng-required="true"
                   data-click-validate/>

            <label for="oppsigelseslonnNei" class='svar-alt'
                   data-cmstekster="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.oppsigelseslonn.false"></label>
        </div>
        <span class="melding" data-cmstekster="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.oppsigelseslonn.feilmelding"></span>
    </div>

    <div class="sporsmaal form-linje boolean">
        <p data-cmstekster="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.tilbudomjobbannetsted.sporsmal"></p>

        <div>
            <input class="sendsoknad-radio"
                   id="tilbudomjobbannetstedJa"
                   type="radio"
                   value="true"
                   data-ng-model="af.sagtOppAvArbeidsgiverTilbudomjobbannetsted"
                   data-name="tilbudomjobbannetsted"
                   data-error-messages="'arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.tilbudomjobbannetsted.feilmelding'"
                   data-ng-required="true"
                   data-click-validate/>

            <label for="tilbudomjobbannetstedJa" class='svar-alt' data-cmstekster="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.tilbudomjobbannetsted.true"></label>
        </div>

        <div>
            <input class="sendsoknad-radio"
                   id="tilbudomjobbannetstedNei"
                   type="radio"
                   value="false"
                   data-ng-model="af.sagtOppAvArbeidsgiverTilbudomjobbannetsted"
                   data-name="tilbudomjobbannetsted"
                   data-error-messages="'arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.tilbudomjobbannetsted.feilmelding'"
                   data-ng-required="true"
                   data-click-validate/>

            <label for="tilbudomjobbannetstedNei" class='svar-alt'
                   data-cmstekster="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.tilbudomjobbannetsted.false"></label>
        </div>
        <span class="melding" data-cmstekster="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.tilbudomjobbannetsted.feilmelding"></span>
    </div>

    <div class="sporsmaal form-linje boolean">
        <p data-cmstekster="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.avtaleomokonomiskytelse.sporsmal"></p>

        <div>
            <input class="sendsoknad-radio"
                   id="avtaleomokonomiskytelseJa"
                   type="radio"
                   value="true"
                   data-ng-model="af.sagtOppAvArbeidsgiverAvtaleomOkonomiskytelse"
                   data-name="avtaleomokonomiskytelse"
                   data-error-messages="'arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.avtaleomokonomiskytelse.feilmelding'"
                   data-ng-required="true"
                   data-click-validate/>

            <label for="avtaleomokonomiskytelseJa" class='svar-alt'
                   data-cmstekster="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.avtaleomokonomiskytelse.true"></label>
        </div>

        <div>
            <input class="sendsoknad-radio"
                   id="avtaleomokonomiskytelseNei"
                   type="radio"
                   value="false"
                   data-ng-model="af.sagtOppAvArbeidsgiverAvtaleomOkonomiskytelse"
                   data-name="avtaleomokonomiskytelse"
                   data-error-messages="'arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.avtaleomokonomiskytelse.feilmelding'"
                   data-ng-required="true"
                   data-click-validate/>

            <label for="avtaleomokonomiskytelseNei" class='svar-alt'
                   data-cmstekster="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.avtaleomokonomiskytelse.false"></label>
        </div>
        <span class="melding" data-cmstekster="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.avtaleomokonomiskytelse.feilmelding"></span>
    </div>

    <div data-ng-show="af.sagtOppAvArbeidsgiverAvtaleomOkonomiskytelse == 'true'">
        <p class="sluttaarsak-informasjon" data-cmstekster="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.avtaleomokonomiskytelse.informasjon"></p>

        <div class="form-linje">
            <label>
                <span data-cmstekster="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.avtaleomokonomiskytelse.type.sporsmal"></span>
                <input type="text"
                       id="avtaleomokonomiskytelsetype"
                       data-ng-model="af.sagtOppAvArbeidsgiverAvtaleomOkonomiskytelseType"
                       data-name="avtaleomokonomiskytelsetype"
                       data-error-messages="{required: 'arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.avtaleomokonomiskytelse.type.feilmelding',
                            pattern: 'pattern.feilmelding', minlength: 'arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.avtaleomokonomiskytelse.forkort', maxlength: 'arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.avtaleomokonomiskytelse.forlangt'}"
                       data-ng-maxlength="50"
                       data-ng-minlength="3"
                       data-ng-pattern="/^[-a-zA-Z0-9æøåÆØÅ _+§%()]+$/"
                       data-ng-required="af.sagtOppAvArbeidsgiverAvtaleomOkonomiskytelse == 'true'"
                       data-blur-validate/>
                <span class="melding"></span>
            </label>
        </div>
    </div>
</div>
