<div>
<h3>{{sluttaarsak.navn}}</h3>

<p cmstekster="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.informasjon"/>

<div class="varighet">
    <label cmstekster="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.varighetFra"/>
    <input type="text" name="oppsigelsesTidVarighetFra" ui-date ui-date-format ng-model="af.sagtoppavarbeidsgiver.varighetFra" data-ng-change="validateOppsigelsestidTilFraDato(af)"  required >
    <label cmstekster="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.varighetTil"/>
    <span data-ng-show="oppsigelsestidDatoError" style="color:red" cmstekster="arbeidsforhold.error.sagtOppAvArbeidsgiver.datoTilFra"/>
    <input type="text" name="oppsigelsesTidVarighetTil" ui-date ui-date-format ng-model="af.sagtoppavarbeidsgiver.varighetTil" data-ng-change="validateOppsigelsestidTilFraDato(af)" required >
</div>

<booleanradio data-ng-model="af.oppsigelseslonn"
                          modus="data.redigeringsModus"
                          nokkel="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.oppsigelseslonn"/>

<booleanradio data-ng-model="af.tilbudomjobbannetsted"
                          modus="data.redigeringsModus"
                          nokkel="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.tilbudomjobbannetsted"/>

<booleanradio data-ng-model="af.avtaleomokonomiskytelse"
                          modus="data.redigeringsModus"
                          nokkel="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.avtaleomokonomiskytelse"/>

<!-- TODO-->
 <div data-ng-show="hvisIkkeFormValiderer()">
    <feilmeldinger form="reellarbeidssokerForm" nokkel="reellarbeidssoker"/>
</div>

</div>
