<div class="varighet">
    <span data-ng-bind="af.sluttaarsak.properties.datofra | date:'dd.MM.yyyy' | norskdato"></span>
    <span data-ng-if="af.sluttaarsak.properties.datotil"> TIL </span>
    <span data-ng-if="af.sluttaarsak.properties.datotil" data-ng-bind="af.sluttaarsak.properties.datotil | date:'dd.MM.yyyy' | norskdato"></span>
</div>

<ul>
    <li>
        <p data-ng-bind="af.sluttaarsak.properties.type"></p>
    </li>
    <li>
        <span data-cmstekster="arbeidsforhold.sluttaarsak.sagtoppselv.aarsak.sporsmal"></span>
        <p data-ng-bind="af.sluttaarsak.properties.sagtoppselvAarsak"></p>
    </li>
</ul>

<div data-vedlegginfoboks>
    <ul>
        <li>
            <p data-cmstekster="arbeidsforhold.sluttaarsak.vedlegg.liste.1"></p>
        </li>
        <li>
            <p data-cmstekster="arbeidsforhold.sluttaarsak.vedlegg.liste.2"></p>
            <a cmslenketekster="arbeidsforhold.sluttaarsak.vedlegg.liste.2.lenkeurl" data-cmstekster="arbeidsforhold.sluttaarsak.vedlegg.liste.2.lenketekst">
            </a>
        </li>
    </ul>
</div>