<div>
    <p class="sluttaarsak-informasjon" cmstekster="arbeidsforhold.sluttaarsak.sagtoppselv.informasjon"></p>

    <div class="varighet">
        <div data-nav-dato
             data-ng-model="af.sagtOppSelvVarighetTil"
             data-label="arbeidsforhold.sluttaarsak.sagtoppselv.sporsmal"
             data-er-required="true"
             data-required-error-message="arbeidsforhold.sluttaarsak.sagtoppselv.varighetTil.feilmelding">
        </div>
    </div>

    <div data-navtextarea
         data-inputname="arbeidsforhold.sluttaarsak.sagtoppselv.aarsak.sporsmal"
         data-modus='data.redigeringsModus'
         data-ng-model="af.sagtoppselvAarsak"
         data-nokkel="arbeidsforhold.sluttaarsak.sagtoppselv.aarsak"
         data-maxlengde="500"
         data-feilmelding="arbeidsforhold.sluttaarsak.sagtoppselv.aarsak.feilmelding"
         data-obligatorisk="true"></div>
    <p data-cmstekster="arbeidsforhold.sluttaarsak.sagtoppselv.aarsak.informasjon"></p>
</div>
