<h3>{{ hentTekst "vedlegg.oppsummering.tittel" }}</h3>
{{#each @root.jsonVedleggSpesifikasjon.vedlegg}}
	<span>{{ hentTekst (concat 'vedlegg.' type '.' tilleggsinfo '.tittel') }}</span>
	{{#each filer}}
		<br>
		<span>{{filnavn}}</span>
	{{/each}}
	<br>
	<br>
{{/each}}