<h3>{{ hentTekst "vedlegg.oppsummering.tittel" }}</h3>
<li>
	<ul class="svar-liste">
		{{#each @root.jsonVedleggSpesifikasjon.vedlegg}}
			<li>
				<span>type: {{type}}, tilleggsinfo: {{tilleggsinfo}}</span>
			</li>
		{{/each}}
	</ul>
</li>