<div>
    <div>
        <input type="text"
                name="{{ name }}"
                data-ng-blur="blur()"
                data-ng-focus="focus()"
                data-ng-model="model"
                data-ng-required="erRequired"
                data-future-date="erFremtidigdatoTillatt"
                data-date-format
                data-valid-date
                data-error-messages="'{{ requiredErrorMessage }}'"
                data-restrict-input
                data-ng-disabled="disabled == 'true'">

        <span class="mask" data-dato-mask="model"></span>
    </div>

    <p class="input-group">
        <input type="text" class="form-control"
                data-datepicker-popup="{{format}}"
                data-ng-model="model"
                data-is-open="opened"
                data-max-date="maxDate"
                datepicker-options="dateOptions"
                date-disabled="disabled(date, mode)"
                data-ng-required="erRequired"
                data-close-text="Close"
                style="width: 0; height: 0;"/>

              <span class="input-group-btn">
                <button class="apne-datepicker" type="button" data-ng-click="open($event)" style="position: absolute; right: 0; top:0;">Kal</button>
              </span>
    </p>
</div>
