<div>
    <div>
        <input type="text"
                name="{{ name }}"
                data-ng-blur="blur()"
                data-ng-focus="focus()"
                data-ng-model="model"
                data-ng-required="erRequired"
                data-future-date="erFremtidigdatoTillatt"
                data-date-format
                data-valid-date
                data-error-messages="'{{ requiredErrorMessage }}'"
                data-restrict-input
                data-ng-disabled="disabled == 'true'">

        <span class="mask" data-dato-mask="model"></span>
    </div>

    <div class="">
        <div class="">
            <p class="input-group">
                <input type="text" data-datepicker-popup="{{format}}" data-ng-model="dt" data-is-open="opened" data-min-date="minDate" data-max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" data-ng-required="true" data-close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" data-ng-click="open($event)"></button>
              </span>
            </p>
        </div>
    </div>
</div>
