<div class="datepicker form-linje" data-ng-class="{feil: harFeil(), fokus: harFokus, nav: navDatepicker(), disabled: disabled == 'true'}">
    <p>
        <span>datepicker:</span>
        <span>{{ model }}</span>
    </p>
    <label>
        <span class="labeltekst" data-ng-bind-html="label | cmstekst"></span>
        <span class="vekk" data-ng-bind-html=" 'dato.format' | cmstekst"></span>
        <div class="datepicker-input" data-ng-if="navDatepicker()">
            <div data-dato-input="vars.model"
                 data-har-hatt-fokus="vars.harHattFokus"
                 data-har-fokus="vars.harFokus"
                 data-er-required="vars.erRequired"
                 data-required-error-message="vars.requiredErrorMessage"
                 data-lagre="vars.lagre"></div>
            <div data-datepicker="vars.model"
                 data-har-hatt-fokus="vars.harHattFokus" data-is-closed="vars.datepickerClosed"></div>
        </div>
        <div data-ng-if="vanligDatepicker()">
            <div data-html-datepicker="vars.model"
                 data-har-hatt-fokus="vars.harHattFokus"
                 data-har-fokus="vars.harFokus"
                 data-er-required="vars.erRequired"
                 data-required-error-message="vars.requiredErrorMessage"
                 data-lagre="vars.lagre"></div>
        </div>
    </label>
    <span class="melding" data-ng-if="harRequiredFeil()" data-ng-bind-html="requiredErrorMessage | cmstekst"></span>
    <span class="melding" data-ng-if="harTilDatoFeil()"
          data-ng-bind-html=" 'dato.tilDato.feilmelding' | cmstekst"></span>
    <span class="melding" data-ng-if="harFormatteringsFeil()"
          data-ng-bind-html=" 'dato.format.feilmelding' | cmstekst"></span>
    <span class="melding" data-ng-if="erIkkeGyldigDato()"
          data-ng-bind-html=" 'dato.ikkeGyldigDato.feilmelding' | cmstekst"></span>
    <span class="melding" data-ng-if="erUloveligFremtidigDato()"
          data-ng-bind-html=" 'dato.ugyldigFremtidig.feilmelding' | cmstekst"></span>
</div>