<div class="datepicker form-linje" data-ng-class="{feil: harFeil(), fokus: harFokus, nav: navDatepicker(), disabled: disabled == 'true'}">
    <label>
        <span class="labeltekst" data-ng-bind-html="label | cmstekst"></span>
        <span class="vekk" data-ng-bind-html=" 'dato.format' | cmstekst"></span>
        <div class="datepicker-input" data-ng-if="navDatepicker()">
            <div data-dato-input="vars.model"
                    data-har-fokus="vars.harFokus"
                    data-er-required="erRequired"
                    data-datepicker-closed="vars.datepickerClosed"
                    data-name="{{ vars.name }}"
                    data-required-error-message="{{ vars.requiredErrorMessage }}"
                    data-er-fremtidigdato-tillatt="vars.erFremtidigdatoTillatt"
                    data-lagre="vars.lagre"
                    data-disabled="disabled"></div>
            <div data-datepicker="vars.model"
                    data-har-hatt-fokus="vars.harHattFokus" data-is-closed="vars.datepickerClosed" data-er-fremtidigdato-tillatt="vars.erFremtidigdatoTillatt"></div>
        </div>
        <div data-ng-if="vanligDatepicker()">
            <div data-html-datepicker="vars.model"
                    data-har-fokus="vars.harFokus"
                    data-name="{{ vars.name }}"
                    data-er-required="erRequired"
                    data-required-error-message="{{ vars.requiredErrorMessage }}"
                    data-lagre="vars.lagre"
                    data-disabled="disabled"></div>
        </div>
    </label>
    <span>{{form[name].$error}}</span>
    <div data-ng-messages="form[name].$error" data-ng-if="harFeil()">
        <span data-ng-message="toDate">
            <span class="melding" data-ng-bind-html="'dato.tilDato.feilmelding' | cmstekst"></span>
        </span>
        <span data-ng-message="required">
            <span class="melding" data-ng-bind-html="requiredErrorMessage | cmstekst"></span>
        </span>
        <span data-ng-message="dateFormat">
            <span class="melding" data-ng-bind-html="'dato.format.feilmelding' | cmstekst"></span>
        </span>
        <span data-ng-message="validDate">
            <span class="melding" data-ng-bind-html="'dato.ikkeGyldigDato.feilmelding' | cmstekst"></span>
        </span>
        <span data-ng-message="futureDate">
            <span class="melding" data-ng-bind-html=" 'dato.ugyldigFremtidig.feilmelding' | cmstekst"></span>
        </span>
    </div>
</div>