<h2>{{hentTekst "oppsummering.tiltakspenger.informasjonsside.tittel"}}</h2>
{{#forFaktum "dagpenger"}}
    {{#hvisIkkeTom value}}
        {{#hvisLik value "ja" }}
            {{> skjema/tiltakspenger/informasjonsside/dagpenger }}
        {{/hvisLik}}
        {{#hvisLik value "nei" }}
            {{> skjema/tiltakspenger/informasjonsside/kvalifiseringsprogram }}
            {{> skjema/tiltakspenger/informasjonsside/introprogram }}
        {{/hvisLik}}
    {{/hvisIkkeTom}}
{{else}}
    {{> skjema/tiltakspenger/informasjonsside/dagpenger }}
    {{> skjema/tiltakspenger/informasjonsside/kvalifiseringsprogram }}
    {{> skjema/tiltakspenger/informasjonsside/introprogram }}
{{/forFaktum}}
