<tr>
    <td class="sjekket"></td>
    <td>
        {{#hvisSant value}}
            <span>{{ hentTekst "soknad.reise.aktivitet.medisinskeaarsaker.true" }}</span>
        {{else}}
            <span>{{ hentTekst "soknad.reise.aktivitet.medisinskeaarsaker.false" }}</span>
        {{/hvisSant}}
    </td>
</tr>