<html>
    <body>

        <h1>Velg fil du vil se</h1>

        <div>
            <ul>
            {{#each files}}
                <li>fil: <a href="./file/{{@index}}">{{this}}</a></li>
            {{/each}}
            </ul>
        </div>
    </body>
</html>
