server:

  port: 8080
  servlet:
    context-path: '/sosialhjelp/soknad-api'
  shutdown: graceful

spring:
  main:
    banner-mode: off
  jersey:
    application-path: '/'
#    type: filter
#    servlet:
#      load-on-startup: 1
#    filter:
#      order: -10000
  flyway:
    enabled: true
    url: ${SOKNADSOSIALHJELPDATASOURCE_URL}
    user: ${SOKNADSOSIALHJELPDATASOURCE_USERNAME}
    password: ${SOKNADSOSIALHJELPDATASOURCE_PASSWORD}
    driver-class-name: oracle.jdbc.OracleDriver
  datasource:
    driver-class-name: oracle.jdbc.OracleDriver
    url: ${SOKNADSOSIALHJELPDATASOURCE_URL}
    username: ${SOKNADSOSIALHJELPDATASOURCE_USERNAME}
    password: ${SOKNADSOSIALHJELPDATASOURCE_PASSWORD}

management:
  endpoints:
    web:
      base-path: "/internal"
      exposure:
        include: metrics, prometheus

# rest
digisos_api_baseurl: ${DIGISOS_API_BASEURL}
ereg_url: ${EREG_URL}
aareg_proxy_url: ${AAREG_PROXY_URL}
aareg_url: ${AAREG_URL}
krr_url: ${KRR_URL}
pdl_api_url: ${PDL_API_URL}
unleash_api_url: ${UNLEASH_API_URL}
kodeverk_url: ${KODEVERK_URL}
utbetaldata_api_baseurl: ${UTBETALDATA_API_BASEURL}
oppslag_api_baseurl: ${OPPSLAG_API_BASEURL}
norg_url: ${NORG_URL}
fss_proxy_ping_url: ${FSS_PROXY_PING_URL}
soknad.bostotte.url: ${SOKNAD_BOSTOTTE_URL}
svarut_url: ${SVARUT_URL}
skatteetaten_api_baseurl: ${SKATTEETATEN_API_BASEURL}
clamav_url: ${CLAMAV_URL}

fiks.nokkelfil: ${FIKS_NOKKELFIL}

integrasjonsid_fiks: ${INTEGRASJONSID_FIKS}
integrasjonpassord_fiks: ${INTEGRASJONPASSORD_FIKS}

# maskinporten
maskinporten_clientid: ${MASKINPORTEN_CLIENT_ID}
maskinporten_scopes: ${MASKINPORTEN_SCOPES}
maskinporten_well_known_url: ${MASKINPORTEN_WELL_KNOWN_URL}
maskinporten_client_jwk: ${MASKINPORTEN_CLIENT_JWK}

# tokenx
tokendings_url: ${TOKEN_X_WELL_KNOWN_URL}
tokendings_client_id: ${TOKEN_X_CLIENT_ID}
tokendings_private_jwk: ${TOKEN_X_PRIVATE_JWK}
fss_proxy_audience: ${FSS_PROXY_AUDIENCE}
oppslag_api_audience: ${OPPSLAG_API_AUDIENCE}
utbetaldata_audience: ${UTBETALDATA_AUDIENCE}
pdl_api_audience: ${PDL_API_AUDIENCE}
krr_audience: ${KRR_AUDIENCE}
aareg_audience: ${AAREG_AUDIENCE}

# azuread
azure_token_endpoint: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
azure_client_id: ${AZURE_APP_CLIENT_ID}
azure_client_secret: ${AZURE_APP_CLIENT_SECRET}
pdl_api_scope: ${PDL_API_SCOPE}
krr_scope: ${KRR_SCOPE}

# svarut:
fiks_svarut_username: ${FIKS_SVARUT_USERNAME}
fiks_svarut_password: ${FIKS_SVARUT_PASSWORD}

# OIDC
oidc.issuer.selvbetjening.discoveryurl: ${LOGINSERVICE_IDPORTEN_DISCOVERY_URL}
oidc.issuer.selvbetjening.accepted_audience: ${LOGINSERVICE_IDPORTEN_AUDIENCE}
oidc.issuer.selvbetjening.cookie_name: selvbetjening-idtoken
oidc.issuer.selvbetjening.proxy_url: http://webproxy-nais.nav.no:8088
loginservice.url: ${LOGINSERVICE_URL}

# redis
redis_host: ${REDIS_HOST}
redis_port: 6379
redis_password: ${REDIS_PASSWORD}

# feature toggles
unleash_instance_id: ${UNLEASH_INSTANCE_ID:prod-fss}
virusscan_enabled: true
scheduler.disable: ${SCHEDULER_DISABLE}
sendsoknad.batch.enabled: true
feature.fiks.kryptering.enabled: true

#Nedetid
nedetid.start: ${NEDETID_START}
nedetid.slutt: ${NEDETID_SLUTT}
