server:
  port: 8080
  servlet:
    context-path: '/sosialhjelp/soknad-api'
  shutdown: graceful
  max-http-request-header-size: 16KB

#TODO kan username og password fjernes når vault integrasjon er på plass? Kun brukes i lokal og test?
spring:
  main:
    banner-mode: off
  flyway:
    enabled: true
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${SOKNADSOSIALHJELPDATASOURCE_URL}
    username: ${SOKNADSOSIALHJELPDATASOURCE_USERNAME}
    password: ${SOKNADSOSIALHJELPDATASOURCE_PASSWORD}
  servlet:
    multipart:
      max-file-size: 10MB
  docker:
    compose:
      enabled: false

#Todo utlede denne fra db navn
postgres:
  user:
    role: sosialhjelp-soknad-db-admin

vault-mount-path: ${VAULT_MOUNT_PATH}

management:
  endpoints:
    web:
      base-path: "/internal"
      exposure:
        include: metrics, prometheus

springdoc:
  api-docs:
    enabled: ${SWAGGER_ENABLED:false}

# rest
digisos_api_baseurl: ${DIGISOS_API_BASEURL}
ereg_url: ${EREG_URL}
aareg_url: ${AAREG_URL}
krr_url: ${KRR_URL}
pdl_api_url: ${PDL_API_URL}
unleash_env: ${UNLEASH_ENV}
unleash_server_api_url: ${UNLEASH_SERVER_API_URL}
unleash_server_api_token: ${UNLEASH_SERVER_API_TOKEN}
kodeverk_url: ${KODEVERK_URL}
utbetaldata_api_baseurl: ${UTBETALDATA_API_BASEURL}
kontoregister_api_baseurl: ${KONTOREGISTER_API_BASEURL}
norg_url: ${NORG_URL}
soknad.bostotte.url: ${SOKNAD_BOSTOTTE_URL}
svarut_url: ${SVARUT_URL}
skatteetaten_api_baseurl: ${SKATTEETATEN_API_BASEURL}
clamav_url: ${CLAMAV_URL}
fil-konvertering_url: ${GOTENBERG_URL}

fiks.nokkelfil: ${FIKS_NOKKELFIL}

integrasjonsid_fiks: ${INTEGRASJONSID_FIKS}
integrasjonpassord_fiks: ${INTEGRASJONPASSORD_FIKS}

# maskinporten
maskinporten_clientid: ${MASKINPORTEN_CLIENT_ID}
maskinporten_scopes: ${MASKINPORTEN_SCOPES}
maskinporten_well_known_url: ${MASKINPORTEN_WELL_KNOWN_URL}
maskinporten_client_jwk: ${MASKINPORTEN_CLIENT_JWK}

# tokenx
tokendings_url: ${TOKEN_X_WELL_KNOWN_URL}
tokendings_client_id: ${TOKEN_X_CLIENT_ID}
tokendings_private_jwk: ${TOKEN_X_PRIVATE_JWK}
utbetaldata_audience: ${UTBETALDATA_AUDIENCE}
kontoregister_api_audience: ${KONTOREGISTER_API_AUDIENCE}
pdl_api_audience: ${PDL_API_AUDIENCE}
krr_audience: ${KRR_AUDIENCE}
aareg_audience: ${AAREG_AUDIENCE}

# azuread
azure_token_endpoint: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
azure_client_id: ${AZURE_APP_CLIENT_ID}
azure_client_secret: ${AZURE_APP_CLIENT_SECRET}
pdl_api_scope: ${PDL_API_SCOPE}
krr_scope: ${KRR_SCOPE}

# svarut:
fiks_svarut_username: ${FIKS_SVARUT_USERNAME}
fiks_svarut_password: ${FIKS_SVARUT_PASSWORD}

loginservice.url: ${LOGINSERVICE_URL}

no.nav.security.jwt.issuer:
  selvbetjening:
    discoveryurl: ${LOGINSERVICE_IDPORTEN_DISCOVERY_URL}
    validation:
      optional-claims: aud,nbf
    proxyurl: http://webproxy-nais.nav.no:8088
  tokenx:
    discoveryurl: ${TOKEN_X_WELL_KNOWN_URL}
    accepted_audience: ${TOKEN_X_CLIENT_ID}

# redis
redis_host: ${REDIS_HOST}
redis_port: 6379
redis_password: ${REDIS_PASSWORD}

# feature toggles
unleash_instance_id: ${UNLEASH_INSTANCE_ID:prod-fss}
virusscan_enabled: true
scheduler.disable: ${SCHEDULER_DISABLE}
sendsoknad.batch.enabled: true
feature.fiks.kryptering.enabled: true

#Nedetid
nedetid.start: ${NEDETID_START}
nedetid.slutt: ${NEDETID_SLUTT}
