<div class="skjemaramme">
    <div data-ng-form="reellarbeidssokerForm"
         class="skjemainnhold vertikal"
         data-ng-controller="ReellarbeidssokerCtrl"
         novalidate>

        <div data-form-errors></div>

        <div data-ng-include="'../views/templates/reellarbeidssoker/villigDeltidTemplate.html'"></div>
        <div data-ng-include="'../views/templates/reellarbeidssoker/villigPendleTemplate.html'"></div>
        <div data-ng-include="'../views/templates/reellarbeidssoker/villigHelseTemplate.html'"></div>
        <div data-ng-include="'../views/templates/reellarbeidssoker/villigjobbTemplate.html'"></div>

        <div data-spmblokkferdig></div>
    </div>
</div>


