<div class="helse"
     data-booleanradio
     data-navconfig
     data-nav-faktum="reellarbeidssoker.villighelse"
     data-nokkel="reellarbeidssoker.villighelse"
     data-hjelpetekst>

    <div data-navinfoboks data-infoTekster="['reellarbeidssoker.villighelse.false.vedlegginformasjon']">
    </div>

    <div data-navtextarea
         data-navconfig
         data-nav-faktum="reellarbeidssoker.villighelse.fritekst"
         data-nokkel="reellarbeidssoker.helsefritekst"
         data-maxlengde="500"
         data-obligatorisk="true"></div>

    <div data-vedlegginfoboks data-vedleggTekster="['Dagpenger.vedlegg.T9.header']" data-ng-if="kanIkkeTaAlleTyperArbeid()">
    </div>
</div>