<div class="helse"
     data-booleanradio
     data-navconfig
     data-nav-faktum="reellarbeidssoker.villighelse"
     data-nokkel="reellarbeidssoker.villighelse"
     data-hjelpetekst>

    <div data-navinfoboks>
        <span>{{ 'reellarbeidssoker.villighelse.false.vedlegginformasjon' | cmstekst }}</span>
    </div>

    <div data-navtextarea
         data-navconfig
         data-nav-faktum="reellarbeidssoker.villighelse.fritekst"
         data-nokkel="reellarbeidssoker.helsefritekst"
         data-maxlengde="500"
         data-obligatorisk="true"></div>

    <div data-vedlegginfoboks data-ng-if="kanIkkeTaAlleTyperArbeid()">
        <ul>
            <li>
                <span>{{ 'reellarbeidssoker.kanikkealletyperarbeid.vedlegginformasjon' | cmstekst }}</span>
            </li>
        </ul>
    </div>
</div>