{{#forFaktum "informasjonsside.stonad.laeremidler"}}
    {{#hvisSant value}}
        <h2>{{hentTekst "soknad.laeremidler.tittel"}}</h2>
        <table>
            {{#forFaktum "laeremidler.periode"}}
                {{> skjema/tilleggsstonader/felles/aktivitetsperiode}}
            {{/forFaktum}}
            {{> skjema/tilleggsstonader/laeremidler/utdanningstype}}
            {{> skjema/tilleggsstonader/laeremidler/deltidsstudent}}
            {{> skjema/tilleggsstonader/laeremidler/funksjonshemming}}
            {{> skjema/tilleggsstonader/laeremidler/dekket}}
        </table>
    {{/hvisSant}}
{{/forFaktum}}
