<tr>
    <td class="sjekket"></td>
    <td>
        {{#forFaktum "laeremidler.dekket"}}
            <span>{{ hentTekst (concat "soknad.laeremidler.dekket." value)}}</span>
        {{/forFaktum}}
    </td>
</tr>