<tr>
    <td class="sjekket"></td>
    <td>
        {{#forFaktum "laeremidler.deltidsstudent"}}
            {{#hvisIkkeTom value}}
                <span>{{ hentTekst "soknad.laeremidler.deltidsstudent.oppsummering" }} {{value}} {{hentTekst "soknad.laeremidler.deltidsstudent.oppsummering.prosent"}}</span>
            {{/hvisIkkeTom }}
        {{/forFaktum}}
    </td>
</tr>