<tr>
    <td class="sjekket"></td>
    <td>
        {{#forFaktum "laeremidler.funksjonshemming"}}
            <span>{{ hentTekst (concat "soknad.laeremidler.funksjonshemming." value) }}</span>
        {{/forFaktum}}
    </td>
</tr>