{{#forFaktum "informasjonsside.stonad.laeremidler"}}
    {{#hvisSant value}}
        <h2>{{hentTekst "soknad.laeremidler.tittel"}}</h2>
        <table>
            {{> skjema/tilleggsstonader/laeremidler/utdanningstype}}
        </table>
    {{/hvisSant}}
{{/forFaktum}}
