<tr>
    <td class="sjekket"></td>
    <td>
        {{#forFaktum "laeremidler.utdanningstype"}}
            {{#hvisLik value "videregaende"}}
                <span>{{ hentTekst "soknad.laeremidler.utdanningstype.videregaende" }}</span>
            {{/hvisLik}}
            {{#hvisLik value "hoyereutdanning"}}
                <span>{{ hentTekst "soknad.laeremidler.utdanningstype.hoyereutdanning" }}</span>
            {{/hvisLik}}
            {{#hvisLik value "annet"}}
                <span>
                    {{ hentTekst "soknad.laeremidler.utdanningstype.annet" }}
                    {{#forFaktum "laeremidler.utdanningstype.spesifiser"}}
                        <em>{{value}}</em>
                    {{/forFaktum}}
                </span>
            {{/hvisLik}}
        {{/forFaktum}}
    </td>
</tr>