<tr>
    <td class="sjekket"></td>
    <td>
        {{#forFaktum "laeremidler.utdanningstype"}}
            {{#hvisLik value "videregaende"}}
                <span>{{ hentTekst "soknad.laeremidler.utdanningstype.videregaende" }}</span>
            {{/hvisLik}}
            {{#hvisLik value "hoyereutdanning"}}
                <span>{{ hentTekst "soknad.laeremidler.utdanningstype.hoyereutdanning" }}</span>
            {{/hvisLik}}
            {{#hvisLik value "annet"}}
                <span>{{ hentTekst "soknad.laeremidler.utdanningstype.annet" }}</span>
                {{#forFaktum "laeremidler.utdanningstype.spesifiser"}}
                    <p><em>{{value}}</em></p>
                {{/forFaktum}}
            {{/hvisLik}}
        {{/forFaktum}}
    </td>
</tr>