<div class="modalBoks begrensning">
    <div class="sak-totredel">
        <div class="panel-standard-belyst bekreftelse">
            <form name="bekreftelseForm" novalidate>
                <h2 class="stor-ikon-infogronn-strek" data-ng-bind-html="cmsprefix.value +'.bekreftelse' | cmstekst"></h2>

                <p data-ng-bind-html="cmsprefix.value +'.bekreftelse.informasjon' | cmstekst"></p>
                <div>
                    <div class="form-linje">
                        <label>
                            <span class="labeltekst" data-ng-bind-html="cmsprefix.value +'.bekreftelse.epost.label' | cmstekst"></span>
                            <input type="email" name="epost" role="textbox" data-ng-model="epost.value"
                                    data-error-messages="{required: cmsprefix.value +'.bekreftelse.epost.required.feilmelding', pattern: cmsprefix.value +'.bekreftelse.epost.pattern.feilmelding' }"
                                    data-ng-required="true" data-ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,6}$/" data-blur-validate/>
                        </label>
                        <input type="submit" class="knapp-hoved-liten" value="{{ cmsprefix.value +'.bekreftelse.epost.send' | cmstekst }}" role="button" data-ng-click="sendEpost(bekreftelseForm)">
                        <span class="melding"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>