<div class="modalBoks begrensning">
    <div class="sak-totredel">
        <div class="panel-standard-belyst bekreftelse">
            <h2 class="stor-ikon-infogronn-strek" data-ng-bind-html="'{{ tekst.tittelKey }}' | cmstekst"></h2>

            <p data-ng-bind-html="'{{ tekst.informasjonsKey }}' | cmstekst"></p>

            <div class="fremdriftsindikator">
                <img src="../img/ajaxloader/hvit/loader_hvit_64.gif" alt="Fremdriftsindikator"/>
            </div>
        </div>
    </div>
</div>