{{#forFaktum "tilleggsopplysninger.fritekst"}}
    {{#hvisIkkeTom value}}
        <h2>{{ hentTekst "tilleggsopplysninger.tittel" }}</h2>
        <table>
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ value }}</span>
                </td>
            </tr>
        </table>
    {{/hvisIkkeTom}}
{{/forFaktum}}