<div class="varighet form-linje">
    <h4 class="spm-sporsmal" data-ng-bind-html=" 'arbeidsforhold.arbeidsgiver.varighet.label' | cmstekst"></h4>

    <div data-dato
            data-ng-model="sluttaarsak.properties.datofra"
            data-label="arbeidsforhold.arbeidsgiver.varighet.fra"
            data-er-required="true"
            data-required-error-message="arbeidsforhold.arbeidsgiver.varighet.fra.feilmelding">
    </div>
</div>

<div data-ng-if="permitteringsperioder.length > 1" data-ng-repeat="permitteringsperiode in permitteringsperioder">
    <div data-permitterings-periode-info
            data-permitteringsperiode="permitteringsperiode"
            data-slett-permitteringsperiode="leggPermitteringsperiodeTilSletting(permitteringsperiode)"
            data-endre-permitteringsperiode="aapneEndrePermitteringsperiode(permitteringsperiode)">
    </div>
</div>
<div data-ng-form name="permiteringsperiodeForm" class="permitteringsform">
    <div data-ng-if="permitteringsperioder.length < 2">
        <div data-permitterings-periode-input
                data-permitteringsperiode="getForstePermitteringsperiode()">
        </div>
    </div>

    <div class="nypermittering">
        <a class="knapp-leggtil-liten" href="javascript:void(0)" aria-role="Button" data-ng-click="aapneLeggTilNyPermitteringsperiode(permiteringsperiodeForm)" data-ng-bind-html="'arbeidsforhold.nypermitteringsperiode.leggtil' | cmstekst"></a>
    </div>
</div>

<div class="topplinje"></div>

<div class="varighet form-linje">
    <h4 class="spm-sporsmal">
        <span data-ng-bind-html=" 'arbeidsforhold.arbeidsgiver.permittert.lonnsplikt.varighet' | cmstekst"></span>
            <span data-nav-hjelpetekstelement
                  data-hjelpetekst-inline="true"
                  data-tittel="{{ 'arbeidsforhold.arbeidsgiver.permittert.lonnsplikt.hjelptekst.tittel' | cmstekst }}"
                  data-tekst="{{ 'arbeidsforhold.arbeidsgiver.permittert.lonnsplikt.hjelptekst.tekst' | cmstekst}}">
            </span>
    </h4>

    <div data-nav-dato-intervall
            data-fra-dato="faktum.properties.lonnspliktigperiodedatofra"
            data-til-dato="faktum.properties.lonnspliktigperiodedatotil"
            data-label="arbeidsforhold.arbeidsgiver.permittert.lonnsplikt.varighet"
            data-er-fremtidigdato-tillatt="true"
            data-er-fradato-required="erLonnspliktigperiodeRequired()"
            data-disabled="faktum.properties.lonnspliktigperiodevetikke">
    </div>

    <div class="nav-checkbox">
        <input class="sendsoknad-checkbox"
                data-boolean-verdi
                id="checkbox_vetikke"
                type="checkbox"
                name="arbeidsforhold.arbeidsgiver.permittert.lonnsplikt.vetikke"
                data-ng-model="faktum.properties.lonnspliktigperiodevetikke">
        <label for="checkbox_vetikke">{{ 'arbeidsforhold.arbeidsgiver.permittert.lonnsplikt.vetikke' | cmstekst }}</label>
    </div>
</div>



<div data-turnusblokk data-arbeidsforhold="arbeidsforhold"></div>

<div data-arbeidsforhold-vedlegg-infoboks
        data-vedleggtekster="['Dagpenger.vedlegg.O2.header', 'Dagpenger.vedlegg.G2.header']"
        data-infotekster="['arbeidsforhold.sluttaarsak.permittert.informasjon']"></div>
