<div class="varighet form-linje">
    <h4 class="spm-sporsmal" data-ng-bind-html=" 'arbeidsforhold.arbeidsgiver.varighet.label' | cmstekst"></h4>
    <div data-nav-dato-intervall
         data-fra-dato="faktum.properties.datofra"
         data-til-dato="faktum.properties.datotil"
         data-label="arbeidsforhold.arbeidsgiver.varighet"
         data-er-fremtidigdato-tillatt="true"
         data-er-begge-required="true">
    </div>
</div>

<div data-navtextarea
     data-navconfig
     data-nav-faktum-property="sagtoppselvAarsak"
     data-nokkel="arbeidsforhold.sluttaarsak.sagtoppselv.aarsak"
     data-maxlengde="500"
     data-obligatorisk="true"></div>

<div data-turnusblokk data-arbeidsforhold="arbeidsforhold"></div>

<div class="ekstra-spm-boks">
    <div data-navinfoboks>
        <p class="sluttaarsak-informasjon" data-ng-bind-html=" 'arbeidsforhold.sluttaarsak.sagtoppselv.informasjon' | cmstekst"></p>

        <p data-ng-bind-html=" 'arbeidsforhold.sluttaarsak.advarsel' | cmstekst"></p>
    </div>
    <div data-vedlegginfoboks>
        <ul>
            <li>
                <p data-ng-bind-html="'Dagpenger.vedlegg.O2.header' | cmstekst"></p>
            </li>
            <li>
                <span data-ng-bind-html=" 'Dagpenger.vedlegg.T8.header' | cmstekst"></span>
            </li>
        </ul>
    </div>
</div>