<div class="spm varighet form-linje">
    <h4 class="spm-sporsmal" data-ng-bind-html=" 'arbeidsforhold.arbeidsgiver.varighet.label' | cmstekst"></h4>

    <div data-nav-dato-intervall
         data-fra-dato="sluttaarsak.properties.datofra"
         data-til-dato="sluttaarsak.properties.datotil"
         data-label="arbeidsforhold.arbeidsgiver.varighet"
         data-er-fremtidigdato-tillatt="true"
         data-er-begge-required="true"
         data-lagre="lagreFaktum()">
    </div>
</div>

<div data-navtextarea
     data-navconfig
     data-nav-faktum-property="aarsak"
     data-nokkel="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.aarsak"
     data-maxlengde="500"
     data-obligatorisk="true"></div>

<div data-booleanradio
     data-navconfig
     data-nav-faktum-property="sagtOppAvArbeidsgiverTilbudomjobbannetsted"
     data-nokkel="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.tilbudomjobbannetsted"></div>

<div data-turnusblokk data-arbeidsforhold="arbeidsforhold"></div>

<div data-arbeidsforhold-vedlegg-infoboks
        data-vedlegg-tekster="['Dagpenger.vedlegg.O2.header', 'Dagpenger.vedlegg.T8.header']"
        data-info-tekster="['arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.informasjon', 'arbeidsforhold.sluttaarsak.advarsel']"></div>