<div class="varighet form-linje">
    <h4 class="spm-sporsmal" data-ng-bind-html=" 'arbeidsforhold.arbeidsgiver.varighet.label' | cmstekst"></h4>
    <div data-nav-dato-intervall
         data-fra-dato="faktum.properties.datofra"
         data-til-dato="faktum.properties.datotil"
         data-label="arbeidsforhold.arbeidsgiver.varighet"
         data-er-fremtidigdato-tillatt="true"
         data-er-tildato-required="true"
         data-er-fradato-required="true">
    </div>
</div>

<div data-navtextarea
     data-navconfig
     data-nav-faktum-property="sagtoppselvAarsak"
     data-nokkel="arbeidsforhold.sluttaarsak.sagtoppselv.aarsak"
     data-maxlengde="500"
     data-obligatorisk="true"></div>

<div data-turnusblokk data-arbeidsforhold="arbeidsforhold"></div>


<div data-arbeidsforhold-vedlegg-infoboks
        data-infotekster="['arbeidsforhold.sluttaarsak.sagtoppselv.informasjon', 'arbeidsforhold.sluttaarsak.advarsel']"
        data-vedleggtekster="['Dagpenger.vedlegg.O2.header', 'Dagpenger.vedlegg.T8.header']"></div>

