<div class="knapper-arbeidsforhold">
    <div id="legg-til" class="form-linje knapp ikke-fadebakgrunn" data-ng-if="harSvart()"
         data-ng-class="{feil: skalViseFeil()}">
        <div data-ng-if="hvisHarJobbet()">
            <input type="hidden"
                   data-ng-model="harLagretArbeidsforhold"
                   data-nav-faktum="harLagretArbeidsforhold"
                   data-ng-required="true"
                   data-error-messages="'arbeidsforhold.arbeidsforhold.required'"
                   class="legg-til-arbeidsforhold">
        </div>

        <button class="knapp-leggtil-liten" data-ng-click="nyttArbeidsforhold($event, $index, arbeidsforholdForm)" role="button"
                data-aktiv-feilmelding data-ng-bind-html="'arbeidsforhold.nyttarbeidsforhold' | cmstekst"></button>
        <span class="melding" data-ng-bind-html="'arbeidsforhold.arbeidsforhold.required' | cmstekst"></span>
    </div>
</div>