<div>
    <div data-navinfoboks data-infotekster="['arbeidsforhold.grensearbeider.infoboks']">
    </div>
    <div id="grensearbeider"
         data-nav-faktum="arbeidsforhold.grensearbeider"
         data-navconfig
         data-booleanradio
         data-nokkel="arbeidsforhold.grensearbeider"
         data-hjelpetekst
         data-navfeilmelding="arbeidsforhold.grensearbeider.feilmelding">

        <h4 class="form-linje spm-sporsmal" data-ng-bind-html="'arbeidsforhold.grensearbeider.false.adresse.sporsmal' | cmstekst"></h4>

        <div class="land form-linje tekstfelt">
            <label for="land">
                <span class="labeltekst" data-ng-bind-html=" 'arbeidsforhold.grensearbeider.false.adresse.land' | cmstekst"></span>
            </label>
            <select data-nav-faktum="arbeidsforhold.grensearbeider.false.adresse.land"
                    data-blur-validate
                    id="land"
                    data-ng-required="true"
                    data-error-messages="'arbeidsforhold.grensearbeider.false.adresse.land.feilmelding'"
                    data-ng-model="faktum.value"
                    data-ng-change="lagreFaktum()"
                    data-ng-options="l.value as l.text for l in land">
            </select>
            <span class="melding"></span>
        </div>
        <div data-navtextarea
             data-navconfig
             data-nav-faktum="arbeidsforhold.grensearbeider.false.adresse.fritekst"
             data-nokkel="arbeidsforhold.grensearbeider.false.adresse.fritekst"
             data-obligatorisk="true"
             data-maxlengde="500">
        </div>

        <span class="melding"></span>

        <div class="spm form-linje boolean">
            <h4 class="spm-sporsmal" data-ng-bind-html=" 'arbeidsforhold.grensearbeider.false.oftehjem.sporsmal' | cmstekst"></h4>

            <div data-navradio
                 data-value="arbeidsforhold.grensearbeider.false.oftehjem.alternativ.1"
                 data-navconfig
                 data-nav-faktum="arbeidsforhold.grensearbeider.false.oftehjem"
                 data-navlabel="arbeidsforhold.grensearbeider.false.oftehjem.alternativ.1"
                 data-navfeilmelding="arbeidsforhold.grensearbeider.false.oftehjem.feilmelding">
            </div>

            <div data-navradio
                 data-value="arbeidsforhold.grensearbeider.false.oftehjem.alternativ.2"
                 data-navconfig
                 data-nav-faktum="arbeidsforhold.grensearbeider.false.oftehjem"
                 data-navlabel="arbeidsforhold.grensearbeider.false.oftehjem.alternativ.2"
                 data-navfeilmelding="arbeidsforhold.grensearbeider.false.oftehjem.feilmelding"
                 data-hjelpetekst="arbeidsforhold.grensearbeider.false.oftehjem.alternativ.2.hjelpetekst">
            </div>

            <div data-navradio
                 data-value="arbeidsforhold.grensearbeider.false.oftehjem.alternativ.3"
                 data-navconfig
                 data-nav-faktum="arbeidsforhold.grensearbeider.false.oftehjem"
                 data-navlabel="arbeidsforhold.grensearbeider.false.oftehjem.alternativ.3"
                 data-navfeilmelding="arbeidsforhold.grensearbeider.false.oftehjem.feilmelding">
            </div>

            <span class="melding"> </span>
        </div>
    </div>
</div>