<div>
    <div data-nav-faktum="permitteringsperiode" data-ikke-auto-lagre="true">
        <div class="varighet form-linje">
            <div data-nav-dato-intervall
                 data-fra-dato="faktum.properties.permiteringsperiodedatofra"
                 data-til-dato="faktum.properties.permiteringsperiodedatotil"
                 data-label="arbeidsforhold.arbeidsgiver.permittert.varighet"
                 data-er-fremtidigdato-tillatt="true"
                 data-er-fradato-required="true">
            </div>
        </div>
        <div class="prosentfelt"
             data-navtall
             data-navconfig
             data-nav-faktum-property="permitteringProsent"
             data-navlabel="arbeidsforhold.sluttaarsak.permittert.permitteringsgrad.label"
             data-navsporsmal="arbeidsforhold.sluttaarsak.permittert.permitteringsgrad"
             data-navfeilmelding="{required:'arbeidsforhold.sluttaarsak.permittert.permitteringsgrad.feilmelding', pattern: 'regex.tall', max: 'arbeidsforhold.sluttaarsak.permittert.permitteringsgrad.maxverdi.feilmelding', min:'arbeidsforhold.sluttaarsak.permittert.permitteringsgrad.minverdi.feilmelding'}"
             data-navminvalue="0"
             data-navmaxvalue="100"
             data-regexvalidering="/^\d+$/"
             data-navmaxlength="3">
        </div>
    </div>
</div>