<div class="arbeidsforhold-oppsummering-endre-slett">
    <ul class="liste-vannrett">
        <li>
            <a href="javascript:void(0)" role="button" data-ng-click="slettArbeidsforhold(af, $index, $event)"
               data-fokus-slettmoduler="arbeidsforhold" data-ng-bind-html=" 'arbeidsforhold.slettarbeidsforhold' | cmstekst" ></a>
        </li>
        <li>
            <a href="javascript:void(0)" role="button" data-ng-click="endreArbeidsforhold(af, $index, $event)" data-ng-bind-html=" 'arbeidsforhold.endrearbeidsforhold' | cmstekst "></a>
        </li>
    </ul>
</div>