<div class="arbeidsforhold-oppsummering-endre-slett">
    <ul class="liste-vannrett">
        <li>
            <a href="#" data-ng-click="slettArbeidsforhold(af, $event)"
               data-fokus-slettmoduler="arbeidsforhold" data-ng-bind-html=" 'arbeidsforhold.slettarbeidsforhold' | cmstekst"></a>
        </li>
        <li>
            <a href="#" data-ng-click="endreArbeidsforhold(af, $event)">
                {{ 'arbeidsforhold.endrearbeidsforhold' | cmstekst }}
            </a>
        </li>
    </ul>
</div>