<div class='spm-blokk'>
    <p class='spm' cmstekster="{{ sporsmal }}"/>

    <div class='redigeringsboks' data-ng-show='hvisIRedigeringsmodus()'>
        <navradio data-ng-model='model' value='true' inputname='{{ inputname }}' label='{{ trueLabel }}'/>
        <navradio data-ng-model='model' value='false' inputname='{{ inputname }}' label='{{ falseLabel }}'/>
    </div>

    <div class='oppsummeringsboks' data-ng-show='hvisIOppsummeringsmodus()'>
        <span data-ng-show='hvisModelErTrue()' cmstekster="{{ trueLabel }}"/>
        <span data-ng-show='hvisModelErFalse()' cmstekster="{{ falseLabel }}"/>
    </div>
</div>