<html>
<body>
<div ng-app="sendsoknad" ng-controller="PersonaliaCtrl">
    <label> Fornavn:</label><p>{{personalia.soknadId}}</p>
    <br/>
    <label> Etternavn:</label><input type="text">
    <br/>
    <label> Adresse:</label><input type="text">
    <br/>
    <label> Postnummer:</label><input type="text">
    <br/>
    <label> Poststed:</label><input type="text">
    <br/>
    <br/>

    <div ng-controller="SelectCtrl">
        <label>Har du vært i militæret?</label>
        <select ng-model="selectedItem" ng-options="item as item.name for item in items"></select>
    </div>

</div>

</body>

</html>