<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <style type="text/css">
            @page:first { margin: 12mm 2cm 2.5cm; }
            *       { box-sizing: border-box; }
            body    { font-family: Arial, sans-serif; font-size: 10pt; line-height: 1.4em; margin: 0; color: #3e3832; }
            h1      { font-family: Modus, Arial, sans-serif; font-size: 22pt; font-weight: 300 }
            .logo      { position: absolute; left: 80mm; top: 0; width: 20mm; }
            .hode      { text-align: center; margin: 20mm 0 10.5mm; padding-bottom: 10.5mm; border-bottom: .5pt solid #999; }
            .hode hr   { border: none; border-top: .5pt solid #999; width: 8mm; margin: 10mm auto 8mm; }
            .hode .personalia > span { display: block; }
            .hode .nvn, .hode .fnr { font-family: Modus, Arial, sans-serif; font-weight: bold; font-size: 13pt; font-weight: 300; }
        </style>
	</head>
	<body>
        <div>
            <img class="logo" src="img/nav-logo.gif"/>
            <div class="hode">
                <h1>{{ hentTekst "ettersending.kvittering.tittel" }}</h1>
                <h1>{{ hentTekst "skjema.tittel" }}</h1>
                <hr/>
                {{#forFaktum "personalia"}}
                    <div class="personalia">
                        <span>
                            <span class="nvn">{{properties.navn}}</span>,
                            <span class="fnr">{{properties.fnr}}</span>
                        </span>
                    </div>
                {{/forFaktum}}
            </div>
        </div>
	</body>
</html>
