{{#forFaktum "dekningsgrad"}}
    <h2>{{ hentTekst "dekningsgrad.tittel" }}</h2>
    <table>
        <tr>
            <td class="sjekket"></td>
            <td>{{#hvisLik value "hundre"}}
                    <span>{{ hentTekst "foreldresoknad.dekningsgrad.alternativ.1" }}</span>
                {{/hvisLik}}
                {{#hvisLik value "aatti"}}
                    <span>{{ hentTekst "foreldresoknad.dekningsgrad.alternativ.2" }}</span>
                {{/hvisLik}}
            </td>
        </tr>
    </table>
{{/forFaktum}}