<tr>
    {{#forFaktum "reise.midlertidig.antallreiser"}}
        <td class="sjekket"></td>
        <td>{{hentTekst 'soknad.reise.midlertidig.antallreiser.sporsmal'}}: <em>{{value}}</em></td>
    {{/forFaktum}}
</tr>
