<tr>
    {{#forFaktum "reise.midlertidig.reiselengde"}}
        <td class="sjekket"></td>
        <td>{{hentTekst "soknad.reise.midlertidig.reiselengde.oppsummering"}} <em>{{value}}</em> {{hentTekst "soknad.km"}}</td>
    {{/forFaktum}}
</tr>
