<!DOCTYPE html>
<body>
    <style type="text/css">
        body {
            text-align: center;
        }
        form {
            min-width: 250px;
            margin-top: 1rem;
            text-align: left;
            background: lightgray;
            display: inline-block;
            padding: 0 2rem 2rem 2rem;
        }
        .blokk {
            display: block;
        }
        .field {
            margin-bottom: 1rem;
        }
        .lagre {
            margin-top: 0.5rem;
        }
    </style>

    <form method="POST" action="/sendsoknad/internal/mocksetup">
        <h1>Mocksetup</h1>
        <div class="field">
            <label class="blokk" for="statsborgerskap">Statsborgerskap</label>
            <select name="statsborgerskap" id="statsborgerskap">
                {{#getStatsborgerskap}}
                    <option value="NOR" {{#hvisLik this "NOR"}}selected{{/hvisLik}}>Norsk</option>
                    <option value="DNK" {{#hvisLik this "DNK"}}selected{{/hvisLik}}>Dansk</option>
                    <option value="SWE" {{#hvisLik this "SWE"}}selected{{/hvisLik}}>Svensk</option>
                    <option value="ENG" {{#hvisLik this "ENG"}}selected{{/hvisLik}}>Engelsk</option>
                    <option value="GER" {{#hvisLik this "GER"}}selected{{/hvisLik}}>Tysk</option>
                {{/getStatsborgerskap}}
            </select>
        </div>
        <div class="field">
            <label class="blokk" for="postadressetype">Postadressetype</label>
            <select name="primar_adressetype" id="postadressetype">
                {{#getPrimarAdressetype}}
                    <option value="NORSK" {{#hvisLik this "NORSK"}}selected{{/hvisLik}}>Norsk</option>
                    <option value="UTENLANDSK" {{#hvisLik this "UTENLANDSK"}}selected{{/hvisLik}}>Utenlandsk</option>
                {{/getPrimarAdressetype}}
            </select>
        </div>
        <div class="field">
            <label class="blokk" for="sekundartype">Sekundær adressetype</label>
            <select name="sekundar_adressetype" id="sekundartype">
                {{#getSekundarAdressetype}}
                    <option value="NORSK" {{#hvisLik this "NORSK"}}selected{{/hvisLik}}>Norsk</option>
                    <option value="UTENLANDSK" {{#hvisLik this "UTENLANDSK"}}selected{{/hvisLik}}>Utenlandsk</option>
                    <option value="INGEN" {{#hvisLik this "INGEN"}}selected{{/hvisLik}}>Ingen</option>
                {{/getSekundarAdressetype}}
            </select>
        </div>
        <div class="field">
            <input type="checkbox" name="kode6" id="kode6" value="true" {{#if getKode6}}checked{{/if}}/>
            <label for="kode6">Kode6-bruker</label>
        </div>
        <button class="lagre" type="submit" name="submit" value="submit">Lagre</button>
    </form>
</body>