<div class="form-linje textarea-container" data-ng-class="{feil: feil}">
	<label>
		<p data-cmstekster="{{sporsmal}}"></p>
		<textarea data-ng-model="model" name="tmpName" data-error-messages="'{{ feilmelding }}'" data-ng-trim="false" data-validate-textarea data-blur-validate required></textarea>
		<p class="egen-linje" data-ng-show="fokus || feil">
			<span class="tellertekst" data-ng-class="{negativtekstteller: counter < 0 }"> {{counter}} </span>
			<span data-cmstekster="fritekst.negativtellertekst" data-ng-if="counter < 0"></span>
			<span data-cmstekster="fritekst.tellertekst" data-ng-if="counter >= 0"></span>
		</p>
	</label>
	<p class="melding">
		<span class="melding inline" data-cmstekster="fritekst.feilmelding"></span>
	</p>
</div>
