<div class="form-linje textarea-container">
    <!-- DEMO-hack for å få vist fritekstfeltet -->
    <!--div data-ng-show="hvisIRedigeringsmodus()"-->
        <div>
        <label>
            <span data-cmstekster="{{sporsmal}}"></span>
            <textarea data-ng-model="model" name="tmpName" data-error-messages="'{{ feilmelding }}'"
                      data-ng-required="hvisSynlig()" data-ng-trim="false" aria-controls="{{sporsmal}}"
                      data-validate-textarea data-blur-validate data-mod-faktum></textarea>
            <span class="egen-linje" data-ng-show="fokus || feil">
                <span class="tellertekst" data-ng-class="{negativtekstteller: counter < 0 }" aria-live="polite"
                      id="{{sporsmal}}"> {{counter}} </span>
                <span data-cmstekster="fritekst.negativtellertekst" data-ng-if="counter < 0"></span>
                <span data-cmstekster="fritekst.tellertekst" data-ng-if="counter >= 0"></span>
            </span>
        </label>
        <span class="melding"></span>
    </div>
    <!--div data-ng-show="hvisIOppsummeringsmodus()">
        <span data-cmstekster="{{ sporsmal }}">:</span>
        <span>
            {{ model }}
        </span>
    </div-->
</div>
