<table role="grid" aria-labelledby="{{uniqueId}}-title" aria-activedescendant="{{activeDateId}}" class="day">
    <caption class="hidden" data-ng-bind-html="'datepicker.day.caption' | cmstekst"></caption>
    <thead>
        <tr>
            <th colspan="{{7 + showWeeks}}">
                <button type="button" class="btn btn-default btn-sm datepicker-forrige pull-left" data-ng-click="move(-1)" tabindex="0" aria-label="{{'datepicker.dag.forrige' | cmstekst}}"></button>

                <button id="{{uniqueId}}-title" role="heading" aria-live="assertive" aria-atomic="true" type="button" class="btn btn-default btn-sm datepicker-title" data-ng-click="toggleMode()" tabindex="0">
                    <strong>{{title}}</strong></button>
                <button type="button" class="btn btn-default btn-sm datepicker-neste pull-right" data-ng-click="move(1)" tabindex="0" aria-label="{{'datepicker.dag.neste' | cmstekst}}"></button>

            </th>
        </tr>
        <tr>
            <th scope="col" data-ng-show="showWeeks" class="text-center"><span data-ng-bind-html="'datepicker.ukedager' | cmstekst" class="hidden"></span></span> </th>
            <th scope="col" data-ng-repeat="label in labels track by $index" class="text-center">
                <small aria-label="{{label.full}}">{{label.abbr}}</small>
            </th>
        </tr>
    </thead>
    <tbody tabindex="0">
        <tr data-ng-repeat="row in rows track by $index">
            <td data-ng-show="showWeeks" class="text-center h6"><em>{{ weekNumbers[$index] }}</em></td>
            <td data-ng-repeat="dt in row track by dt.date"
                    class="text-center" role="gridcell" id="{{dt.uid}}" aria-disabled="{{!!dt.disabled}}">

                <a style="width:100%;" class="btn btn-default btn-sm"
                        data-ng-class="{'btn-info': dt.selected, active: isActive(dt), idag: dt.current}"
                        data-ng-click="select(dt.date)"
                        data-ng-disabled="dt.disabled"
                        tabindex="-1"
                        role="button"
                        aria-hidden="{{dt.secondary || dt.disabled}}">
                    <span data-ng-class="{'text-muted': dt.secondary,'text-info': dt.current}">{{dt.label}}</span>
                </a>
            </td>
        </tr>
    </tbody>
</table>
