<table data-role="grid" data-aria-labelledby="{{uniqueId}}-title" data-aria-activedescendant="{{activeDateId}}" class="month">
    <thead>
        <tr>
            <th>
                <button type="button" class="btn btn-default btn-sm pull-left" data-ng-click="move(-1)" tabindex="0"><i class="glyphicon glyphicon-chevron-left"></i></button>
            </th>
            <th>
                <button id="{{uniqueId}}-title" data-role="heading" data-aria-live="assertive" data-aria-atomic="true" type="button" class="btn btn-default btn-sm datepicker-title" data-ng-click="toggleMode()" tabindex="0" style="width:100%;">
                    <strong>{{title}}</strong></button>
            </th>
            <th>
                <button type="button" class="btn btn-default btn-sm pull-right" data-ng-click="move(1)" tabindex="0"><i class="glyphicon glyphicon-chevron-right"></i></button>
            </th>
        </tr>
    </thead>
    <tbody tabindex="0">
        <tr data-ng-repeat="row in rows track by $index">
            <td data-ng-repeat="dt in row track by dt.date" class="text-center" data-role="gridcell" id="{{dt.uid}}" data-aria-disabled="{{!!dt.disabled}}">
                <button type="button" style="width:100%;" class="btn btn-default"
                        data-ng-class="{'btn-info': dt.selected, active: isActive(dt)}"
                        data-ng-click="select(dt.date)" data-ng-disabled="dt.disabled" tabindex="-1">
                    <span data-ng-class="{'text-info': dt.current}">{{dt.label.substring(0,3)}}</span></button>
            </td>
         </tr>
    </tbody>
</table>
