<ul class="dropdown-menu" data-ng-style="{display: (isOpen && 'block') || 'none', top: position.top+'px', left: position.left+'px'}" data-ng-keydown="keydown($event)">
    <li ng-transclude></li>
    <li ng-if="showButtonBar" style="padding:10px 9px 2px">
        <a href="javascript:void(0)" class="lukk" title="{{'arbeidsforhold.nyttarbeidsforhold.lukk.aria' | cmstekst}}"
               role="button" data-aria-label="{{'arbeidsforhold.nyttarbeidsforhold.lukk.aria' | cmstekst}}" data-ng-click="close()"></a>
    </li>
</ul>
