<table class="year" role="grid" aria-labelledby="{{uniqueId}}-title" aria-activedescendant="{{activeDateId}}">
    <caption class="hidden" data-ng-bind-html="'datepicker.year.caption' | cmstekst"></caption>
    <thead>
        <tr>
            <th colspan="{{7 + showWeeks}}">
                <button type="button" class="btn btn-default btn-sm datepicker-forrige pull-left" data-ng-click="move(-1)" tabindex="0" aria-label="{{'datepicker.dag.forrige' | cmstekst}}"></button>

                <button id="{{uniqueId}}-title" role="heading" aria-live="assertive" aria-atomic="true" type="button" class="btn btn-default btn-sm datepicker-title" data-ng-click="toggleMode()" tabindex="0">
                    <strong>{{title}}</strong></button>
                <button type="button" class="btn btn-default btn-sm datepicker-neste pull-right" data-ng-click="move(1)" tabindex="0" aria-label="{{'datepicker.dag.neste' | cmstekst}}"></button>

            </th>
        </tr>
    </thead>
    <tbody tabindex="0">
        <tr data-ng-repeat="row in rows track by $index">
            <td data-ng-repeat="dt in row track by dt.date" class="text-center" role="gridcell" id="{{dt.uid}}" aria-disabled="{{!!dt.disabled}}">
                <button type="button" style="width:100%;" class="btn btn-default" data-ng-class="{'btn-info': dt.selected, active: isActive(dt)}" data-ng-click="select(dt.date)" data-ng-disabled="dt.disabled" tabindex="-1">
                    <span data-ng-class="{'text-info': dt.current}">{{dt.label}}</span></button>
            </td>
        </tr>
    </tbody>
</table>

