
.mockform {
    padding: 10px;
    background-color: #cccccc;
}
.float_left {
    float: left;
}
ul {
    list-style: circle outside none;
}
li {
    display: inline-block;
}
div {
    background-color: #cccccc;
}
form input[type="checkbox"] {
    height: 14px;
    width: 20px;
    opacity: 1;
    position: relative;
}
form input[type="submit"] {
    margin-top: 20px;
}

