body {
    color: #000000;
    background-color: #cccccc;
    padding: 40px;
    font-family: Arial;
}

h3 {
    font-family: Helvetica;
    font-size: 46pt;

}

h3 {
    font-family: Helvetica;
    font-size: 36pt;

}