<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <style type="text/css">
        body{
            font-family: Arial, sans-serif; font-size: 10pt; line-height: 1.4em; margin: 0; color: #3e3832;
        }
    </style>
</head>
<body>

<h3>{{skjemaNummer}}</h3>
<div>
   Oppsummering... {{soknadId}}
   {{#forFaktum "test"}}
   err inni her
        Oppsummering... {{value}}
   {{/forFaktum}}

<ul>
   {{#forFakta "liste"}}
   {{#each this}}
   <li>
   {{value}}
   </li>
   {{/each}}
   {{/forFakta}}
   </ul>
</div>

</body>
</html>