<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <style type="text/css">
        body    { font-family: Arial, sans-serif; font-size: 10pt; line-height: 1.4em; margin: 0; color: #3e3832; }
        ul { list-style: none; padding-left: 0; margin-top: 0; margin-bottom: 10.5mm; }
        .innsendt li { background: url(img/hake_sort_200.jpg) no-repeat left center; padding-left: 4mm; background-size: 2.3mm; }
        ul li { margin-bottom: 2mm; font-size: 10pt; }
    </style>
</head>
<body>

<h3>{{skjemaNummer}}</h3>
<div>
   <img class="logo" src="img/nav-logo-stor.gif"/>
   Oppsummering... {{soknadId}}
   {{#forFaktum "test"}}
   err inni her
        Oppsummering... {{value}}
   {{/forFaktum}}

   <ul class="innsendt">
       {{#forFakta "liste"}}
       {{#each this}}
       <li>
       {{value}}
       </li>
       {{/each}}
       {{/forFakta}}
   </ul>
</div>

</body>
</html>