<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>

<h3>{{gosysId}}</h3>
<div>
   Oppsummering... {{soknadId}}
   {{#forFaktum "test"}}
   err inni her
        Oppsummering... {{value}}
   {{/forFaktum}}

<ul>
   {{#forFakta "liste"}}
   {{#each this}}
   <li>
   {{value}}
   </li>
   {{/each}}
   {{/forFakta}}
   </ul>
</div>

</body>
</html>