<div class="bildenavigering" data-ng-cloak data-fetch-spinner>
    <div class="header">
        <div class="header-content">
            <div class="tilbake">
                <a class="ikke-mobil" onclick="history.back()" href="javascript:void(0);" data-ng-bind-html="
                    'vedlegg.forhandsvisning.tilbake' | cmstekst"></a>
                <a class="mobil" onclick="history.back()" href="javascript:void(0);" data-ng-bind-html="
                    'vedlegg.forhandsvisning.tilbake.mobil' | cmstekst"></a>
            </div>
            <div class="navn">{{vedlegg.navn}} ({{side + 1}}/{{vedlegg.antallSider}})</div>
        </div>
    </div>
    <div class="nav" data-ng-if="vedlegg.vedleggId">


        <div class="bilde">
            <a class="pil-venstre-sort" data-ng-click="naviger(-1)" data-ng-if="vedlegg.antallSider > 1"
               href="javascript:void(0);">
            </a>
            <img data-ng-repeat="bilde in range(vedlegg.antallSider)"
                 data-ng-src="../rest/soknad/{{vedlegg.soknadId}}/vedlegg/{{vedlegg.vedleggId}}/thumbnail?side={{bilde}}"
                 alt="Forhåndsvisning"
                 data-ferdig-lastet-bilde
                 data-ng-click="naviger(1)"
                 data-ng-if="sideErSynlig(bilde)">
            <a class="pil-hoyre-sort" data-ng-click="naviger(1)" data-ng-if="vedlegg.antallSider > 1"
               href="javascript:void(0);"></a>
        </div>
    </div>
</div>
