<div class="bildenavigering" data-ng-cloak>
    <div class="nav" data-ng-if="vedlegg.vedleggId">
        <a class="pil-venstre-sort" data-ng-click="naviger(-1)" data-ng-if="vedlegg.antallSider > 1" href="javascript:void(0);">
        </a><div class="bilde" data-ng-click="naviger(1)">
        <img data-ng-repeat="bilde in range(vedlegg.antallSider)"
             data-ng-src="../rest/soknad/{{vedlegg.soknadId}}/vedlegg/{{vedlegg.vedleggId}}/thumbnail?side={{bilde}}"
             alt="Forhåndsvisning"
             data-ng-hide="!sideErSynlig(bilde)">
        <a class="tilbake" onclick="history.back()" data-cmstekster="vedlegg.forhandsvisning.tilbake" href="javascript:void(0);"></a>
    </div><a class="pil-hoyre-sort" data-ng-click="naviger(1)" data-ng-if="vedlegg.antallSider > 1" href="javascript:void(0);"></a>
    </div>
    <div class="header">
        <div>{{vedlegg.navn}} ({{side + 1}}/{{vedlegg.antallSider}})</div>
    </div>
</div>
