<hr/>
{{#forFaktum "personalia"}}
    <div class="personalia">
        <p class="nvn">{{properties.navn}}</p>
        <p class="fnr">{{properties.fnr}}</p>
        <p class="adr">Folkeregistrert: {{properties.folkeregistrertAdresse}}</p>
    </div>
{{/forFaktum}}