<div data-ng-show="hvisTouchTastaturVises()">
    <div class="sticky-bunn">
        <div>
            <span data-ng-if="soknadHarBlittLagret()">
                <span>{{ 'sistLagret.lagret' | cmstekst }}</span>
                <span>
                    {{ hentSistLagretTid() | date:'short' }}
                </span>
            </span>
            <span data-ng-if="soknadHarAldriBlittLagret()">{{ 'sistLagret.aldriLagret' | cmstekst }}</span>
        </div>
        <ul class="liste-vannrett">
            <li data-ng-if="navtilbakelenke !== 'ingenlenke'">
                <a href="{{ lenke.value}}">{{ navtilbakelenke | cmstekst }}</a>
            </li>
            <li>
                <a href="#/fortsettsenere">{{ 'fortsettSenere' | cmstekst }}</a>
            </li>
            <li>
                <a href="#/avbryt">{{ 'avbryt.soknad' | cmstekst }}</a>
            </li>
        </ul>
    </div>
    <div id="sticky-bunn-anchor"></div>
</div>