<div>
    <div>
        <span data-ng-if="soknadHarBlittLagret()">
            <span data-ng-bind-html=" 'sistLagret.lagret' | cmstekst"></span>
            <span>
                {{ hentSistLagretTid() | date:'short' }}
            </span>
        </span>
        <span data-ng-if="soknadHarAldriBlittLagret()" data-ng-bind-html=" 'sistLagret.aldriLagret' | cmstekst"></span>
    </div>
    <ul class="liste-vannrett">
        <li data-ng-if="navtilbakelenke !== 'ingenlenke'">
            <a href="{{ lenke.value}}" data-ng-bind-html=" navtilbakelenke | cmstekst"></a>
        </li>
        <li>
            <a href="#/fortsettsenere" data-ng-bind-html=" 'fortsettSenere' | cmstekst"></a>
        </li>
        <li>
            <a href="#/avbryt" data-ng-bind-html=" 'avbryt.soknad' | cmstekst"></a>
        </li>
    </ul>
</div>