<div class="spm form-linje">
    <h4 class="spm-sporsmal">
        <span data-ng-bind-html="'tidligerearbeidsforhold.tidligerearbeidsgiver.jobbetsammenhengende.sporsmal' | cmstekst"></span>
    </h4>
    <div data-navradio
         data-navconfig
         data-navfeilmelding='tidligerearbeidsforhold.tidligerearbeidsgiver.jobbetsammenhengende.feilmelding'
         data-value="'tidligerearbeidsforhold.tidligerearbeidsgiver.jobbetsammenhengende.alt1' | cmstekst"
         data-navlabel="tidligerearbeidsforhold.tidligerearbeidsgiver.jobbetsammenhengende.alt1">
    </div>
    <div data-navradio
         data-navconfig
         data-navfeilmelding='tidligerearbeidsforhold.tidligerearbeidsgiver.jobbetsammenhengende.feilmelding'
         data-value="'tidligerearbeidsforhold.tidligerearbeidsgiver.jobbetsammenhengende.alt2' | cmstekst"
         data-navlabel="tidligerearbeidsforhold.tidligerearbeidsgiver.jobbetsammenhengende.alt2">
    </div>

    <div data-melding>
        <span class="melding" data-ng-bind-html=" 'tidligerearbeidsforhold.tidligerearbeidsgiver.jobbetsammenhengende.feilmelding' | cmstekst"></span>
    </div>
</div>