<div class="ekstra-spm-boks">
    <div data-navtekst
         data-navconfig
         data-nav-faktum="tidligerearbeidsforhold.tidligerearbeidsgiver"
         data-navsporsmal="tidligerearbeidsforhold.tidligerearbeidsgiver.sporsmal"
         data-navfeilmelding="'tidligerearbeidsforhold.tidligerearbeidsgiver.feilmelding'"
         data-ng-required>
    </div>

    <div data-nav-faktum="tidligerearbeidsforhold.jobbetsidensist"
         data-navconfig
         data-booleanradio
         data-nokkel="tidligerearbeidsforhold.tidligerearbeidsgiver.jobbetsidensist">
    </div>

    <div class="undersporsmal"
         data-ng-if="hvisHarArbeidet()"
         data-nav-faktum="tidligerearbeidsforhold.jobbetsammenhengende"
         data-hvor-lenge-arbeidet-sist>
    </div>

    <div data-nav-faktum="tidligerearbeidsforhold.fortsattansatt"
         data-navconfig
         data-booleanradio
         data-nokkel="tidligerearbeidsforhold.tidligerearbeidsgiver.fortsattansatt">
    </div>
</div>