<div class='spm form-linje boolean' >
    <div nav-hjelpetekstelement data-vishjelp="visHjelpetekst" data-tittel="tittel" data-tekst="tekst"/>

    <p class="spm-sporsmal" cmstekster="{{ sporsmal }}"/>

    <div data-navradio data-ng-model='model' modus='modus' value='true' inputname='{{ inputname }}' label='{{ trueLabel }}' feilmelding='{{ feilmelding }}'/>
    <div data-navradio data-ng-model='model' modus='modus' value='false' inputname='{{ inputname }}' label='{{ falseLabel }}' feilmelding='{{ feilmelding }}'/>
    <span class="melding"/>
</div>