<div class="rad nettotopp">
	<div class="begrensning">
		<ul class="stegindikator">
		    <li data-ng-repeat="steg in data.liste" data-ng-class="{aktiv: $index == {{ aktivIndex }}, stegklikkbart: erKlikkbar($index) && !($index == {{ aktivIndex }})}">
		        <a class="steg"  href="{{ hentLenke($index) }}" data-ng-if="erKlikkbar($index)">
                    <span class="tekst" data-ng-bind-html="  'stegindikator.' + steg | cmstekst"></span>
                    <span class="stegnummer">{{ $index + 1 }}</span>
                </a>
                <span class="steg" data-ng-if="erIkkeKlikkbar($index)">
                    <span class="tekst" data-ng-bind-html="  'stegindikator.' + steg | cmstekst"></span>
                    <span class="stegnummer">{{ $index + 1 }}</span>
                </span>
		    </li>
		</ul>
	</div>
</div>
