{{#forFaktum "aktivitet"}}
    <h2>{{hentTekst "opprett.dineaktiviteter.tittel"}}</h2>
    <p>
        {{hentTekst "opprett.dineaktiviteter.aktivitet" properties.navn properties.fom properties.tom }}
    <p>
{{/forFaktum}}