@svar-bakgrunnsfarge: #d1d1d1;

.nav,
.pagination,
.carousel a {
  cursor: pointer;
}

.accordion-heading {
  text-align: center;

  h2 {

    text-align: center;
  }
}

.accordion-body {

}

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

.collapse.in {
  height: auto;
}

.skjematittel {
  text-align: center;
}

[class*="panel-standard"].skjema {
  padding-top: 40px;
  padding-bottom: 40px;
}

.spm-blokk {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #d1cfcf;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.lenker-dot {

  span {
    margin-left: 14px;

    &:first-child {
      margin-left: 0;
    }
  }

  [class*="knapp"] {
    margin-left: 30px;
  }

  input {
    margin-left: 30px;
  }

  .loadingIndicator {
    margin-left: 2rem !important;
  }

  span:not(:first-child) {
    &:before {
      padding-right: 14px;
      content: "•";
      color: #000;
    }
  }
}

.strek {
  background-image: url(../img/under-dark.png);
  background-repeat: no-repeat;

}

.strek-top {
  .strek;
  background-position: top center;
  padding-top: 15px;
  margin-top: 15px !important;
}

.strek-bottom {
  .strek;
  background-position: bottom center;
  padding-bottom: 15px;
  margin-bottom: 15px !important;
}

.skjemaramme {
  .strek-top;

  .skjemainnhold {
    width: 75%;
    margin: 0 auto;

    .spm-knapper {
      text-align: center;

      .spm-navigering {
        .strek-bottom;
        margin-top: 1rem;

        a {
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .spm-fortsett {
        margin-top: 1rem;

        span {
          text-transform: uppercase;

          a {
            text-transform: none;
          }
        }
      }
    }

    .spm {
      margin-top: 20px;
      margin-bottom: 10px;
      width: 100%;

      .spm-sporsmal {
        font-weight: bold;
      }

      .blokk-resultat  {
        margin: 10px 15px;
        width: 100%;

        .checked {
          background-color: #333;
        }
      }

      .svar-alt {
        margin: 5px 0px;
        text-transform: none !important;

        .mer-info {
          margin-left: 5px;
        }
      }

      textarea {
        width: 40%;
        margin: 10px 0px;
      }
    }
  }
}


.sideoversikt {
  width: 20%;
  height: 100%;
}


.active {
  color: #333;
}