@svar-bakgrunnsfarge: #d1d1d1;

.skjematittel {
  text-align: center;
}

.skjemaramme {
  border-top: 1px solid #d1d1d1;

  .skjemainnhold {
    width: 75%;
    float: left;
    height: 100%;

    .spm-blokk {
      float: left;
      margin-top: 20px;
      margin-bottom: 10px;
      clear: both;
      width: 100%;

      .blokk-resultat  {
        margin: 10px 15px;
        float: left;
        clear: both;
        width: 100%;

        .checked {
          background-color: #333;
        }
      }
      .spm {
        font-weight: bold;
      }
      .svar-alt {
        margin: 5px 0px;
        float: left;
        clear: both;
        text-transform: none !important;

        .mer-info {
          margin-left: 5px;
        }
      }

      textarea {
        width: 40%;
        margin: 10px 0px;
      }
    }
  }
}


.sideoversikt {
  float: left;
  width: 20%;
  height: 100%;
}


.active {
  color: #333;
}