#arbeidsforhold {
    .arbeidsforhold-spm {
        margin-bottom: 40px;

        input, select {
            width: 75%;
            margin-bottom: 1rem;

            &#arbeidsgiver_navn {
                width: 100%;
            }
        }

        .varighet {
            width: 75%;
            > div {
                display: inline-block;
                width: 47.35%;

                input {
                    width: 100%;
                }

                &:last-child {
                    margin-left: 4%;
                }
            }
        }

        .sluttaarsak-informasjon {
            margin-bottom: 1rem;
        }
    }

    .knapper-opprett-arbeidsforhold {
        border-top: 1px solid #ddd;
        margin-top: 1rem;
        padding-top: 2rem;
        text-align: center;

        input, a {
            display: block;
            margin: 0 auto 1rem;
        }
    }

  .arbeidsforhold-oppsummering-endre-slett {
    text-align: center;
    margin-bottom: 30px !important;
  }

    .spm-knapper {
        border-top: 1px solid #ddd;
        padding-top: 40px;
    }

    .knapper-arbeidsforhold {
        #legg-til {
            text-align: center;
            margin-top: 40px;
        }

        #har-ikke-jobbet {
            margin-top: 40px;
        }
    }
}

.arbeidsforhold-informasjonstekst {
  margin-bottom: 30px !important;
  margin-top: 10px !important;
  font-size: 17px;
  font-weight: 600;
  font-family: Modus;
}
.arbeidsforhold {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;

  .arbeidsforhold-dato {
    text-transform: uppercase;
    margin-right: 5px;
  }
  .arbeidsforhold-arbeidsgivernavn {
    font-weight: bold;
  }
  .oppsummering-label {

    .svar-oppsummering-label {
      text-transform: uppercase;
      margin-right: 5px;

    }
  }

  .svar-oppsummering-uten-checkbox {
    margin-bottom: 10px !important;
    font-weight: bold;
  }
  .svar-oppsummering-informasjon {
    margin-bottom: 15px !important;
  }
}

.arbeidsforhold-avbryt {
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-block;
}
.sluttaarsak {
  margin-top: 25px;
}