.arbeidsforhold-spm {
    .sluttaarsak-valg {
        .hjelpetekst {
            position: relative;
            top: 0;
        }
    }

    .spm {
        &.boolean > .ekstra-spm-boks {
            margin-left: 32px;
        }

        > .ekstra-spm-boks {
            margin-right: 15px ;
            margin-left: 15px;
        }

        .spm-sporsmal .hjelpetekst {
            position: relative;
            top: 0;
        }
    }

    .nav-radio-knapp {
        &:last-of-type {
            margin-bottom: 0;

            label {
                margin-bottom: 0;
            }
        }
    }

    .knapper-opprett {
        margin-left: 15px;
        margin-right: 15px;

        &:not(.valgt) {
            margin-top: 30px;
        }
    }

    .form-linje.prosentfelt {
        input {
            width: 44px !important;
        }
    }

    .konkurs {
        .ekstra-spm-boks {
            .form-linje {
                padding: 0 15px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .ekstra-spm-boks.vedlegginfoboks {
        margin-top: 10px;
    }

    .fiks-siste-boks {
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 30px;
    }

    .infoboks + .vedlegginfoboks {
        margin-top: 30px;
    }
}

#arbeidsforhold {
    .arbeidsforhold-boks {
        padding: 15px;

        .spm-boks {
            padding: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    ul {
        padding-left: 20px;
    }

    .form-errors {
        padding-left: 3rem;
    }

    .varighet span {
        font-size: 1rem !important;
        font-family: Modus, Arial, Helvetica, sans-serif;
    }

    .skjemainnhold {
        padding-top: 20px;
    }
    .arbeidsforhold-informasjonstekst {
        font-size: 1.21rem;
        font-weight: 600;
        font-family: Modus, Arial, Helvetica, sans-serif;
        margin-bottom: 30px;
        line-height: 1.6rem;
    }

    .knapper-opprett-arbeidsforhold {
        border-top: 1px solid #ddd;
        margin-top: 1rem;
        padding-top: 2rem;
        text-align: center;

        input, a {
            display: block;
            margin: 0 auto 1rem;
        }
    }

    .arbeidsforhold-oppsummering-endre-slett {
        text-align: center;
    }

    .knapper-arbeidsforhold {
        #legg-til {
            text-align: center;
        }

        #har-ikke-jobbet {
            margin-top: 40px;
        }
    }
    .sluttaarsak-tilleggsinformasjon {
        padding: 15px;
    }
    .form-linje.feil.knapp {
        padding-top: 20px;

        .melding {
            text-align: center;
        }
    }
}

[data-ng-repeat="af in arbeidsforhold"] {
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;

    &.last {
        border-bottom: none;
        margin-bottom: 0;
    }
}

.arbeidsforhold {

    .arbeidsforhold-dato {
        text-transform: uppercase;
        margin-right: 5px;
    }
    .arbeidsforhold-arbeidsgivernavn {
        font-weight: bold;
    }
    .arbeidsforhold-arbeidsgivernavn-overskrift {
        font-size: 17px;
        font-family: modus;
        font-weight: 600;
        margin-bottom: 15px !important;
    }

    .arbeidsforhold-land-sluttaarsak-blokk {
        margin-bottom: 15px;

        .svar-oppsummering-deler {
            margin: 0px 5px;
        }
    }

    .arbeidsforhold-oppsummering-endre-slett {
        text-align: center;
    }
}

.arbeidsforhold-avbryt {
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
}





