.datepicker {
    input {
        min-width: 120px;
        width: 100% !important;
        padding-right: 30px;
        background-image: url(../img/kalender.svg);
        background-repeat: no-repeat;
        background-position: center right;

        &:hover {
            background-image: url(../img/kalender_hover.svg);
        }
    }

    &.feil {
        .melding {
            display: inline-block !important;
        }
    }
}

.datepicker-intervall {
    .datepicker {
        width: 47%;
        display: inline-block;

        &:last-child {
            margin-left: 4.5%;
        }
    }
}