@datepickerblaa: #0067c5;
@datepickerrod: #c30000;
@datepickersvart: #3d3731;
@datepcikergraa: #ddd;

.datepicker-input .input-group {
  input {
    height: 30px;
    visibility: hidden;
    width: 0;
  }

  ul {
    border-radius: 2%;
    border: 1px solid #d1d1d1;
    padding: 5px;
  }

  .btn {
    background-color: #fff;
    background-image: none;
    border: none;
    padding: 3px 9px;
  }

  .dropdown-menu {
    li:last-child {
      position: relative;
      height: 3rem;

      a.lukk:hover, a.lukk:focus {
        background: url("../img/kryss_hover.svg");
      }
    }
  }

  table {
    thead {
      .datepicker-title {
        text-transform: capitalize;

        &:hover {
          text-decoration: underline;
        }
      }
      .btn:hover, .btn:focus {
        background-color: #fff;
        strong {
          text-decoration: underline;
        }
      }

      tr:first-child {
        border-bottom: 1px solid @datepickersvart;
      }
      tr:last-child {
        font-family: modus;
        font-weight: bold;
        font-size: .75rem;
        text-transform: capitalize;

        small {
          font-size: 100%;
        }
      }
      .pull-left {
        background: url(../img/pil-venstre.svg) no-repeat;
        height: 13px;
        background-position-x: right;

        &:hover, &:focus {
          background: url(../img/pil-venstre-hover.svg) no-repeat;
          background-position-x: right;
          height: 13px;
        }
      }
      .pull-right {
        background: url(../img/pil-hoyre.svg) no-repeat;
        height: 13px;

        &:hover, &:focus {
          background: url(../img/pil-hoyre-hover.svg) no-repeat;
          height: 13px;
        }
      }
    }
    tbody td {
      padding: 0;
    }
    tbody:focus {
      outline: none;
    }
    tr td {
      font-family: modus;
      font-size: 0.85rem;
      font-weight: normal;

      .btn, .btn[disabled] {
        border: 2px solid transparent;

        &:hover {
          background-color: #fff;
          border-radius: 0%;
          border: 2px solid #dddddd;
        }

        &:focus {
          text-decoration: underline !important;
        }
      }
      .btn[disabled]:focus span {
        color: @datepcikergraa;
      }

      .btn[disabled].active {
        color: #dddddd;
      }

      span {
        line-height: 1.6rem;
      }

      .btn.active, .btn.active.btn-info {
        border: 2px solid @datepickerblaa;
        color: #fff;
        border-radius: 0%;
        background-color: @datepickerblaa;

        span {
          color: #ffffff;
        }

        &:hover {
          border: 2px solid @datepcikergraa;
          span {
            color: #ffffff;
          }
        }
      }

      span.text-muted, .btn[disabled] span {
        color: #9e9b98;
        font-size: 0.85rem;
        font-weight: normal;

      }

      .btn.idag {
        border-radius: 0%;
        border: 2px solid @datepickerblaa;

        &:hover {
          border: 2px solid @datepcikergraa;
        }
        &.active {
          color: #ffffff;
          background: @datepickerblaa;

          span {
            color: #ffffff;
          }

          &:hover {
            border: 2px spolid @datepcikergraa;
            color: #fff;
            span {
              color: #fff;
            }
          }
        }

      }
      &:hover {
        .text-muted {
          color: #fff;
        }
      }
    }
  }

  table.day {
    tbody {
      &:focus .btn.active {
        text-decoration: underline;
        span {
          color: #ffffff;
        }
      }

      tr td {
        &:first-child {
          font-family: arial;
          font-weight: italic;
          font-size: 0.75rem;
          color: #675b53;
          border-right: 1px solid #dddddd;
        }

        &:last-child {
          span {
            color: @datepickerrod;
          }

          .btn:hover span {
            color: @datepickerrod;
          }
          .btn:hover[disabled] span {
            color: #9e9b98;
          }
        }
      }
    }
  }
  table.month {
    tbody tr td {
      button.btn, button {
        padding: 10px 20px;

        span {
          font-size: 1rem !important;
          color: #9e9b98;
        }
      }
    }
  }
  table.year {
    tbody tr td {
      button.btn, button {
        padding: 5px 10px;

        span {
          font-size: 1rem !important;
          color: #9e9b98;
        }
      }
    }
  }
}

