.datepicker {
    .datepicker-input {
        display: inline-block;
        position: relative;
        height: 32px;
        border: 1px solid #cccccc;
        border-top: 1px solid #b7b1a9;
        background-color: white;

        span {
            position: absolute;
            bottom: 5px;
            background-color: transparent;
            cursor: text;
        }

        input {
            border: none !important;

            &.dag {
                width: 24px;
                padding-right: 0;

                + span {
                    left: 23px;
                }
            }

            &.maned {
                width: 16px;
                padding-left: 0;
                padding-right: 0;

                + span {
                    left: 44px;
                }
            }

            &.ar {
                width: 42px;
                padding-left: 0;
            }
        }
    }

    .knapp-liten {
        background-image: url(../img/kalender_hover.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 32px;
        height: 32px;
        padding: 0;
        position: relative;
        top: 1px;
        left: -5px;
    }


    &.feil {
        .datepicker-input {
            background-color: #fee6e6;
            border: 1px solid #fca292;
            border-top: 1px solid @red;
        }

        .knapp-liten {
            border-left: 1px solid #fca292;
        }

        .melding {
            display: inline-block !important;
        }
    }

    &.fokus {
        .datepicker-input {
            border-color: rgba(82, 168, 236, .8);
        }
    }
}

.datepicker-intervall {
    .datepicker {
        width: 47%;
        display: inline-block;

        &:last-child {
            margin-left: 4.5%;
        }
    }
}