.datepicker {
    width: 170px;
    vertical-align: top;

    .caretPosition {
        border: none !important;
        padding: 0 !important;
        margin: 0 !important;
        display: inline !important;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
    label.dato-label {
        display: block;
    }
    .datepicker-input {
        display: inline-block;
        width: 102px;
        height: 32px;
        background-color: #fff;
        border: 1px solid #cccccc;
        border-top: 1px solid #b7b1a9;

        label {
            display: inline;

            .punktum {
                cursor: text;
                position: relative;
                top: 2px;

                &.graa {
                    color: #ccc !important;
                }
            }

            .maskedInput {
                position: relative;
                display: inline-block;

                &.dag {
                    input {
                        width: 22px;
                        padding-right: 0;
                    }
                }

                &.maaned {
                    input {
                        width: 21px;
                        padding-left: 0;
                        padding-right: 0;
                    }
                }

                &.aar {
                    input {
                        width: 39px;
                        padding-left: 0;
                    }
                }

                input {
                    position: relative;
                    border: none !important;
                    background-color: transparent !important;
                }

                .mask {
                    background: transparent;
                    border: none !important;
                    padding: 0 !important;
                    margin: 0 !important;
                    position: absolute;
                    color: #ccc !important;
                    font-size: 14px !important;
                    cursor: text;
                    text-transform: none;
                }
            }
        }
    }

    .knapp-liten {
        background-image: url(../img/kalender_hover.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 32px;
        height: 32px;
        padding: 0;
        position: relative;
        top: 1px;
        left: -5px;
    }


    &.feil {
        .datepicker-input {
            background-color: #fee6e6;
            border: 1px solid #fca292;
            border-top: 1px solid @red;
        }

        .knapp-liten {
            border-left: 1px solid #fca292;
        }

        .melding {
            display: block !important;
        }
    }

    &.fokus {
        .datepicker-input {
            border-color: #52A8EC;
        }

        .knapp-liten {
            border-left: 1px solid #52A8EC;
        }
    }
}

.datepicker-intervall {
    .datepicker {
        display: inline-block;
    }
}