.orgnummer-repeat .orgnummer {
  width: 100%;
  padding-bottom: 0px !important;
  float: left;

  .melding {
    display: block;
  }
}

.orgnummer-slett {
  float: left;
  display: block;
  margin-left: -300px;
  margin-top: 42px;

}

.orgnummer-leggtil {
  display: block;
  clear: both;
  margin: 15px;
  padding-top: 10px;
}

.arbeidsmengde {
  input {
    width: 40px;
  }

  span {
    display: block;
  }
  .timer {
    font-weight: bold;
  }
}

.andelsfordeling-spm {
  margin: 0px 15px -5px 15px !important;
}

.andels-fordeling {
  .form-linje {
    float: left;
    width: 45%;

    input {
      width: 40px;
      display: block;
    }

    .melding {
      display: block;
    }

    &:first-child {
      width: 25%;
    }
    &:last-child {
      width: 25%;
    }
  }
}

.gardsbruk-timer {
  clear: both;

  .form-linje {
    float: left;
    width: 25%;

    input {
      width: 70px;
      display: block;
    }

  }

}

.timeredegjoring {
  clear: both;
}

.navradio-utenmargin {
  border-bottom: none;
  .nav-radio-knapp {
    margin-left: 0px;
  }
}

.fangstfiskeinntekt input {
  width: 100px;
  display: block;
}