#egennaering {
    #fangst-og-fiske {
        .nav-boolean.ekstra-spm-boks {
            margin-bottom: 0;
        }

        .vedlegginfoboks {
            margin-top: 0;
        }
    }

    #gardsbruk {
        .arbeidsmengde-container {
            label {
                margin-bottom: 0 !important;
            }
            .melding {
            }
        }

        .gardsbruk-timer {
            padding: 15px;

            .form-linje {
                padding: 0px !important;
                clear: none !important;

                label {
                    display: inline-block;
                }

                input {
                    width: 70px !important;
                    display: inline-block;
                }
                select {
                    display: inline-block;
                    width: 77px;
                    border: 1px solid #cccccc !important;
                    border-top: 1px solid #b7b1a9 !important;
                    background-color: #fff !important;
                }
            }
        }

        .andelsfordeling-container {

            &.aktiv-feilmelding {
                .form-linje.feil.tekstfelt input:focus {
                    border: 1px solid #c30000;
                    background-color: #FAD6D6;
                }
                &.feil {
                    border: 1px solid #c30000;
                    background-color: #FAD6D6;
                }
            }

            .andels-fordeling {

                .form-linje {
                    margin-bottom: 30px;
                    padding: 0px !important;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    input {
                        max-width: 42px;
                        display: block;
                    }

                    span:not(.melding) {
                        display: block;
                    }

                    &.feil .melding {
                        display: block;
                        clear: both;
                    }
                    &.aktiv-feilmelding input {
                        border: 1px solid #c30000;
                        background-color: #FAD6D6;
                    }
                }
            }
            &.feil .andels-fordeling .melding {
                display: none;
            }

            &.feil .prosentmelding {
                margin-top: 10px;
                color: #A00404;
                display: block;
            }

            .prosentmelding {
                display: none;
            }
        }
    }

    .orgnummer-repeat .orgnummer {
        width: 100%;
        padding-bottom: 0px !important;

        &feil .melding {
            display: block;
        }
        span {
            margin-top: 7px !important;
        }
    }

    &.aktiv-feilmelding.feil.tekstfelt input:focus {
        border: 1px solid #c30000;
        background-color: #FAD6D6;
    }
    &.aktiv-feilmelding.feil.tekstfelt input {
        border: 1px solid #fca292;
        background-color: #fee6e6;
    }
    
    .orgnummer-slett {
        margin-left: 10px;
    }

    .orgnummer-leggtil {
        display: inline-block;
        clear: both;
        margin: 15px;
    }

    .arbeidsmengde-container {
        input {
            width: 55px !important;
            margin-right: 10px;
        }
    }

    @media only screen and (max-width: 570px) {
        .andels-fordeling .form-linje {
            width: 74% !important;

            span {
                margin-bottom: 0px;
            }
        }

        .arbeidsmengde-container {
            margin-right: 25px !important;
        }
    }
}
