#start-ettersending {
    .panel-standard-belyst {
        text-align: center;
        padding: 40px 30px;
    }

    p:last-child {
        margin-bottom: 30px;
    }
}

#ettersending {
    margin-top: 40px;

    h1 {
        margin-top: 10px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        background-image: url(../img/under-dark.png);
        background-position: bottom center;
        background-repeat: no-repeat;
    }

    .innsendt {
        text-transform: uppercase;
    }

    .frist {
        font-weight: bold;
    }

    .panel-standard {
        text-align: center;

        .ikon-vedlegg-ettersende {
            padding-top: 48px;
            background-image: url(../img/under_arbeid_ikon.svg);
            background-repeat: no-repeat;
            background-position: top center;
        }

        .ikon-vedlegg-resten {
            padding-top: 48px;
            background-image: url(../img/ferdig_ikon.svg);
            background-repeat: no-repeat;
            background-position: top center;
        }

        .ettersendes {
            margin-bottom: 30px;
        }

        .resten {

        }

        .vedleggboks {
            border: 1px solid #d1d1d1;
            border-bottom: none;
            background: #fff;
            padding: 4%;
            text-align: left;

            .vedlegg-navn {
                display: inline-block;
                width: 58%;

                .navn {
                    text-transform: uppercase;
                    font-size: 0.857rem;
                }

                .tittel {
                    font-family: Modus, Arial, Helvetica, sans-serif;
                    font-size: 1.21rem;
                }
            }

            .last-opp {
                display: inline-block;
                width: 38%;
                text-align: right;
            }

            &:last-child {
                border-bottom: 1px solid #d1d1d1;
            }
        }
    }
}