#start-ettersending {
    .panel-standard-belyst {
        text-align: center;
        padding: 40px 30px;
    }

    p:last-child {
        margin-bottom: 30px;
    }
}

#ettersending {
    margin-top: 40px;

    h1 {
        margin-top: 10px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        background-image: url(../img/under-dark.png);
        background-position: bottom center;
        background-repeat: no-repeat;
    }

    .sticky-bunn {
        display: none;

        &.stick {
            display: block;
        }
    }

    .innsendt {
        text-transform: uppercase;
    }

    .frist {
        font-weight: bold;
    }

    .knapp-leggtil-liten {
        margin-top: 40px;
    }

    .panel-standard {
        text-align: center;

        .strek-bottom {
            margin-bottom: 30px !important;
            padding-bottom: 30px;
        }

        .ikon-vedlegg-ettersende {
            padding-top: 48px;
            background-image: url(../img/under_arbeid_ikon.svg);
            background-repeat: no-repeat;
            background-position: top center;
        }

        .ikon-vedlegg-resten {
            padding-top: 48px;
            background-image: url(../img/ferdig_ikon.svg);
            background-repeat: no-repeat;
            background-position: top center;
        }

        .ettersendes {
            margin-bottom: 30px;

            .vedleggboks {
                position: relative;

                &:not(.annetVedlegg) {
                    .navn {
                        padding-left: 25px;
                    }
                }
            }

            .slett {
                background-image: url(../img/kryss_svart.svg);
                background-repeat: no-repeat;
                background-size: 100%;
                position: absolute;
                top: 5px;
                right: 5px;
                width: 12px;
                height: 12px;

                &:hover {
                    background-image: url(../img/kryss_bla.svg);
                }
            }
        }

        .resten {

        }

        .vedleggboks {
            border: 1px solid #d1d1d1;
            border-bottom: none;
            background: #fff;
            padding: 20px;
            text-align: left;

            &.opplastet {
                .tittel {
                    padding-left: 25px;
                    background-image: url(../img/vedlegg-svart.svg);
                    background-repeat: no-repeat;
                    background-position: top left;
                }

            }

            .vedlegg-navn {
                display: inline-block;
                vertical-align: bottom;
                width: 62%;

                .hjelpetekst-parent {
                    left: -13px;
                    .hjelpetekst {
                        text-align: center;
                        position: relative;
                        top: -1px;
                        left: 5px;
                    }
                }

                .navn {
                    text-transform: uppercase;
                    font-size: 0.857rem;
                    white-space: nowrap;
                    overflow-x: hidden;
                    text-overflow: ellipsis;
                }

                .tittel {
                    font-size: 1.21rem;
                    display: inline-block;
                }
            }
            .last-opp {
                display: inline-block;
                width: 37%;
                text-align: right;

                ul {
                    li {
                        margin-top: 0;

                        &:before {
                            padding: 0 0.8rem;
                        }

                        a {
                            padding: 0;
                        }
                    }
                }
            }

            &:last-child {
                border-bottom: 1px solid #d1d1d1;
            }
        }
    }

    .send-inn {
        input, a {
            display: block;
        }

        input {
            margin: 0 auto 30px;
        }

        a {
            margin-bottom: 40px;
        }

        .klare-vedlegg {

        }
    }
}