	#fortsett-senere {
    .send-epost {
        margin: 2rem 0;
        border-bottom: 1px solid #d1cfcf;

        input[type=email] {
            width: 23rem;
            margin-right: 0.6rem;
            margin-bottom:10px;
            display: inline;
        }
        
        input[type=submit] {
            margin-top:-5px;
        }


        .informasjon {
            text-align: left;
            padding-bottom: 2rem;
        }
    }

    .lenker-dot {
        margin-bottom: 40px;
        text-align: center;
    }

    .lenker-dot a  {
        content: "•";
    }

    .lenker-dot a span {
        text-align: center;
        color: #0067C5;
    }
}