body.contrast {
  .hoykontrast a {
    color: #00a9e0 !important;
    &:hover {
      color: #ffc40d !important;
    }
  }

  [class*='innstillinger'] .innlogging .loggut {
    border-color: #000;

    &:hover {
      background-color: #0ca9e1 !important;
      border-color: #0ca9e1;
      color: #000000 !important;
    }
  }
  .stegindikator li.aktiv .steg {
    background-color: #fff !important;
    border-color: #000;
    .tekst {
      color: #000 !important;
      background-color: #fff !important;
    }
  }
  .stegindikator li.stegklikkbart .steg {
    .tekst {
      color: #ffc40d !important;
    }
    &:hover .tekst {
      color: #00a9e0 !important;
    }
  }
  a:hover {
    color: #00a9e0 !important;
  }

  .deaktiverFeilmelding, .deaktiverFeilmelding:hover {
    color: #fff !important;
  }
  select {
    color: #000 !important;

    option {
      background-color: #fff !important;
    }
  }
  .spm-blokk {
    border-top: 1px solid #555555;

    &:hover {
      background-color: #e6e6e6;

      .flipp {
        cursor: pointer;

        .flipp:hover {
          border-color: transparent transparent #AB740D transparent !important;

          &:before {
            border-top: @flipp-size solid #ffc40d !important;
          }
        }
      }
    }
    .flipp:hover {
      border-color: transparent transparent #004283 transparent !important;

      &:before {
        border-top: @flipp-size solid #0067c5 !important;
      }
    }
    &.open {
      background-color: white;

      .flipp {
        cursor: pointer;
        border-color: transparent transparent #AB740D transparent;

        &:before {
          border-top: @flipp-size solid #ffc40d;
        }
      }
    }
    &.validert, {
      .accordion-heading h2:before {
        background: url(../img/hake-hvit.svg) no-repeat center 10px;
      }
    }
  }

  .lastetopp, .behandlet {
    h2:before {
      background: url(../img/hake-hvit.svg) no-repeat center 10px !important;
    }
  }

  a.accordion-toggle, #vedlegg a.accordion-toggle {
    display: block;
    outline: none;
    &:active {
      .flipp {
        cursor: pointer;
        border-color: transparent transparent #AB740D transparent;

        &:before {
          border-top: 30px solid #ffc40d;
        }
      }
    }
    &:focus {
      .flipp {
        cursor: pointer;
        border-color: transparent transparent #AB740D transparent;

        &:before {
          border-top: 30px solid #ffc40d;
        }
      }
    }
  }

  .accordion-group.validert, .vedlegg-bolk.validert {
    .flipp {
      cursor: pointer;
      border-color: transparent transparent #AB740D transparent;

      &:before {
        border-top: 30px solid #ffc40d;
      }
    }
  }

  .knapp-liten, .knapp-hoved-liten {
    background-color: #ffffff !important;
    color: #000000 !important;

    &:hover {
      background-color: #0ca9e1 !important;
      border: 1px solid #0ca9e1 !important;
      color: #000;
    }
  }
  .knapp-leggtil-liten, #vedlegg .knapp-link {
    color: #ffffff !important;

    &:hover {
      background-color: #0ca9e1 !important;
      border-color: #0ca9e1;
      color: #000000 !important;
    }
  }

  .knapp-hoved {
    background-color: #0ca9e1 !important;
    border-color: #0ca9e1;
    color: #000000 !important;

    &:hover {
      background-color: #ffffff !important;
      border-color: #ffffff;
    }
  }

  .vedlegginfoboks [class*="ikon-vedlegg-strek"] {
    background-image: url(../img/vedlegg-hvit.svg);
  }

  .form-linje.feil, {
    border-color: #fb6e8c !important;
    background: #ffdee3 !important;
  }

  .form-linje.checkbox.feilstyling .form-linje, .form-linje {
    &.feil {
      border: 1px solid #fb6e8c;
      background: #ffdee3;
    }
  }
  .form-linje {
    &.checkbox.feilstyling .form-linje, .form-linje {
      &.feil {
        border: 1px solid #ffdee3;
        background: #ffdee3;
        padding: 15px;

        &.aktiv-feilmelding.tekstfelt input {
          border: 1px solid #c30000;
          background-color: #ffdee3;
        }
        .melding {
          color: #A00404;
        }
      }
    }

    &.feil {
      .form-linje {
        .melding {
          display: none;
        }
        input, select, textarea {
          border: 1px solid #ccc;
          background-color: #fff;
        }
      }
      select {
        border: 1px solid #ffdee3;
        border-top: 1px solid #ff0000;
        background: @errorBackground;
      }

      &.boolean {
        border: 1px solid #ffdee3;
        background-color: #ffdee3 !important;

        h4, .nav-radio-knapp, span, label {
          background-color: #ffdee3 !important;
          color: #000 !important;
        }
      }
      textarea {
        background-color: #ffdee3;
      }

      &.knapp {
        background-color: #ffdee3;
        border: 1px solid #ffdee3;
      }

      &.aktiv-feilmelding.boolean {
        border: 1px solid #c30000;
        background-color: #FAD6D6;

        .melding {
          color: #A00404;
        }
      }
      &.aktiv-feilmelding.tekstfelt input, &.aktiv-feilmelding textarea {
        border: 1px solid #c30000;
        background-color: #ffdee3;

        .melding {
          color: #A00404;
        }
      }
      .form-linje.tekstfelt input {
        background-color: #fff;
      }
    }
    &.aktiv-feilmelding.checkbox.feilstyling {
      border: 1px solid #c30000;
      background-color: #FAD6D6;

      .melding {
        color: #A00404;
      }
    }

    &.checkbox.feilstyling {
      border: 1px solid #ffdee3;
      background: #ffdee3;
    }
  }
}