#informasjonsside {
    h2 {
        text-align: center;
    }

    #utslagskriterier {
        margin-top: 40px;
        padding-top: 40px;
        border-top: 1px solid #d1d1d1;

    }

    .utslagskriterier-knapper{
        margin-top: 40px;
        margin-bottom: 40px;
        text-align:center;

        input {
            margin: 0 auto;
        }
    }
    
    .border-bunn {
    	border-bottom: 1px solid #d1d1d1;
    	padding-bottom: 30px;
    	margin-bottom: 30px;
    }
}