#informasjonsside, .informasjonsside {
    border-top: 1px solid #d1d1d1;

    .avhuket {
        margin-top: 15px;
    }

    .sjekket {
        display: inline-block;
        background: url(../img/hake_sort.png) no-repeat center;
        width: 10px;
        height: 10px;
        background-size: 100%;
    }

    .rad-belyst {
        border-bottom: none;
    }

    .utrop-sirkel-ikon {
        background-image: url(../img/utropstegn-sirkel-gra.svg);;
        background-position: center top;
        background-repeat: no-repeat;
        padding-top: 97px;
    }

    .feil {
        h1 {
            color: #C8C5C4;
            text-align: center;
        }

        .knapper {
            margin-top: 40px;
            margin-bottom: 40px;
            text-align: center;
        }
    }

    form.form-linje {
        margin-left: 5px;
    }

    ul {
        list-style-type: none;
        margin-bottom: 0px;
        padding-left: 0px;
        li {
            &:before {
                content: "•";
                display: inline-block;
                margin-left: -20px;
                vertical-align: top;
                position: relative;
                padding-right: 10px;
            }
            padding-left: 20px;
            padding-bottom: 15px;
            font-weight: bold;

            &:last-child {
                padding-bottom: 0;
            }

            p {
                display: inline-block;
            }

            a {
                display: block;
                font-weight: normal;
            }
        }
    }

    ol {
        padding-left: 19px;
    }

    .label {
        font-size: 0.85rem !important;
        text-transform: uppercase;
    }

    .adresse {
        font-weight: bold;
    }

    .utslagskriterie, .viktig-info {
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid #d1d1d1;

    }

    .utslagskriterier-knapper {
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;

        input {
            margin: 0 auto;
            margin-bottom: 15px;
            display: block;
        }

        p {
            padding-left: 40px;
            margin-top: 15px;
        }

        img {
            display: block;
            margin: 0 auto 20px;
        }
    }

    .checkbox {
        padding-top: 30px;
        padding-left: 20px;
    }

    a.registrer {
        display: block;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}