#informasjonsside {
    h2 {
        text-align: center;
        padding-bottom: 25px !important;
        margin-bottom: 25px !important;
    }

    form, .brosjyre-info {
        padding-left: 40px;
        
        .nav-checkbox {
        	padding-left: 20px;
        }
    }
    
    ul {
    	list-style-type: none;
    	margin-bottom:0px;
    	li {
    		background-image: url(../img/7x7_svart.png);
			background-repeat: no-repeat;
			background-position: left 5px;
			padding-bottom: 15px;
			padding-left: 20px;
    	}
    }
    
    

    ol {
        padding-left: 19px;
    }
    
    .adresse {
    	margin-left: 40px;
		margin-top: 10px;
    }

    .utslagskriterie, .viktig-info {
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid #d1d1d1;
        
    }
    .viktig-info {
        a {
        	display:block;
        	padding-top:5px;
        }
    }

    .utslagskriterier-knapper{
        margin-top: 40px;
        margin-bottom: 40px;
        text-align:center;

        input {
            margin: 0 auto;
            margin-bottom: 15px;
            display:block;
        }
        
        p {
        	padding-left: 40px;
        	margin-top: 15px;
        }
    }
}