@media only screen and (max-width: 767px) {
    @flipp-size: 25px;
    @flipp-shadow-size: 54px;

    .initial-loader {
        padding-top: 30%;
    }

    body {
        font-size: 1.14rem;
    }

    [class^="liten"] {
        font-size: 1.14rem;
    }

    [class^="normal"] {
        font-size: 1.14rem;
    }

    [class^="medium"] {
        font-size: 1.21rem;
    }

    [class^="stor"] {
        font-size: 1.6rem;
    }

    .omslag:not(.modalside) {
        .ekstra-spm-boks {
            padding: 25px 10px;
            position: relative;
            left: -25px;
            width: 100vw;

            &:after, &:before {
                left: 49%;
            }
        }
    }

    .ekstra-spm-boks {
        padding: 25px 10px;

        &.nav-boolean {
            margin-left: 0px;
        }
    }

    .spm-sporsmal {
        font-size: 1.14rem;
        font-weight: bold;
    }

    .spm {
        .ekstra-info {
            margin-left: 0px;

            &.form-linje.checkbox .nav-checkbox {
                margin-left: 0px;
            }
        }
    }


    .nav-checkbox > label {
        margin-left: 0px;
    }

    .nav-checkbox {
        margin-left: 0px;
    }

    [data-ng-form] input[type="checkbox"] + label {
        margin-right: 0px;
    }

    .vanlig-select {
        label {
            display: inline-block;
            select {
                width: 100%;
            }
        }
    }

    .spm-blokk {
        &:hover {
            .flipp {
                .flipp:hover {
                    &:before {
                        border-top: @flipp-size solid #c30000 !important;
                    }
                }
            }
        }
        .flipp:hover {
            &:before {
                border-top: @flipp-size solid #0067c5 !important;
            }
        }
        &.open {
            .flipp {
                &:before {
                    border-top: @flipp-size solid #c30000 !important;
                }
            }
        }

        .flipp {
            top: -3px;
            width: @flipp-shadow-size;
            border-width: 0 2px 3px 2px;

            &:before {
                border-top: @flipp-size solid #ccc;
                border-left: @flipp-size solid transparent;
                border-right: @flipp-size solid transparent;
            }
        }

        .skjemaramme {
            padding-top: 15px;

            .skjemainnhold {
                width: 100%;
                max-width: none;
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        .accordion-heading {
            .accordion-toggle {
                h2 {
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
            }
        }

        &.validert {
            .accordion-heading h2:before {
                width: 1.8rem;
                height: 1.8rem;
                background-size: 1rem;
            }
        }
    }

    #oppsummering {
        .rad-belyst {
            padding-left: 25px;
            padding-right: 25px;

            .begrensning {
                width: 100%;

                [class*="panel-"] {
                    width: 100%;
                }

                .oppsummering {
                    .vedlegg {
                        display: block;
                        margin-left: 18px;

                        tbody, tr {
                            display: block;
                        }

                        .sjekket, .usjekket {
                            display: inline-block;
                            top: 0;
                            margin-left: -16px;
                            margin-right: 0;

                            + td {
                                display: inline;
                            }
                        }

                        .vedleggStatus {
                            font-size: 1rem;
                            display: block;
                            padding-left: 0;
                            text-align: left;
                            .antallSider {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .vedlegg-bolk {
        &.validert {
            .flipp {
                &:before {
                    border-top: @flipp-size solid #c30000 !important;
                }
            }
        }
    }

    .accordion-group {
        &.validert {
            .flipp {
                &:before {
                    border-top: @flipp-size solid #c30000 !important;
                }
            }
        }
    }

    a.accordion-toggle, #vedlegg a.accordion-toggle {
        &:active {
            .flipp {
                &:before {
                    border-top: @flipp-size solid #c30000 !important;
                }
            }
        }
        &:focus {
            .flipp {
                &:before {
                    border-top: @flipp-size solid #c30000 !important;
                }
            }
        }
    }

    .accordion-heading {
        padding-left: 25px;
        padding-right: 25px;
    }

    .sticky-bunn {
        .liste-vannrett li {
            float: none;

            &:before {
                display: block;
            }
        }
    }

    #personalia {
        .skjemaramme {
            .personalia {
                .alderOgKjonn {
                    display: none;
                }
            }
        }
    }
}