body.modalside {
    background-color: #3e3832;
    [class*="innstillinger"], .rad-logo, .footer, .rad.tittel {
        display: none;
    }

    .modalBoks {
        margin-top: 100px;

        .lukk {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 32px;
            height: 32px;
            background: url("../img/kryss.svg");
            background-color: transparent;
            background-repeat: no-repeat;
        }

        .panel-standard-belyst {
            padding: 15px;
            max-width: 550px;

            h2 {
                margin-top: 20px;
                margin-bottom: 20px !important;
                padding-bottom: 35px !important;
            }
        }
    }
}