.omslag.modalside + .sitefooter {
    display: none;
}


.omslag.modalside {
    background-color: #333333;
    [class*="innstillinger"], .rad-logo, .rad.tittel {
        display: none;
    }

    .modalBoks {
        padding-top: 100px;

        .datepicker {
            padding: 15px;
        }

        p {
            margin: 15px;
        }

        .vedlegginfoboks{
            p {
                margin: 0;
            }
        }

        input:not([type="submit"], [type="date"]), .selectboks {
            width: 65%;
        }

        .knapper-opprett {
            border-top: 1px solid #ddd;
            margin-top: 40px;
            padding-top: 40px;
            text-align: center;

            input, a {
                display: block;
                margin: 0 auto 0.875rem;
            }
        }
        .under-atten.feil .datepicker-input {
            background-color: #fee6e6;
            border: 1px solid #fca292;
            border-top-color: #c30000;
        }

        .panel-standard-belyst {
            position: relative;
            padding: 15px;
            max-width: 550px;

            h2 {
                margin-top: 35px;
                margin-bottom: 20px !important;
                padding-bottom: 35px !important;
            }
        }
        .informasjonstekst {
            padding: 0px;
            font-weight: normal;
            margin: 0px 15px;
        }

        .infoboks {
            width: initial;

            p {
                margin: 0px;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .omslag.modalside {
        .begrensning {
            width: 100%;
            padding: 10px;

            [class*="panel-"] {
                width: 100%;
                padding-left: 5px;
                padding-right: 5px;
                max-width: none;
            }
        }

        .modalBoks {
            margin-top: 0;
        }
    }
}