[class*="strek-ikon-vedlegg"], [class*="ikon-vedlegg-strek"] {
    background-image: url(../img/under-dark.png), url(../img/vedlegg_graa.svg);
    background-position: bottom center, center 0;
    padding-bottom: 15px;
    margin-bottom: 15px !important;
}

.uten-ramme {
    border: none;
}

form, [ng-form], [data-ng-form] {
    .checkboxAsRadio {
        input[type="radio"] + label {
            background: url(../img/check.svg) 0 0 no-repeat;
        }

        input[type="radio"]:disabled + label {
            background: url(../img/check_inactive.svg) 0 0 no-repeat;
        }

        input[type="radio"]:checked + label {
            background: url(../img/check_valgt.svg) 0 0 no-repeat;
        }

        input[type="radio"]:disabled:checked + label {
            background: url(../img/check_inactive_valgt.svg) 0 0 no-repeat;
        }

        input[type="radio"] + label {
            display: inline-block;
            position: relative;
            padding: 2px 0 0 32px;
            height: 30px;
            margin-right: 1rem;
            font-family: @sansFontFamily;
            font-size: 1rem !important;
            text-transform: none;
        }

        input[type="radio"]:checked + label {
            font-weight: bold;
        }
        &.form-linje.feil {
            .melding {
                text-align: left !important;
            }
        }
    }
}

#vedlegg {
    [class*="ikon-vedlegg-strek"] {
        padding-bottom: 30px;
        margin-bottom: 30px !important;
    }
    .strek-ikon-info-orange {
        margin-top: 30px;
        padding-bottom: 25px !important;
        margin-bottom: 25px !important;
    }

    .viktig-info {
        margin-bottom: 25px;

        li {
            &:before {
                content: "•";
                list-style-type: none;
                padding: 0 0.9rem;
                margin-left: -32px;
            }

            padding-bottom: 15px;
            padding-left: 20px;
            font-weight: bold;

            p {
                display: inline;
            }
        }
    }

    ul {
        list-style-type: none;
        margin-bottom: 0px;
        padding-left: 0px;
    }
    ul.form-errors {
        padding: 1rem;
        padding-left: 3rem;
        margin-bottom: 2rem;
        text-align: left;
    }

    .info, h4 {
        font-weight: 600;
        padding-bottom: 10px;
        line-height: 1.6rem;
        font-size: 1.21rem;
        font-family: Modus, Arial, Helvetica, sans-serif;
    }

    .inforad {
        border-bottom: none;
        border-top: 1px solid #d1d1d1;
    }
    .oversikt {
        text-align: center;
    }
    .leggtilekstra {
        background-color: #f1f1f1;
        padding-top: 50px;
        padding-bottom: 35px;
        border-bottom: none;

        button {
            background-color: #f1f1f1;
            margin-bottom: 30px;

            &:hover {
                background-color: #0067c5;
                color: #fff;
            }
        }
    }
    .ferdig-skjema {
        padding-top: 0px;
    }

    .vedlegg {
        h4 {
            padding: 0;
            margin: 0;
            padding-bottom: 10px;
        }

        .info-liste {
            border-bottom: 1px solid #ddd;
            padding-bottom: 40px;
            margin-bottom: 40px;
            ul {
                list-style-type: disc;
                padding-left: 16px;
            }
        }
        .skjemaramme {
            padding-top: 35px;
        }

        [class^='valgboks-'] {
            position: relative;
            display: inline-block;
            vertical-align: bottom;
            text-align: center;
            width: 213px;
            height: 213px;
            padding: 17px;
            margin: 10px 10px;
            margin-bottom: 30px;
            background-color: #333333;
            background-repeat: no-repeat, no-repeat;
            span {
                position: absolute;
                bottom: 0%;
                left: 0%;
                width: 100%;
                padding: 20px;
                color: white;
                text-transform: uppercase;
            }
        }
        .lastOpp {
            text-align: center;
            padding-bottom: 30px;
            li {
                margin: 15px;
            }
        }
        .valgboks-pc {
            background-image: url('../img/pc.svg'), url('../img/under-dark.png');
            background-position: center 20px, center 135px;
        }
        .valgboks-mobil {
            margin-left: 0;
            background-image: url('../img/mobil.svg'), url('../img/under-dark.png');
            background-position: center 20px, center 155px;
        }
        .send-valg {
            label {
                display: block;
            }
        }
        .liste-vannrett {
            margin-top: 30px;
        }
        .behandlet {
            div:last-of-type {
                padding-top: 30px;
                text-transform: uppercase;
                color: #3e3832;
            }
            h2 {
                padding-top: 0;
            }
        }
        .lastetopp, .behandlet {
            h2 {
                padding-top: 0;
                &:before {
                    display: inline-block;
                    content: "";
                    background: url('../img/hake.svg') no-repeat center 10px;
                    width: 2.1rem;
                    height: 2.1rem;
                    background-size: 1.4rem;
                }
            }

            &.ekstraVedlegg {
                h2 {
                    padding-top: 40px;
                    &:before {
                        display: inherit;
                        content: inherit;
                        background: inherit;
                        width: inherit;
                        height: inherit;
                        background-size: inherit;
                    }
                }
            }
        }
        .ekstraVedlegg {
            h2 {
                padding-top: 40px;
            }

            &.lastetopp, &.behandlet {
                h2 {
                    padding-top: 0px !important;
                }
                div {
                    padding-top: 30px;
                    text-transform: uppercase;
                    color: #3e3832;
                }
            }
            &.behandlet.lastetopp {
                .flipp {
                    padding-top: 0px;
                }
            }
        }
    }
    .accordion {
        border-bottom: 1px solid #d1d1d1;
    }

    .forhandsvisning {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        color: #0CA9E0;
        margin-top: 35px;
        .knapper {
            margin-top: 20px;

        }

        .bildenavigering {
            .bilde {
                width: 220px;
                height: 311px;
            }
        }
    }

    .form-linje.tekstfelt {
        margin: 0 auto;

        .annet-container {
            width: 233px;
            text-align: left;
            margin: 0 auto;

            input {
                width: 100%;
                margin-top: 8px;
            }

        }
        .annet-container.annetlastetopp {
            width: 220px !important;
        }
    }
    .form-linje.knapp {
        background-color: transparent;
        border-color: transparent;
        .melding {
            text-align: center;
        }
        .melding.annet {
            margin-top: -35px;
            text-align: center !important;
        }
    }
    .form-linje {
        padding: 0px;
    }
    .bilde {
        background-image: none;
    }
}

.bildenavigering {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #0CA9E0;

    .spinner {
        height: 30%;
        max-height: 128px;
    }

    .bilde {
        position: relative;
        padding: 10px;
        padding-bottom: 40px;
        display: inline-block;
        background-color: #333333;
        vertical-align: middle;
        span {
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 100%;
            text-align: center;
            color: #e0ded8;
        }
    }
    [class*='pil-'] {
        display: inline-block;
        height: 56px;
        width: 56px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 56px 56px;
        text-decoration: none;
        margin-top: 21%;
        cursor: pointer;

    }
    [class*='pil-venstre'] {
        margin-right: 10px;
    }
    [class*='pil-hoyre'] {
        margin-left: 10px;
    }
    .pil-venstre-hvit {
        background-image: url('../img/rund-pil-hvit-venstre.svg');
    }
    .pil-venstre-hvit:hover, .pil-venstre-hvit:focus {
        background-image: url('../img/rund-pil-hvit-venstre-hover.svg');
    }
    .pil-hoyre-hvit {
        background-image: url('../img/rund-pil-hvit-hoyre.svg');
    }
    .pil-hoyre-hvit:hover, .pil-hoyre-hvit:focus {
        background-image: url('../img/rund-pil-hvit-hoyre-hover.svg');
    }
    .pil-venstre-sort {
        background-image: url('../img/rund-pil-sort-venstre.svg');
    }
    .pil-venstre-sort:hover, .pil-venstre-sort:focus {
        background-image: url('../img/rund-pil-sort-venstre-hover.svg');
    }
    .pil-hoyre-sort {
        background-image: url('../img/rund-pil-sort-hoyre.svg');
    }
    .pil-hoyre-sort:hover, .pil-hoyre-sort:focus {
        background-image: url('../img/rund-pil-sort-hoyre-hover.svg');
    }
    .knapper {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
}

#visvedlegg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    left: 0;
    top: 0;
    margin: 0 auto;
    text-align: center;
    color: #0CA9E0;
    background-color: #333333;
    .header {
        position: absolute;
        left: 0;
        top: 0;
        height: 40px;
        width: 100%;
        box-shadow: 0 1px 4px #000000;
        color: #d1d1d1;
        padding-top: 13px;
    }
    .bildenavigering {
        width: 66%;
        height: 100%;
        [class*='pil-'] {
            float: none;
        }
        .tilbake {
            position: absolute;
            left: 0px;
            top: 5px;
            padding-top: 6px;
            border: 1px groove #d1d1d1;
            width: 150px;
            color: #d1d1d1;
            height: 30px;
            display: block;
            z-index: 11;

            &.mobil {
                display: none;
            }
        }
        .nav {
            height: 100%;
        }
        .bilde {
            display: inline-block;
            width: 50%;
            height: 90%;

            img {
                position: absolute;
                left: 0;
                right: 0;
                top: -40px;
                bottom: 0;
                margin: auto;
            }
        }
    }
}

#opplasting {

    .rad.uten-ramme {
        ul {
            list-style-type: none;
            margin-bottom: 0px;
            padding-left: 0px;

            li {
                margin: 0;
                margin-bottom: 30px;
            }
        }
    }

    #opplastingform {
        .begrensning {
            width: 850px;

            .opplastingliste {
                margin-top: 0;
                padding: 0;
                list-style: none;
                li {
                    width: 27.3333%;
                    margin-right: 1%;
                    margin-left: 1%;
                    margin-top: 0;
                    margin-bottom: 30px;
                    height: 319px;
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    color: #0CA9E0;
                    background-color: #333333;
                    padding: 10px;
                    background-image: url('../img/ajaxloader/svart/loader_svart_128.gif');
                    background-repeat: no-repeat;
                    background-position: center;
                    .lukk {
                        display: block;
                        position: absolute;
                        cursor: pointer;
                        background: #333333 url('../img/kryss_bla.svg') no-repeat center ~'/' 50%;
                        right: 0;
                        top: 0;
                        height: 40px;
                        width: 40px;
                    }

                }
                .leggtil {
                    background-image: url('../img/legg_til.svg');
                    background-repeat: no-repeat;
                    background-position: center 39%;
                    label {
                        text-align: center;
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        padding-top: 90%;
                    }
                }
                .leggtil:hover {
                    background-image: url('../img/legg_til_hover.svg');
                }
            }
        }
    }


    .panel.uten-ramme {
        margin-top: 30px;
    }
    border-top: 1px solid #d1d1d1;
    [class*="ikon-vedlegg-strek"] {
        padding-bottom: 30px;
        margin-bottom: 40px !important;
    }
    .sak-trekvart [class*="panel-"] {
        width: auto;
    }

    .form-linje {
        padding: 5px;
    }
    .opplastingfeil {
        margin: 0 auto;
        background-color: #c30000;
        padding: 1rem;
        padding-left: 3rem;
        text-align: center;
        color: #fff;
        width: 57%;
        margin-bottom: 50px;
        h1 {
            color: #fff;
        }

    }
    .melding {
        text-align: center;
    }
}