#oppsummering {

    .stegindikator {
        margin-top: 40px;
    }

    .oppsummering {
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid #ddd;

//        .personalia {
//            text-align: center;
//
//
//            .navnOgFnr span {
//                font-weight: 800;
//                font-family: Modus, Arial, Helvetica, sans-serif;;
//            }
//
//            .adresse {
//                .adressetype {
//                    display: none;
//                }
//
//                p {
//                    display: inline-block;
//
//                    &:after {
//                        content: ", ";
//                    }
//
//                    &:last-child {
//
//                        &:after {
//                            content: "";
//                        }
//                    }
//                }
//            }
//        }
    }

    form {
        input[type="submit"] {
            display: block;
            margin: 50px auto;
        }

        .lenker {
            text-align: center;
        }
    }

}