#oppsummering {

    [class*="strek-ikon-oppsummering"], [class*="ikon-soknader-strek"] {
        background-image: url(../img/under-dark.png), url(../img/oppsummering.svg);
        background-position: bottom center, center 0;
        padding-bottom: 15px;
        margin-bottom: 15px !important;
    }

    .oppsummering {
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid #ddd;

        .sjekket {
            display: inline-block;
            background: url(../img/hake_sort.png) no-repeat center;
            width: 10px;
            height: 10px;
            background-size: 100%;
        }
        .usjekket {
            display: inline-block;
            background: url(../img/minus_sort.png) no-repeat center;
            width: 10px;
            height: 10px;
        }
        .kulepunkt {
            display: inline-block;
            background: url(../img/7x7_svart.png) no-repeat center;
            width: 10px;
            height: 10px;
        }

        .hode {
            .personalia {
                padding-bottom: 30px;
                margin-bottom: 30px;
                border-bottom: 1px solid #ddd;
            }
        }

        .markup-feil {
            margin-top: 15px;
            p {
                color: #c30000;
            }
        }
    }

    form {

        .form-linje.feilstyling {
            padding-top: 20px !important;
        }

   
        .oppsummering {
            padding-bottom: 40px;
            margin-bottom: 40px;
            border-bottom: 1px solid #ddd;

            .sjekket {
                display: inline-block;
                background: url(../img/hake_sort.png) no-repeat center;
                width: 10px;
                height: 10px;
                background-size: 100%;
            }
            .usjekket {
                display: inline-block;
                background: url(../img/minus_sort.png) no-repeat center;
                width: 10px;
                height: 10px;
            }
            .kulepunkt {
                display: inline-block;
                background: url(../img/7x7_svart.png) no-repeat center;
                width: 10px;
                height: 10px;
            }

            .hode {
                .personalia {
                    padding-bottom: 30px;
                    margin-bottom: 30px;
                    border-bottom: 1px solid #ddd;
                }
            }

        }

        .lenker {
            text-align: center;
        }
    }
  }


