#avbryt-side {
  .rad.tittel {
    background-color: #f1f1f1;
  }
  .omslag {
    background-color: #fff;
  }

  .rad-belyst {
    border-bottom: none;
  }
}

[class*="strek-ikon-slett"], [class*="ikon-slett-strek"] {
  background-image: url(../img/under-dark.png), url(../img/utrop.svg);
  background-position: bottom center, center 0;
  padding-bottom: 15px;
  margin-bottom: 15px !important;
}

[class*="strek-ikon-slettet"], [class*="ikon-slettet-strek"] {
  background-image: url(../img/under-dark.png), url(../img/hake_sirkel.svg);
  background-position: bottom center, center 0;
  padding-bottom: 15px;
  margin-bottom: 15px !important;
}

#slett .rad-belyst, #slettet {
  border-top: 1px solid #d1d1d1;

  .info {
    font-weight: 600;
    padding-bottom: 10px;
    line-height: 1.6rem;
    font-size: 1.21rem;
    font-family: Modus, Arial, Helvetica, sans-serif;
  }

  .fremdriftsindikator {
    text-align: center;
  }

  .slett-soknad-stor {
    margin-top: 30px;
    border-top: 1px solid #d1d1d1;

    form {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    div {
      text-align: center;
    }

    .lenker-dot {
      margin-bottom: 40px;
      margin-top: 30px;
      text-align: center;

      .liste-vannrett li:not([class*="dropdown"]):before {
        color: #0067c5;
      }
    }
  }
}
