#visvedlegg {
    width: 100%;
    height: 100%;
    z-index: 10;
    left: 0;
    top: 0;
    margin: 0 auto;
    text-align: center;
    color: #0CA9E0;
    background-color: #333333;
    padding-top: 0;

    .bildenavigering {
        height: 100%;

        .header {
            background-color: #333333;
            position: fixed;
            top: 0;
            height: 50px;
            width: 102%;
            box-shadow: 0 1px 4px #000000;
            color: #d1d1d1;
            left: -1%;
            z-index: 1000;

            a {
                font-family: Modus, Arial, Helvetica, sans-serif;
                font-weight: 600;
                font-size: 12px;
                text-transform: uppercase;
                position: relative;
                top: 16px;
                padding: 6px 25px;
                border: 1px solid #5f5e5d;
                width: 150px;
                color: #fff;

                &:hover, &:active, &:focus {
                    text-decoration: none !important;
                }

                &:hover {
                    background-color: #00a9e0;
                    border-color: #00a9e0;
                    color: #000;
                }
            }
        }

        .nav {
            height: 100%;
            padding-top: 90px;

            .navn {
                color: #b7b1a9;
                max-width: 80%;
                margin: 0 auto;
                font-weight: normal;
            }

            .bilde {
                padding-top: 40px;
                min-height: 128px;
                width: 100%;

                [class*='pil-'] {
                    float: none;
                    margin-top: 0;
                }

                &.laster {
                    background-image: url(../img/ajaxloader/svart/loader_svart_128.gif);
                    background-repeat: no-repeat;
                    background-position: center;
                    padding-top: 40%;

                    [class*='pil-'], img {
                        display: none;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    #visvedlegg {
        .bildenavigering {
            position: relative;
        }
    }

    #visvedlegg {
        .bildenavigering {
            width: 100%;

            .nav {
                .bilde {
                    width: 80%;

                    img {
                        top: 0;
                    }

                    &.laster {
                        padding-top: 110%;
                        background-size: 35%;

                        [class*='pil-'], img {
                            display: none;
                        }
                    }

                    [class*='pil-venstre'] {
                        left: -12px;
                    }
                    [class*='pil-hoyre'] {
                        right: -12px;
                    }
                }
            }
        }
    }
}

