{{#hvisSant properties.sokerOmBarnepass}}
<tr>
    <td class="sjekket"></td>
    <td>
        <span>{{ hentTekst "soknad.barnepass.barn.sporsmal.label" properties.fornavn ( hvisIkkeTom properties.mellomnavn ) properties.etternavn}}</span>
    </td>
</tr>
{{/hvisSant}}