{{#forFaktumTilknyttetBarn "barnepass.sokerbarnepass"}}
    {{#hvisSant value}}
        <tr>
            <td class="sjekket"></td>
            <td>
                <span>{{ hentTekst "soknad.barnepass.barn.sporsmal.label" (toCapitalized ../../properties.sammensattnavn)}}</span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <table>
                    {{#forBarnefakta "barnepass.typer"}}
                        {{#hvisLik value "dagmamma"}}
                            <tr>
                                <td class="sjekket"></td>
                                <td>
                                    <span>{{ hentTekst "soknad.barnepass.type.dagmamma"}}</span>
                                </td>
                            </tr>
                        {{/hvisLik}}
                    {{/forBarnefakta}}

                    {{#forBarnefakta "barnepass.typer"}}
                        {{#hvisLik value "barnehage"}}
                            <tr>
                                <td class="sjekket"></td>
                                <td>
                                    <span>{{ hentTekst "soknad.barnepass.type.barnehage"}}</span>
                                </td>
                            </tr>
                        {{/hvisLik}}
                    {{/forBarnefakta}}

                    {{#forBarnefakta "barnepass.typer"}}
                        {{#hvisLik value "privat"}}
                            <tr>
                                <td class="sjekket"></td>
                                <td>
                                    <span>{{ hentTekst "soknad.barnepass.type.privat"}}</span>
                                </td>
                            </tr>
                        {{/hvisLik}}
                    {{/forBarnefakta}}

                    {{> skjema/tilleggsstonader/barnepass/barnepassFjerdeklasse }}
                </table>
            </td>
        </tr>
    {{/hvisSant}}
{{/forFaktumTilknyttetBarn}}
