<li>
    <ul class="svar-liste">
        <li>
            <span class="verdi verdi--radio">
                {{ hentTekst (concat "inntekt.eierandeler." verdi) }}
            </span>
        </li>
    </ul>
    {{#if verdi}}
        <ul class="svar-liste">
            <li>
                <h4>
                    {{hentTekst "inntekt.eierandeler.true.type.sporsmal"}}
                </h4>
                <ul class="svar-liste">
                    {{#each @root.formuetyper}}
                        {{#hvisOkonomiskVerdi type}}
                            {{>skjema/soknad/inntekt_verdi_hovedtyper}}
                        {{/hvisOkonomiskVerdi}}
                    {{/each}}
                    {{#each @root.formuetyper}}
                        {{#hvisOkonomiskVerdi type}}
                            {{>skjema/soknad/inntekt_verdi_annet}}
                        {{/hvisOkonomiskVerdi}}
                    {{/each}}
                </ul>
            </li>
        </ul>
    {{/if}}
</li>
