<div class="bolk js-bolk">
    {{#with data.okonomi}}
        <h2 class="bolk__tittel">{{ hentTekst "opplysningerbolk.tittel" }}</h2>
        {{#if @root.utvidetSoknad}}
            {{#if opplysninger.bekreftelse.size}}
                {{{ settInnInfotekst "opplysninger.informasjon" }}}
            {{else}}
                {{{ settInnInfotekst "opplysninger.ikkebesvart.melding" }}}
            {{/if}}
        {{/if}}
        <ul class="fakta-liste">
            {{> skjema/soknad/opplysninger_inntekt}}
            {{> skjema/soknad/opplysninger_utgift}}
            {{> skjema/soknad/opplysninger_vedlegg}}
        </ul>
    {{/with}}
</div>