<tr>
    <td class="sjekket"></td>
    <td>
        <span>
            {{ hentTekst "soknad.felles.aktivitetsperiode.oppsummering.tekst" }}
            <em>{{ kortDato properties.fom}}</em>
            {{ hentTekst "soknad.felles.aktivitetsperiode.oppsummering.til" }}
            <em>{{ kortDato properties.tom}}</em>
        </span>
    </td>
</tr>
