<tr>
    <td class="sjekket"></td>
    <td>
        <span>{{ hentTekst "soknad.felles.aktivitetsperiode.oppsummering.tekst" }} {{ formatterFodelsDato properties.fom}} {{ hentTekst "soknad.felles.aktivitetsperiode.oppsummering.til" }} {{ formatterFodelsDato properties.tom}}</span>
    </td>
</tr>
