<tr>
    <td class="sjekket"></td>
    <td>
        <span>{{ hentTekst "soknad.felles.aktivitetsperiode.oppsummering.tekst" }} {{ kortDato properties.fom}} {{ hentTekst "soknad.felles.aktivitetsperiode.oppsummering.til" }} {{ kortDato properties.tom}}</span>
    </td>
</tr>
