<div class="nav-checkbox">
	<div data-nav-hjelpetekstelement data-vishjelp="visHjelpetekst" data-tittel="tittel" data-tekst="tekst"></div>
	<div data-ng-show="hvisIRedigeringsmodus()" class="checkboks">
		<input id="{{ label }}" data-ng-model="model" type="checkbox" name="{{ inputname }}" data-ng-click="endret()" data-mod-faktum data-boolean-verdi/>
		<label for="{{ label }}" class="svar-alt" data-cmstekster="{{ label }}"></label>
		<a data-ng-show="hvisHarHjelpetekst()" data-definerer-hjelpetekst data-nokkel="{{ label }}">mer info</a>
	</div>
	<p class="svar-oppsummering" data-ng-show="hvisIOppsummeringsmodusOgChecked()" data-cmstekster="{{ label }}"></p>
	<div class="ng-transclude ekstra-spm-boks" data-ng-show="hvisHuketAv()"></div>
</div>
