<div class="form-linje tekstfelt orgnummer" data-ng-class="{feil: harFeil()}">
        <label>
            <span data-cmstekster="{{ navlabel }}"></span>
            <input data-ng-model="faktum.value" type="text" value="{{ value }}" data-ng-required="hvisSynlig()"
                   data-error-messages="'{{ navfeilmelding }}'" data-blur-validate
                   data-ng-blur="lagre()" placeholder="123456789" data-ng-pattern="/\d{9}/" maxlength="9" orgnr-validate>

        </label>
        <span class="melding" data-ng-if="harRequiredFeil()" data-cmstekster="{{ navfeilmelding }}"></span>
        <span class="melding" data-ng-if="formateringsfeil()" data-cmstekster="organisasjonsnummer.format.feilmelding"></span>
</div>
