version: '3.9'
services:

  postgres:
    profiles: [ backing-services, full ]
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=hunter2
      - POSTGRES_USER=socknad-mock-user
      - POSTGRES_DB=soknad-mock-db
    networks:
      digisos.docker-internal:
        aliases:
          - postgres.digisos.docker-internal

  sosialhjelp-mock-alt:
    profiles: [ full ]
    container_name: sosialhjelp-mock-alt
    image: ghcr.io/navikt/sosialhjelp-mock-alt/sosialhjelp-mock-alt:latest
    restart: always
    ports:
      - "3008:5000"
    networks:
      digisos.docker-internal:
        aliases:
          - sosialhjelp-mock-alt.digisos.docker-internal

  sosialhjelp-mock-alt-api:
    profiles: [ backing-services, full ]
    container_name: sosialhjelp-mock-alt-api
    image: ghcr.io/navikt/sosialhjelp-mock-alt-api/sosialhjelp-mock-alt-api:latest
    restart: always
    ports:
      - "8989:8989"
    networks:
      digisos.docker-internal:
        aliases:
          - sosialhjelp-mock-alt-api.digisos.docker-internal
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 http://localhost:8989/sosialhjelp/mock-alt-api/internal/isAlive" ]
      interval: 2s
      timeout: 2s
      retries: 10

  cache:
    profiles: [ backing-services, full ]
    container_name: redis
    image: redis:6.2-alpine
    restart: always
    ports:
      - '6379:6379'
    command: redis-server --save 20 1 --loglevel warning --requirepass pw

networks:
  digisos.docker-internal:
