version: '3.9'
services:

  postgres:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=soknad1234
      - POSTGRES_USER=soknad
      - POSTGRES_DB=soknaddb

  sosialhjelp-mock-alt:
    profiles: [ full ]
    container_name: sosialhjelp-mock-alt
    image: ghcr.io/navikt/sosialhjelp-mock-alt/sosialhjelp-mock-alt:latest
    restart: always
    ports:
      - "3008:3008"
    networks:
      digisos.docker-internal:
        aliases:
          - sosialhjelp-mock-alt.digisos.docker-internal

  sosialhjelp-mock-alt-api:
    profiles: [ full ]
    container_name: sosialhjelp-mock-alt-api
    image: ghcr.io/navikt/sosialhjelp-mock-alt-api/sosialhjelp-mock-alt-api:latest
    restart: always
    ports:
      - "8989:8989"
    networks:
      digisos.docker-internal:
        aliases:
          - sosialhjelp-mock-alt-api.digisos.docker-internal
    healthcheck:
      test: [ "CMD", "curl", "--silent", "--fail", "http://localhost:8989/sosialhjelp/mock-alt-api/internal/isAlive" ]
      interval: 20s
      timeout: 10s
      retries: 10
      start_period: 30s

  redis:
    container_name: redis
    image: redis:7.2-alpine
    restart: always
    ports:
      - '6379:6379'
    command: redis-server --save 20 1 --loglevel debug

networks:
  digisos.docker-internal:
