version: '3.9'
services:
  postgres:
    image: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=soknad1234
      - POSTGRES_USER=soknad
      - POSTGRES_DB=soknad
networks:
  digisos.docker-internal:
