<div class="hjelpetekst" data-ng-click="stoppKlikk($event)">
    <a href="javascript:void(0);" class="infoikon" data-ng-click="toggleHjelpetekst()" aria-role="button">
        <span>?</span>
    </a>
    <div class="hjelpetekst-tooltip" data-ng-if="visHjelp" data-nav-hjelpetekst-tooltip>
        <div class="tittel">
            <h3 class="liten-strek">{{ tittel }}</h3>
            <a class="lukk-hjelpetekst liten" href="javascript:void(0)" data-ng-click="lukk($event)" aria-role="button" data-ng-bind-html=" 'lukk' | cmstekst"></a>
        </div>

        <div class="tekst" data-nav-scroll>
            <p class="mini">{{ tekst }}</p>
        </div>
    </div>
</div>