<tr>
    {{#forFaktum "reise.arbeidssoker.reiselengde"}}
        <td class="sjekket"></td>
        <td>{{hentTekst "soknad.reise.arbeidssoker.reiselengde.oppsummering"}} <em>{{value}}</em> {{hentTekst "soknad.km"}}</td>
    {{/forFaktum}}
</tr>
