<tr>
    {{#forFaktum "reise.arbeidssoker.reiselengde"}}
        <td class="sjekket"></td>
        <td>{{hentTekst "soknad.reise.arbeidssoker.reiselengde.oppsummering"}}: {{value}} {{hentTekst "soknad.km"}}</td>
    {{/forFaktum}}
</tr>
