{{#forFaktum "reise.arbeidssoker.dagpenger.forlenget"}}
    {{#hvisIkkeTom}}
        <tr>
            <td class="sjekket"></td>
            <td>{{hentTekst (concat "soknad.reise.arbeidssoker.dagpenger.forlenget." value ".label") }}</td>
        </tr>
    {{/hvisIkkeTom}}
{{/forFaktum}}
{{#forFaktum "reise.arbeidssoker.dagpenger.bortfall"}}
    {{#hvisIkkeTom}}
        <tr>
            <td class="sjekket"></td>
            <td>{{hentTekst (concat "soknad.reise.arbeidssoker.dagpenger.bortfall." value ".label")}}</td>
        </tr>
    {{/hvisIkkeTom}}
{{/forFaktum}}
