<tr>
    {{#forFaktum "reise.arbeidssoker.reisedekket"}}
        <td class="sjekket"></td>
        <td>{{hentTekst (concat "soknad.reise.arbeidssoker.reisedekket." value ".label")}}</td>
    {{/forFaktum}}
</tr>