<tr>
    {{#forFaktum "reise.arbeidssoker.registrert"}}
        <td class="sjekket"></td>
        <td>{{hentTekst "soknad.reise.arbeidssoker.registrert.oppsummering"}}: {{formatterLangDato value}}</td>
    {{/forFaktum}}
</tr>