{{#forFaktum "informasjonsside.stonad.reisearbeidssoker"}}
    {{#hvisSant value}}
        <h2>{{hentTekst "soknad.reise.arbeidssoker.tittel"}}</h2>
        <table>
            {{> skjema/tilleggsstonader/reisearbeidssoker/registrert}}

        </table>
    {{/hvisSant}}
{{/forFaktum}}
