<div class="spm-knapper">
    <div data-ng-show="hvisIRedigeringsmodus()">
        <input type="submit" class="knapp-hoved-liten"  cmstekster="{{ nokkel }}.ferdig"/>

        <div class="spm-navigering">
            <a class="forrige" cmstekster="forrige" data-ng-click="gaaTilForrige()"/>
            <a class="neste" cmstekster="neste" data-ng-click="gaaTilNeste()"/>
        </div>

        <div class="spm-fortsett lenker-dot">
        <span>
            <a href="#/fortsettsenere" cmstekster="fortsettSenere"/>
        </span>
            <span cmstekster="sistLagret"/>
        </div>
    </div>

    <div class="spm-blokk-ferdig" data-ng-show="hvisIOppsummeringsmodus()">
        <button class="knapp-hoved-liten" cmstekster="neste" data-ng-click="lukkOgGaaTilNeste()"/>
        <a data-ng-click="gaTilRedigeringsmodus()" cmstekster="endre"/>
    </div>

</div>