<div class="spm-knapper">
    <div data-ng-show="hvisIRedigeringsmodus()">
        <input type="button" class="knapp-hoved-liten"  cmstekster="{{ nokkel }}.ferdig" data-ng-click="submitMethod()"/>

        <a href="#/fortsettsenere/{{ soknadId }}" cmstekster="fortsettSenere"/>

    </div>

    <div data-ng-show="hvisIOppsummeringsmodus()">
        <button class="knapp-hoved-liten" cmstekster="neste" data-ng-click="lukkOgGaaTilNeste()"/>
        <a data-ng-click="gaTilRedigeringsmodus()" cmstekster="endre"/>
    </div>

</div>