<div>
    <div data-ng-if="harArbeidsforhold()" class="arbeidsforhold-boks">
        <div class="spm-boks vertikal" data-ng-repeat="af in arbeidsliste" data-ng-class="{'last': $last}">
            <div id="arbeidsforhold{{af.arbeidsforhold.faktumId}}">
                <a title="Slett arbeidsforhold" href="#" class="lukk" data-ng-click="slettArbeidsforhold(af, $index, $event)"
                   data-fokus-slettmoduler="arbeidsforhold" aria-label="{{ 'arbeidsforhold.lukk.aria' | cmstekst }}"> </a>
                <span class="robust">{{ af.arbeidsforhold.properties.arbeidsgivernavn }}</span>
                <span class="robust">, </span>
                <span class="robust">{{ finnLandFraLandkode(af.arbeidsforhold.properties.land) }}</span>

                <div class="arbeidsforhold-land-sluttaarsak-blokk">
                    <div class="arbeidsgiver-oppsummering-sluttaarsaker">
                        <div data-ng-include="templates[af.sluttaarsak.properties.type].oppsummeringsurl"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
