<div>
    <div class="arbeidsforhold-boks" data-ng-if="harArbeidsforhold()">
        <div class="spm-boks vertikal" data-ng-repeat="af in arbeidsliste" data-ng-class="{'last': $last}">
            <div id="arbeidsforhold{{af.arbeidsforhold.faktumId}}">
                <a title="Slett arbeidsforhold" href="#" class="lukk" data-ng-click="slettArbeidsforhold(af, $index, $event)"
                   data-fokus-slettmoduler="arbeidsforhold" aria-label="{{ 'arbeidsforhold.lukk.aria' | cmstekst }}"> </a>
                <span class="robust">{{ af.arbeidsforhold.properties.arbeidsgivernavn }}</span>
                <span class="robust">, </span>
                <span class="robust">{{ finnLandFraLandkode(af.arbeidsforhold.properties.land) }}</span>

                <div class="arbeidsforhold-land-sluttaarsak-blokk">
                    <div class="arbeidsgiver-oppsummering-sluttaarsaker">
                        <div data-ng-include="templates[af.sluttaarsak.properties.type].oppsummeringsurl"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="knapper-arbeidsforhold">
        <div id="legg-til" class="form-linje knapp ikke-fadebakgrunn" data-ng-if="harSvart()"
             data-ng-class="{feil: skalViseFeil()}">
            <div data-ng-if="hvisHarJobbet()">
                <input type="hidden"
                       data-ng-model="harLagretArbeidsforhold"
                       data-nav-faktum="harLagretArbeidsforhold"
                       data-ng-required="true"
                       data-error-messages="'arbeidsforhold.arbeidsforhold.required'"
                       class="legg-til-arbeidsforhold">
            </div>

            <button class="knapp-leggtil-liten" data-ng-click="nyttArbeidsforhold($event, $index, arbeidsforholdForm)" role="button"
                    data-aktiv-feilmelding data-ng-bind-html=" 'arbeidsforhold.nyttarbeidsforhold' | cmstekst"></button>
            <span class="melding" data-ng-bind-html=" 'arbeidsforhold.arbeidsforhold.required' | cmstekst"></span>
        </div>

        <div data-spmblokkferdig
             data-submit-method="validerArbeidsforhold(true)"></div>
    </div>
</div>

