<div class="varighet">
    <span data-ng-bind="af.sluttaarsak.properties.datofra | date:'dd.MM.yyyy' | norskdato"></span>
    <span data-ng-if="af.sluttaarsak.properties.datotil" data-ng-bind-html=" 'dato.til' | cmstekst"></span>
    <span data-ng-if="af.sluttaarsak.properties.datotil" data-ng-bind="af.sluttaarsak.properties.datotil | date:'dd.MM.yyyy' | norskdato"></span>
</div>

<ul>
    <li>
        <p arbeidsforhold-sluttaarsak sluttaarsak="af.sluttaarsak.properties.type"></p>
    </li>
    <li>
        <p data-ng-bind-html=" 'arbeidsforhold.arbeidsgiver.permittert.lonnsplikt.varighet' | cmstekst"></p>
        <div data-ng-if="!af.sluttaarsak.properties.lonnspliktigperiodevetikke">
            <span data-ng-bind="af.sluttaarsak.properties.lonnspliktigperiodedatofra | date:'dd.MM.yyyy'"></span>
            <span data-ng-if="af.sluttaarsak.properties.lonnspliktigperiodedatotil" data-ng-bind-html="'arbeidsforhold.permitteringsperiode.oppsummeringer.til' | cmstekst"></span>
            <span data-ng-if="af.sluttaarsak.properties.lonnspliktigperiodedatotil" data-ng-bind="af.sluttaarsak.properties.lonnspliktigperiodedatotil | date:'dd.MM.yyyy'"></span>
        </div>
        <span data-ng-if="af.sluttaarsak.properties.lonnspliktigperiodevetikke">{{ 'arbeidsforhold.arbeidsgiver.permittert.lonnsplikt.vetikke' | cmstekst }}</span>
    </li>
    <div data-permitterings-periode-oppsummering="{{ af.sluttaarsak.faktumId }}"></div>
    <div turnusblokk-oppsummering
         arbeidsforhold="af.arbeidsforhold"></div>
</ul>

<div data-ng-include="'../js/common/arbeidsforhold/templates/slett-arbeidsforhold.html'"></div>

<div data-vedlegginfoboks>
    <ul>
        <li>
            <p data-ng-bind-html="'Dagpenger.vedlegg.O2.header' | cmstekst"></p>
        </li>
        <li>
            <p data-ng-bind-html="'Dagpenger.vedlegg.G2.header' | cmstekst"></p>
        </li>
    </ul>
</div>