<div class="varighet">
    <span data-ng-bind="af.sluttaarsak.properties.datofra | date:'dd.MM.yyyy' | norskdato"></span>
    <span data-ng-if="af.sluttaarsak.properties.datotil" data-ng-bind-html=" 'dato.til' | cmstekst"></span>
    <span data-ng-if="af.sluttaarsak.properties.datotil" data-ng-bind="af.sluttaarsak.properties.datotil | date:'dd.MM.yyyy' | norskdato"></span>
</div>

<ul>
    <li>
        <p data-arbeidsforhold-sluttaarsak data-sluttaarsak="af.sluttaarsak.properties.type"></p>
    </li>
    <li>
        <span data-ng-bind-html=" ('arbeidsforhold.arbeidsgiver.permittert.lonnsplikt.varighet' | cmstekst) + ':'"></span>
        <div data-ng-if="!af.sluttaarsak.properties.lonnspliktigperiodevetikke">
            <span data-ng-bind="af.sluttaarsak.properties.lonnspliktigperiodedatofra | date:'dd.MM.yyyy'"></span>
            <span data-ng-if="af.sluttaarsak.properties.lonnspliktigperiodedatotil" data-ng-bind-html="'arbeidsforhold.permitteringsperiode.oppsummeringer.til' | cmstekst"></span>
            <span data-ng-if="af.sluttaarsak.properties.lonnspliktigperiodedatotil" data-ng-bind="af.sluttaarsak.properties.lonnspliktigperiodedatotil | date:'dd.MM.yyyy'"></span>
        </div>
        <span data-ng-if="af.sluttaarsak.properties.lonnspliktigperiodevetikke">{{ 'arbeidsforhold.arbeidsgiver.permittert.lonnsplikt.vetikke' | cmstekst }}</span>
    </li>
</ul>

<div data-permitterings-periode-oppsummering="{{ af.sluttaarsak.faktumId }}"></div>
<div data-turnusblokk-oppsummering
     data-arbeidsforhold="af.arbeidsforhold"></div>

<div data-ng-include="'../js/common/arbeidsforhold/templates/slett-arbeidsforhold.html'"></div>

<div data-vedlegginfoboks data-vedleggTekster="['Dagpenger.vedlegg.O2.header', 'Dagpenger.vedlegg.G2.header']">
</div>