<li data-ng-repeat="periode in permitteringsPerioder">
    <p>
        <span data-ng-bind-html="'arbeidsforhold.arbeidsgiver.permittert.varighet' | cmstekst"></span>
        <span data-ng-bind="periode.properties.permiteringsperiodedatofra | date:'dd.MM.yyyy'"></span>
        <span data-ng-if="periode.properties.permiteringsperiodedatotil" data-ng-bind-html="'arbeidsforhold.permitteringsperiode.oppsummeringer.til' | cmstekst"></span>
        <span data-ng-if="periode.properties.permiteringsperiodedatotil" data-ng-bind="periode.properties.permiteringsperiodedatotil | date:'dd.MM.yyyy'"></span>
    </p>
    <p>
        <span data-ng-bind-html=" 'arbeidsforhold.sluttaarsak.permittert.permitteringsgrad' | cmstekst"></span>
        <span data-ng-bind="periode.properties.permitteringProsent"></span>
        <span class="prosent" data-ng-bind-html=" 'arbeidsforhold.permittert.prosent' | cmstekst"></span>
    </p>
</li>