<div class="varighet">
    <span data-ng-bind="af.sluttaarsak.properties.datofra | date:'dd.MM.yyyy' | norskdato"></span>
    <span data-ng-if="af.sluttaarsak.properties.datotil" data-ng-bind-html=" 'dato.til' | cmstekst"></span>
    <span data-ng-if="af.sluttaarsak.properties.datotil" data-ng-bind="af.sluttaarsak.properties.datotil | date:'dd.MM.yyyy' | norskdato"></span>
</div>

<ul>
    <li>
        <p data-arbeidsforhold-sluttaarsak data-sluttaarsak="af.sluttaarsak.properties.type"></p>
    </li>
    <li>
        <span data-ng-bind-html=" 'arbeidsforhold.sluttaarsak.redusertArbeidstid.fraDato.sporsmal' | cmstekst"></span>
        <p data-ng-bind="af.sluttaarsak.properties.redusertfra"></p>
    </li>
    <li>
        <span data-ng-bind-html=" 'arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.sporsmal' | cmstekst"></span>
        <p data-ng-if="af.sluttaarsak.properties.nyttTilbud == 'true'" data-ng-bind-html=" 'arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.true' | cmstekst"></p>
        <p data-ng-if="af.sluttaarsak.properties.nyttTilbud == 'false'" data-ng-bind-html=" 'arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.false' | cmstekst"></p>
    </li>
    <div data-turnusblokk-oppsummering
         data-arbeidsforhold="af.arbeidsforhold"></div>
</ul>

<div data-ng-include="'../js/common/arbeidsforhold/templates/slett-arbeidsforhold.html'"></div>

<div data-arbeidsforhold-vedlegg-infoboks
     data-arbeidsforhold="af"
     data-vedleggtekster="['Dagpenger.vedlegg.O2.header', 'Dagpenger.vedlegg.T8.header']"></div>