{{#forFaktum "fastlege.annen.behandlende.navn"}}
    {{#hvisIkkeTom value}}
        <tr>
            <td class="sjekket"></td>
            <td>
                {{ hentTekst "oppsummering.fastlege.behandlende.navn" }}: {{ hentFaktumValue "fastlege.annen.behandlende.navn" }},
                {{#forFaktum "fastlege.annen.behandlende.tlfnr"}}
                    {{#hvisIkkeTom value}}
                        {{ hentTekst "oppsummering.fastlege.telefonnummer" }}: {{ hentFaktumValue "fastlege.annen.behandlende.tlfnr" }}
                    {{/hvisIkkeTom}}
                {{/forFaktum}}
            </td>
        </tr>
    {{/hvisIkkeTom}}
{{/forFaktum}}