@svar-bakgrunnsfarge: #d1d1d1;
.spmlabels {
	text-transform: none !important;
	font-size: 1rem !important;
}

.skjematittel {
	text-align: center;
}

.skjemaramme {
	border-top: 1px solid #d1d1d1;
	
	.skjemainnhold {
		width: 75%;
		float: left;
		height: 100%;

		.spm-blokk {
			float: left;
			margin-top: 20px;
			margin-bottom: 10px;
			clear: both;
			width: 100%;

			.blokk-resultat  {
				margin: 10px 15px;
				float: left;
				clear: both;
				width: 100%;
				
				.checked {
					background-color: #333;
				}
			}
			.spm {
				font-weight: bold;
			}
			.svar-alt {
				margin: 5px 0px;
				display: inline-block;
				padding: 0 7px;
				float: left;
				clear: both;
				.spmlabels;
				
				.mer-info {
					margin-left: 5px;
				}
			}
			.svaret {
				background-color: #d1d1d1;
				border-radius: 25px;
			}

			textarea {
				width: 40%;
				margin: 10px 0px;
			}
		}
	}
}


.sideoversikt {
	float: left;
	width: 20%;
	height: 100%;
}


.active {
	color: #333;
}
input[type="radio"],
input[type="checkbox"] {
	position: absolute;
	height: 0;
	width: 0;
	opacity: 0;
}

input[type="radio"] + label {
	background: url(../img/radio.svg) 0 0 no-repeat;
}

input[type="radio"]:checked + label {
	background: url(../img/radio_valgt.svg) 0 0 no-repeat;
}

input[type="radio"]:disabled:checked + label {
	background: url(../img/radio_inactive_valgt.svg) 0 0 no-repeat;
}

input[type="radio"]:disabled + label {
	background: url(../img/radio_inactive.svg) 0 0 no-repeat;
}

input[type="checkbox"] + label {
	background: url(../img/check.svg) 0 0 no-repeat;
}

input[type="checkbox"]:disabled + label {
	background: url(../img/check_inactive.svg) 0 0 no-repeat;
}

input[type="checkbox"]:checked + label {
	background: url(../img/check_valgt.svg) 0 0 no-repeat;
}

input[type="checkbox"]:disabled:checked + label {
	background: url(../img/check_inactive_valgt.svg) 0 0 no-repeat;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
	display: inline-block;
	position: relative;
	padding: 2px 0 0 27px;
	height: 30px;
	margin-right: 1rem;
	font-size: 1rem !important;
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
	font-weight: bold;
}