.sendsoknad-radio, .sendsoknad-check {
	position: relative !important;
	opacity: 1 !important;
	width: 	20px !important;
	height: 20px !important;
}

li {
	list-style: none;
}

label {
	display: block;
	margin-top: 10px;
}

input, p {
}


li a {
	margin-right: 10px;
}


.landskode, .prosent input {
	width: 40px;
}
.varighet {
	display: inline-block;
	float: left;
	width: 100%;
	clear: both;
	margin-bottom: 10px;

}
p  {
	margin-top: 10px;
	margin-bottom: 10px;
}

.aarsak {
	float: left;
	margin-top: 20px;
	clear: both;
	width: 100%;

}

.sluttaarsak, .skjemanavigering {
	margin: 10px 0px;
	float: left;
	clear: both;
}
.resultatSluttaarsak {
	margin: 10px 10px;
}