.sendsoknad-radio {
	position: relative !important;
	opacity: 1 !important;
	width: 	20px !important;
	height: 20px !important;
}

li {
list-style: none;
}

label {
	display: block;
	margin-top: 10px;
}

input, p {
}


li a {
	margin-right: 10px;
}

button, #neste {
	margin-top: 60px;
}

.landskode {
	width: 40px;
}
.varighet {
	display: inline-block;
	float: left;
	width: 100%;
	clear: both;

}

.aarsak {
float: left;
margin-top: 20px;
clear: both;
width: 100%;

}
.nav-knapp button{
float: left;
margin-top: 60px;
}