





.sendsoknad-radio, .sendsoknad-check {
	
}

li {
	list-style: none;
	margin-bottom: 60px;
}

label {
	display: block;
	margin-top: 10px;
}


li a {
	margin-right: 10px;
}


.landskode, .prosent input {
	width: 40px;
}
.varighet {
	display: inline-block;
	float: left;
	width: 100%;
	clear: both;
	margin-bottom: 10px;

}
.varighet p, .resultatSluttaarsak p,  {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	padding: 10px 0px;
}

.sluttaarsak {
	float: left;
	margin-top: 20px;
	margin-bottom: 10px;
	clear: both;
	width: 100%;

}

.sluttaarsak, .skjemanavigering {
	margin: 10px 0px;
	float: left;
	clear: both;
}
