.opplasting .vekk.upload {
    filter: alpha(opacity = 0);
    left: auto;
    z-index: 10000;
    clip: auto;
}

.opplasting .startOpplastingContainer .vekk.upload {
    width: 92px;
    height: 34px;
    padding-top: 0.2rem;
    font-size: 2rem;
}

.opplasting .selectUploadButtonContainer .vekk.upload {
    width: 11.1rem;
    height: 2.2rem;
    padding-top: 0.1rem;
    font-size: 2.2rem;
}

.bekreftelse .adresse .adresse-valg .punkt .sirkel-graa {
    top: -1px;
}