.modal-page h1 {
    padding-bottom: 28px;
}

.modal-page p {
    font-size: 12.6px;
}

.opplasting .fakeUpload {
    margin-right: 7px;
}

.modal-page .steg {
    font-size: 12.6px;
}

.modal-page .opplasting-beskrivelse .button {
    margin-top: 42px;
}

.modal-page .uploadPreviewContainer .uploadPreview .header {
    padding-bottom: 7px;
}

.modal-page .uploadPreviewContainer .uploadPreview .header .filnavn {
    font-size: 11.2px;
}

.innsending span.infoikon {
    font-size: 16.8px;
    margin-left: 0.28px;
}

.innsending .ikke-send-tooltip span.infoikon {
    padding-left: 14px;
    margin-left: 11.2px;
}

.innsending .dokument-informasjon > a {
    padding-bottom: 5.6px;
}

.innsending .dokument .dokumentInnhold .dokumentnavn-feilmelding {
    margin-bottom: 14px;
}

.innsending .dokument .dokumentInnhold .dokumentnavn-feilmelding .feilmeldingPanel {
    padding: 7px;
}

.innsending .dokument .dokumentInnhold .dokumentnavn-feilmelding span {
    font-size: 11px;
}

.innsending .dokument .dokumentInnhold.ikkeSend .footer {
    height: 67px;
}

.innsending .dokument .dokumentInnhold H1 {
    line-height: 21px;
}

.innsending .dokument .dokumentInnhold .footer {
    height: 112px;
}

.innsending .dokument .dokumentInnhold .footer .valglinje {
    margin-top: 14px;
}

.bekreftelse .adresse label span,
.bekreftelse .samtykke label span {
    font-size: 14px !important;
}

.bekreftelse .adresse P {
    padding-bottom: 14px;
}

.bekreftelse .adresse .adresse-valg label span span {
    font-size: 12.6px !important;
}

.bekreftelse .adresse .adresse-valg .punkt {
    margin-left: 1.42px;
    margin-top: 5.6px;
}

.bekreftelse .adresse .adresse-valg .punkt div {
    line-height: 16.8px;
}

.kvittering-innsending .innsendt-dato {
    font-size: 10px;
}

.kvittering-innsending .innsendte-dokumenter {
    margin-bottom: 42px;
}

.kvittering-innsending .innsendte-dokumenter h3 {
    margin-bottom: 7px;
}

.kvittering-slettet .lenker {
    padding-top: 42px;
}

.fortsettSenere .send-epost {
    margin: 28px 0;
}

.fortsettSenere .send-epost .epost-input #epostfelt {
    width: 322px;
    margin-right: 8.4px;
}

.fortsettSenere .send-epost .epost-input .input-boks {
    margin-top: 14px;
    margin-bottom: 28px;
}

.fortsettSenere .send-epost .informasjon {
    padding: 14px;
}

.fortsettSenere .lenker A {
    padding-right: 14px;
}

.tooltip .tooltip-inner {
    width: 329px;
}

.tooltip .tooltip-inner [class*="tooltip-ramme"] {
    font-size: 12.6px;
    width: 280px;
    margin: 14px;
}

.tooltip .tooltip-inner [class*="tooltip-ramme"] * {
    font-size: 12.6px;
}

.tooltip .tooltip-inner [class*="tooltip-ramme"] li {
    padding-left: 14px;
}

.dokumentnavn .tooltip .tooltip-inner .filnavn,
.dokument-informasjon .tooltip .tooltip-inner .filnavn {
    font-size: 11.2px;
}

.dokument-informasjon .tooltip .tooltip-inner {
    box-shadow: 0 0 28px #aaa;
}



.lenker-dot .loadingIndicator {
    margin-left: 28px !important;
}

.loadingIndicator {
    width: 35px;
    height: 35px;
    max-width: 35px;
}

.bekreftelse .dokumenter .dokumentnavnListeElement .dokumentnavn,
.kvittering-innsending .dokumenter .dokumentnavnListeElement .dokumentnavn {
    padding-bottom: 14px;
}

.bekreftelse .dokumenter .dokumentnavnListeElement .dokumentnavn .navn .dokumentnavn,
.kvittering-innsending .dokumenter .dokumentnavnListeElement .dokumentnavn .navn .dokumentnavn {
    padding-right: 7px;
}

.bekreftelse .dokumenter.ikke-sendt [class*="symbol-"][class*="-hake"],
.kvittering-innsending .dokumenter.ikke-sendt [class*="symbol-"][class*="-hake"] {
    background-size: 0.470px;
}

.feilmeldingPanel {
    padding: 14px;
    margin-bottom: 28px;
}

.feilmeldingPanel .feilmeldingTittel {
    margin-bottom: 7px;
}

.feilmeldingPanel ul {
    padding-left: 28px;
}

h1.hoved-tittel {
    max-width: 470px;
}

.stegindikator li a {
    font-size: 9.8px;
}

.stegindikator li:first-child + li + li {
    margin-right: 0;
    float: right;
}

.opplasting .startOpplastingContainer .vekk.upload {
    height: 38px;
    width: 191px;
    padding-top: 2.8px;
    font-size: 31px;
}
.opplasting .selectUploadButtonContainer .vekk.upload {
    height: 38px;
    width: 211px;
    padding-top: 2.8px;
    font-size: 34px;
}

.dokument-informasjon .tooltip {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

[class*="ikon-dokument"]
{
    background-image: url(../../img/dokument.png);
    background-position: center 0;

}

[class*="ikon-hake"] {
    background-image: url(../../img/hake_sirkel.png);
    background-position: center 0;
    background-repeat: no-repeat;
    padding-top: 30px;
}

[class*="strek-ikon-hake"], [class*="ikon-hake-strek"] {
    background-image: url(../../img/hake_sirkel.png);
    background-position: center 0;
}


[class*="symbol-rediger"] span {
    background: url(../../img/rediger.png) no-repeat right 2px;
    padding-right: 20px;
}

[class*="symbol-rediger"] span:hover {
    background-image: url(../../img/rediger_hover.png);
}

[class*="symbol-hake"] {
    background: url(../../img/hake.png) no-repeat 0 0;
}

.close {
    background: url(../../img/kryss.png) no-repeat;
}

.close:hover {
    background: url(../../img/kryss_hover.png) no-repeat;
}

.bekreftelse .dokumenter li:before,
.kvittering-innsending .dokumenter li:before {
    content: url(../../img/hake.png);
}

.rad {
    border-bottom: none;
}

.lenker-dot span:before {
    padding-right: 14px;
    content: "•";
    color: #000;
}

.lenker-dot span:first-child:before {
    padding-right: 0;
    content: "";
}

.lenker-dot [class*="knapp"]:before {
    padding-right: 0;
    content: "";
}

.opplasting .sideVelger a:first-child + a {
    right: 3px;
}

.tooltip .sideVelger a:first-child  {
    left: 2px !important;
}

form input[type="checkbox"] + label {
    top: -1px;
}

form.bekreftelse input[type="checkbox"] {
    position: absolute;
}

form.bekreftelse input[type="checkbox"] + label {
    padding-left: 29px;
}

@media print {
    .tittel:before {
        content: url(../img/nav-logo.gif) !important;
    }
}