{{#forFaktumHvisSant "informasjonsside.stonad.flytting"}}
    <h2>{{hentTekst "soknad.flytting.tittel"}}</h2>
    <table>
        {{> skjema/tilleggsstonader/flytting/hvorforflytte }}
        {{> skjema/tilleggsstonader/flytting/startdato }}
        {{> skjema/tilleggsstonader/flytting/riktigadresse }}
        {{> skjema/tilleggsstonader/flytting/selvellerbistand }}
        {{> skjema/tilleggsstonader/flytting/dekketavandre }}
    </table>
{{/forFaktumHvisSant}}
