{{#forFaktum "flytting.hvorforflytte"}}
    {{#hvisLik value "nyjobb"}}
        <tr>
            {{#forFaktum "flytting.nyjobb.startdato"}}
                <td class="sjekket"></td>
                <td>{{hentTekst "soknad.flytting.nyjobb.startdato.label"}}: <em>{{formaterLangDato value}}</em></td>
            {{/forFaktum}}
        </tr>
        <tr>
            {{#forFaktum "flytting.nyjobb.flyttedato"}}
                <td class="sjekket"></td>
                <td>{{hentTekst "soknad.flytting.nyjobb.flyttedato.label"}}: <em>{{formaterLangDato value}}</em></td>
            {{/forFaktum}}
        </tr>
    {{/hvisLik}}
{{/forFaktum}}