<div>
    <div class="sticky-bunn">
        <div>
            <span data-ng-if="soknadHarBlittLagret()">
                <span data-cmstekster="sistLagret.lagret"/>
                <span>
                    {{ hentSistLagretTid() | date:'short' }}
                </span>
            </span>
            <span data-cmstekster="sistLagret.aldriLagret" data-ng-if="soknadHarAldriBlittLagret()"/>
        </div>
        <ul class="liste-vannrett">
            <li>
                <a href="#/fortsettsenere/{{ soknadId }}" data-cmstekster="fortsettSenere"></a>
            </li>
            <li>
                <a href="#/avbryt/{{ soknadId }}" data-cmstekster="avbryt.soknad"></a>
            </li>
            <li>
                <a href="#/dagpenger/{{ soknadId }}" data-cmstekster="tilbake.til.soknad.lenke">Tilbake til søknad</a>
            </li>
        </ul>
    </div>
    <div id="sticky-bunn-anchor"/>
</div>