<div class="adresse">
    <div data-ng-if="harGjeldendeAdresse()">
        <span class="adressetype" data-ng-bind-html=" gjeldendeAdresseTypeLabel | cmstekst"></span>
        <span data-ng-bind-html="formattertGjeldendeAdresse"></span>
        <p data-ng-show="harGjeldendeGyldigTilDato()">
            <span data-ng-bind-html=" 'personalia.gyldigTil' | cmstekst"></span>
            <span> {{ personalia.gjeldendeAdresseGyldigTil | date:'dd.MM.yyyy' }} </span>
        </p>
    </div>

    <div class="sekundaerAdresse" data-ng-if="harSekundarAdresse()">
        <span class="adressetype" data-ng-bind-html=" sekundarAdresseTypeLabel | cmstekst"></span>
        <span data-ng-bind-html="formattertSekundarAdresse"></span>
        <p data-ng-show="harSekundarGyldigTilDato()">
            <span data-ng-bind-html=" 'personalia.gyldigTil' | cmstekst"></span>
            <span> {{ personalia.sekundarAdresseGyldigTil | date:'dd.MM.yyyy' }} </span>
        </p>
    </div>
</div>
