<div class="sticky-feilmelding" data-ng-show="skalVises()">
    <div>
        <div class="antall-feil-innholder">
            <span data-cmstekster="skjema.feilmelding.antall.feilmeldinger"></span>
            <span class="antall-feil"> {{feil.antallFeilMedKlasseFeil + feil.antallFeilMedKlasseFeilstyling}}</span>
        </div>
        <span>
            <a class="forrige" data-cmstekster="skjema.feilmelding.gaatil.forrige" data-ng-click="forrige()"
               data-ng-class="{deaktiverFeilmelding: skalDeaktivereForrigeKnapp()}"> Forrige </a>
            <a class="neste" data-cmstekster="skjema.feilmelding.gaatil.neste" data-ng-click="neste()"
               data-ng-class="{deaktiverFeilmelding: skalDeaktivereNesteKnapp()}"> Neste </a>
        </span>
    </div>
</div>