<div id="ettersending" data-sidetittel="ettersending.sidetittel">
    <div class="rad uten-ramme" data-ng-include="'../views/ettersending/partials/ettersending-topp.html'"></div>
    <div class="rad uten-ramme innholdsrad">
        <div class="begrensning sak-totredel">
            <section class="panel-standard">
                <div class="ettersendes vedleggsliste"
                     data-ng-if="skalViseEttersendingsbolk()"
                     data-ng-include="'../views/ettersending/partials/ettersending-ettersendes.html'"></div>

                <div class="resten vedleggsliste"
                     data-ng-if="skalViseRestenBolk()"
                     data-ng-include="'../views/ettersending/partials/ettersending-resten.html'"></div>
            </section>
            <section class="panel-standard" data-ng-include="'../views/ettersending/partials/ettersending-bunn.html'"></section>
        </div>
    </div>
</div>
