<div data-modalside data-sidetittel="ettersending.sidetittel" id="ettersending-nytt-vedlegg">
    <form class="vertikal"
          name="nyttVedleggForm"
          novalidate
          data-ng-controller="EttersendingNyttVedleggCtrl"
          data-ng-submit="lagreVedlegg(nyttVedleggForm)">
        <a href="#/vedlegg" class="lukk" aria-label="{{'arbeidsforhold.nyttarbeidsforhold.lukk.aria' | cmstekst}}"></a>
        <h1 class="stor" data-ng-bind-html="'Dagpenger.vedlegg.L6.header' | cmstekst"></h1>
        <div class="form-linje">
            <label>
                <span class="labeltekst" data-ng-bind-html="'vedlegg.annet.beskrivelse.sporsmal' | cmstekst"></span>
                <input type="text"
                       data-ng-model="nyttvedlegg.navn"
                       data-ng-minlength="3"
                       data-ng-maxlength="25"
                       maxlength="25"
                       data-error-messages="{required:'ettersending.vedlegg.nytt.navn.required.feilmelding', minlength:'ettersending.vedlegg.nytt.navn.minlength.feilmelding', maxlength:'ettersending.vedlegg.nytt.navn.maxlength.feilmelding'}"
                       data-blur-validate
                       data-aktiv-feilmelding
                       data-ng-required="true">
                <span class="melding"></span>
            </label>
        </div>

        <div class="opprett">
            <input type="submit"
                   class="knapp-hoved"
                   value="{{ 'ettersending.vedlegg.nytt.opprett' | cmstekst }}"
                   data-fremdriftsindikator>

            <a href="#/vedlegg" data-ng-bind-html="'ettersending.vedlegg.nytt.avbryt' | cmstekst"></a>
        </div>
    </form>
</div>


