<div data-nav-faktum-property="ikkebarneinntekt"
     data-booleanradio
     data-nokkel="barnetillegg.barnetilegg.ikkebarneinntekt">

    <div data-navtekst
         data-navconfig
         data-navlabel="barnetillegg.barnetilegg.barneinntekttall.label"
         data-navsporsmal="barnetillegg.barnetilegg.barneinntekttall.sporsmal"
         data-nav-faktum-property="barneinntekttall"
         data-regexvalidering="/^\d+$/"
         data-inputfeltmaxlength="200"
         data-navfeilmelding="{required:'barnetillegg.barnetilegg.barneinntekttall.feilmelding', pattern:'barnetillegg.barnetilegg.barneinntekttall.ugyldig.feilmelding'}"
         data-ng-required>
    </div>
</div>