<div>
    <div class="sticky-bunn">
        <a href="#/fortsettsenere/{{ soknadId }}" data-cmstekster="fortsettSenere"></a>
        <a href="#/avbryt/{{ soknadId }}" data-cmstekster="avbryt.soknad"></a>
        <span data-ng-if="soknadHarBlittLagret()">
            <span data-cmstekster="sistLagret.lagret"/>
            <span>
                {{ hentSistLagretTid() | date:'short' }}
            </span>
        </span>
        <span data-cmstekster="sistLagret.aldriLagret" data-ng-if="soknadHarAldriBlittLagret()"/>
    </div>
    <div id="sticky-butnn-anchor"/>
</div>