<div class="tekstfelt form-linje" >
    <h4 data-ng-if="harSporsmal()" class="spm-sporsmal">
        <span data-ng-bind-html=" navsporsmal | cmstekst"/>
        <span data-nav-hjelpetekstelement data-ng-if="hvisHarHjelpetekst()" data-tittel="{{ hjelpetekst.tittel | cmstekst }}"
              data-tekst="{{ hjelpetekst.tekst | cmstekst }}" />
    </h4>
    <label>
        <span class="labeltekst" data-ng-bind-html=" navlabel | cmstekst"></span>
        <input type="text"
               name="navtall"
               data-ng-required="true"
               data-ng-model="faktum.value"
               data-error-messages="{{ navfeilmelding }}"
               data-blur-validate
               data-tekstfelt-patternvalidering
               data-aktiv-feilmelding
               data-tall-range>
        <span class="melding"></span>
    </label>
</div>
