<div class="tekstfelt form-linje" >
    <h4 data-ng-if="harSporsmal()" class="spm-sporsmal">{{ navsporsmal | cmstekst }}</h4>
    <label>
        <span class="labeltekst">{{ navlabel | cmstekst }}</span>
        <input data-ng-model="faktum.value" type="text" value="{{ value }}" data-ng-required="true"
               data-error-messages="{{ navfeilmelding }}" data-ng-pattern="{{ regexvalidering }}" data-blur-validate data-minlength="{{ navminlength }}" data-maxlength="{{ navmaxlength }}"
               maxlength="{{ inputfeltmaxlength }}"  data-tekstfelt-patternvalidering data-aktiv-feilmelding/>
        <span class="melding"></span>
    </label>
</div>
