<div class="form-linje textarea-container" data-ng-class="{feil: feil}">
    <label>
        <span data-cmstekster="{{sporsmal}}"></span>
        <textarea data-ng-model="faktum.value"
                  data-error-messages="'{{ feilmelding }}'"
                  data-ng-trim="false"
                  aria-controls="{{sporsmal}}"
                  data-validate-textarea
                  data-ng-blur="mistetFokus()"
                  data-aktiv-feilmelding></textarea>

        <span class="egen-linje" data-ng-show="harFokusOgFeil()">
            <span class="tellertekst" data-ng-class="{negativtekstteller: counter < 0 }"
                  aria-live="polite"> {{counter}} </span>
            <span data-cmstekster="fritekst.negativtellertekst" data-ng-if="counter < 0"></span>
            <span data-cmstekster="fritekst.tellertekst" data-ng-if="counter >= 0"></span>
        </span>
    </label>
    <span class="melding" data-cmstekster="fritekst.feilmelding"></span>
</div>