<div class="form-linje textarea-container">
    <h4 class="spm-sporsmal" data-ng-if="harSporsmal()">{{ sporsmal | cmstekst}}</h4>
    <label>
        <span>{{ label | cmstekst }}</span>
        <textarea data-ng-name="faktum.key"
                  data-ng-model="faktum.value"
                  data-error-messages="'{{ feilmelding }}'"
                  data-ng-required="true"
                  data-ng-trim="false"
                  aria-controls="{{sporsmal}}"
                  data-validate-textarea
                  data-ng-blur="mistetFokus()"
                  data-aktiv-feilmelding></textarea>

        <span class="egen-linje" data-ng-show="harFokusOgFeil() === true">
                    <span class="tellertekst" data-ng-class="{negativtekstteller: counter < 0 }" aria-live="polite"
                          id="{{sporsmal}}"> {{counter}} </span>
                    <span data-ng-if="counter < 0">{{ 'fritekst.negativtellertekst' | cmstekst }}</span>
                    <span data-ng-if="counter >= 0">{{ 'fritekst.tellertekst' | cmstekst }}</span>
                </span>
    </label>
    <span class="melding"></span>
</div>
