<div class="nav-select form-linje" data-ng-class="{open: selectOpen, feil: harFeil()}">
    <div class="selectboks" data-ng-show="navSelect()">
        <label>
            <span class="labeltekst">{{ label | cmstekst }}</span>
            <span class="select-input clearfix">
                <span class="pil" data-ng-click="apneSelectboks($event)"></span>
                <input type="text"
                       data-ng-model="inputVerdi"
                       data-ui-keyup="{enter: 'enter($event)', esc: 'escape()'}"
                       data-ui-keydown="{up: 'navigateUp($event)', down: 'navigateDown($event)', tab: 'tab($event)'}"
                       data-ng-required="erRequired"
                       data-error-messages="'{{ requiredFeilmelding }}'"
                       data-ng-click="klikk($event)">
            </span>
            <span data-ng-if="harRequiredFeil()" class="melding">{{ requiredFeilmelding | cmstekst }}</span>
            <span data-ng-if="inneholderIkkeSkrevetTekst()" class="melding">{{ ugyldigFeilmelding | cmstekst }}</span>
        </label>
        <ul data-ng-show="skalViseListen()">
            <li data-bindonce data-ng-repeat="option in vistListeFiltrert"
                data-ng-click="valgtElement($event, option.value)"
                data-value="{{ option.value }}"
                data-ng-bind-html="option.displayText"
                data-ng-class="{harFokus: harFokus(option.value)}"></li>
        </ul>
    </div>
    <div class="vanlig-select" data-ng-if="vanligSelect()">
        <label>
            <span>{{ label | cmstekst }}</span>
            <select data-ng-model="faktum.value" data-ng-options="opt.value as opt.text for opt in orginalListe"></select>
        </label>
    </div>
</div>
