<h2 class="stor ikon-vedlegg-ettersende" data-ng-bind-html="'ettersending.vedlegg.ettersender' | cmstekst"></h2>
<p class="ettersending-infotekst">
    <span data-ng-bind-html="'ettersending.innsendingsfrist' | cmstekst"></span>
    <span data-ng-bind="informasjon.fristDato | date:'dd.MM.yyyy' | norskdato"></span>
</p>
<div class="vedleggboks" data-ng-repeat="v in vedlegg | ettersendes | orderBy: 'opprettetDato'" data-ng-class="{opplastet: erLastetOpp(v), annetVedlegg: erAnnetVedlegg(v)}">
    <div>
        <div class="vedlegg-navn" data-ng-class="{annet: erAnnetVedlegg(v)}">
            <div class="navn"
                 data-truncate-hover
                 data-ng-include="'../views/ettersending/partials/vedlegg-navn.html'"></div>

            <span class="tittel-parent">
                <span class="tittel"
                      data-ng-if="erIkkeLastetOpp(v)"
                      data-ng-include="'../views/ettersending/partials/vedlegg-tittel.html'"></span>

                <a href="#visVedlegg/{{v.vedleggId}}"
                   class="tittel"
                   data-ng-if="erLastetOpp(v)"
                   data-ng-include="'../views/ettersending/partials/vedlegg-tittel.html'"></a>

                <span data-ng-if="!erAnnetVedlegg(v)"
                      data-ng-include="'../views/ettersending/partials/vedlegg-hjelpetekst.html'"></span>
            </span>




            <div class="skjema-lenke" data-ng-if="harSkjemaLenke(v)">
                <a href="{{v.urls.URL}}" data-ng-bind-html="'ettersending.vedlegg.skjema.lastNed' | cmstekst"></a>
            </div>
        </div>
        <div class="last-opp" data-ng-class="{annet: erAnnetVedlegg(v)}">
            <div data-ng-if="erIkkeLastetOpp(v)">
                <span class="slett" data-ng-if="erAnnetVedlegg(v)">
                    <a href="javascript:void(0);"
                       data-ng-click="slettAnnetVedlegg(v)"
                       data-ng-bind-html="'ettersending.vedlegg.annet.slett' | cmstekst"></a>
                </span>
                <a class="knapp-link-liten" data-ng-href="#/opplasting/{{v.vedleggId}}" data-ng-bind-html="'ettersending.vedlegg.lastOpp' | cmstekst"></a>
            </div>

            <div data-ng-if="erLastetOpp(v)">
                <div class="liten" data-ng-bind-html="'ettersending.vedlegg.lastetOpp' | cmstekst"></div>
                <div class="liten">
                    <a href="javascript:void(0);" data-ng-bind-html="'ettersending.vedlegg.slett' | cmstekst" data-ng-click="slettVedlegg(v)"></a>
                </div>
            </div>
        </div>
    </div>
</div>