<div class="strek-bottom">
    <a class="knapp-leggtil-liten"
       href="#/vedlegg/nytt"
       data-ng-bind-html="'vedlegg.leggtilekstravedlegg' | cmstekst">
    </a>
</div>
<div class="send-inn">
    <div data-ng-if="harLastetOppDokument()" data-sticky>
        <a href="javascript: void(0);" class="klare-vedlegg" data-scroll-til-element="input.knapp-hoved">
            <span>{{ hentAntallVedleggSomErOpplastetIDenneEttersendingen() }}</span>
            <span data-ng-bind-html="hentKlareVedleggTekst() | cmstekst"></span>
        </a>

        <div class="klare-vedlegg">
            <span>{{ hentAntallVedleggSomErOpplastetIDenneEttersendingen() }}</span>
            <span data-ng-bind-html="hentKlareVedleggTekst() | cmstekst"></span>
        </div>
    </div>
    <form class="send-inn-knapp" data-ng-submit="sendEttersending()">
        <input type="submit" class="knapp-hoved" value="{{ 'ettersending.vedlegg.send' | cmstekst }}"
               data-fremdriftsindikator="grå">

        <div class="form-linje" data-ng-class="{feil: harFeil()}">
            <span class="melding" data-ng-bind-html="'ettersending.feil.innsending' | cmstekst"
                  data-ng-if="ikkeOpplatetDokumenter"></span>
            <span class="melding" data-ng-bind-html="'ettersending.feil.n6.innsending' | cmstekst"
                  data-ng-if="ikkeOpplastetAnnetVedlegg"></span>
        </div>
    </form>

    <a href="#/avbryt" data-ng-bind-html="'ettersending.vedlegg.avbryt' | cmstekst"></a>
</div>