<div class="skjemaramme" data-ng-controller="ModusCtrl">

    <div class="skjemainnhold" data-ng-controller="ArbeidsforholdCtrl">
        <p class="bolk-informasjonstekst" cmstekster="arbeidsforhold.informasjon"/>

        <span data-ng-show="endreError" style="color:red" cmstekster="arbeidsforhold.error.endre"/>

        <div data-ng-repeat="af in arbeidsforhold" ng-form="endreArbeidsforholdForm" name="endreArbeidsforholdForm" data-ng-submit="lagreArbeidsforhold(af, endreArbeidsforholdForm)"
                      novalidate>
            <div class="sluttaarsak" data-ng-if="arbeidsforholdetErIkkeIRedigeringsModus($index)">
                <p class="svar-oppsummering arbeidsforhold-dato">{{ af.varighetFra | date:'d MMMM yyyy'}} - {{
                    af.varighetTil | date:'d MMMM yyyy'}}</p>

                <p class="svar-oppsummering arbeidsforhold-arbeidsgivernavn">{{ af.navn }}</p>

                <p class="svar-oppsummering-overskrift" cmstekster="arbeidsforhold.arbeidsgiver.land"/>

                <p class="svar-oppsummering">{{ af.land }}</p>

                <p class="svar-oppsummering-overskrift" cmstekster="arbeidsforhold.arbeidsgiver.sluttaarsak"/>

                <p class="svar-oppsummering">{{ af.sluttaarsak.navn }}</p>

                <div data-ng-include="af.sluttaarsak.oppsummeringsurl"></div>

                <a class="arbeidsforhold-slett" href data-ng-click="slettArbeidsforhold(af)"
                   cmstekster="arbeidsforhold.slettarbeidsforhold"/>
                <a class="arbeidsforhold-endre" href data-ng-click="endreArbeidsforhold($index)"
                   cmstekster="arbeidsforhold.endrearbeidsforhold"/>
            </div>


            <div data-ng-if="posisjonForArbeidsforholdUnderRedigering == $index">

             
                    <label for="arbeidsgiver_navn" cmstekster="arbeidsforhold.arbeidsgiver.navn"></label>
                    <input id="arbeidsgiver_navn" type="text" data-ng-model="af.navn"></input>

                    <br/>
                    <br/>

                    <label for="arbeidsgiver_land" cmstekster="arbeidsforhold.arbeidsgiver.land"/>
                    <select id="arbeidsgiver_land" data-ng-model="af.land"
                            data-ng-options="item for item in landService.result" required>
                        <option value="" cmstekster="arbeidsforhold.arbeidsgiver.landDefault"/>
                    </select>

                    <br/>
                    <br/>

                    <div class="varighet">
                        <label cmstekster="arbeidsforhold.arbeidsgiver.varighetFra"/>
                        <input type="text" name="varighetFra" ui-date ui-date-format ng-model="af.varighetFra"
                               data-ng-change="validateTilFraDato(af)" required/>
                        <label cmstekster="arbeidsforhold.arbeidsgiver.varighetTil"/>
                        <span data-ng-show="datoError" style="color:red" cmstekster="arbeidsforhold.error.datoTilFra"/>
                        <input type="text" name="varighetTil" ui-date ui-date-format ng-model="af.varighetTil"
                               data-ng-change="validateTilFraDato(af)" required/>
                    </div>


                    <br/>
                    <br/>

                    <label cmstekster="arbeidsforhold.arbeidsgiver.sluttaarsak"/>
                    <br/>


                    <select id="sluttaarsak_id" type="text" name="sluttaarsak" data-ng-model="af.sluttaarsak"
                            data-ng-options="t.navn for t in templates" required>
                        <option value="" cmstekster="arbeidsforhold.arbeidsgiver.sluttaarsakDefault"/>

                    </select>

                    <br/>

                    <div data-ng-show="af.sluttaarsak">
                        <br/>

                        <div data-ng-include="af.sluttaarsak.url"></div>
                    </div>

                    <input name="lagre" cmstekster="arbeidsforhold.lagre" type="submit" id="arbeidsgiverLagre" data-ng-click="lagreArbeidsforhold(af, endreArbeidsforholdForm)"></input>

                    <a class="arbeidsforhold-avbryt" href cmstekster="arbeidsforhold.avbryt"
                       data-ng-click="avbrytEndringAvArbeidsforhold(af)"></a>


                    <form-errors></form-errors>

            </div>
        </div>
        <form name="arbeidsforholdForm" data-ng-submit="validerArbeidsforhold(arbeidsforholdForm)" novalidate>
            <a href data-ng-show="kanLeggeTilArbeidsforhold()" data-ng-click="nyttArbeidsforhold($event)"
               cmstekster="arbeidsforhold.nyttarbeidsforhold"/>

            <br/>
            <br/>
            <br/>
            <br/>

            <div data-ng-show="harIkkeLagretArbeidsforhold()">
                <navcheckbox data-ng-model="soknadData.fakta.harIkkeJobbet.value"
                             modus="data.redigeringsModus"
                             inputname="harIkkeJobbet" label='arbeidsforhold.harIkkeJobbet'
                             endret="toggleRedigeringsmodus(arbeidsforholdForm)"/>
            </div>

            <spmblokkferdig
                    nokkel="arbeidsforhold"
                    modus="data.redigeringsModus"/>
        </form>
    </div>

</div>


