<div class="modalBoks" data-ng-controller="ArbeidsforholdNyttCtrl">
    <div data-ng-form="nyttArbeidsforholdForm" class="vertikal">
        <div class="begrensning">
            <div class="sak-totredel">
                <div class="barn-spm spm-boks panel-standard-belyst">
                    <a href="#/dagpenger/{{ soknadData.soknadId }}" class="lukk"> </a>

                    <h2 class="stor-strek">
                        <span data-cmstekster="arbeidsforhold.nyttarbeidsforhold.tittel"></span>
                    </h2>

                    <div data-nav-faktum="arbeidsforhold" data-ikke-auto-lagre="true">
                        <div class="form-linje">
                            <div data-navtekst
                            data-navconfig
                            data-nav-faktum-property="arbeidsgivernavn"
                            data-navlabel="arbeidsforhold.arbeidsgiver.navn"
                            data-navfeilmelding="arbeidsforhold.arbeidsgiver.navn.feilmelding"
                            data-ng-required></div>
                        </div>
                        <div class="varighet">
                            <div data-nav-dato-intervall
                                 data-fra-dato="arbeidsforhold.properties.datofra"
                                 data-til-dato="arbeidsforhold.properties.datotil"
                                 data-label="arbeidsforhold.arbeidsgiver.varighet"
                                 data-er-begge-required="true">
                            </div>
                        </div>

                    </div>

                    <div class="form-linje">
                        <p class="informasjonstekst" data-cms-tekster="arbeidsforhold.arbeidsgiver.sluttaarsak.informasjon"> </p>

                        <label>
                            <span data-cmstekster="arbeidsforhold.arbeidsgiver.sluttaarsak"></span>
                            <select id="sluttaarsak_id"
                            data-name="sluttaarsakType"
                            data-ng-model="sluttaarsakType"
                            data-ng-options="t.navn for t in templates"
                            data-error-messages="'arbeidsforhold.arbeidsgiver.sluttaarsak.feilmelding'"
                            data-ng-required="true">
                                <option value="" cmstekster="arbeidsforhold.arbeidsgiver.sluttaarsakDefault"></option>
                            </select>
                            <span class="melding"></span>
                        </label>
                </div>

                <div data-ng-show="sluttaarsakType">
                    <div data-ng-include="sluttaarsakType.url"></div>
                </div>
                
                <div class="knapper-opprett">
                    <input class="knapp-hoved-liten" name="lagre" type="submit" data-cmstekster="arbeidsforhold.nyttarbeidsforhold.lagre"
                    data-ng-click="lagreArbeidsforhold(nyttArbeidsforholdForm);">
                    <a href="#/dagpenger/{{ soknadData.soknadId }}" data-cmstekster="arbeidsforhold.nyttarbeidsforhold.avbryt"></a>
                </div>

            </div>
        </div>
    </div>
</div>
</div>