<div data-ng-controller="AvbrytCtrl">
    <div ng-show="data.krevBekreftelse == true">
        <h1 class="stor">Slett søknaden</h1>
        <p>Bekreft at du vil slette søknaden. Alt du har lastet opp vil bli slettet, og søknaden sendes ikke til NAV.</p>
        <form novalidate data-ng-submit="submitForm();">
            <input class="knapp-advarsel-liten" role="button" type="submit">
        </form>
    </div>

    <div ng-show="data.krevBekreftelse == false">
        <img src="../img/ajaxloader/hvit/loader_hvit_64.gif" alt="Fremdriftsindikator"/>
    </div>
</div>

