<div class="skjemaramme" data-ng-controller="ModusCtrl">
    <div data-ng-form="barnetilleggForm" class="skjemainnhold" data-ng-controller="BarnetilleggCtrl" novalidate>
        <div form-errors></div>
        <p class="informasjonstekst" cmstekster="barnetillegg.informasjon"></p>
        
        <div data-ng-repeat="b in barn">
            <div data-ng-class="{gutt: erGutt(b), jente:erJente(b)}" class="barn">
                <div class="barnealder">
                    <span> ÅR</span>
                    <span class="alder robust" data-ng-bind="b.alder"></span>
                </div>
                <div class="barneinfo">
                    <div data-ng-bind="b.sammensattnavn"></div>
                    <div data-ng-bind="b.fnr"></div>
                    <div class="barnbosted">
                        <span class="bosted">bosted: </span>
                        <span>Norge</span>
                    </div>
                    <div class="barnecheckbox">
                        <input id="barnetilegg{{$index}}" data-ng-click="lagreBarnetilegg(b, $event)" data-ng-model="model" type="checkbox" name="barnetilegg{{$sindex}}"/>
                        <label for="barnetilegg{{$index}}" class="svar-alt" data-cmstekster="barnetillegg.barnetilegg.spormsal"></label>
                    </div>
                    <!--div data-barnetilegg-checkbox data-fnr="b.fnr" data-ng-model='soknadData.fakta.barnetilegg' data-modus='data.redigeringsModus'
                    data-inputname='barnetillegg' data-label='barnetillegg.barnetilegg.spormsal'></div-->
                </div>
            </div>
        </div>

        <div spmblokkferdig
                nokkel="barnetillegg"
                modus="data.redigeringsModus"
                submit-method="validerBarnetillegg(barnetilleggForm)"/>
    </div>
</div>