<div class="skjemaramme" data-ng-controller="ModusCtrl">
    <div data-ng-form="barnetilleggForm" class="skjemainnhold" data-ng-controller="BarnetilleggCtrl" novalidate>
        <div form-errors></div>
        <p class="informasjonstekst" cmstekster="barnetillegg.informasjon"></p>
        
        <div data-ng-repeat="b in barn.valuelist">
            <div data-ng-class="{gutt: erGutt(b), jente:erJente(b)}" class="barn">
                <div class="barnealder">
                    <span> ÅR</span>
                    <span class="alder robust" data-ng-bind="b.alder"></span>
                </div>
                <div class="barneinfo">
                    <div data-ng-bind="b.sammensattnavn"></div>
                    <div data-ng-bind="b.fnr"></div>
                    <div class="barnbosted">
                        <span class="bosted">bosted: </span>
                        <span>Norge</span>
                    </div>
                    <div data-navcheckbox data-ng-model='b.barnetillegg' data-modus='data.redigeringsModus'
                    data-inputname='barnetillegg' data-label='barnetillegg.barnetilegg.spormsal'></div>
                </div>
            </div>
        </div>

        <div spmblokkferdig
                nokkel="barnetillegg"
                modus="data.redigeringsModus"
                submit-method="validerBarnetillegg(barnetilleggForm)"/>
    </div>
</div>