<div data-nav-tittel="skjema.tittel"></div>
<div data-stegindikator data-steg-liste="veiledning, skjema, vedlegg, sendInn" data-aktiv-index="0"></div>      
<div id="feilside" data-ng-controller="FeilSideCtrl">
    <div data-panelbelyst>
        <div class="persondata-feil">
            <div class="utrop-sirkel-ikon"></div>
            <h1 data-cmstekster="feilmelding"></h1>
            <p class="mini-strek">{{ 'feilmelding.tps' | cmstekst }}</p>
            <div class="knapper">
                <a type="button" class="knapp-hoved" href="{{inngangsportenUrl}}" data-cmstekster="feilmelding.lenketekst"></a>
            </div>
        </div>
    </div>
</div>
