<div data-ng-controller="FerdigstiltCtrl">
    <div class="rad soknad" data-sidetittel="sidetittel.skjema">
        <section class="sak-hel">
            <div class="panel-standard-belyst skjema">

                <h2 class="stor strek-ikon-info-orange" data-cmstekster="soknad.ferdigstilt"></h2>
                <div class="egen-linje">
                        <a href="{{mineHenveldelserUrl}}" id="slettetMinehenvendelser"
                            role="link" data-cmstekster="slettet.videretilnav"></a>
                </div>
            </div>
        </section>
    </div>
</div>