<panelbelyst id="fortsett-senere">
    <div class="skjemaramme" data-ng-controller="ModusCtrl">
        <div data-ng-controller="FortsettSenereCtrl" data-ng-form="epostForm" novalidate class="epost-input vertikal">
            <div form-errors></div>
       
                <h2 class="stor" cmstekster="dagpenger.fortsettSenere.tittel"/>

                <p cmstekster="dagpenger.fortsettSenere.info"/>

                <div class="send-epost">
                    <div class="input-boks">
                        <div class="form-linje">
                            <label>
                                <span cmstekster="dagpenger.fortsettSenere.epost.label"> </span>
                                <input type="email" name="epost" role="textbox" data-ng-model="soknadData.fakta.epost.value" error-messages="'dagpenger.fortsettSenere.epost.feilmelding'" ng-required data-blur-validate />
                            </label>
                            <input type="submit" class="knapp-hoved-liten" cmstekster="dagpenger.fortsettSenere.epost.send" role="button" data-ng-click="forsettSenere(epostForm)"/>
                            <span class="melding"/>
                        </div>
                    </div>
                </div>

                <div>
                    <p cmstekster="dagpenger.fortsettSenere.info.frister"></p>
                    <p cmstekster="dagpenger.fortsettSenere.info.konsekvenser"></p>
                </div>

                <div class="lenker-dot">
                    <span>
                        <a href="#/dagpenger/{{ soknadData.soknadId }}" id="tilOversikt" role="link" cmstekster="dagpenger.fortsettSenere.tilbake"/>
                    </span>
                    <span>

                        <a href="https://tjenester-t11.nav.no/inngangsporten/innlogget" id="dittnav"  role="link" cmstekster="dagpenger.fortsettSenere.dittNav"/>
                    </span>
                </div>
        </div>
    </div>
</panelbelyst>