<div data-ng-controller="FortsettSenereCtrl">
    <panelbelyst id="gjenoppta">
        <!--h2 class="stor" cmstekster="dagpenger.fortsettSenere.tittel"/-->
        <h2>Gjenoppta</h2>

        <p cmstekster="dagpenger.gjenoppta.info">
        
        <div data-nav-gjenoppta/>


        <div class="lenker-dot">
            <span>
                <a href="https://tjenester-t8.nav.no/inngangsporten/innlogget" id="dittnav"  role="link" cmstekster="dagpenger.fortsettSenere.dittNav"/>
            </span>
        </div>
    </panelbelyst>
</div>
