<div data-ng-controller="FortsettSenereCtrl">
    <panelbelyst id="gjenoppta">
        <!--h2 class="stor" data-cmstekster="dagpenger.fortsettSenere.tittel"/-->
        <h2>Gjenoppta</h2>
        <p data-cmstekster="dagpenger.gjenoppta.info"></p>
        <div data-nav-gjenoppta></div>
        <div class="lenker-dot">
            <a href="https://tjenester-t8.nav.no/inngangsporten/innlogget" id="dittnav"  role="link" data-cmstekster="dagpenger.fortsettSenere.dittNav"></a>
        </div>
    </panelbelyst>
</div>
