<div data-panelbelyst id="kvittering">
    <h2 class="stor" cmstekster="dagpenger.fortsettSenere.kvittering.tittel"/>

    <p cmstekster="dagpenger.fortsettSenere.kvittering.tekst"/> <span> {{soknadData.fakta.epost.value}}<span>

    <a href="#/fortsettsenere/{{soknadData.soknadId}}" cmstekster="dagpenger.fortsettSenere.kvittering.sendpaanyttlink"/>
    <p cmstekster="dagpenger.fortsettSenere.kvittering.frist"/>

    <p cmstekster="dagpenger.fortsettSenere.kvittering.konsekvens-vente"/>

    <a href="#/dagpenger/{{soknadData.soknadId}}" cmstekster="dagpenger.fortsettSenere.fortsettlink"/>

	<a href="https://tjenester-t11.nav.no/inngangsporten/innlogget" id="dittnav"  role="link" cmstekster="dagpenger.fortsettSenere.dittNav"/>
</div>


    