<div id="oppsummering" data-ng-controller="OppsummeringCtrl">
    <div data-stegindikator data-steg-liste="veiledning, skjema, vedlegg, sendInn" data-aktiv-index="3"></div>
    <div data-panelbelyst data-sidetittel="sidetittel.skjema">
        <div class="oppsummering" data-ng-bind-html="oppsummeringHtml"></div>
        <form data-ng-submit="sendSoknad()">
            <!--<span class="oppgitt">{{ 'dagpenger.informasjonsside.lestbrosjyre.sporsmal' | cmstekst }}</span>-->

            <div class="checkbox form-linje" data-ng-class="{feilstyling : skalViseFeilmelding.value === true}"
                 data-checkbox-validate>
                <input id="bekreftelseOpplysninger" type="checkbox" data-ng-model="harbekreftet.value">
                <label for="bekreftelseOpplysninger">

                    {{ 'dagpenger.oppsummering.bekreftOpplysninger' | cmstekst }}
                </label>
                <span class="melding">{{ 'dagpenger.oppsummering.bekreftelse.feilmelding' | cmstekst }} </span>
            </div>

            <input class="knapp-hoved" type="submit" value="{{ 'dagpenger.oppsummering.send' | cmstekst }}">

            <div class="ikke-sendt" data-ng-if="fikkIkkeSendtSoknad.value">
                <p>{{'dagpenger.oppsummering.sendsoknad.feilmelding' | cmstekst}}</p>
            </div>

            <div class="lenker">
                <ul class="liste-vannrett">
                    <li>
                        <a href="#/fortsettsenere/{{ soknadId }}">{{ 'fortsettSenere' | cmstekst }}</a>
                    </li>
                    <li>
                        <a href="#/avbryt/{{ soknadId }}">{{ 'avbryt.slett' | cmstekst }}</a>
                    </li>
                    <li>
                        <a href="#/vedlegg">{{ 'dagpenger.oppsummering.tilbake' | cmstekst }}</a>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>