<div id="oppsummering" data-ng-controller="OppsummeringCtrl">
    <div data-stegindikator data-steg-liste="veiledning, skjema, vedlegg, sendInn" data-aktiv-index="3"></div>
    <div data-panelbelyst data-sidetittel="sidetittel.skjema">
        <div class="oppsummering" data-ng-bind-html="oppsummeringHtml"></div>
        <form data-ng-submit="sendSoknad()">
            <!--<span class="oppgitt">{{ 'dagpenger.informasjonsside.lestbrosjyre.sporsmal' | cmstekst }}</span>-->

            <div class="checkbox form-linje" data-ng-class="{feilstyling : skalViseFeilmelding.value === true}"
                 data-checkbox-validate>
                <input id="bekreftelseOpplysninger" type="checkbox" data-ng-model="harbekreftet.value">
                <label for="bekreftelseOpplysninger" data-cmstekster="dagpenger.oppsummering.bekreftOpplysninger">
                </label>
                <span class="melding" data-cmstekster="dagpenger.oppsummering.bekreftelse.feilmelding"></span>
            </div>
            <div class="oppsummering-knapp">
                <input class="knapp-hoved" type="submit" value="{{ 'dagpenger.oppsummering.send' | cmstekst }}">
            </div>
            <div data-sist-lagret data-navtilbakelenke="tilbake.til.vedlegg.lenke"></div>
        </form>
    </div>
</div>