<stegindikator steg-liste="veiledning, skjema, vedlegg, sendInn" aktiv-index="3"></stegindikator>

<panelbelyst id="oppsummering" data-sidetittel="sidetittel.skjema">
	<h2 class="stor" data-lenker-dotcmstekster="dagpenger.oppsummering.tittel"></h2>
	<p data-cmstekster="dagpenger.oppsummering.info"></p>
	<div class="oppsummering">
		<ul>
			<li>
				Punktliste
			</li>
		</ul>
		<div class="oppsummering-knapper" data-ng-controller="SendSoknadCtrl">
			<a class="knapp-hoved" data-ng-click="sendSoknad()" data-cmstekster="send"></a>
			<a class="knapp-advarsel" href="#/avbryt/{{ soknadData.soknadId }}" data-cmstekster="avbryt"></a>
			<a href="#/opplasting/{{ soknadData.soknadId }}" data-cmstekster="tilbake"></a>
		</div>
	</div>
</panelbelyst>
