<div class="skjemaramme" data-ng-controller="ModusCtrl">
    <div data-ng-form="reellarbeidssokerForm" class="skjemainnhold" data-ng-controller="ReellarbeidssokerCtrl" novalidate>

        <form-errors></form-errors>

        <booleanradio data-ng-model="soknadData.fakta.villigdeltid.value"
                      modus="data.redigeringsModus"
                      nokkel="reellarbeidssoker.villigdeltid"/>

        <booleanradio data-ng-model="soknadData.fakta.villigpendle.value"
                      modus="data.redigeringsModus"
                      nokkel="reellarbeidssoker.villigpendle"/>

        <booleanradio data-ng-model="soknadData.fakta.villighelse.value"
                      modus="data.redigeringsModus"
                      nokkel="reellarbeidssoker.villighelse"/>

        <booleanradio data-ng-model="soknadData.fakta.villigjobb.value"
                      modus="data.redigeringsModus"
                      nokkel="reellarbeidssoker.villigjobb"/>

        <spmblokkferdig
                nokkel="reellarbeidssoker"
                modus="data.redigeringsModus"
                submit-method="validerReellarbeidssoker(reellarbeidssokerForm)"/>
    </div>
</div>