<div>
    <p cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.informasjon"/>

    <p class='spm' cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.fraDato.sporsmal"/>
    <input type="text" name="avskjedigetFraDato" ui-date ui-date-format data-ng-model="data.redusertArbeidstidFra" required >

    <booleanradio data-ng-model="data.redusertArbeidstidNyttTilbud"
                  modus="data.redigeringsModus"
                  nokkel="arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud"/>
</div>
    <!--<p class='spm' cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.sporsmal"/>-->
    <!--<input class="sendsoknad-radio" id="arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.true" data-ng-model="data.redusertArbeidstidNyttTilbud" type="radio" value="true"-->
           <!--name="redusertArbeidstidNyttTilbudTrue" required />-->
    <!--<label for='arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.true' class='svar-alt' cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.true"/>-->

    <!--<input class="sendsoknad-radio" id="arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.false" data-ng-model="data.redusertArbeidstidNyttTilbud" type="radio" value="false"-->
           <!--name="redusertArbeidstidNyttTilbudFalse" required />-->
    <!--<label for='arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.false' class='svar-alt' cmstekster="arbeidsforhold.sluttaarsak.redusertArbeidstid.nyttTilbud.false"/>-->
