<div id="slettet" class="soknad" data-sidetittel="sidetittel.slettet">
    <div class="rad-belyst inforad">
        <div class="begrensning sak-totredel">
            <section class="panel-standard oversikt">
                <h1 class="strek-ikon-slettet" data-cmstekster="slettet.tittel"></h1>

                <p class="info" data-cmstekster="slett.informasjon"></p>

                <div class="slett-soknad-stor">
                    <div class="lenker-dot">
                        <ul class="liste-vannrett" role="navigation">
                            <li><a href="http://nav.no/skjema/Skjemaer" id="slettetSkjemaveileder"
                                   data-cmstekster="slettet.skjemaveileder" role="link"></a></li>
                            <li><a href="https://tjenester-t11.nav.no/minehenvendelser/" id="slettetMinehenvendelser"
                                   role="link" data-cmstekster="slettet.videretilnav"></a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


