<div class="skjemaramme" data-ng-controller="ModusCtrl">
    <div data-ng-form="utdanningForm" class="skjemainnhold" data-ng-controller="UtdanningCtrl" data-novalidate>
        <div data-form-errors></div>
        <h4 class="spm-sporsmal">
            <span data-cmstekster="utdanning.informasjon"></span>
        </h4>
        <div class="spm form-linje boolean">

            <div data-navradio data-ng-model="soknadData.fakta.utdanning.value" data-value="ikkeUtdanning"
                 data-modus="data.redigeringsModus"
                 data-inputname="utdanning"
                 data-label="utdanning.svar.ikkeUtdanning"
                 data-feilmelding="utdanning.utdanning.feilmelding"></div>

            <div data-navradio data-ng-model="soknadData.fakta.utdanning.value" data-value="avsluttetUtdanning"
                 data-modus="data.redigeringsModus"
                 data-inputname="utdanning"
                 data-label="utdanning.svar.avsluttetUtdanning"
                 data-feilmelding="utdanning.utdanning.feilmelding"></div>

            <div class="spm" data-ng-if="hvisAvsluttetUtdanning()" modus="data.redigeringsModus">
                <div class="ekstra-spm-boks" cmstekster="utdanning.svar.under.utdanning.avsluttet.dokumentere"/>
            </div>

            <div data-navradio data-ng-model="soknadData.fakta.utdanning.value" data-value="underUtdanning"
                 data-modus="data.redigeringsModus"
                 data-inputname="utdanning"
                 data-label="utdanning.svar.underUtdanning"
                 data-feilmelding="utdanning.utdanning.feilmelding"></div>

            <span class="melding"></span>
            <div class="spm" data-ng-if="hvisUnderUtdanning()" modus="data.redigeringsModus">


                <h4 class="spm-sporsmal" cmstekster="utdanning.sporsmal"></h4>
                    <div data-label="utdanning.svar.under.utdanning.kveld" data-navcheckbox id="underUtdanningKveld" data-modus="data.redigeringsModus" data-ng-model ="soknadData.fakta.underUtdanningKveld.value" data-inputname="underUtdanningKveld" data-endret="endreUtdanning(utdanningForm)"/>


    <div class="ekstra-spm-boks" data-ng-if="hvisUtdanningKveld()">
        <input type="hidden" data-ng-model="harHuketAvCheckboks.value" data-ng-required=" $scope.soknadData.fakta.utdanning.value == 'underUtdanning'"
               data-error-messages="'utdanning.minstEnAvhuket.feilmelding'">

        <div class="infoboks" cmstekster="utdanning.svar.under.utdanning.kveld.informasjon"/>

        <div data-navradio data-ng-model="soknadData.fakta.utdanning.kveld.undervisningfolges"
             data-value="undervisningFolges"
             data-modus="data.redigeringsModus"
             data-inputname="undervisningfolges"
             data-label="utdanning.svar.under.utdanning.kveld.undervisning.folges"
             data-feilmelding="utdanning.error.undervisningfolges"></div>


        <div data-navradio data-ng-model="soknadData.fakta.utdanning.kveld.undervisningfolges"
             data-value="undervisningFolgesIkke"
             data-modus="data.redigeringsModus"
             data-inputname="undervisningfolgesikke"
             data-label="utdanning.svar.under.utdanning.kveld.undervisning.folgesikke"
             data-feilmelding="utdanning.error.undervisningfolges"></div>


        <div class="infoboks" cmstekster="utdanning.svar.under.utdanning.kveld.undervisning.forenlig"/>

        <div data-navradio data-ng-model="soknadData.fakta.utdanning.progresjonunder50" data-value="true"
             data-modus="data.redigeringsModus"
             data-inputname="progresjonunder50"
             data-label="utdanning.progresjon.true"
             data-feilmelding="utdanning.error.progresjon"></div>

        <div data-navradio data-ng-model="soknadData.fakta.utdanning.progresjonunder50" data-value="false"
             data-modus="data.redigeringsModus"
             data-inputname="progresjonover50"
             data-label="utdanning.progresjon.false"
             data-feilmelding="utdanning.error.progresjon"></div>


        <div data-ng-if="hvisStudieProgresjonOver50()">
            <div class="infoboks" cmstekster="utdanning.svar.under.utdanning.kveld.undervisning.progresjon"/>


            <div data-navradio data-ng-model="soknadData.fakta.utdanning.paabegyntunder6mnd" data-value="true"
                 data-modus="data.redigeringsModus"
                 data-inputname="paabegyntUnder6mnd"
                 data-label="utdanning.paabegyntUnder6mnd.true"
                 data-feilmelding="utdanning.error.paabegynt"></div>
            <div data-ng-if="hvisUtdanningPaabegyntUnder6mnd()">
                <div class="infoboks" cmstekster="utdanning.unntak.under6mnd"/>
            </div>
            <div data-navradio data-ng-model="soknadData.fakta.utdanning.paabegyntunder6mnd" data-value="false"
                 data-modus="data.redigeringsModus"
                 data-inputname="paabegyntOver6mnd"
                 data-label="utdanning.paabegyntUnder6mnd.false"
                 data-feilmelding="utdanning.error.paabegynt"></div>


        </div>
        <div data-navtekst data-modus="data.redigeringsModus" data-label="utdanning.utdanningssted.navn"
             data-ng-model="soknadData.fakta.utdanning.kveld.utdanningsstednavn"
             data-feilmelding="'utdanning.error.utdanningsstednavn'" required/>


        <div data-navtekst data-modus="data.redigeringsModus" data-label="utdanning.utdanning.navn"
             data-ng-model="soknadData.fakta.utdanning.kveld.navn" data-feilmelding="'utdanning.error.utdanningsnavn'"
             required/>


                            <div data-nav-dato-intervall
                                 data-fra-dato="utdanning.kveld.varighetFra"
                                 data-til-dato="utdanning.kveld.varighetTil"
                                 data-label="utdanning.varighet"
                                 data-er-required="true"
                                 data-feilmelding="utdanning.error.varighet.tilfra">
                            </div>

                <div data-nav-dato data-ng-model="soknadData.fakta.utdanning.avslutning.semester"
                     data-label="utdanning.avslutning.semester"
                     data-er-required="true"
                     data-required-error-message="utdanning.avslutning.semester.feilmelding">
                </div>
                <div class="infoboks" cmstekster="utdanning.svar.under.utdanning.dokumentasjon"/>


    </div>

    <div data-label="utdanning.svar.under.utdanning.kortvarig" data-navcheckbox data-modus="data.redigeringsModus"
         data-ng-model="soknadData.fakta.underUtdanningKortvarig.value" data-inputname="underUtdanningKortvarig"
         data-endret="endreUtdanning(utdanningForm)"/>

    <div class="ekstra-spm-boks" data-ng-if="hvisUtdanningKortvarig()">


                <div data-navtekst data-modus="data.redigeringsModus" data-label="utdanning.utdanningssted.navn" data-ng-model="soknadData.fakta.utdanning.kortvarig.utdanningsstednavn" data-feilmelding="utdanning.error.utdanningsstednavn"  data-ng-required="true"/>

                <div data-navtekst data-modus="data.redigeringsModus" data-label="utdanning.utdanning.navn" data-ng-model="soknadData.fakta.utdanning.kortvarig.navn" data-feilmelding="utdanning.error.utdanningsnavn"  data-ng-required="true"/>

        <div class="infoboks" cmstekster="utdanning.svar.under.utdanning.kortvarig.informasjon"/>

                <div class="varighet">
                    <div data-nav-dato-intervall
                         data-fra-dato="utdanning.kortvarig.varighetFra"
                         data-til-dato="utdanning.kortvarig.varighetTil"
                         data-label="utdanning.varighet"
                         data-er-required="true"
                         data-feilmelding="utdanning.error.varighet.tilfra">
                    </div>
                </div>

        <div class="infoboks" cmstekster="utdanning.svar.under.utdanning.dokumentasjon"/>
</div>

    <div data-label="utdanning.svar.under.utdanning.kortvarigflere" data-navcheckbox data-modus="data.redigeringsModus"
         data-ng-model="soknadData.fakta.underUtdanningKortvarigFlere.value"
         data-inputname="underUtdanningKortvarigFlere" data-endret="endreUtdanning(utdanningForm)"/>
    <div class="ekstra-spm-boks" data-ng-if="hvisUtdanningKortvarigFlere()">

        <div class="infoboks" cmstekster="utdanning.svar.under.utdanning.kortvarigflere.informasjon"/>


                <div data-navtekst data-modus="data.redigeringsModus" data-label="utdanning.utdanningssted.navn" data-ng-model="soknadData.fakta.utdanning.kortvarigflere.utdanningsstednavn" data-feilmelding="utdanning.error.utdanningsstednavn"  data-ng-required="true"/>

                <div data-navtekst data-modus="data.redigeringsModus" data-label="utdanning.utdanning.navn" data-ng-model="soknadData.fakta.utdanning.kortvarigflere.navn" data-feilmelding="utdanning.error.utdanningsnavn"  data-ng-required="true"/>


        <div class="varighet">
            <div data-nav-dato-intervall
                 data-fra-dato="utdanning.kortvarigFlere.varighetFra"
                 data-til-dato="utdanning.kortvarigFlere.varighetTil"
                 data-label="utdanning.varighet"
                 data-er-required="true">
            </div>
        </div>

        <div class="infoboks" cmstekster="utdanning.svar.under.utdanning.dokumentasjon"/>
    </div>


    <div data-label="utdanning.svar.under.utdanning.norsk" data-navcheckbox data-modus="data.redigeringsModus"
         data-ng-model="soknadData.fakta.underUtdanningNorsk.value" data-inputname="underUtdanningNorsk"
         data-endret="endreUtdanning(utdanningForm)"/>


    <div class="ekstra-spm-boks" data-ng-if="hvisUtdanningNorsk()">

        <div data-navtekst data-modus="data.redigeringsModus" data-label="utdanning.utdanningssted.navn"
             data-ng-model="soknadData.fakta.utdanning.norsk.utdanningsstednavn"
             data-feilmelding="'utdanning.error.utdanningsstednavn'" required/>

        <div class="varighet">
            <div data-nav-dato-intervall
                 data-fra-dato="utdanning.norsk.varighetFra"
                 data-til-dato="utdanning.norsk.varighetTil"
                 data-label="utdanning.varighet"
                 data-er-required="true">
            </div>
        </div>

        <div class="infoboks" cmstekster="utdanning.svar.under.utdanning.dokumentasjon"/>
    </div>

    <div data-label="utdanning.svar.under.utdanning.introduksjon" data-navcheckbox data-modus="data.redigeringsModus"
         data-ng-model="soknadData.fakta.underUtdanningIntroduksjon.value" data-inputname="underUtdanningIntroduksjon"
         data-endret="endreUtdanning(utdanningForm)"/>

                <div data-ng-show="hvisIRedigeringsmodus()">

    <div data-label="utdanning.svar.under.utdanning.annet" data-navcheckbox data-modus="data.redigeringsModus"
         data-ng-model="soknadData.fakta.underUtdanningAnnet.value" data-inputname="underUtdanningAnnet"
         data-endret="endreUtdannelseAnnet(utdanningForm)" data-valider-utdanning-annet/>

    <div class="annetvalg-nei form-linje">
        <span class="utdanning-annet-melding" data-cmstekster="utdanning.harValgtUtdanning.feilmelding"></span>
    </div>
    <div data-ng-if="hvisIngenUnntakGjelder()">
        <div class="ekstra-spm-boks" cmstekster="utdanning.unntak"/>
    </div>
    </div>

            <div data-spmblokkferdig data-nokkel="utdanning" data-modus="data.redigeringsModus"
                 data-submit-method="validerOgSettModusOppsummering(utdanningForm)"></div>

        </div>
    </div>
        </div>
</div>


</div>




