<div class="skjemaramme" data-ng-controller="ModusCtrl">
    <div data-ng-form="utdanningForm" class="skjemainnhold" data-ng-controller="UtdanningCtrl" data-novalidate>
        <div data-form-errors></div>
        <div class="spm">
            <p class="spm-sporsmal" data-cmstekster="utdanning.sporsmal"></p>


                <div navradio data-ng-model="soknadData.fakta.utdanning.value" value="ikkeUtdanning"
                          modus="data.redigeringsModus"
                          inputname="utdanning"
                          label="utdanning.svar.ikkeUtdanning"
                          feilmelding="utdanning.utdanning.feilmelding"/>
                <div navradio data-ng-model="soknadData.fakta.utdanning.value" value="avsluttetUtdanning"
                          modus="data.redigeringsModus"
                          inputname="utdanning"
                          label="utdanning.svar.avsluttetUtdanning"
                          feilmelding="utdanning.utdanning.feilmelding"/>
                <div navradio data-ng-model="soknadData.fakta.utdanning.value" value="underUtdanning"
                          modus="data.redigeringsModus"
                          inputname="utdanning"
                          label="utdanning.svar.underUtdanning"
                          feilmelding="utdanning.utdanning.feilmelding"/>


                <div class="spm" data-ng-show="hvisUnderUtdanning() && hvisIRedigeringsmodus()" modus="data.redigeringsModus">


                    <input id="underUtdanningKveld" type="checkbox" data-ng-model ="soknadData.fakta.underUtdanning.kveld.value" name="underUtdanningKveld"/>
                    <label for="underUtdanningKveld" class="svar-alt" cmstekster="utdanning.svar.under.utdanning.kveld"/>

                    <div class="spm" data-ng-if="hvisUtdanningKveld()">

                        <p cmstekster="utdanning.svar.under.utdanning.kveld.informasjon"/>

                        <div>
                            <input class="sendsoknad-radio" id="undervisningfolges" data-ng-model="soknadData.fakta.utdanning.undervisningfolges" type="radio" value="true"
                                   name="undervisningfolges" error-messages="'utdanning.error.undervisningfolges'" required/>
                            <label for="undervisningfolges" class='svar-alt' cmstekster="utdanning.svar.under.utdanning.kveld.undervisning.folges"/>
                        </div>

                        <div>
                            <input class="sendsoknad-radio" id="undervisningfolgesikke" data-ng-model="soknadData.fakta.utdanning.undervisningfolges" type="radio" value="false"/>
                            <label for="undervisningfolgesikke" class='svar-alt' cmstekster="utdanning.svar.under.utdanning.kveld.undervisning.folgesikke"/>
                        </div>

                        <p cmstekster="utdanning.svar.under.utdanning.kveld.undervisning.forenlig"/>

                        <div>
                            <input class="sendsoknad-radio" id="progresjonunder50" data-ng-model="soknadData.fakta.utdanning.progresjonunder50" type="radio" value="true"
                                   name="progresjonunder50" error-messages="'utdanning.error.progresjon'" required/>
                            <label for="progresjonunder50" class='svar-alt' cmstekster="utdanning.progresjon.true"/>
                        </div>

                        <div>
                            <input class="sendsoknad-radio" id="progresjonover50" data-ng-model="soknadData.fakta.utdanning.progresjonunder50" type="radio" value="false"/>
                            <label for="progresjonover50" class='svar-alt' cmstekster="utdanning.progresjon.false"/>
                        </div>

                        <div data-ng-if="hvisStudieProgresjonOver50()">
                            <p cmstekster="utdanning.svar.under.utdanning.kveld.undervisning.progresjon"/>
                        </div>


                        <div>
                            <input class="sendsoknad-radio" id="paabegyntUnder6mnd" data-ng-model="soknadData.fakta.utdanning.paabegyntunder6mnd" type="radio" value="true"
                                   name="paabegyntUnder6mndprogresjonunder50" error-messages="'utdanning.error.paabegynt'" required/>
                            <label for="paabegyntUnder6mnd" class='svar-alt' cmstekster="utdanning.paabegyntUnder6mnd.true"/>
                        </div>

                        <div>
                            <input class="sendsoknad-radio" id="paabegyntOver6mnd" data-ng-model="soknadData.fakta.utdanning.paabegyntunder6mnd" type="radio" value="false"/>
                            <label for="paabegyntOver6mnd" class='svar-alt' cmstekster="utdanning.paabegyntUnder6mnd.false"/>
                        </div>

                        <label for="utdanningsstedKveld" cmstekster="utdanning.utdanningssted.navn"></label>
                        <input id="utdanningsstedKveld" type="text" data-ng-model="soknadData.fakta.utdanningssted.kveld.navn" error-messages="'utdanning.error.utdanningssted'" required/>

                        <div class="varighet">
                            <div data-nav-dato-intervall
                                 data-fra-dato="utdanning.kveld.varighetFra"
                                 data-til-dato="utdanning.kveld.varighetTil"
                                 data-label="utdanning.varighet"
                                 data-er-required="true">
                            </div>
                        </div>

                        <div data-ng-if="hvisStudieProgresjonOver50()">
                            <p cmstekster="utdanning.avslutning.semester"/>
                            <div data-nav-dato data-ng-model="soknadData.fakta.utdanning.avslutning.semester"
                                 data-label="utdanning.avslutning.semester"
                                 data-er-required="true"
                                 data-required-error-message="utdanning.avslutning.semester.feilmelding">
                            </div>

                        </div>
                        <p cmstekster="utdanning.svar.under.utdanning.dokumentasjon"/>
                    </div>


                    <input id="underUtdanningKortvarig" type="checkbox" data-ng-model ="soknadData.fakta.underUtdanning.kortvarig.value" name="underUtdanningKortvarig"/>
                    <label for="underUtdanningKortvarig" class="svar-alt" cmstekster="utdanning.svar.under.utdanning.kortvarig"/>

            <div class="spm" data-ng-if="hvisUtdanningKortvarig()">

                <p cmstekster="utdanning.svar.under.utdanning.kortvarig.informasjon"/>

                <label for="utdanningsstedKortvarig" cmstekster="utdanning.utdanningssted.navn"></label>
                <input id="utdanningsstedKortvarig" type="text" data-ng-model="soknadData.fakta.utdanningssted.kortvarig.navn" error-messages="'utdanning.error.utdanningssted'" required/>

                <div class="varighet">
                    <div data-nav-dato-intervall
                         data-fra-dato="utdanning.kortvarig.varighetFra"
                         data-til-dato="utdanning.kortvarig.varighetTil"
                         data-label="utdanning.varighet"
                         data-er-required="true">
                    </div>
                </div>

                <p cmstekster="utdanning.svar.under.utdanning.dokumentasjon"/>
                </div>

                    <input id="underUtdanningKortvarigFlere" type="checkbox" data-ng-model ="soknadData.fakta.underUtdanning.kortvarigFlere.value" name="underUtdanningKortvarigFlere"/>
                    <label for ="underUtdanningKortvarigFlere" class="svar-alt" cmstekster="utdanning.svar.under.utdanning.kortvarigflere"/>

            <div class="spm" data-ng-if="hvisUtdanningKortvarigFlere()">

                <p cmstekster="utdanning.svar.under.utdanning.kortvarigflere.informasjon"/>

                <label for="utdanningsstedKortvarigFlere" cmstekster="utdanning.utdanningssted.navn"></label>
                <input id="utdanningsstedKortvarigFlere" type="text" data-ng-model="soknadData.fakta.utdanningssted.kortvarigFlere.navn" error-messages="'utdanning.error.utdanningssted'" required/>

                <div class="varighet">
                    <div data-nav-dato-intervall
                         data-fra-dato="utdanning.kortvarigFlere.varighetFra"
                         data-til-dato="utdanning.kortvarigFlere.varighetTil"
                         data-label="utdanning.varighet"
                         data-er-required="true">
                    </div>
                </div>

                <p cmstekster="utdanning.svar.under.utdanning.dokumentasjon"/>
            </div>

                    <input id="underUtdanningNorsk" type="checkbox" data-ng-model ="soknadData.fakta.underUtdanning.norsk.value" name="underUtdanningNorsk"/>
                    <label for="underUtdanningNorsk" class="svar-alt" cmstekster="utdanning.svar.under.utdanning.norsk"/>


            <div  class="spm" data-ng-if="hvisUtdanningNorsk()">

                    <label for="utdanningssted" cmstekster="utdanning.utdanningssted.navn"></label>
                    <input id="utdanningssted" type="text" data-ng-model="soknadData.fakta.utdanningssted.norsk.navn" error-messages="'utdanning.error.utdanningssted'" required/>

                    <div class="varighet">
                        <div data-nav-dato-intervall
                             data-fra-dato="utdanning.norsk.varighetFra"
                             data-til-dato="utdanning.norsk.varighetTil"
                             data-label="utdanning.varighet"
                             data-er-required="true">
                        </div>
                    </div>

                <div class="sporsmaal">
                    <p cmstekster="utdanning.utdanningssted.avslutte.sporsmal"/>

                    <div>
                        <input class="sendsoknad-radio" id="avslutteJa" data-ng-model="soknadData.fakta.utdanning.avslutte" type="radio" value="true"
                               name="avslutteJa" error-messages="'utdanning.error.avslutte'" required/>
                        <label for="avslutteJa" class='svar-alt' cmstekster="utdanning.utdanningssted.avslutte.true"/>
                    </div>

                    <div>
                        <input class="sendsoknad-radio" id="avslutteNei" data-ng-model="soknadData.fakta.utdanning.avslutte" type="radio" value="false"
                               name="avslutteNei" error-messages="'utdanning.error.avslutte'" required/>
                        <label for="avslutteNei" class='svar-alt' cmstekster="utdanning.utdanningssted.avslutte.false"/>
                    </div>

                </div>

                <div data-ng-if="hvisManIkkeVilAvslutteUtdanningen()">
                    <p cmstekster="utdanning.utdanningsted.avslutte.konsekvenser"/>
                </div>

                <p cmstekster="utdanning.svar.under.utdanning.dokumentasjon"/>
            </div>

                    <input id="underUtdanningIntroduksjon" type="checkbox" data-ng-model ="soknadData.fakta.underUtdanning.introduksjon.value" name="underUtdanningIntroduksjon"/>
                    <label for="underUtdanningIntroduksjon" class="svar-alt" cmstekster="utdanning.svar.under.utdanning.introduksjon"/>

                    <input id="underUtdanningAnnet" type="checkbox" data-ng-model ="soknadData.fakta.underUtdanning.annet.value" name="underUtdanningAnnet"/>
                    <label for="underUtdanningAnnet" class="svar-alt" cmstekster=" utdanning.svar.under.utdanning.annet"/>

            </div>

        </div>
        <div data-spmblokkferdig data-nokkel="utdanning" data-modus="data.redigeringsModus" data-submit-method="validerUtdanning(utdanningForm)"></div>

        </div>


    </div>
</div>
