<!--<div>-->
    <!--<label for="{{  }}">Navn</label>-->
    <!--<input id="{{  }}" type="text" data-ng-model="{{  }}" name="{{  }}">-->

    <!--<label for="{{  }}">Dato start</label>-->
    <!--<input id="{{  }}" type="text" data-ng-model="{{  }}" name="{{  }} datepicker">-->

    <!--<label for="{{  }}">Dato fra</label>-->
    <!--<input id="{{  }}" type="text" data-ng-model="{{  }}" name="{{  }} fratil datepicker">-->

    <!--<label for="{{  }}">Studerer du på deltid?</label>-->
    <!--<input id="{{  }}" type="checkbox" data-ng-model="{{  }}" name="{{  }}" boolean-verdi>-->

    <!--<div data-ng-show="">-->
        <!--<label for="{{  }}">Prosent</label>-->
        <!--<input id="{{  }}" type="text" data-ng-model="{{  }}" name="{{  }} prosent">-->
    <!--</div>-->

    <!--<p class="spm">Er du villig...</p>-->
    <!--<label for="{{  }}">Svar1</label>-->
    <!--<input id="{{  }}" type="radio" data-ng-model="{{  }}" name="{{  }}">-->
    <!--<label for="{{  }}">svar2</label>-->
    <!--<input id="{{  }}" type="radio" data-ng-model="{{  }}" name="{{  }}">-->

    <!--<div data-ng-show="">-->
        <!--<p>Konsekvenser</p>-->
    <!--</div>-->
<!--</div>-->
