<panelbelyst>
    {{checkUtslagskriterier()}}

    <p cmstekster="utslagskriterier.intro"/>
    <ul>
        <li cmstekster="utslagskriterier.kriterie.alder.under67"/>
        <li cmstekster="utslagskriterier.kriterie.bosted.norge"/>
        <li cmstekster="utslagskriterier.kriterie.reellarbeidssoker"/>
    </ul>

    <p cmstekster="utslagskriterier.utslag.alder">

    <p cmstekster="utslagskriterier.utslag.bosted">

    <p>
        <span cmstekster="utslagskriterier.utslag.reellarbeidssoker"/>
        <a href cmslenketekster="utslagskriterier.utslag.reellarbeidssoker.registert.url"
           cmstekster="utslagskriterier.utslag.reellarbeidssoker.registert"/>
    </p>
    <br/>

    <p cmstekster="utslagskriterier.utslag.infoAvslag"/>
    <br/>
    <a id="fortsett" href='#/informasjonsside' cmstekster="utslagskriterier.utslag.fortsett"/>
</panelbelyst>