<div data-ng-controller="GrunnlagsdataCtrl">
	{{checkUtslagskriterier()}}
	<p>For å kunne få innvilget søknad om dagpenger må følgende kriterier oppfylles: </p>
	<ul>
		<li>Du må være under 67år</li>
		<li>Bo i Norge</li>
		<li>Være registrert som jobbsøker</li>
	</ul>


	<div data-ng-hide="isGyldigAlder()">
		<span>Din alder er {{personalia.alder}} år som er over alderskravet. Du oppfyller dermed ikke kravet for å søke.</span>
		<br/>

		<span>Du kan søke likevel, men svaret blir mest sannsynlig negativt.</span>
		<a id="fortsett" href='#' data-ng-click="startSoknad()">Fortsett likevel</a>
	</div>

	<br/>


	<div data-ng-show="borIUtlandet()">
		<p> Du må bo i Norge for å kunne søke om dagpenger.</p>
		<p>Vi har registrert følgende adresse på deg: </p>
		<p>Folkeregistrert adresse: </p>
		<p>{{folkeregistrertAdresse.gatenavn}} </p>
		<p>{{folkeregistrertAdresse.postnummer}} {{folkeregistrertAdresse.poststed}} </p>
		<p>{{folkeregistrertAdresse.land}} </p>

		<br/>
		<p>Midlertidig adresse: </p>
		<p>{{midlertidigAdresse.gatenavn}} </p>
		<p>{{midlertidigAdresse.postnummer}} {{midlertidigAdresse.poststed}} </p>
		<p>{{midlertidigAdresse.land}} </p>

		<div data-ng-show="midlertidigAdresse.land != 'norge' && folkeregistrertAdresse.land == 'norge'"> 

			<p> Du må derfor endre din midlertidige adresse til en norsk adresse for å få dagpenger. </p>
			<p>Dette kan gjøres enten her eller i din profil *uvisst*.</p>
		</div>
		<div data-ng-show="folkeregistrertAdresse.land != 'norge'"> 
			<p> Du må derfor endre din folkeregistrerte adresse til en norsk adresse for å få dagpenger. </p>
			<p>Dette kan gjøres på <a href="www.skatteetaten.no/Skjemaer/Flyttemelding-til-folkeregisteret"> www.skatteetaten.no</a></p>
		</div>
	</div>

	<br/>


	<br/>

	<div data-ng-show="fattDagpengerSisteAaret() != true" >
		{{fattDagpengerSisteAaret()}}
	</div>

	<div data-ng-hide="arena.jobbsoker">
		<p>Du er ikke registrert som jobbsøker, dette er en forutsettning for å søke om dagpenger</p>
		<br/>
		<a href="http://nav.no" target="_blank">Registrer deg nå</a>
	</div>
</div>