<stegindikator steg-liste="veiledning, skjema, vedlegg, sendInn" aktiv-index="2"></stegindikator>

<div id="vedlegg" class="soknad" data-sidetittel="sidetittel.opplasting">
    <div class="rad-belyst">
        <div class="begrensning sak-totredel">
            <section class="panel-standard oversikt">
                <h1 class="stor-ikon-vedlegg-strek" data-cmstekster="vedlegg.tittel"></h1>
                <p class="info" data-cmstekster="vedlegg.info"></p>
            </section>
        </div>
    </div>
    <section data-ng-controller="VedleggCtrl">
        <div data-accordion data-close-others="false">
            <section data-ng-repeat="v in vedlegg" ng-if="erFaktumLikKriterie(v)" class="vedlegg" data-ng-form id="faktum_{{v.data.id}}">
                <div data-accordion-group class="spm-blokk" data-is-open="!v.lastetOpp()" ng-class="{open: isOpen}">
                    <div data-accordion-heading>
                        <div class="flipp">
                            <span>+</span>
                        </div>
                        <div class="begrensning sak-halv">
                            <div class="panel-mini nettobunn uten-ramme" data-ng-class="{lastetopp: v.lastetOpp()}">
                                <div class="mini" data-ng-if="v.lastetOpp()" data-cmstekster="vedlegg.faktum.lastet.opp"></div>
                                <h2 class="stor" data-cmstekster="{{soknad.gosysId}}.vedlegg.{{v.gosysId}}.header"></h2>
                            </div>
                        </div>
                    </div>
                    <div data-div class="skjemaramme begrensning sak-halv">
                        <div class="panel-standard">
                            <h4 data-cmstekster="vedlegg.faktum.maabekrefte"></h4>
                            <p class="info-liste" data-cmshtml="{{soknad.gosysId}}.vedlegg.{{v.gosysId}}.bekrefte"></p>
                            <div class="spm-knapper send-valg" data-ng-if="!vedleggBehandlet(v)">

                                <input id="{{$index}}sendInnFraPcRadio" data-ng-model="v.valg" type="radio" value="sendinn">
                                <label for="{{$index}}sendInnFraPcRadio" data-cmstekster="vedlegg.faktum.lastopp"></label>

                                <div class="valgbokser">
                                    <a class="valgboks-mobil" href="#/opplasting/{{ soknadData.soknadId }}/{{v.data.faktumId}}" data-ng-if="v.valg == 'sendinn'">
                                        <span data-cmstekster="vedlegg.faktum.lastopp.mobil"></span>
                                    </a>
                                    <a class="valgboks-pc" href="#/opplasting/{{ soknadData.soknadId }}/{{v.data.faktumId}}" data-ng-if="v.valg == 'sendinn'">
                                        <span data-cmstekster="vedlegg.faktum.lastopp.dennepc"></span>
                                    </a>
                                </div>

                                <input id="{{$index}}ettersendRadio" data-ng-model="v.valg" type="radio" value="ettersend">
                                <label for="{{$index}}ettersendRadio" data-cmstekster="vedlegg.faktum.ettersend"></label>

                                <input id="{{$index}}ikkesendRadio" data-ng-model="v.valg" type="radio" value="ikkesend">
                                <label for="{{$index}}ikkesendRadio" data-cmstekster="vedlegg.faktum.ikkesend"></label>
                            </div>
                            <div data-ng-if="v.lastetOpp()">
                                <div class="forhandsvisning">
                                    <div data-bildenavigering data-vedlegg="v.vedlegg" data-nav-template="bildenavigeringTemplateLiten.html"></div>
                                    <div class="knapper">
                                        <a data-ng-href="../rest/soknad/{{soknadData.soknadId}}/faktum/{{v.data.id}}/vedlegg/{{v.data.vedleggId}}" data-cmstekster="vedlegg.lastned"></a>
                                        <a data-cmstekster="vedlegg.slett" data-ng-click="slettVedlegg(v)" data-cmshtml="vedlegg.slettvedlegg"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <div class="rad ferdig-skjema">
        <div class="begrensning">
            <section class="sak-hel">
                <a href="#/oppsummering/{{ soknadData.soknadId }}" class="knapp-hoved" data-cmstekster="vedlegg.ferdig"></a>
            </section>
        </div>
    </div>
    <div data-stegindikator data-steg-liste="veiledning, skjema, vedlegg, sendInn" data-aktiv-index="2"></div>
    <div data-sist-lagret></div>
</div>
