<stegindikator steg-liste="veiledning, skjema, vedlegg, sendInn" aktiv-index="2"></stegindikator>

<div id="vedlegg" class="soknad">
    <div class="rad-belyst">
        <div class="begrensning sak-totredel">
            <section class="panel-standard oversikt">
                <h1 class="stor-ikon-vedlegg-strek" data-cmstekster="vedlegg.tittel"></h1>

                <p class="info" data-cmstekster="vedlegg.info"></p>

                <p class="mini" data-cmstekster="vedlegg.video.info"></p>
                <a class="knapp-link" href="#video" data-cmstekster="vedlegg.video.knapp"></a>
            </section>
        </div>
    </div>
    <section data-ng-controller="VedleggCtrl">
        <div data-accordion data-close-others="false">
            <section data-ng-repeat="v in vedlegg" ng-if="erFaktumLikKriterie(v)" class="vedlegg" data-ng-form id="faktum_{{v.data.id}}">
                <div data-accordion-group class="spm-blokk" data-is-open="true" ng-class="{open: isOpen}">
                    <div data-accordion-heading>
                        <div class="flipp">
                            <span>+</span>
                        </div>
                        <div class="begrensning sak-halv">
                            <div class="panel-mini nettobunn uten-ramme">
                                <h2 class="stor" data-cmstekster="{{soknad.gosysId}}.vedlegg.{{v.gosysId}}.header" data-ng-class="{lastetopp: v.lastetOpp()}"></h2>
                            </div>
                        </div>
                    </div>
                    <div data-div class="skjemaramme begrensning sak-halv">
                        <div class="panel-standard">
                            <h4 cmstekster="vedlegg.faktum.maabekrefte"></h4>

                            <p class="info-liste" cmshtml="{{soknad.gosysId}}.vedlegg.{{v.gosysId}}.bekrefte"></p>

                            <div class="spm-knapper send-valg" data-ng-if="!vedleggBehandlet(v)">

                                <input id="{{$index}}sendInnFraPcRadio" data-ng-model="v.valg" type="radio" value="sendinn">
                                <label for="{{$index}}sendInnFraPcRadio" data-cmstekster="vedlegg.faktum.lastopp"></label>

                                <div class="valgbokser">
                                    <a class="valgboks-mobil" href="#/opplasting/{{ soknadData.soknadId }}/{{v.data.id}}" data-ng-if="v.valg == 'sendinn'">
                                        <span data-cmstekster="vedlegg.faktum.lastopp.mobil"></span>
                                    </a>
                                    <a class="valgboks-pc" href="#/opplasting/{{ soknadData.soknadId }}/{{v.data.id}}" data-ng-if="v.valg == 'sendinn'">
                                        <span data-cmstekster="vedlegg.faktum.lastopp.dennepc"></span>
                                    </a>
                                </div>

                                <input id="{{$index}}ettersendRadio" data-ng-model="v.valg" type="radio" value="ettersend">
                                <label for="{{$index}}ettersendRadio" cmstekster="vedlegg.faktum.ettersend"></label>

                                <input id="{{$index}}ikkesendRadio" data-ng-model="v.valg" type="radio" value="ikkesend">
                                <label for="{{$index}}ikkesendRadio" cmstekster="vedlegg.faktum.ikkesend"></label>
                            </div>
                            <div data-ng-if="v.lastetOpp()">
                                <a href="../rest/soknad/{{soknadData.soknadId}}/faktum/{{v.data.id}}/vedlegg/{{v.data.vedleggId}}" data-cmstekster="vedlegg.lastned">Last ned</a>
                                <a data-cmstekster="vedlegg.slett" data-ng-click="slettVedlegg(v)">Slett</a>
                            </div>
                            <div class="spm-knapper" data-ng-if="v.lastetOpp">
                                Lastet opp
                            </div>
                            <ul class="liste-vannrett">
                                <li>
                                    <a href="#/dagpenger/{{ soknadData.soknadId }}" cmstekster="tilbake"/>
                                </li>
                                <li>
                                    <a href="#" cmstekster="vedlegg.faktum.eksempel"/>
                                </li>
                                <li>
                                    <a href="#" cmstekster="vedlegg.faktum.faq"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>


    <div class="rad ferdig-skjema">
        <div class="begrensning">
            <section class="sak-hel">
                <a href="#/oppsummering/{{ soknadData.soknadId }}" class="knapp-hoved" cmstekster="vedlegg.ferdig"/>
            </section>
        </div>
    </div>
    <div stegindikator steg-liste="veiledning, skjema, vedlegg, sendInn" aktiv-index="2"/>

    <div sist-lagret/>
</div>
