<div class="skjemaramme" data-ng-controller="ModusCtrl">
    <div data-ng-form="vernepliktigForm" class="skjemainnhold" data-ng-controller="VernepliktCtrl" novalidate>
        <form-errors></form-errors>
        <booleanradio data-ng-model="soknadData.fakta.ikkeavtjentverneplikt.value"
                          modus="data.redigeringsModus"
                          nokkel="ikkeavtjentverneplikt"/>

            <p data-ng-show="soknadData.fakta.ikkeavtjentverneplikt.value=='false'" cmstekster="ikkeavtjentverneplikt.opplasting"/>

            <spmblokkferdig
                    nokkel="ikkeavtjentverneplikt"
                    modus="data.redigeringsModus"
                    submit-method="validerVerneplikt(vernepliktigForm)"/>
    </div>
</div>