<div class="skjemaramme">
    <form name="vernepliktigForm" class="skjemainnhold" data-ng-controller="ModusCtrl" novalidate>
        <div data-ng-controller="VernepliktCtrl">
            <booleanradio data-ng-model="soknadData.fakta.vernepliktig.value"
                          modus="data.redigeringsModus"
                          nokkel="vernepliktig"/>

            <p data-ng-show="soknadData.fakta.vernepliktig.value=='false'" cmstekster="vernepliktig.opplasting"/>

            <div data-ng-show="hvisIkkeFormValiderer()">
                <feilmeldinger form="vernepliktigForm" nokkel="vernepliktig"/>
            </div>

            <button data-ng-show="hvisIRedigeringsmodus()" class="knapp-hoved"
                    data-ng-click="validerVerneplikt(vernepliktigForm)"
                    cmstekster="vernepliktig.ferdig"/>

            <sporsmalblokk/>
        </div>
    </form>
</div>