<div class="skjemaramme" data-ng-controller="ModusCtrl">
    <form name="vernepliktigForm" class="skjemainnhold" data-ng-controller="VernepliktCtrl"  data-ng-submit="validerVerneplikt(vernepliktigForm)" novalidate>
            <booleanradio data-ng-model="soknadData.fakta.vernepliktig.value"
                          modus="data.redigeringsModus"
                          nokkel="vernepliktig"/>

            <p data-ng-show="soknadData.fakta.vernepliktig.value=='false'" cmstekster="vernepliktig.opplasting"/>

            <div data-ng-show="hvisIkkeFormValiderer()">
                <feilmeldinger form="vernepliktigForm" nokkel="vernepliktig"/>
            </div>

            <spmblokkferdig
                    nokkel="vernepliktig"
                    modus="data.redigeringsModus"/>
    </form>
</div>