<div class="skjemaramme" data-ng-controller="ModusCtrl">
	<div data-ng-form="ytelserForm" class="skjemainnhold vertikal" data-ng-controller="YtelserCtrl" data-novalidate data-ng-submit="settOppsummeringsModus()">
		<div data-form-errors></div>
		<div class="spm form-linje checkbox" data-checkbox-validate>
            <input type="hidden" data-ng-model="harHuketAvCheckboksYtelse.value" data-ng-required="true"
                   data-error-messages="'ytelser.minstEnCheckboksErAvhuket.feilmelding'">
            <input type="hidden" data-ng-model="harHuketAvCheckboksNavYtelse.value" data-ng-required="true"
                   data-error-messages="'ytelser.minstEnCheckboksErAvhuket.navYtelserfeilmelding'">
			<h4 class="spm-sporsmal">
				<span data-cmstekster="ytelser.informasjon"></span>
				<span data-cmstekster="ytelser.sporsmal"></span>
			</h4>

			<div data-navcheckbox data-ng-model="soknadData.fakta.stonadFisker.value"
					data-modus="data.redigeringsModus" data-inputname="stonadFisker"
					data-label="ytelser.stonadFisker" data-endret="endreYtelse(ytelserForm)"></div>

			<div data-navcheckbox data-ng-model="soknadData.fakta.offentligTjenestepensjon.value"
					data-modus="data.redigeringsModus" data-inputname="offentligTjenestepensjon"
					data-label="ytelser.offentligTjenestepensjon" data-endret="endreYtelse(ytelserForm)">

				<div data-navtekst data-ng-model="soknadData.fakta.offentligTjenestepensjonUtbetaler.value"
						data-modus="data.redigeringsModus" data-inputname="offentligTjenestepensjonUtbetaler"
						data-label="ytelser.offentligTjenestepensjonUtbetaler" data-feilmelding="ytelser.offentligTjenestepensjonUtbetaler.feilmelding"></div>
			</div>

			<div data-navcheckbox data-ng-model="soknadData.fakta.privatTjenestepensjon.value"
					data-modus="data.redigeringsModus" data-inputname="privatTjenestepensjon"
					data-label="ytelser.privatTjenestepensjon" data-endret="endreYtelse(ytelserForm)">

				<div data-navtekst data-ng-model="soknadData.fakta.privatTjenestepensjonUtbetaler.value"
						data-modus="data.redigeringsModus" data-inputname="privatTjenestepensjonUtbetaler"
						data-label="ytelser.privatTjenestepensjonUtbetaler" data-feilmelding="ytelser.privatTjenestepensjonUtbetaler.feilmelding"></div>
			</div>

			<div data-navcheckbox data-ng-model="soknadData.fakta.vartpenger.value"
					data-modus="data.redigeringsModus" data-inputname="vartpenger"
					data-label="ytelser.vartpenger" data-endret="endreYtelse(ytelserForm)">

				<div data-navtekst data-ng-model="soknadData.fakta.vartpengerUtbetaler.value"
						data-modus="data.redigeringsModus" data-inputname="vartpengerUtbetaler"
						data-label="ytelser.vartpengerUtbetaler" data-feilmelding="ytelser.vartpengerUtbetaler.feilmelding"></div>
			</div>

			<div data-navcheckbox data-ng-model="soknadData.fakta.etterlonn.value"
					data-modus="data.redigeringsModus" data-inputname="etterlonn"
					data-label="ytelser.etterlonn" data-endret="endreYtelse(ytelserForm)">

				<div data-navtekst data-ng-model="soknadData.fakta.etterlonnUtbetaler.value"
						data-modus="data.redigeringsModus" data-inputname="etterlonnUtbetaler"
						data-label="ytelser.etterlonnUtbetaler" data-feilmelding="ytelser.etterlonnUtbetaler.feilmelding"></div>
			</div>


            <div data-navcheckbox data-ng-model="soknadData.fakta.garantilott.value"
                 data-modus="data.redigeringsModus" data-inputname="garantilott"
                 data-label="ytelser.garantilott" data-endret="endreYtelse(ytelserForm)">

                <div data-navtekst data-ng-model="soknadData.fakta.garantilottUtbetaler.value"
                     data-modus="data.redigeringsModus" data-inputname="garantilottUtbetaler"
                     data-label="ytelser.garantilottUtbetaler" data-feilmelding="ytelser.garantilottUtbetaler.feilmelding"></div>
            </div>

			<div data-navcheckbox data-ng-model="soknadData.fakta.dagpengerEOS.value"
					data-modus="data.redigeringsModus" data-inputname="dagpengerEOS"
					data-label="ytelser.dagpengerEOS" data-endret="endreYtelse(ytelserForm)">

				<div data-navtekst data-ng-model="soknadData.fakta.dagpengerEOSUtbetaler.value"
						data-modus="data.redigeringsModus" data-inputname="dagpengerEOSUtbetaler"
						data-label="ytelser.dagpengerEOSUtbetaler" data-feilmelding="ytelser.dagpengerEOSUtbetaler.feilmelding"></div>
			</div>


			<div data-navcheckbox data-ng-model="soknadData.fakta.annenYtelse.value" data-modus="data.redigeringsModus"
					data-inputname="annenYtelse" data-label="ytelser.annenYtelse" data-endret="endreYtelse(ytelserForm)">

				<div data-navtekst data-ng-model="soknadData.fakta.annenYtelseType.value" data-modus="data.redigeringsModus"
						data-inputname="annenYtelseType" data-label="ytelser.annenYtelseType"
						data-feilmelding="ytelser.annenYtelseType.feilmelding"></div>
				<div data-navtekst data-ng-model="soknadData.fakta.annenYtelseUtbetaler.value"
						data-modus="data.redigeringsModus" data-inputname="annenYtelseUtbetaler"
						data-label="ytelser.annenYtelseUtbetaler" data-feilmelding="ytelser.annenYtelseUtbetaler.feilmelding"></div>
			</div>
			<div>
				<div data-ng-show="hvisIRedigeringsmodus()">
					<div class="annetvalg-nei form-linje" data-valider-ingen-ytelser>
                        <!--<input type="text" data-ng-model="soknadData.fakta.ingenYtelse.value" data-error-messages="ytelser.harValgtYtelse.feilmelding" data-required />-->
						<input id="ingenYtelseCheckbox" data-ng-model="soknadData.fakta.ingenYtelse.value" type="checkbox"
								name="ingenYtelse" data-ng-change="endreIngenYtelse(ytelserForm)" data-boolean-verdi/>
						<label for="ingenYtelseCheckbox" class="svar-alt" data-cmstekster="ytelser.ingenYtelse"></label>
						<span class="ingen-ytelse-melding" data-cmstekster="ytelser.harValgtYtelse.feilmelding"></span>
					</div>
				</div>

				<p class="svar-oppsummering" data-ng-show="ingenYtelserOppsummeringSkalVises()" data-cmstekster="ytelser.ingenYtelse"></p>
			</div>
			<span class="melding" data-cmstekster="ytelser.minstEnCheckboksErAvhuket.feilmelding"></span>
		</div>
        <div class="spm form-linje checkbox" data-checkbox-validate>

        <h4 class="spm-sporsmal">
            <span data-cmstekster="ytelser.nav.informasjon"></span>
            <span data-cmstekster="ytelser.nav.sporsmal"></span>
        </h4>

        <div data-navcheckbox data-ng-model="soknadData.fakta.sykepenger.value"
             data-modus="data.redigeringsModus" data-inputname="sykepenger"
             data-label="ytelser.nav.sykepenger" data-endret="endreNavYtelse(ytelserForm)"></div>

        <div data-navcheckbox data-ng-model="soknadData.fakta.aap.value"
             data-modus="data.redigeringsModus" data-inputname="aap"
             data-label="ytelser.nav.aap" data-endret="endreNavYtelse(ytelserForm)"></div>


        <div data-navcheckbox data-ng-model="soknadData.fakta.uforetrygd.value"
             data-modus="data.redigeringsModus" data-inputname="uforetrygd"
             data-label="ytelser.nav.uforetrygd" data-endret="endreNavYtelse(ytelserForm)"></div>


        <div data-navcheckbox data-ng-model="soknadData.fakta.svangerskapspenger.value"
             data-modus="data.redigeringsModus" data-inputname="svangerskapspenger"
             data-label="ytelser.nav.svangerskapspenger" data-endret="endreNavYtelse(ytelserForm)"></div>


        <div data-navcheckbox data-ng-model="soknadData.fakta.foreldrepenger.value"
             data-modus="data.redigeringsModus" data-inputname="foreldrepenger"
             data-label="ytelser.nav.foreldrepenger" data-endret="endreNavYtelse(ytelserForm)"></div>


        <div data-navcheckbox data-ng-model="soknadData.fakta.ventelonn.value"
             data-modus="data.redigeringsModus" data-inputname="ventelonn"
             data-label="ytelser.nav.ventelonn" data-endret="endreNavYtelse(ytelserForm)"></div>


        <div data-ng-show="hvisIRedigeringsmodus()">
            <div class="annetvalg-nei form-linje" data-valider-nav-ytelser>
                <!--<input type="text" data-ng-model="soknadData.fakta.ingenYtelse.value" data-error-messages="ytelser.harValgtYtelse.feilmelding" data-required />-->
                <input id="ingennavytelserCheckbox" data-ng-model="soknadData.fakta.ingennavytelser.value" type="checkbox"
                       name="ingennavytelser" data-ng-change="endreIngenNavYtelse(ytelserForm)" data-boolean-verdi/>
                <label for="ingennavytelserCheckbox" class="svar-alt" data-cmstekster="ytelser.nav.ingen"></label>
                <span class="ingen-navytelse-melding" data-cmstekster="ytelser.harValgtYtelse.feilmelding"></span>
            </div>
        </div>
            <span class="melding" data-cmstekster="ytelser.minstEnCheckboksErAvhuket.navYtelserfeilmelding"></span>

        <p class="svar-oppsummering" data-ng-show="ingenYtelserOppsummeringSkalVises()" data-cmstekster="ytelser.ingenYtelse"></p>


        <h4 class="spm-sporsmal">
            <span data-cmstekster="ytelser.goder.info"></span>

        </h4>

        <div data-navradio data-ng-model="soknadData.fakta.avtale.value" data-value="ikkeAvtale"
             data-modus="data.redigeringsModus"
             data-inputname="utdanning"
             data-label="ytelser.goder.nei"
             data-ng-required="true"
             data-feilmelding="ytelser.goder.feilmelding"></div>

        <div data-navradio data-ng-model="soknadData.fakta.avtale.value" data-value="avtale"
             data-modus="data.redigeringsModus"
             data-inputname="utdanning"
             data-label="ytelser.goder.ja"
             data-ng-required="true"
             data-feilmelding="ytelser.goder.feilmelding"></div>

        <div data-navtekst data-ng-if="hvisAvtaleInngaatt()" data-ng-model="soknadData.fakta.avtale.beskrivelse"
             data-ng-maxlength="50"
             data-ng-minlength="5"
             data-ng-pattern="/^[-a-zA-Z0-9æøåÆØÅ _+§%()]*$/"
             data-modus="data.redigeringsModus" data-inputname="ytelserAvtale"
             data-label="ytelser.goder.hvaslagsavtale" data-feilmelding="ytelser.goder.avtale.feilmelding"></div>
        <div class="infoboks" data-ng-if="hvisAvtaleInngaatt()" cmstekster="ytelser.avtale.dokumentasjon"/>
        </div>

        <div data-spmblokkferdig data-nokkel="ytelser" data-modus="data.redigeringsModus" data-submit-method="validerOgSettModusOppsummering(ytelserForm)"></div>
	</div>
</div>
