<div class="skjemaramme" data-ng-controller="ModusCtrl">
    <div data-ng-form="ytelserForm" class="skjemainnhold vertikal" data-ng-controller="YtelserCtrl" data-novalidate data-ng-submit="settOppsummeringsModus()">
        <div data-form-errors></div>
        <div class="spm form-linje checkbox" data-checkbox-validate>
            <input type="hidden" data-ng-model="harHuketAvCheckboksYtelse.value" data-ng-required="true"
                   data-error-messages="'ytelser.minstEnCheckboksErAvhuket.feilmelding'">
            <input type="hidden" data-ng-model="harHuketAvCheckboksNavYtelse.value" data-ng-required="true"
                   data-error-messages="'ytelser.minstEnCheckboksErAvhuket.navYtelserfeilmelding'">
            <h4 class="spm-sporsmal">
                <span data-cmstekster="ytelser.informasjon"></span>
                <span data-cmstekster="ytelser.sporsmal"></span>
            </h4>

            <div data-navcheckbox
                 data-navconfig data-nav-faktum="stonadFisker"
                 data-navlabel="ytelser.stonadFisker" data-navendret="endreYtelse(ytelserForm)"></div>

            <div data-navcheckbox
                 data-navconfig data-nav-faktum="offentligTjenestepensjon"
                 data-navlabel="ytelser.offentligTjenestepensjon" data-navendret="endreYtelse(ytelserForm)">

                <div data-navtekst
                     data-navconfig data-nav-faktum="offentligTjenestepensjonUtbetaler"
                     data-navlabel="ytelser.offentligTjenestepensjonUtbetaler" data-navfeilmelding="ytelser.offentligTjenestepensjonUtbetaler.feilmelding"></div>
            </div>

            <div data-navcheckbox
                 data-navconfig data-nav-faktum="privatTjenestepensjon"
                 data-navlabel="ytelser.privatTjenestepensjon" data-navendret="endreYtelse(ytelserForm)">

                <div data-navtekst
                     data-navconfig data-nav-faktum="privatTjenestepensjonUtbetaler"
                     data-navlabel="ytelser.privatTjenestepensjonUtbetaler" data-navfeilmelding="ytelser.privatTjenestepensjonUtbetaler.feilmelding"></div>
            </div>

            <div data-navcheckbox
                 data-navconfig data-nav-faktum="vartpenger"
                 data-navlabel="ytelser.vartpenger" data-navendret="endreYtelse(ytelserForm)">

                <div data-navtekst
                     data-navconfig data-nav-faktum="vartpengerUtbetaler"
                     data-navlabel="ytelser.vartpengerUtbetaler" data-navfeilmelding="ytelser.vartpengerUtbetaler.feilmelding"></div>
            </div>

            <div data-navcheckbox
                 data-navconfig data-nav-faktum="etterlonn"
                 data-navlabel="ytelser.etterlonn" data-navendret="endreYtelse(ytelserForm)">

                <div data-navtekst
                     data-navconfig data-nav-faktum="etterlonnUtbetaler"
                     data-navlabel="ytelser.etterlonnUtbetaler" data-navfeilmelding="ytelser.etterlonnUtbetaler.feilmelding"></div>
            </div>

            <div data-navcheckbox
                 data-navconfig data-nav-faktum="dagpengerEOS"
                 data-navlabel="ytelser.dagpengerEOS" data-navendret="endreYtelse(ytelserForm)">

            <div data-navcheckbox 
                 data-navconfig
                 data-nav-faktum="garantilott" 
                 data-navlabel="ytelser.garantilott" data-navendret="endreYtelse(ytelserForm)">

                <div data-navtekst 
                     data-navconfig
                     data-nav-faktum="garantilottUtbetaler"
                     data-navlabel="ytelser.garantilottUtbetaler" data-navfeilmelding="ytelser.garantilottUtbetaler.feilmelding"></div>
            </div>

			<div data-navcheckbox data-ng-model="soknadData.fakta.dagpengerEOS.value"
					data-modus="data.redigeringsModus" data-inputname="dagpengerEOS"
					data-label="ytelser.dagpengerEOS" data-endret="endreYtelse(ytelserForm)">

                <div data-navtekst
                     data-navconfig data-nav-faktum="dagpengerEOSUtbetaler"
                     data-navlabel="ytelser.dagpengerEOSUtbetaler" data-navfeilmelding="ytelser.dagpengerEOSUtbetaler.feilmelding"></div>
            </div>


            <div data-navcheckbox
                 data-navconfig data-nav-faktum="annenYtelse" data-navlabel="ytelser.annenYtelse" data-navendret="endreYtelse(ytelserForm)">

                <div data-navtekst
                     data-navconfig data-nav-faktum="annenYtelseType" data-navlabel="ytelser.annenYtelseType"
                     data-navfeilmelding="ytelser.annenYtelseType.feilmelding"></div>
                <div data-navtekst
                     data-navconfig data-nav-faktum="annenYtelseUtbetaler"
                     data-navlabel="ytelser.annenYtelseUtbetaler" data-navfeilmelding="ytelser.annenYtelseUtbetaler.feilmelding"></div>
            </div>
            <div>
                <div data-ng-show="hvisIRedigeringsmodus()">
                    <div class="annetvalg-nei form-linje" data-valider-ingen-ytelser data-nav-faktum="ingenYtelse">
                        <!--<input type="text" data-ng-model="soknadData.fakta.ingenYtelse.value" data-error-messages="ytelser.harValgtYtelse.feilmelding" data-required />-->
                        <input id="ingenYtelseCheckbox" data-ng-model="faktum.value" type="checkbox"
                               name="ingenYtelse" data-ng-change="endreIngenYtelse()" data-boolean-verdi>
                        <label for="ingenYtelseCheckbox" class="svar-alt" data-cmstekster="ytelser.ingenYtelse"></label>
                        <span class="ingen-ytelse-melding" data-cmstekster="ytelser.harValgtYtelse.feilmelding"></span>
                    </div>
                </div>

				<p class="svar-oppsummering" data-ng-show="ingenYtelserOppsummeringSkalVises()" data-cmstekster="ytelser.ingenYtelse"></p>
			</div>
			<span class="melding" data-cmstekster="ytelser.minstEnCheckboksErAvhuket.feilmelding"></span>
		</div>
        <div class="spm form-linje checkbox" data-checkbox-validate>

        <h4 class="spm-sporsmal">
            <span data-cmstekster="ytelser.nav.informasjon"></span>
            <span data-cmstekster="ytelser.nav.sporsmal"></span>
        </h4>

        <div data-navcheckbox data-ng-model="soknadData.fakta.sykepenger.value"
             data-modus="data.redigeringsModus" data-inputname="sykepenger"
             data-label="ytelser.nav.sykepenger" data-endret="endreNavYtelse(ytelserForm)"></div>

        <div data-navcheckbox data-ng-model="soknadData.fakta.aap.value"
             data-modus="data.redigeringsModus" data-inputname="aap"
             data-label="ytelser.nav.aap" data-endret="endreNavYtelse(ytelserForm)"></div>


        <div data-navcheckbox data-ng-model="soknadData.fakta.uforetrygd.value"
             data-modus="data.redigeringsModus" data-inputname="uforetrygd"
             data-label="ytelser.nav.uforetrygd" data-endret="endreNavYtelse(ytelserForm)"></div>


        <div data-navcheckbox data-ng-model="soknadData.fakta.svangerskapspenger.value"
             data-modus="data.redigeringsModus" data-inputname="svangerskapspenger"
             data-label="ytelser.nav.svangerskapspenger" data-endret="endreNavYtelse(ytelserForm)"></div>


        <div data-navcheckbox data-ng-model="soknadData.fakta.foreldrepenger.value"
             data-modus="data.redigeringsModus" data-inputname="foreldrepenger"
             data-label="ytelser.nav.foreldrepenger" data-endret="endreNavYtelse(ytelserForm)"></div>


        <div data-navcheckbox data-ng-model="soknadData.fakta.ventelonn.value"
             data-modus="data.redigeringsModus" data-inputname="ventelonn"
             data-label="ytelser.nav.ventelonn" data-endret="endreNavYtelse(ytelserForm)"></div>


        <div data-ng-show="hvisIRedigeringsmodus()">
            <div class="annetvalg-nei form-linje" data-valider-nav-ytelser>
                <!--<input type="text" data-ng-model="soknadData.fakta.ingenYtelse.value" data-error-messages="ytelser.harValgtYtelse.feilmelding" data-required />-->
                <input id="ingennavytelserCheckbox" data-ng-model="soknadData.fakta.ingennavytelser.value" type="checkbox"
                       name="ingennavytelser" data-ng-change="endreIngenNavYtelse(ytelserForm)" data-boolean-verdi/>
                <label for="ingennavytelserCheckbox" class="svar-alt" data-cmstekster="ytelser.nav.ingen"></label>
                <span class="ingen-navytelse-melding" data-cmstekster="ytelser.harValgtYtelse.feilmelding"></span>
            </div>
        </div>
            <span class="melding" data-cmstekster="ytelser.minstEnCheckboksErAvhuket.navYtelserfeilmelding"></span>

        <p class="svar-oppsummering" data-ng-show="ingenYtelserOppsummeringSkalVises()" data-cmstekster="ytelser.ingenYtelse"></p>


        <h4 class="spm-sporsmal">
            <span data-cmstekster="ytelser.goder.info"></span>

        </h4>

        <div data-navradio data-ng-model="soknadData.fakta.avtale.value" data-value="ikkeAvtale"
             data-modus="data.redigeringsModus"
             data-inputname="utdanning"
             data-label="ytelser.goder.nei"
             data-ng-required="true"
             data-feilmelding="ytelser.goder.feilmelding"></div>

        <div data-navradio data-ng-model="soknadData.fakta.avtale.value" data-value="avtale"
             data-modus="data.redigeringsModus"
             data-inputname="utdanning"
             data-label="ytelser.goder.ja"
             data-ng-required="true"
             data-feilmelding="ytelser.goder.feilmelding"></div>

        <div data-navtekst data-ng-if="hvisAvtaleInngaatt()" data-ng-model="soknadData.fakta.avtale.beskrivelse"
             data-ng-maxlength="50"
             data-ng-minlength="5"
             data-ng-pattern="/^[-a-zA-Z0-9æøåÆØÅ _+§%()]*$/"
             data-modus="data.redigeringsModus" data-inputname="ytelserAvtale"
             data-label="ytelser.goder.hvaslagsavtale" data-feilmelding="ytelser.goder.avtale.feilmelding"></div>
        <div class="infoboks" data-ng-if="hvisAvtaleInngaatt()" cmstekster="ytelser.avtale.dokumentasjon"/>
        </div>

        <div data-spmblokkferdig data-nokkel="ytelser" data-modus="data.redigeringsModus" data-submit-method="validerOgSettModusOppsummering(ytelserForm)"></div>
	</div>
</div>
