<div class="nav-select form-linje" data-ng-class="{open: selectOpen}">
    <input type="text" data-ng-model="inputValue" data-ui-keyup="{enter: 'enter($event)', esc: 'escape()'}" data-ui-keydown="{up: 'navigateUp()', down: 'navigateDown()', tab: 'tab()', backspace: 'keypress()'}" data-ng-keypress="keypress()">
    <span class="melding mini"/>
    <ul data-ng-show="skalViseListen()">
        <li data-ng-repeat="option in options | filterSearch: searchFilter" data-ng-class="{harFokus: fokusHack($last)}" data-ng-click="selectionChanged($event)" data-ng-mouseover="mouseover($event)" data-value="{{ option.value }}" data-ng-bind-html="option.displayText"/>
    </ul>
</div>