{{#forFaktum "dekningsgrad"}}
    <h2>{{ hentTekst "dekningsgrad.tittel" }}</h2>
    <table>
        <tr>
            <td class="sjekket"></td>
            <td>
                <span>{{ value }}{{ hentTekst "oppsummering.dekningsgrad.tekst" }}</span>
            </td>
        </tr>
    </table>
{{/forFaktum}}