<hr/>
{{#forFaktum "infofar.farrett"}}
    {{#hvisSant value}}
        <tr>
            <td class="sjekket"></td>
            <td>
                <span>{{ hentTekst "kvitteiring.infofar.farrett" }}</span>
            </td>
        </tr>
    {{/hvisSant}}
{{/forFaktum}}