<div>
    <div data-dato
         data-ng-model="fraDato"
         data-ng-required="ngRequired"
         data-label="{{ fraLabel }}"
         data-required-error-message="{{ requiredErrorMessage }}"
         data-til-dato="tilDato"
         data-til-dato-feil="tilDatoFeil">
    </div>

    <div data-dato="tilDatoOptions"
         data-ng-model="tilDato"
         data-ng-required="ngRequired"
         data-label="{{ tilLabel }}"
         data-required-error-message="{{ requiredErrorMessage }}"
         data-fra-dato="fraDato"
         data-til-dato-feil="tilDatoFeil">
    </div>
</div>