<div data-navinfoboks>
    <span data-cmstekster="utdanning.svar.under.utdanning.kortvarig.informasjon"></span>
</div>

<div data-navtekst
     data-navconfig
     data-nav-faktum="utdanning.kortvarig.sted"
     data-navlabel="utdanning.utdanningssted.navn"
     data-navfeilmelding="'utdanning.error.kortvarig.utdanningsstednavn'"
     data-ng-required="true">
 </div>

<div data-navtekst
     data-navconfig
     data-nav-faktum="utdanning.kortvarig.navn"
     data-navlabel="utdanning.utdanning.navn"
     data-navfeilmelding="'utdanning.error.kortvarig.utdanningsnavn'"
     data-ng-required="true">
</div>

<div class="varighet" data-nav-faktum="utdanning.kortvarig.varighet"
     data-nav-property="['varighetFra', 'varighetTil']">
    <div data-nav-dato-intervall
         data-fra-dato="navproperties.varighetFra"
         data-til-dato="navproperties.varighetFra"
         data-navlabel="utdanning.varighet"
         data-er-required="true"
         data-navfeilmelding="utdanning.error.varighet.tilfra"
         data-lagre="lagreFaktum()">
    </div>
</div>

<div data-vedlegginfoboks>
    <ul>
        <li><p data-cmstekster="utdanning.svar.under.utdanning.dokumentasjon"></p></li>
    </ul>
</div>
