<!--data-ikke-auto-lagre="true"-->

<div class="skjemaramme">
    <div data-ng-form="utdanningForm" class="skjemainnhold" data-ng-controller="UtdanningCtrl" data-novalidate>
        <div data-form-errors></div>
        <div class="spm boolean">
            <h4 class="spm-sporsmal" data-cmstekster="utdanning.informasjon"></h4>

            <div data-navradio data-value="ikkeUtdanning"
                 data-navconfig data-nav-faktum="utdanning"
                 data-navlabel="utdanning.svar.ikkeUtdanning"
                 data-navfeilmelding="utdanning.utdanning.feilmelding">
            </div>

            <div data-navradio
                 data-navconfig
                 data-nav-faktum="utdanning"
                 data-value="avsluttetUtdanning"
                 data-navlabel="utdanning.svar.avsluttetUtdanning"
                 data-navfeilmelding="utdanning.utdanning.feilmelding">
            </div>

            <div class="spm" data-ng-if="hvis('utdanning', 'avsluttetUtdanning')">
                <div class="ekstra-spm-boks" data-vedlegginfoboks>
                    <ul>
                        <li><p data-cmstekster="utdanning.svar.under.utdanning.avsluttet.dokumentere"></p></li>
                    </ul>
                </div>
            </div>

            <div data-navradio
                 data-navconfig
                 data-nav-faktum="utdanning"
                 data-value="underUtdanning"
                 data-navlabel="utdanning.svar.underUtdanning"
                 data-navfeilmelding="utdanning.utdanning.feilmelding">
            </div>

            <div class="ekstra-info form-linje checkbox" data-ng-show="hvis('utdanning', 'underUtdanning')" data-checkbox-validate>
                <h4 class="spm-sporsmal" data-cmstekster="utdanning.sporsmal"></h4>
                <div id="underUtdanningKveld"
                     data-navcheckbox
                     data-navconfig
                     data-nav-faktum="utdanning.kveld"
                     data-navlabel="utdanning.svar.under.utdanning.kveld"
                     data-navendret="endreUtdanning(utdanningForm)">

                    <div data-ng-include="'../html/templates/utdanning/utdanningKveldTemplate.html'"></div>
                </div>

                <div data-navcheckbox
                     data-navconfig
                     data-nav-faktum="utdanning.kortvarig"
                     data-navlabel="utdanning.svar.under.utdanning.kortvarig"
                     data-navendret="endreUtdanning(utdanningForm)">

                    <div data-ng-include="'../html/templates/utdanning/utdanningKortvarigTemplate.html'"></div>
                </div>

                <div data-navcheckbox
                     data-navconfig
                     data-nav-faktum="utdanning.kortvarigflere"
                     data-navlabel="utdanning.svar.under.utdanning.kortvarigflere"
                     data-navendret="endreUtdanning(utdanningForm)">

                    <div data-ng-include="'../html/templates/utdanning/utdanningKortvarigFlereTemplate.html'"></div>
                </div>

                <div data-navcheckbox
                     data-navconfig
                     data-nav-faktum="utdanning.norsk"
                     data-navlabel="utdanning.svar.under.utdanning.norsk"
                     data-navendret="endreUtdanning(utdanningForm)">

                    <div data-ng-include="'../html/templates/utdanning/utdanningNorskTemplate.html'"></div>
                </div>

                <div data-navcheckbox
                     data-navconfig
                     data-nav-faktum="utdanning.introduksjon"
                     data-navlabel="utdanning.svar.under.utdanning.introduksjon"
                     data-navendret="endreUtdanning(utdanningForm)">

                </div>


                <div class="annetvalg-nei form-linje" data-nav-faktum="underUtdanningAnnet">
                    <input id="underUtdanningNeiCheckbox" data-ng-model="faktum.value" type="checkbox"
                           data-ng-change="endreUtdannelseAnnet(utdanningForm)" data-boolean-verdi/>
                    <label for="underUtdanningNeiCheckbox"
                           data-cmstekster="utdanning.svar.under.utdanning.nei"></label>
                    <span class="utdanning-nei-melding" data-cmstekster="utdanning.harValgtUtdanning.feilmelding"></span>
                </div>

                <div class="ekstra-info" data-ng-if="hvis('underUtdanningAnnet')">
                    <div data-navinfoboks>
                        <span data-cmstekster="utdanning.unntak.informasjon"></span>
                    </div>
                </div>

                <div class="annetvalg-nei form-linje" data-ng-class="{feil:utdanningEgenskaper.skalViseFeilmeldingForUtdanningAnnet}">
                    <span class="melding" data-cmstekster="utdanning.minstEnAvhuket.feilmelding"></span>
                </div>


            </div>
            <div data-spmblokkferdig data-nokkel="utdanning"
                 data-submit-method="validerOgSettModusOppsummering(utdanningForm)">
            </div>
        </div>

    </div>
</div>
