<tr>
    {{#forFaktum "reise.arbeidssoker.hvorforreise"}}
        <td class="sjekket"></td>
        <td>{{hentTekst (concat "soknad.reise.arbeidssoker.hvorforreise." value ".label")}}</td>
    {{/forFaktum}}
</tr>