<tr>
    {{#forFaktum "reise.arbeidssoker.registrert"}}
        <td class="sjekket"></td>
        <td>{{hentTekst "soknad.reise.arbeidssoker.registrert.oppsummering"}}
            <em>{{formaterLangDato value}}</em>
        </td>
    {{/forFaktum}}
</tr>