<div class="nav-checkbox">
    <span data-ng-show='hvisIRedigeringsmodus()'>
        <input id="{{ label }}" data-ng-model="model" type="checkbox" name="{{ inputname }}" data-ng-click='endret()' mod-faktum boolean-verdi />
        <label for='{{ label }}' class='svar-alt' cmstekster="{{ label }}"/>
        <a style="cursor:pointer" data-ng-if="hvisHarHjelpetekst()" data-ng-click="toggleHjelpetekst()">mer info</a>
        <p class="mini" data-ng-if="visHjelpeteksten()" cmstekster="{{hjelpetekst}}"/>
    </span>


    <p class="svar-oppsummering" data-ng-show='hvisIOppsummeringsmodusOgChecked()' cmstekster="{{ label }}"/>

    <div class="ng-transclude ekstra-spm-boks" data-ng-show="hvisHuketAv()"/>
</div>