<div class="skjemaramme">
    <div data-ng-form="arbeidsforholdForm" class="skjemainnhold" data-ng-controller="ArbeidsforholdCtrl">
        <div data-form-errors></div>
        <div class="spm form-linje boolean">
            <h4 class="spm-sporsmal" data-ng-bind-html=" 'arbeidsforhold.informasjon' | cmstekst"></h4>

            <div data-navradio
                 data-value="fastArbeidstid"
                 data-navconfig
                 data-nav-faktum="arbeidstilstand"
                 data-hjelpetekst="arbeidsforhold.arbeidstilstand.fastarbeidstid.hjelpetekst"
                 data-navlabel="arbeidsforhold.arbeidstilstand.fastarbeidstid"
                 data-navfeilmelding="arbeidsforhold.arbeidstilstand.feilmelding">
            </div>
            <div class="ekstra-spm-boks nav-boolean" data-ng-if="hvisHarJobbetFast()">
                <div data-navinfoboks data-infoTekster="['arbeidsforhold.arbeidstilstand.fastarbeidstid.informasjonstekst']">
                </div>
            </div>

            <div data-navradio
                 data-value="varierendeArbeidstid"
                 data-navconfig
                 data-nav-faktum="arbeidstilstand"
                 data-hjelpetekst="arbeidsforhold.arbeidstilstand.varierendearbeidstid.hjelpetekst"
                 data-navlabel="arbeidsforhold.arbeidstilstand.varierendearbeidstid"
                 data-navfeilmelding="arbeidsforhold.arbeidstilstand.feilmelding">
            </div>
            <div class="ekstra-spm-boks nav-boolean" data-ng-if="hvisHarJobbetVarierende()">
                <div data-navinfoboks data-infoTekster="[ 'arbeidsforhold.arbeidstilstand.varierendearbeidstid.informasjonstekst']">
                </div>
            </div>

            <div data-navradio
                 data-value="harIkkeJobbet"
                 data-navconfig
                 data-nav-faktum="arbeidstilstand"
                 data-navlabel="arbeidsforhold.arbeidstilstand.harikkejobbet"
                 data-navfeilmelding="arbeidsforhold.arbeidstilstand.feilmelding">
            </div>
            <div class="ekstra-spm-boks nav-boolean" data-ng-if="hvisHarIkkeJobbet()">
                <div data-navinfoboks data-infoTekster="['arbeidsforhold.arbeidstilstand.harikkejobbet.informasjonstekst.del1', 'arbeidsforhold.arbeidstilstand.harikkejobbet.informasjonstekst.del2']">
                </div>
            </div>

            <span class="melding"> </span>
        </div>

        <div data-arbeidsforhold-oppsummering></div>
        <div data-arbeidsforhold-leggtil-knapper></div>
        <div data-ng-if="erUtenlandskStatsborger()" data-grensearbeid ></div>
        <div data-spmblokkferdig></div>
    </div>
</div>


