<div class="varighet form-linje">
    <h4 class="spm-sporsmal">{{ 'arbeidsforhold.arbeidsgiver.varighet.label' | cmstekst }}</h4>
    <div data-nav-dato-intervall
         data-fra-dato="sluttaarsak.properties.datofra"
         data-til-dato="sluttaarsak.properties.konkursdato"
         data-label="arbeidsforhold.arbeidsgiver.varighet"
         data-er-begge-required="true"
         data-lagre="lagreFaktum()">
    </div>
</div>

<div data-navtextarea
     data-navconfig
     data-nav-faktum-property="bostyrersnavn"
     data-nokkel="arbeidsforhold.sluttaarsak.konkurs.bostyrersnavn"
     data-maxlengde="500"
     data-feilmelding="arbeidsforhold.sluttaarsak.konkurs.bostyrersnavn.feilmelding"
     data-obligatorisk="true"></div>

<div class="form-linje spm boolean konkurs">
    <h4 class="spm-sporsmal">{{ 'arbeidsforhold.sluttaarsak.konkurs.lonnsgaranti.sporsmal' | cmstekst }}</h4>

    <div class="nav-radio-knapp">
        <input class="sendsoknad-radio"
               id="lonnsgaranti1"
               type="radio"
               value="JaHarSokt"
               name="lonnsgaranti"
               data-ng-model="sluttaarsak.properties.lonnsgaranti"
               data-click-validate
               data-ng-required="true"
               data-error-messages="'arbeidsforhold.sluttaarsak.konkurs.lonnsgaranti.feilmelding'"
               data-aktiv-feilmelding>
        <label for='lonnsgaranti1'>{{ 'arbeidsforhold.sluttaarsak.konkurs.lonnsgaranti.jaharsokt' | cmstekst }}</label>
    </div>

    <div class="ekstra-spm-boks" data-ng-if="sluttaarsak.properties.lonnsgaranti == 'JaHarSokt'">
        <div class="form-linje boolean">
            <h4 class="spm-sporsmal">{{ 'arbeidsforhold.sluttaarsak.konkurs.lonnsgarantidekker.sporsmal' | cmstekst }}</h4>

            <div class="nav-radio-knapp">
                <input class="sendsoknad-radio"
                       id="lonnsgarantidekker1"
                       type="radio"
                       value="Nei"
                       name="lonnsgarantidekker"
                       data-ng-model="sluttaarsak.properties.lonnsgarantidekker"
                       data-click-validate
                       data-ng-required="sluttaarsak.properties.lonnsgaranti == 'JaHarSokt'"
                       data-error-messages="'arbeidsforhold.sluttaarsak.konkurs.lonnsgarantidekker.feilmelding'"
                       data-aktiv-feilmelding>
                <label for='lonnsgarantidekker1'>{{ 'arbeidsforhold.sluttaarsak.konkurs.lonnsgarantidekker.nei' |
                    cmstekst }}</label>
            </div>
            <div class="nav-radio-knapp">
                <input class="sendsoknad-radio"
                       id="lonnsgarantidekker2"
                       type="radio"
                       value="Ja"
                       name="lonnsgarantidekker"
                       data-ng-model="sluttaarsak.properties.lonnsgarantidekker"
                       data-click-validate
                       data-ng-required="sluttaarsak.properties.lonnsgaranti == 'JaHarSokt'"
                       data-error-messages="'arbeidsforhold.sluttaarsak.konkurs.lonnsgarantidekker.feilmelding'"
                       data-aktiv-feilmelding>
                <label for='lonnsgarantidekker2'>{{ 'arbeidsforhold.sluttaarsak.konkurs.lonnsgarantidekker.ja' |
                    cmstekst }}</label>
            </div>
            <div class="nav-radio-knapp">
                <input class="sendsoknad-radio"
                       id="lonnsgarantidekker3"
                       type="radio"
                       value="Vet ikke"
                       name="lonnsgarantidekker"
                       data-ng-model="sluttaarsak.properties.lonnsgarantidekker"
                       data-click-validate
                       data-ng-required="sluttaarsak.properties.lonnsgaranti == 'JaHarSokt'"
                       data-error-messages="'arbeidsforhold.sluttaarsak.konkurs.lonnsgarantidekker.feilmelding'"
                       data-aktiv-feilmelding>
                <label for='lonnsgarantidekker3'>{{ 'arbeidsforhold.sluttaarsak.konkurs.lonnsgarantidekker.vetikke' |
                    cmstekst }}</label>
            </div>

            <span class="melding"></span>
        </div>
    </div>

    <div class="nav-radio-knapp">
        <input class="sendsoknad-radio"
               id="lonnsgaranti2"
               type="radio"
               value="JaSkalSoke"
               name="lonnsgaranti"
               data-ng-model="sluttaarsak.properties.lonnsgaranti"
               data-click-validate
               data-ng-required="true"
               data-error-messages="'arbeidsforhold.sluttaarsak.konkurs.lonnsgaranti.feilmelding'"
               data-aktiv-feilmelding>
        <label for='lonnsgaranti2'>{{ 'arbeidsforhold.sluttaarsak.konkurs.lonnsgaranti.jaskalsoke' | cmstekst }}</label>
    </div>
    <div class="nav-radio-knapp">
        <input class="sendsoknad-radio"
               id="lonnsgaranti3"
               type="radio"
               value="Nei"
               name="lonnsgaranti"
               data-ng-model="sluttaarsak.properties.lonnsgaranti"
               data-click-validate
               data-ng-required="true"
               data-error-messages="'arbeidsforhold.sluttaarsak.konkurs.lonnsgaranti.feilmelding'"
               data-aktiv-feilmelding>
        <label for='lonnsgaranti3'>{{ 'arbeidsforhold.sluttaarsak.konkurs.lonnsgaranti.nei' | cmstekst }}</label>
    </div>

    <span class="melding"></span>

    <div class="ekstra-spm-boks" data-ng-if="sluttaarsak.properties.lonnsgaranti == 'Nei'">
        <div data-navinfoboks>
            <p>{{ 'arbeidsforhold.sluttaarsak.konkurs.lonnsgaranti.nei.informasjon' | cmstekst }}</p>
        </div>
    </div>
</div>


<div data-booleanradio
     data-navconfig
     data-nav-faktum-property="lonnkonkursmaaned"
     data-nokkel="arbeidsforhold.sluttaarsak.konkurs.lonnkonkursmaaned"></div>

<div class="ekstra-spm-boks" data-vedlegginfoboks>
    <ul>
        <li>
            <p>{{ 'arbeidsforhold.sluttaarsak.vedlegg.liste.1' | cmstekst }}</p>
        </li>
        <li>
            <p>{{ 'arbeidsforhold.sluttaarsak.vedlegg.liste.2' | cmstekst }}</p>
            <a href="{{sluttaarsakUrl}}">{{ 'arbeidsforhold.sluttaarsak.vedlegg.liste.2.lenketekst' | cmstekst }}</a>
        </li>
        <li>
            <p>{{ 'arbeidsforhold.sluttaarsak.konkurs.vedlegg.liste.3' | cmstekst }}</p>
            <a href="{{lonnskravSkjemaUrl}}">{{ 'arbeidsforhold.sluttaarsak.konkurs.vedlegg.liste.3.lenketekst' | cmstekst }}</a>
        </li>
        <li>
            <p>{{ 'arbeidsforhold.sluttaarsak.konkurs.vedlegg.liste.4' | cmstekst }}</p>
        </li>
    </ul>
</div>