<div class="varighet form-linje">
    <h4 class="spm-sporsmal">{{ 'arbeidsforhold.arbeidsgiver.varighet.label' | cmstekst }}</h4>
    <div data-nav-dato-intervall
         data-fra-dato="sluttaarsak.properties.datofra"
         data-til-dato="sluttaarsak.properties.datotil"
         data-label="arbeidsforhold.arbeidsgiver.varighet"
         data-er-begge-required="true"
         data-lagre="lagreFaktum()">
    </div>
</div>

<div data-booleanradio
     data-navconfig
     data-nav-faktum-property="tilbudomjobbannetsted"
     data-nokkel="arbeidsforhold.sluttaarsak.kontraktutgaatt.tilbudomaafortsette"></div>

<div class="fiks-siste-boks ekstra-spm-boks" data-ng-if="sluttaarsak.properties.tilbudomjobbannetsted == 'true'">
    <div data-navinfoboks>
        <p>{{ 'arbeidsforhold.sluttaarsak.advarsel' | cmstekst }}</p>

        <p>{{ 'arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.tilbudomjobbannetsted.true.informasjon' | cmstekst
            }}</p>
    </div>
</div>

<div class="ekstra-spm-boks" data-vedlegginfoboks>
    <ul>
        <li>
            <p>{{ 'arbeidsforhold.sluttaarsak.vedlegg.liste.1' | cmstekst }}</p>
        </li>
        <li>
            <span>{{ 'Dagpenger.vedlegg.T8.header' | cmstekst }}</span>
        </li>
    </ul>
</div>