<div class="skjemaramme">
    <div data-ng-form="nyeArbeidsforholdForm" class="skjemainnhold" data-ng-controller="ArbeidsforholdCtrl">
        <div data-form-errors></div>

        <div class="spm form-linje" data-nav-faktum="nyearbeidsforhold.arbeidsidensist">
            <div data-navconfig
                 data-booleanradio
                 data-nokkel="nyearbeidsforhold.arbeidsidensist">

                <div data-navinfoboks>
                    <p data-ng-bind-html=" 'nyearbeisforhold.nyttarbeidsforhold.infoboks' | cmstekst"></p>
                </div>
                <div data-ng-if="harArbeidsforhold()" data-arbeidsforhold-oppsummering></div>
                <div data-arbeidsforhold-leggtil-knapper></div>
            </div>
        </div>

        <div data-spmblokkferdig
             data-submit-method="validerArbeidsforhold(true)">
        </div>
    </div>
</div>


