<div class="varighet form-linje">
    <h4 class="spm-sporsmal" data-ng-bind-html=" 'arbeidsforhold.arbeidsgiver.varighet.label' | cmstekst"></h4>
    <div data-nav-dato
         data-ng-model="sluttaarsak.properties.datofra"
         data-label="arbeidsforhold.arbeidsgiver.varighet.fra"
         data-er-required="true"
         data-required-error-message="arbeidsforhold.arbeidsgiver.varighet.fra.feilmelding">
    </div>
</div>

<div class="varighet form-linje">
    <h4 class="spm-sporsmal" data-ng-bind-html=" 'arbeidsforhold.arbeidsgiver.permittert.varighet' | cmstekst"></h4>

    <div data-nav-dato-intervall
         data-fra-dato="faktum.properties.permiteringsperiodedatofra"
         data-til-dato="faktum.properties.permiteringsperiodedatotil"
         data-label="arbeidsforhold.arbeidsgiver.permittert.varighet"
         data-er-fremtidigdato-tillatt="true"
         data-er-fradato-required="true">
    </div>
</div>

<div class="varighet form-linje">
    <h4 class="spm-sporsmal">
        <span data-ng-bind-html=" 'arbeidsforhold.arbeidsgiver.permittert.lonnsplikt.varighet' | cmstekst"></span>
        <span data-nav-hjelpetekstelement data-tittel="{{ 'arbeidsforhold.arbeidsgiver.permittert.lonnsplikt.hjelptekst.tittel' | cmstekst }}" data-tekst="{{ 'arbeidsforhold.arbeidsgiver.permittert.lonnsplikt.hjelptekst.tekst' | cmstekst}}"></span>
    </h4>

    <div data-nav-dato-intervall
         data-fra-dato="faktum.properties.lonnspliktigperiodedatofra"
         data-til-dato="faktum.properties.lonnspliktigperiodedatotil"
         data-label="arbeidsforhold.arbeidsgiver.permittert.lonnsplikt.varighet"
         data-er-fremtidigdato-tillatt="true">
    </div>
</div>

<div class="prosentfelt"
     data-navtall
     data-navconfig
     data-nav-faktum-property="permitteringProsent"
     data-navlabel="arbeidsforhold.sluttaarsak.permittert.permitteringsgrad.label"
     data-navsporsmal="arbeidsforhold.sluttaarsak.permittert.permitteringsgrad"
     data-navfeilmelding="{required:'arbeidsforhold.sluttaarsak.permittert.permitteringsgrad.feilmelding', pattern: 'regex.tall', max: 'arbeidsforhold.sluttaarsak.permittert.permitteringsgrad.maxverdi.feilmelding'}"
     data-navminvalue="0"
     data-navmaxvalue="100"
     data-regexvalidering="/^\d+$/"
     data-navmaxlength="3">
</div>

<div class="ekstra-spm-boks">
    <div data-navinfoboks>
        <p class="sluttaarsak-informasjon" data-ng-bind-html=" 'arbeidsforhold.sluttaarsak.permittert.informasjon' | cmstekst"></p>
    </div>
    <div data-vedlegginfoboks>
        <ul>
            <li>
                <p data-ng-bind-html="'Dagpenger.vedlegg.O2.header' | cmstekst"></p>
            </li>
            <li>
                <p data-ng-bind-html="'Dagpenger.vedlegg.G2.header' | cmstekst"></p>
            </li>
        </ul>
    </div>
</div>
