<div data-modalside>
    <div class="vertikal arbeidsforhold-spm" data-ng-controller="PermitteringsperiodeNyttCtrl"
         data-ng-form="nyPermitteringsperiodeForm">
        <a href="#{{ arbeidsforholdUrl }}" class="lukk" aria-label="{{'arbeidsforhold.nypermitteringsperiode.lukk.aria' | cmstekst}}"></a>
        <h2 class="stor-strek">
            <span data-ng-bind-html=" 'arbeidsforhold.nypermitteringsperiode.tittel'+cmsPostFix | cmstekst"></span>
        </h2>

        <div data-form-errors></div>
        <div data-permitterings-periode-input
             data-permitteringsperiode="permitteringsperiode" />

        <input type="hidden"
               data-ng-model="datoIntervallErValidert.value"
               data-ng-required="true"
               data-error-messages="'arbeidsforhold.nypermitteringsperiode.feil.overlapper'" />

        <div class="knapper-opprett">
            <input class="knapp-hoved-liten" type="submit"
                   value="{{ 'arbeidsforhold.nypermitteringsperiode.lagre'+cmsPostFix | cmstekst }}"
                   data-ng-click="lagrePermitteringsperiode(nyPermitteringsperiodeForm);">
            <a href="#{{ arbeidsforholdUrl }}" data-ng-bind-html=" 'arbeidsforhold.nypermitteringsperiode.avbryt' | cmstekst"></a>
        </div>
    </div>
</div>


