<div class="varighet">
    <span data-ng-bind="af.sluttaarsak.properties.datofra | date:'dd.MM.yyyy' | norskdato"></span>
    <span data-ng-if="af.sluttaarsak.properties.datotil" data-ng-bind-html=" 'dato.til' | cmstekst"></span>
    <span data-ng-if="af.sluttaarsak.properties.datotil" data-ng-bind="af.sluttaarsak.properties.datotil | date:'dd.MM.yyyy' | norskdato"></span>
</div>

<ul>
    <li>
        <p data-ng-bind="af.sluttaarsak.properties.type"></p>
    </li>
    <li>
        <span data-ng-bind-html=" 'arbeidsforhold.sluttaarsak.sagtoppselv.aarsak.label' | cmstekst"></span>
        <p data-ng-bind="af.sluttaarsak.properties.sagtoppselvAarsak"></p>
    </li>
</ul>

<div data-vedlegginfoboks>
    <ul>
        <li>
            <p data-ng-bind-html="'Dagpenger.vedlegg.O2.header' | cmstekst"></p>
        </li>
        <li>
            <span data-ng-bind-html=" 'Dagpenger.vedlegg.T8.header' | cmstekst"></span>
        </li>
    </ul>
</div>