<div class="varighet form-linje">
    <h4 class="spm-sporsmal">{{ 'arbeidsforhold.arbeidsgiver.varighet.label' | cmstekst }}</h4>
    <div data-nav-dato-intervall
         data-fra-dato="faktum.properties.datofra"
         data-til-dato="faktum.properties.datotil"
         data-label="arbeidsforhold.arbeidsgiver.varighet"
         data-er-fremtidigdato-tillatt="true"
         data-er-begge-required="true">
    </div>
</div>

<div data-navtextarea
     data-navconfig
     data-nav-faktum-property="sagtoppselvAarsak"
     data-nokkel="arbeidsforhold.sluttaarsak.sagtoppselv.aarsak"
     data-maxlengde="500"
     data-obligatorisk="true"></div>

<div class="ekstra-spm-boks">
    <div data-navinfoboks>
        <p class="sluttaarsak-informasjon">{{ 'arbeidsforhold.sluttaarsak.sagtoppselv.informasjon' | cmstekst }}</p>

        <p>{{ 'arbeidsforhold.sluttaarsak.advarsel' | cmstekst }}</p>
    </div>
    <div data-vedlegginfoboks>
        <ul>
            <li>
                <p>{{ 'arbeidsforhold.sluttaarsak.vedlegg.liste.1' | cmstekst }}</p>
            </li>
            <li>
                <p>{{ 'arbeidsforhold.sluttaarsak.permittert.vedlegg.liste.2' | cmstekst }}</p>
            </li>
            <li>
                <span>{{ 'Dagpenger.vedlegg.T8.header' | cmstekst }}</span>
            </li>
        </ul>
    </div>
</div>