<div class="varighet form-linje">
    <h4 class="spm-sporsmal" data-ng-bind-html=" 'arbeidsforhold.arbeidsgiver.varighet.label' | cmstekst"></h4>

    <div data-nav-dato-intervall
         data-fra-dato="sluttaarsak.properties.datofra"
         data-til-dato="sluttaarsak.properties.datotil"
         data-label="arbeidsforhold.arbeidsgiver.varighet"
         data-er-fremtidigdato-tillatt="true"
         data-er-begge-required="true"
         data-lagre="lagreFaktum()">
    </div>
</div>

<div data-navtextarea
     data-navconfig
     data-nav-faktum-property="aarsak"
     data-nokkel="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.aarsak"
     data-maxlengde="500"
     data-obligatorisk="true"></div>

<div data-booleanradio
     data-navconfig
     data-nav-faktum-property="sagtOppAvArbeidsgiverTilbudomjobbannetsted"
     data-nokkel="arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.tilbudomjobbannetsted"></div>

<div class="ekstra-spm-boks">
    <div data-navinfoboks>
        <p data-ng-bind-html=" 'arbeidsforhold.sluttaarsak.sagtoppavarbeidsgiver.informasjon' | cmstekst"></p>

        <p data-ng-bind-html=" 'arbeidsforhold.sluttaarsak.advarsel' | cmstekst"></p>
    </div>
    <div data-vedlegginfoboks>
        <ul>
            <li>
                <span data-ng-bind-html="'Dagpenger.vedlegg.O2.header' | cmstekst"></span>
            </li>
            <li>
                <span data-ng-bind-html="'Dagpenger.vedlegg.T8.header' | cmstekst"></span>
            </li>
        </ul>
    </div>
</div>