<div class="varighet">
    <span data-ng-bind="af.sluttaarsak.properties.datofra | date:'dd.MM.yyyy' | norskdato"></span>
    <span data-ng-if="af.sluttaarsak.properties.datotil">{{ 'dato.til' | cmstekst }}</span>
    <span data-ng-if="af.sluttaarsak.properties.datotil" data-ng-bind="af.sluttaarsak.properties.datotil | date:'dd.MM.yyyy' | norskdato"></span>
</div>

<ul>
    <li>
        <p data-ng-bind="af.sluttaarsak.properties.type"></p>
    </li>
    <li>
        <span>{{ 'arbeidsforhold.sluttaarsak.sagtoppselv.aarsak.label' | cmstekst }}</span>
        <p data-ng-bind="af.sluttaarsak.properties.sagtoppselvAarsak"></p>
    </li>
</ul>

<div data-vedlegginfoboks>
    <ul>
        <li>
            <p>{{ 'arbeidsforhold.sluttaarsak.vedlegg.liste.1' | cmstekst }}</p>
        </li>
        <li>
            <p>{{ 'arbeidsforhold.sluttaarsak.vedlegg.liste.2' | cmstekst }}</p>
            <a target="_blank" href="{{ 'nav04-08.03' | configUrl }}">
                {{ 'arbeidsforhold.sluttaarsak.vedlegg.liste.2.lenketekst' | cmstekst }}
            </a>
        </li>
    </ul>
</div>