<div data-ng-controller="EttersendingCtrl">
    <h1>Dine innsendinger</h1>

    <input type="button" data-ng-click="sendEttersending()">

    <div>stegmeny</div>

    <ul data-ng-repeat="v in vedleggListe">
        <li>
            <h1>{{v.vedleggId}}</h1>
            <span>{{v.opprinneligInnsendingsvalg}}</span>
            <button>Last opp vedlegg (på nytt)</button>
        </li>
    </ul>

    <button>Legg til nytt vedlegg</button>
    <br/>
    <br/>
    <br/>

    <button>Neste</button>

    <br/>

    <a href="#">Avbryt</a>



    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <h2>debug</h2>
    {{vedleggListe}}


</div>