<h2>{{ hentTekst (concat cmsPrefiks "behovforbil.tittel") }}</h2>
<table>
    {{> skjema/bilstonad/behovforbil/kollektivtransport }}

    {{#forFaktum "informasjonsside.bilformal"}}
        {{#hvisLik value "arbeidutdanning"}}
            {{> skjema/bilstonad/behovforbil/transportbehovArbeidutdanning }}
        {{/hvisLik}}
        {{#hvisLik value "dagligliv"}}
            {{> skjema/bilstonad/behovforbil/transportbehovDagligliv }}
        {{/hvisLik}}
    {{/forFaktum}}

    {{> skjema/bilstonad/behovforbil/hjelpemidler }}
</table>