<li>
    <ul class="svar-liste">
        {{#each @root.formuetyper}}
            {{#hvisSparing type}}
                {{>skjema/soknad/inntekt_sparing_hovedtyper}}
            {{/hvisSparing}}
        {{/each}}
        {{#each @root.formuetyper}}
            {{#hvisSparing type}}
                {{>skjema/soknad/inntekt_sparing_annet}}
            {{/hvisSparing}}
        {{/each}}
    </ul>
</li>