<div class="skjemaramme">
    <div data-ng-form="arbeidsforholdForm" class="skjemainnhold" data-ng-controller="ArbeidsforholdCtrl">
        <div data-form-errors></div>
        <div class="spm form-linje boolean">
            <h4 class="spm-sporsmal" data-ng-bind-html=" 'arbeidsforhold.informasjon' | cmstekst"></h4>

            <div data-navradio
                 data-value="fastArbeidstid"
                 data-navconfig
                 data-nav-faktum="arbeidstilstand"
                 data-hjelpetekst="arbeidsforhold.arbeidstilstand.fastarbeidstid.hjelpetekst"
                 data-navlabel="arbeidsforhold.arbeidstilstand.fastarbeidstid"
                 data-navfeilmelding="arbeidsforhold.arbeidstilstand.feilmelding">
            </div>
            <div class="ekstra-spm-boks nav-boolean" data-ng-if="hvisHarJobbetFast()">
                <div data-navinfoboks>
                    <span data-ng-bind-html=" 'arbeidsforhold.arbeidstilstand.fastarbeidstid.informasjonstekst' | cmstekst"></span>
                </div>
            </div>

            <div data-navradio
                 data-value="varierendeArbeidstid"
                 data-navconfig
                 data-nav-faktum="arbeidstilstand"
                 data-hjelpetekst="arbeidsforhold.arbeidstilstand.varierendearbeidstid.hjelpetekst"
                 data-navlabel="arbeidsforhold.arbeidstilstand.varierendearbeidstid"
                 data-navfeilmelding="arbeidsforhold.arbeidstilstand.feilmelding">
            </div>
            <div class="ekstra-spm-boks nav-boolean" data-ng-if="hvisHarJobbetVarierende()">
                <div data-navinfoboks>
                    <span data-ng-bind-html=" 'arbeidsforhold.arbeidstilstand.varierendearbeidstid.informasjonstekst' | cmstekst"></span>
                </div>
            </div>

            <div data-navradio
                 data-value="harIkkeJobbet"
                 data-navconfig
                 data-nav-faktum="arbeidstilstand"
                 data-navlabel="arbeidsforhold.arbeidstilstand.harikkejobbet"
                 data-navfeilmelding="arbeidsforhold.arbeidstilstand.feilmelding">
            </div>
            <div class="ekstra-spm-boks nav-boolean" data-ng-if="hvisHarIkkeJobbet()">
                <div data-navinfoboks>
                    <p data-ng-bind-html=" 'arbeidsforhold.arbeidstilstand.harikkejobbet.informasjonstekst.del1' | cmstekst"></p>

                    <p data-ng-bind-html=" 'arbeidsforhold.arbeidstilstand.harikkejobbet.informasjonstekst.del2' | cmstekst"></p>
                </div>
            </div>

            <span class="melding"> </span>
        </div>

        <div class="arbeidsforhold-boks" data-ng-if="harArbeidsforhold()">
            <div class="spm-boks vertikal" data-ng-repeat="af in arbeidsliste" data-ng-class="{'last': $last}">
                <div id="arbeidsforhold{{af.arbeidsforhold.faktumId}}">
                    <a href="#" class="lukk" data-ng-click="slettArbeidsforhold(af, $index, $event)"
                       data-fokus-slettmoduler="arbeidsforhold" aria-label="{{ 'arbeidsforhold.lukk.aria' | cmstekst }}"> </a>
                    <span class="robust">{{ af.arbeidsforhold.properties.arbeidsgivernavn }}</span>
                    <span class="robust">, </span>
                    <span class="robust">{{ finnLandFraLandkode(af.arbeidsforhold.properties.land) }}</span>

                    <div class="arbeidsforhold-land-sluttaarsak-blokk">
                        <div class="arbeidsgiver-oppsummering-sluttaarsaker">
                            <div data-ng-include="templates[af.sluttaarsak.properties.type].oppsummeringsurl"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="knapper-arbeidsforhold">
            <div id="legg-til" class="form-linje knapp ikke-fadebakgrunn" data-ng-if="harSvart()"
                 data-ng-class="{feil: skalViseFeil()}">
                <div data-ng-if="hvisHarJobbet()">
                    <input type="hidden"
                           data-ng-model="harLagretArbeidsforhold"
                           data-nav-faktum="harLagretArbeidsforhold"
                           data-ng-required="true"
                           data-error-messages="'arbeidsforhold.arbeidsforhold.required'"
                           class="legg-til-arbeidsforhold">
                </div>

                <button class="knapp-leggtil-liten" data-ng-click="nyttArbeidsforhold($event, arbeidsforholdForm)" role="button"
                        data-aktiv-feilmelding data-ng-bind-html=" 'arbeidsforhold.nyttarbeidsforhold' | cmstekst"></button>
                <span class="melding" data-ng-bind-html=" 'arbeidsforhold.arbeidsforhold.required' | cmstekst"></span>
            </div>

            <div data-spmblokkferdig
                 data-submit-method="validerArbeidsforhold(true)"></div>
        </div>
    </div>
</div>


