<div data-ng-controller="BekreftelsesCtrl">
    <div class="modalBoks">
        <div class="vertikal">
            <div class="begrensning">
                <div class="sak-totredel">
                    <div class="panel-standard-belyst bekreftelse">
                        <h2 class="stor-ikon-infogronn-strek" data-cmstekster="dagpenger.bekreftelse">
                        </h2>
                        <p data-cmstekster="dagpenger.bekreftelse.informasjon"></p>

                        <div class="fremdriftsindikator">
                            <img src="../img/ajaxloader/hvit/loader_hvit_64.gif" alt="Fremdriftsindikator"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>