<div data-ng-controller="FerdigstiltCtrl">
    <div class="rad-belyst soknad" data-sidetittel="sidetittel.skjema">
        <section class="sak-hel">
            <div class="panel-standard-belyst skjema">
                <h2 class="stor strek-ikon-info-orange" data-ng-bind-html=" 'soknad.ferdigstilt' | cmstekst"></h2>
                <div class="egen-linje">
                        <a href="{{ mineHenveldelserUrl }}"
                           id="slettetMinehenvendelser"
                           role="link" data-ng-bind-html=" 'slettet.videretilnav' | cmstekst"></a>
                </div>
            </div>
        </section>
    </div>
</div>