<div class="hvit-side" data-panelbelyst id="kvittering">
	<div data-ng-controller="FortsettSenereKvitteringCtrl">
        <h2 class="stor strek-ikon-innboks">{{ 'dagpenger.fortsettSenere.kvittering.tittel' | cmstekst }}</h2>
    	<div id="epost-sendt">
            <p class="informasjonstekst">{{ 'dagpenger.fortsettSenere.kvittering.tekst' | cmstekst }}</p>
            <span> {{ epost.value }}</span>
    	</div>

        <div id="knapper">
            <div>
                <a class="knapp-link" href="#/fortsettsenere">{{ 'dagpenger.fortsettSenere.kvittering.sendpaanyttlink' | cmstekst }}</a>
            </div>


            <ul class="liste-vannrett">
                <li>
                    <a href="#{{ forrigeSide }}">{{ 'dagpenger.fortsettSenere.fortsettlink' | cmstekst }}</a>
                </li>
                <li>
                    <a href="{{ inngangsportenUrl }}" id="dittnav" role="link">{{ 'dagpenger.fortsettSenere.dittNav' | cmstekst }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>


