<div class="hvit-side" data-panelbelyst id="kvittering">
    <h2 class="stor strek-ikon-innboks" data-ng-bind-html=" 'dagpenger.fortsettSenere.kvittering.tittel' | cmstekst"></h2>
    <div id="epost-sendt">
        <p class="informasjonstekst" data-ng-bind-html=" 'dagpenger.fortsettSenere.kvittering.tekst' | cmstekst"></p>
        <span> {{ epost.value }}</span>
    </div>

    <div id="knapper">
        <div>
            <a class="knapp-link" href="{{ dittnavUrl }}" id="dittnav" data-ng-bind-html=" 'dagpenger.fortsettSenere.dittNav' | cmstekst"></a>
        </div>


        <ul class="liste-vannrett">
            <li>
                <a href="{{ forrigeSide }}" data-ng-bind-html=" 'dagpenger.fortsettSenere.fortsettlink' | cmstekst"></a>
            </li>
            <li>
                <a href="#/{{brukerBehandlingId}}/fortsettsenere" role="link" data-ng-bind-html=" 'dagpenger.fortsettSenere.kvittering.sendpaanyttlink' | cmstekst"></a>
            </li>
        </ul>
    </div>
</div>


