<div data-panelbelyst id="kvittering">
	<div data-ng-controller="FortsettSenereKvitteringCtrl">
        <h2 class="stor">{{ 'dagpenger.fortsettSenere.kvittering.tittel' | cmstekst }}</h2>
    	<p>{{ 'dagpenger.fortsettSenere.kvittering.tekst' | cmstekst }}</p>
        <span> {{ epost.value }}</span>
    	<a href="#/fortsettsenere">{{ 'dagpenger.fortsettSenere.kvittering.sendpaanyttlink' | cmstekst }}</a>
    	<p>{{ 'dagpenger.fortsettSenere.kvittering.frist' | cmstekst }}</p>
    	<p>{{ 'dagpenger.fortsettSenere.kvittering.konsekvens-vente' | cmstekst }}</p>
    	<a href="#/soknad">{{ 'dagpenger.fortsettSenere.fortsettlink' | cmstekst }}</a>
    	<a href="{{ inngangsportenUrl }}" id="dittnav" role="link">{{ 'dagpenger.fortsettSenere.dittNav' | cmstekst }}</a>
    </div>
</div>


