<div id="oppsummering" data-ng-controller="OppsummeringCtrl">
    <div data-stegindikator data-steg-liste="veiledning, skjema, vedlegg, sendInn" data-aktiv-index="3"></div>
    <div data-panelbelyst data-sidetittel="sidetittel.skjema">
        <div class="oppsummering" data-ng-bind-html="oppsummeringHtml"></div>
        <form name="oppsummeringForm" data-ng-submit="sendSoknad(oppsummeringForm)">

            <div class="checkbox form-linje" data-checkbox-validate>

                <div class="dagpengerbrosjyre">
                    <span class="sjekket"></span>
                    <span data-ng-bind-html=" 'informasjonsside.lestbrosjyre.sporsmal' | cmstekst"></span>
                </div>

                <input id="bekreftelseOpplysninger" type="checkbox" data-ng-model="harbekreftet.value">
                <label for="bekreftelseOpplysninger" data-ng-bind-html=" 'dagpenger.oppsummering.bekreftOpplysninger' | cmstekst"></label>
                <span class="melding" data-ng-bind-html=" 'dagpenger.oppsummering.bekreftelse.feilmelding' | cmstekst"></span>
            </div>
            <div class="oppsummering-knapp">
                <input class="knapp-hoved" type="submit" value="{{ 'dagpenger.oppsummering.send' | cmstekst }}" data-fremdriftsindikator data-validering-uten-formerror>
            </div>
            <div data-sticky>
                <div data-sist-lagret data-navtilbakelenke="tilbake.til.vedlegg.lenke"></div>
            </div>

        </form>
    </div>
</div>