<div id="slettet" class="soknad avbryt-boks" data-sidetittel="sidetittel.slettet">
    <div class="rad-belyst inforad" data-ng-controller="SlettetCtrl">
        <div class="begrensning sak-totredel">
            <section class="panel-standard oversikt">
                <h1 class="strek-ikon-slettet" data-ng-bind-html=" 'slettet.tittel' | cmstekst"></h1>

                <p class="info" data-ng-bind-html=" 'slettet.informasjon' | cmstekst"></p>

                <div class="slett-soknad-stor">
                    <div class="lenker-dot">
                        <ul class="liste-vannrett" role="navigation">
                            <li>
                                <a href="{{skjemaVeilederUrl}}"
                                   id="slettetSkjemaveileder"
                                   role="link">
                                    {{ 'slettet.skjemaveileder' | cmstekst }}
                                </a>
                            </li>
                            <li>
                                <a href="{{dittnavUrl}}"
                                   id="slettetMinehenvendelser"
                                   role="link" data-ng-bind-html=" 'slettet.videretildittnav' | cmstekst"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>