<div class="skjemaramme">
    <div data-ng-form="tilleggsopplysningerForm" class="skjemainnhold vertikal" data-ng-controller="TilleggsopplysningerCtrl" data-valider-fritekst data-novalidate>
        <div data-ng-form="frivilligForm" class="textarea-form" data-novalidate>
            <div data-form-errors></div>
            <div id="frivillig-textarea">
                <div data-navtextarea
                     data-navconfig
                     data-nav-faktum="tilleggsopplysninger.fritekst"
                     data-nokkel="fritekst"
                     data-maxlengde="500"
                     data-navfeilmelding="'fritekst.feilmelding'">
                  </div>
            </div>
        </div>
    </div>
</div>