<div class="skjemaramme">
    <div data-ng-form="vernepliktForm" class="skjemainnhold" data-ng-controller="VernepliktCtrl" data-novalidate>
        <div data-form-errors></div>
        <div data-nav-faktum="ikkeavtjentverneplikt"
             data-booleanradio
             data-nokkel="ikkeavtjentverneplikt">

            <div data-vedlegginfoboks>
                <ul>
                    <li><p data-ng-bind-html="'Dagpenger.vedlegg.T3.header' | cmstekst"></p></li>
                </ul>
            </div>
        </div>
        <div data-spmblokkferdig></div>
    </div>
</div>
