<div class="skjemaramme">
    <div data-ng-form="ytelserForm" class="skjemainnhold vertikal" data-ng-controller="YtelserCtrl" data-novalidate>
        <div data-form-errors></div>

        <div class="spm form-linje andreytelser checkbox" data-checkbox-validate>
            <input type="hidden" data-ng-model="harHuketAvCheckboksYtelse.value" data-ng-required="true"
                    data-error-messages="'ytelser.minstEnCheckboksErAvhuket.feilmelding'">
            <h4 class="spm-sporsmal">
                {{ 'ytelser.sporsmal' | cmstekst }}
            </h4>

            <div data-navcheckbox
                    data-navconfig
                    data-nav-faktum="offentligTjenestepensjon"
                    data-navlabel="ytelser.offentligTjenestepensjon"
                    data-navendret="endreYtelse(ytelserForm)">

                <div data-navinfoboks data-infotekster="['ytelser.offentligTjenestepensjonUtbetaler.informasjon']">
                </div>

                <div data-navtekst
                        data-navconfig
                        data-nav-faktum="offentligTjenestepensjonUtbetaler"
                        data-navlabel="ytelser.offentligTjenestepensjonUtbetaler"
                        data-navfeilmelding="'ytelser.offentligTjenestepensjonUtbetaler.feilmelding'"></div>

                <div data-vedlegginfoboks data-vedleggTekster="['Dagpenger.vedlegg.K1.header']">
                </div>
            </div>

            <div data-navcheckbox
                    data-navconfig data-nav-faktum="privatTjenestepensjon"
                    data-navlabel="ytelser.privatTjenestepensjon" data-navendret="endreYtelse(ytelserForm)">

                <div data-navinfoboks data-infotekster="['ytelser.privatTjenestepensjonUtbetaler.informasjon']">
                </div>

                <div data-navtekst
                        data-navconfig data-nav-faktum="privatTjenestepensjonUtbetaler"
                        data-navlabel="ytelser.privatTjenestepensjonUtbetaler"
                        data-navfeilmelding="'ytelser.privatTjenestepensjonUtbetaler.feilmelding'"></div>

                <div data-vedlegginfoboks data-vedleggTekster="['Dagpenger.vedlegg.K1.header']">
                </div>
            </div>

            <div data-navcheckbox
                    data-navconfig data-nav-faktum="stonadFisker"
                    data-navlabel="ytelser.stonadFisker" data-navendret="endreYtelse(ytelserForm)">

                <div data-navinfoboks data-infotekster="['ytelser.stonadFisker.utbetaler.informasjon']">
                </div>

                <div data-navtekst
                        data-navconfig data-nav-faktum="ytelser.stonadFisker.utbetaler"
                        data-navlabel="ytelser.stonadFisker.utbetaler"
                        data-navfeilmelding="'ytelser.stonadFisker.utbetaler.feilmelding'"></div>

                <div data-vedlegginfoboks data-vedleggTekster="['Dagpenger.vedlegg.K1.header']">
                </div>
            </div>
            <div data-navcheckbox
                    data-navconfig
                    data-nav-faktum="garantilott"
                    data-navlabel="ytelser.garantilott" data-navendret="endreYtelse(ytelserForm)">


                <div data-navinfoboks data-infotekster="['ytelser.garantilottUtbetaler.informasjon']">
                </div>

                <div data-navtekst
                        data-navconfig
                        data-nav-faktum="garantilottUtbetaler"
                        data-navlabel="ytelser.garantilottUtbetaler"
                        data-navfeilmelding="'ytelser.garantilottUtbetaler.feilmelding'"></div>

                <div data-vedlegginfoboks data-vedleggTekster="['Dagpenger.vedlegg.K1.header']">
                </div>
            </div>

            <div data-navcheckbox
                    data-navconfig
                    data-nav-faktum="etterlonn"
                    data-navlabel="ytelser.etterlonn"
                    data-navendret="endreYtelse(ytelserForm)"
                    data-hjelpetekstinline="true">

                <div data-navinfoboks data-infotekster="['ytelser.etterlonnUtbetaler.informasjon']">
                </div>

                <div data-navtekst
                        data-navconfig data-nav-faktum="etterlonnUtbetaler"
                        data-navlabel="ytelser.etterlonnUtbetaler"
                        data-navfeilmelding="'ytelser.etterlonnUtbetaler.feilmelding'"></div>

                <div data-vedlegginfoboks data-vedleggTekster="['Dagpenger.vedlegg.K1.header']">
                </div>
            </div>

            <div data-navcheckbox
                    data-navconfig
                    data-nav-faktum="vartpenger"
                    data-navlabel="ytelser.vartpenger"
                    data-navendret="endreYtelse(ytelserForm)"
                    data-hjelpetekstinline="true">

                <div data-navinfoboks data-infotekster="['ytelser.vartpengerUtbetaler.informasjon']">
                </div>

                <div data-navtekst
                        data-navconfig data-nav-faktum="vartpengerUtbetaler"
                        data-navlabel="ytelser.vartpengerUtbetaler"
                        data-navfeilmelding="'ytelser.vartpengerUtbetaler.feilmelding'"></div>

                <div data-vedlegginfoboks data-vedleggTekster="['Dagpenger.vedlegg.K1.header']">
                </div>
            </div>


            <div data-navcheckbox
                    data-navconfig
                    data-nav-faktum="dagpengerEOS"
                    data-navlabel="ytelser.dagpengerEOS" data-navendret="endreYtelse(ytelserForm)">

                <div data-navinfoboks data-infotekster="['ytelser.dagpengerEOSUtbetaler.informasjon' ]">
                </div>

                <div class="land form-linje tekstfelt" data-navconfig data-nav-faktum="dagpengerEOSUtbetalerLand">
                    <label>
            <span class="labeltekst">
                {{ 'ytelser.dagpengerEOSUtbetaler' | cmstekst }}
            </span>

                        <select id="land"
                                data-blur-validate
                                data-ng-required="true"
                                data-error-messages="'ytelser.dagpengerEOSUtbetaler.feilmelding'"
                                data-ng-model="faktum.value"
                                data-ng-change="lagreFaktum()"
                                data-ng-options="l.value as l.text for l in land.result">
                        </select>
                    </label>
                    <span class="melding"></span>
                </div>


                <div data-vedlegginfoboks data-vedleggTekster="['Dagpenger.vedlegg.K1.header']">
                </div>
            </div>

            <div data-navcheckbox
                    data-navconfig
                    data-nav-faktum="annenYtelse"
                    data-navlabel="ytelser.annenYtelse"
                    data-navendret="endreYtelse(ytelserForm)">

                <div data-navinfoboks data-infotekster="['ytelser.annenYtelseUtbetaler.informasjon' ]">
                </div>

                <div data-navtekst
                        data-navconfig
                        data-nav-faktum="annenYtelseType"
                        data-navlabel="ytelser.annenYtelseType"
                        data-navfeilmelding="'ytelser.annenYtelseType.feilmelding'"></div>
                <div data-navtekst
                        data-navconfig
                        data-nav-faktum="annenYtelseUtbetaler"
                        data-navlabel="ytelser.annenYtelseUtbetaler"
                        data-navfeilmelding="'ytelser.annenYtelseUtbetaler.feilmelding'"></div>

                <div data-vedlegginfoboks data-vedleggTekster="['Dagpenger.vedlegg.K1.header']">
                </div>
            </div>
            <div>
                <div class="annetvalg-nei form-linje" data-nav-faktum="ingenYtelse">
                    <input id="ingenYtelseCheckbox"
                            data-ng-model="faktum.value"
                            type="checkbox"
                            name="ingenYtelse"
                            data-ng-change="endreIngenYtelse()"
                            data-boolean-verdi
                            data-aktiv-feilmelding>
                    <label for="ingenYtelseCheckbox" data-ng-bind-html=" 'ytelser.ingenYtelse' | cmstekst"></label>
                </div>
            </div>
            <span class="melding" data-ng-bind-html=" 'ytelser.minstEnCheckboksErAvhuket.feilmelding' | cmstekst"></span>
        </div>
        <div class="spm form-linje navytelse checkbox" data-checkbox-validate>
            <input type="hidden" data-ng-model="harHuketAvCheckboksNavYtelse.value" data-ng-required="true"
                    data-error-messages="'ytelser.minstEnCheckboksErAvhuket.navYtelserfeilmelding'">
            <h4 class="spm-sporsmal">
                <span data-ng-bind-html=" 'ytelser.nav.informasjon' | cmstekst"></span>
                <span data-ng-bind-html=" 'ytelser.nav.sporsmal' | cmstekst"></span>
            </h4>

            <div data-navcheckbox
                    data-navconfig
                    data-nav-faktum="sykepenger"
                    data-navlabel="ytelser.nav.sykepenger"
                    data-navendret="endreNavYtelse(ytelserForm)"></div>

            <div data-navcheckbox
                    data-navconfig
                    data-nav-faktum="aap"
                    data-navlabel="ytelser.nav.aap"
                    data-navendret="endreNavYtelse(ytelserForm)"></div>


            <div data-navcheckbox
                    data-navconfig
                    data-nav-faktum="uforetrygd"
                    data-navlabel="ytelser.nav.uforetrygd"
                    data-navendret="endreNavYtelse(ytelserForm)"></div>


            <div data-navcheckbox
                    data-navconfig
                    data-nav-faktum="svangerskapspenger"
                    data-navlabel="ytelser.nav.svangerskapspenger"
                    data-navendret="endreNavYtelse(ytelserForm)"></div>


            <div data-navcheckbox
                    data-navconfig
                    data-nav-faktum="foreldrepenger"
                    data-navlabel="ytelser.nav.foreldrepenger"
                    data-navendret="endreNavYtelse(ytelserForm)"></div>


            <div data-navcheckbox
                    data-navconfig
                    data-nav-faktum="ventelonn"
                    data-navlabel="ytelser.nav.ventelonn"
                    data-navendret="endreNavYtelse(ytelserForm)"
                    data-hjelpetekstinline="true"></div>


            <div class="annetvalg-nei form-linje" data-nav-faktum="ingennavytelser">
                <input id="ingennavytelserCheckbox"
                        data-ng-model="faktum.value"
                        type="checkbox"
                        name="ingennavytelser"
                        data-ng-change="endreIngenNavYtelse(ytelserForm)"
                        data-boolean-verdi
                        data-aktiv-feilmelding/>
                <label for="ingennavytelserCheckbox" data-ng-bind-html=" 'ytelser.nav.ingen' | cmstekst"></label>
            </div>
            <span class="melding" data-ng-bind-html=" 'ytelser.minstEnCheckboksErAvhuket.navYtelserfeilmelding' | cmstekst"></span>
        </div>

        <div>
            <h4 class="spm-sporsmal">
                <span data-ng-bind-html=" 'ytelser.goder.info' | cmstekst"></span>
            </h4>

            <div data-nav-faktum="ikkeavtale"
                    data-navconfig
                    data-booleanradio
                    data-nokkel="ytelser.ikkeavtale">

                <div data-navinfoboks data-infotekster="['ytelser.ikkeavtale.avtale.informasjon.1', 'ytelser.ikkeavtale.avtale.informasjon.2']">
                </div>

                <div data-navtekst
                        data-navconfig
                        data-nav-faktum="ytelser.ikkeavtale.avtale"
                        data-navlabel="ytelser.ikkeavtale.avtale.sporsmal"
                        data-navfeilmelding="'ytelser.ikkeavtale.avtale.feilmelding'">
                </div>

                <div data-vedlegginfoboks data-vedleggTekster="['Dagpenger.vedlegg.V6.header']">
                </div>
            </div>
        </div>
        <div data-spmblokkferdig></div>

    </div>
</div>
