{{! Søkeren er kun student og har avbrutt studiet, men har planer om å fortsette studiet senere. }}
{{#hvisIkkeTom value}}
    <table>
        <tr>
            <td class="sjekket"></td>
            <td>
                {{#hvisLik value "harhattsamtale"}}
                    <span>{{ hentTekst "samtalen.student.tilbaketilstudiet.samtalemedNAV.harhattsamtale" }}</span>
                {{/hvisLik}}
                {{#hvisLik value "harikkehattsamtale"}}
                    <span>{{ hentTekst "samtalen.student.tilbaketilstudiet.samtalemedNAV.harikkehattsamtale" }}</span>
                {{/hvisLik}}
                {{#hvisLik value "ikkeistandtilsamtale"}}
                    <span>{{ hentTekst "samtalen.student.tilbaketilstudiet.samtalemedNAV.ikkeistandtilsamtale" }}</span>
                {{/hvisLik}}
            </td>
        </tr>
    </table>
{{/hvisIkkeTom}}