<ul>
    {{#forFaktum "samtalen.arbeidserfaring"}}
        <li class="kulepunkt">
            <span>{{ value }}</span>
        </li>
    {{/forFaktum}}
    {{#forFaktum "samtalen.kunnskapogegenskaper"}}
        <li class="kulepunkt">
            <span>{{ value }}</span>
        </li>
    {{/forFaktum}}
    {{#forFaktum "samtalen.helsesituasjon"}}
        <li class="kulepunkt">
            <span>{{ value }}</span>
        </li>
    {{/forFaktum}}
    {{#forFaktum "samtalen.andreforhold"}}
        <li class="kulepunkt">
            <span>{{ value }}</span>
        </li>
    {{/forFaktum}}
</ul>