{{#forFaktum "bilogutstyr.firehjulstrekk"}}
    <tr>
        <td class="sjekket"></td>
        <td>{{hentTekst (concat cmsPrefiks (concat "bilogutstyr.firehjulstrekk." value))}}</td>
    </tr>
{{/forFaktum}}