{{#forFaktum "bilogutstyr.hjelpemidler"}}
    <tr>
        <td class="sjekket"></td>
        <td>
            {{hentTekst (concat cmsPrefiks (concat "bilogutstyr.hjelpemidler." value))}}

            {{#hvisLik value "ja"}}
                {{#forFaktum "bilogutstyr.hjelpemidler.ja.beskrivelse"}}
                    <div>{{hentTekst (concat cmsPrefiks "bilogutstyr.hjelpemidler.ja.beskrivelse.oppsummering")}}: <em>{{value}}</em></div></div>
                {{/forFaktum}}
            {{/hvisLik}}

        </td>
    </tr>
{{/forFaktum}}