{{#forFaktum "bilogutstyr.spesialutstyr.beskrivelse"}}
    <tr>
        <td class="sjekket"></td>
        <td>{{hentTekst (concat cmsPrefiks "bilogutstyr.spesialutstyr.beskrivelse.oppsummering")}}: <em>{{value}}</em></td>
    </tr>
{{/forFaktum}}