name: Auto-deploy redis prod
on:
  push: # Deploys automatically to prod-fss and prod-gcp if there is a change in any redis files.
    paths:
      - "nais/redis-config.yml"
      - "nais/redisexporter.yml"
      - ".github/workflows/autodeploy_prod_redis.yml"
    branches:
      - 'master'
    tags-ignore:
      - "**" # Don't build any tags

permissions:
  contents: read

env:
  CI: true

jobs:
  deploy-prod-fss:
    name: Auto-deploy redis to prod-fss
    runs-on: ubuntu-latest
    steps:
      - name: Hente kode
        uses: actions/checkout@v3
      - name: Deploy
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CLUSTER: prod-fss
          TEAM: teamdigisos
          RESOURCE: "nais/redis-config.yml,nais/redisexporter.yml"

#  deploy-prod-gcp:
#    name: Auto-deploy redis to prod-gcp
#    runs-on: ubuntu-latest
#    steps:
#      - name: Hente kode
#        uses: actions/checkout@v3
#      - name: Deploy
#        uses: nais/deploy/actions/deploy@v1
#        env:
#          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#          CLUSTER: prod-gcp
#          TEAM: teamdigisos
#          RESOURCE: "nais/redis-config.yml,nais/redisexporter.yml"
