name: Auto-deploy redis dev
on:
  push: # Deploys automatically to dev-sbs and dev-gcp if there is a change in any redis files.
    paths:
      - "nais/redis-config.yml"
      - "nais/redisexporter.yml"
      - ".github/workflows/autodeploy_dev_redis.yml"
    branches-ignore:
      - 'master'
    tags-ignore:
      - "**" # Don't build any tags

env:
  CI: true

jobs:
  deploy-dev-sbs:
    name: Auto-deploy redis to dev-sbs
    runs-on: ubuntu-latest
    steps:
      - name: Hente kode
        uses: actions/checkout@v2
      - name: Deploy
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CLUSTER: dev-sbs
          TEAM: teamdigisos
          RESOURCE: "nais/redis-config.yml,nais/redisexporter.yml"
          VARS: /nais/dev/dev.json

  deploy-dev-gcp:
    name: Auto-deploy redis to dev-gcp
    runs-on: ubuntu-latest
    steps:
      - name: Hente kode
        uses: actions/checkout@v2
      - name: Deploy
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CLUSTER: dev-gcp
          TEAM: teamdigisos
          RESOURCE: "nais/redis-config.yml,nais/redisexporter.yml"
          VARS: /nais/dev/dev.json
