name: Auto-deploy redis prod-sbs
on:
  push: # Deploys automatically to prod-sbs if there is a change in any redis files.
    paths:
      - "web/nais/redis-config.yml"
      - "web/nais/redisexporter.yml"
      - ".github/workflows/autodeploy_prod_redis.yml"
    branches:
      - 'master'
    tags-ignore:
      - "**" # Don't build any tags

env:
  CI: true

jobs:
  deploy-prod:
    name: Auto-deploy redis to prod-sbs
    runs-on: ubuntu-latest
    steps:
      - name: Hente kode
        uses: actions/checkout@v1
      - name: Deploy
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CLUSTER: prod-sbs
          TEAM: teamdigisos
          RESOURCE: "web/nais/redis-config.yml,web/nais/redisexporter.yml"
