name: 'Build Kotlin, Run Lint and Test'
on:
  push:
    branches:
      - '**' # Build all branches
  workflow_dispatch:

jobs:
  build:
    name: 'Build with Gradle'
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
    env:
      ORG_GRADLE_PROJECT_githubUser: x-access-token
      ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v5
      - name: Build kotlin, and run tests/lint
        uses: navikt/sosialhjelp-ci/actions/build-kotlin@v10
        with:
          lint: false
          java-version: '21'
