name: Build Kotlin
on:
  push:
    branches:
      - '**' # Build all branches
    tags-ignore:
      - '**' # Don't build any tags
  workflow_dispatch:

jobs:
  build:
    name: Build With Gradle
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
    env:
      ORG_GRADLE_PROJECT_githubUser: x-access-token
      ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Build Kotlin, ktlint and Tests
        uses: navikt/sosialhjelp-ci/actions/build-kotlin@master
