name: Dependency Submission
on:
  workflow_dispatch:
  schedule:
    - cron: '0 5 * * 1-5'

jobs:
  build:
    name: Dependency Submission
    runs-on: ubuntu-latest
    env:
      ORG_GRADLE_PROJECT_githubUser: x-access-token
      ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}
    permissions: # The Dependency Submission API requires write permission
      contents: write
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      - name: Run snapshot action
        uses: mikepenz/gradle-dependency-submission@v0.8.6
