name: Deploy to stable environments
on:
  workflow_run:
    workflows: [ 'Build Kotlin, Run Lint and Test' ]    # Venter på at bygg på master har kjørt uten feil
    branches: [ master ]
    paths-ignore:
      - '*.md' # Ignorerer endringer i markdown-filer
      - 'compose/**' # Ignorerer endringer i docker-compose-filer
    types:
      - completed
  workflow_dispatch:

jobs:
  deploy-to-prod:
    strategy:
      matrix:
        include:
          - environment: prod
            cluster: prod-gcp
          - environment: prod
            cluster: prod-fss
          - environment: dev
            cluster: dev-gcp
    name: 'Deploy to ${{ matrix.cluster }}'
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
    permissions:
      id-token: write
      contents: write
    uses: navikt/sosialhjelp-ci/.github/workflows/deploy_app.yml@v6
    with:
      cluster-name: ${{ matrix.cluster }}
      resource-folder: ${{ matrix.environment }}
      resource-name: ${{ matrix.cluster }}
    secrets: inherit
