name: Workflow for PRs

on:
  pull_request:

jobs:
  analyze_code:
    name: Analyze Code
    permissions:
      actions: read
      security-events: write
      contents: read
    uses: navikt/sosialhjelp-ci/.github/workflows/codeql_java.yml@master

  dependency_submission:
    name: Dependency Submission Gradle
    permissions:
      contents: write
    uses: navikt/sosialhjelp-ci/.github/workflows/dependency_submission_gradle.yml@master

  notify-slack:
    name: Notify Slack Workflow if Dependabot opened a PR
    if: github.actor == 'dependabot[bot]' && github.event.action == 'opened'
    runs-on: ubuntu-latest
    steps:
      - name: Post to Slack if Dependabot
        uses: navikt/sosialhjelp-ci/actions/post-to-slack-action@master
        with:
          slack-workflow-webhook-url: ${{ secrets.DEPENDABOT_SLACK_WEBHOOK_URL }}